Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[NO-TASK] fix: increase type-check timeout to 30min for cold cache runs
  .github/workflows/quality.yml
Due: none

[NO-TASK] perf: optimize CI quality workflow (17min → ~7-10min)
  .github/workflows/quality.yml
Due: none

[NO-TASK] fix: increase CI timeout to 45min (cold cache needs >30min)
  .github/workflows/quality.yml
Due: none

[BO-GOV-001] fix: unify org forms + governance anti-duplication
  .claude/rules/dev/hooks-bloquants.md
  .claude/settings.json
  CLAUDE.md
  apps/back-office/src/app/(protected)/contacts-organisations/customers/page.tsx
  apps/back-office/src/components/business/create-organisation-modal.tsx
  apps/back-office/src/components/business/customer-form-modal.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/organisations/CreateOrganisationModal.tsx
  apps/linkme/src/components/organisations/index.ts
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/customers/CLAUDE.md
  packages/@verone/customers/src/components/modals/CustomerFormModal.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/CustomerFormModal.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/constants.ts
  packages/@verone/customers/src/components/modals/CustomerFormModal/schema.ts
  packages/@verone/customers/src/components/modals/CustomerFormModal/sections/AddressesSection.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/sections/CommercialSection.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/sections/ContactSection.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/sections/EnseigneSection.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/sections/EntrepriseSection.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/sections/LegalSection.tsx
  packages/@verone/customers/src/components/modals/CustomerFormModal/sections/NotesSection.tsx
  packages/@verone/customers/src/components/modals/index.ts
  packages/@verone/orders/CLAUDE.md
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal/CustomerSection.tsx
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal/index.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderFormModal/components/GeneralInfoCard.tsx
  packages/@verone/orders/src/components/modals/create-organisation-modal.tsx
  packages/@verone/orders/src/components/modals/customer-selector.tsx
  packages/@verone/organisations/CLAUDE.md
  packages/@verone/organisations/src/components/forms/CustomerOrganisationFormModal.tsx
  packages/@verone/organisations/src/components/forms/index.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: increase CI timeout to 90min for cold cache first run
  .github/workflows/quality.yml
Due: none

[BO-FIN-001] fix: serve finalized PDF instead of stale proforma cache
  apps/back-office/src/app/api/qonto/invoices/[id]/finalize/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/sync-invoices/route.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: restore working CI structure + add remote cache only
  .github/workflows/quality.yml
Due: none

[NO-TASK] perf: optimize CI quality workflow (#539)
  .github/workflows/quality.yml
Due: none

[BO-NAV-001] feat: unified quote/invoice creation pages + navigation fixes
  apps/back-office/src/app/(protected)/commandes/clients/page.tsx
  apps/back-office/src/app/(protected)/devis/nouveau/page.tsx
  apps/back-office/src/app/(protected)/factures/nouvelle/page.tsx
  apps/back-office/src/app/(protected)/factures/page.tsx
  apps/back-office/src/app/(protected)/ventes/page.tsx
  docs/current/COMPONENT-DEPENDENCIES.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  docs/current/INDEX-PAGES-BACK-OFFICE.md
  docs/current/WORKFLOW-VENTES.md
  packages/@verone/finance/src/components/OrderSelectModal.tsx
  packages/@verone/finance/src/components/QuoteFormModal/QuoteChannelStep.tsx
  packages/@verone/orders/src/components/modals/sales-order-form/ChannelSelector.tsx
Due: prettier --write, eslint --fix

[BO-FIN-002] fix: sync local DB after Qonto delete/cancel + fix sync route
  .claude/INDEX.md
  apps/back-office/src/app/api/qonto/invoices/[id]/cancel/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/delete/route.ts
  apps/back-office/src/app/api/qonto/sync-invoices/route.ts
  docs/current/COMPONENT-DEPENDENCIES.md
  docs/current/INDEX-PAGES-BACK-OFFICE.md
  docs/current/WORKFLOW-VENTES.md
  docs/current/finance/invoicing-system-reference.md
Due: prettier --write, eslint --fix

[BO-FIN-003] chore: remove all Abby references from codebase
  .claude/agent-memory/back-office-expert/MEMORY.md
  .claude/agent-memory/database-architect/MEMORY.md
  .env.example
  CHANGELOG.md
  README.md
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/document-card.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/document-modal.tsx
  apps/back-office/src/app/api/documents/[id]/download/route.ts
  apps/back-office/src/app/api/qonto/sync-invoices/route.ts
  docs/current/finance/invoicing-system-reference.md
  packages/@verone/finance/src/components/buttons/GenerateInvoiceButton.tsx
  packages/@verone/finance/src/components/buttons/index.ts
  packages/@verone/finance/src/hooks/use-financial-documents.ts
  packages/@verone/finance/src/hooks/use-library-documents.ts
  packages/@verone/finance/src/index.ts
  packages/@verone/integrations/README.md
  packages/@verone/integrations/package.json
  packages/@verone/organisations/src/hooks/organisations.constants.ts
  packages/@verone/organisations/src/hooks/use-organisation-single.ts
  packages/README.md
Due: prettier --write, eslint --fix

[BO-FIN-005] fix: service invoices now create local financial_documents record
  apps/back-office/src/app/api/qonto/invoices/service/route.ts
  supabase/migrations/20260408100000_relax_financial_documents_sales_order_constraint.sql
Due: prettier --write, eslint --fix

[BO-FIN-004] fix: invoice creation from orders + shipping costs + delete button
  apps/back-office/src/app/(protected)/factures/components/FacturesTab.tsx
  apps/back-office/src/app/(protected)/factures/components/InvoicesTable.tsx
  apps/back-office/src/app/(protected)/factures/page.tsx
  apps/back-office/src/app/api/qonto/invoices/[id]/finalize/route.ts
  apps/back-office/src/app/api/qonto/invoices/route.ts
  packages/@verone/orders/src/components/modals/order-detail/OrderInvoicingCard.tsx
  packages/@verone/orders/src/hooks/linkme/linkme-order-actions/use-all-linkme-orders.ts
  packages/@verone/orders/src/hooks/linkme/linkme-order-actions/use-pending-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-FIN-004] fix: invoice creation from orders + shipping costs + delete button (#546)
  apps/back-office/src/app/(protected)/factures/components/FacturesTab.tsx
  apps/back-office/src/app/(protected)/factures/components/InvoicesTable.tsx
  apps/back-office/src/app/(protected)/factures/page.tsx
  apps/back-office/src/app/api/qonto/invoices/[id]/finalize/route.ts
  apps/back-office/src/app/api/qonto/invoices/route.ts
  packages/@verone/orders/src/components/modals/order-detail/OrderInvoicingCard.tsx
  packages/@verone/orders/src/hooks/linkme/linkme-order-actions/use-all-linkme-orders.ts
  packages/@verone/orders/src/hooks/linkme/linkme-order-actions/use-pending-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: generate complete database schema documentation
  docs/current/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  scripts/db-schema-snapshot.json
  scripts/generate-db-docs.py
Due: prettier --write

[NO-TASK] docs: update components index + dependencies map
  docs/current/DEPENDANCES-PACKAGES.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
Due: prettier --write

[NO-TASK] chore: add component creation hooks + post-migration rule + update config refs
  .claude/INDEX.md
  .claude/hooks/check-component-creation.sh
  .claude/hooks/session-context.sh
  .claude/rules/database/post-migration.md
  .claude/rules/dev/context-loading.md
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

[NO-TASK] chore: remove all Serena references, update agent memories + docs refs
  .claude/INDEX.md
  .claude/README.md
  .claude/agent-memory/back-office-expert/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/database-architect/MEMORY.md
  .claude/agent-memory/frontend-architect/MEMORY.md
  .claude/agent-memory/linkme-expert/MEMORY.md
  .claude/agent-memory/perf-optimizer/MEMORY.md
  .claude/agent-memory/site-internet-expert/MEMORY.md
  .claude/agents/back-office-expert.md
  .claude/agents/code-reviewer.md
  .claude/agents/database-architect.md
  .claude/agents/frontend-architect.md
  .claude/agents/linkme-expert.md
  .claude/agents/perf-optimizer.md
  .claude/agents/site-internet-expert.md
  .claude/commands/db.md
  .claude/commands/fix-warnings.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/review.md
  .claude/commands/search.md
  .claude/commands/status.md
  .claude/commands/teach.md
  .claude/guides/cross-app-protection.md
  .claude/guides/expert-workflow.md
  .claude/guides/typescript-errors-debugging.md
  .claude/rules/dev/context-loading.md
  .claude/rules/dev/git-workflow.md
  .claude/settings.json
  .claude/skills/schema-sync/SKILL.md
  CLAUDE.md
  apps/back-office/CLAUDE.md
  apps/linkme/CLAUDE.md
  apps/site-internet/CLAUDE.md
Due: prettier --write

[BO-ORG-007] fix: replace inline org form with unified modal + lock enseigne field
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/create-order/CustomerSection.tsx
  packages/@verone/organisations/src/components/forms/CustomerOrganisationFormModal.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/EnseigneSection.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/index.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/types.ts
  packages/@verone/organisations/src/hooks/use-organisations-crud.ts
Due: prettier --write, eslint --fix

[BO-ORG-007] fix: replace inline individual form with full modal in order creation
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/create-order/CustomerSection.tsx
  packages/@verone/orders/src/components/modals/create-individual-customer-modal.tsx
Due: prettier --write, eslint --fix

[BO-ORG-007] fix: replace last inline individual form in package CustomerSection
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal/CustomerSection.tsx
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal/index.tsx
Due: prettier --write, eslint --fix

[BO-ORG-007] fix: unified org & individual forms in order creation (#550)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/create-order/CustomerSection.tsx
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal/CustomerSection.tsx
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal/index.tsx
  packages/@verone/orders/src/components/modals/create-individual-customer-modal.tsx
  packages/@verone/organisations/src/components/forms/CustomerOrganisationFormModal.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/EnseigneSection.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/index.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/types.ts
  packages/@verone/organisations/src/hooks/use-organisations-crud.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: drop legacy mark_payment_received(3 args) + remove manual_payment double-writes
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  packages/@verone/orders/src/hooks/purchase-orders/purchase-order-mutations.ts
  packages/@verone/orders/src/hooks/purchase-orders/purchase-order-queries.ts
  packages/@verone/orders/src/hooks/purchase-orders/types.ts
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-payments.ts
  supabase/migrations/20260409120000_drop_legacy_mark_payment_received.sql
Due: prettier --write, eslint --fix

[NO-TASK] fix: org/contact buttons 404 + product weight/dimensions display
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/page.tsx
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/organisations/src/components/modals/ContactFormModalWrapper.tsx
  packages/@verone/organisations/src/components/modals/NewContactModal.tsx
  packages/@verone/organisations/src/components/modals/index.ts
  packages/@verone/products/src/components/images/ProductFixedCharacteristics.tsx
Due: prettier --write, eslint --fix

[NO-TASK] perf: eliminate full-page spinner on product detail mutations
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: product thumbnail sync after upload + preserve catalogue filters on back
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: React #310 crash — memoize createClient() in notification hooks
  packages/@verone/notifications/src/hooks/use-database-notifications/use-database-notifications.ts
  packages/@verone/notifications/src/hooks/use-sidebar-counts.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: React #310 crash — memoize createClient in realtime hook + remove duplicate TooltipProvider
  apps/back-office/src/components/layout/auth-wrapper.tsx
  packages/@verone/notifications/src/hooks/use-database-notifications/use-notification-realtime.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: open drag-drop modal instead of native file picker for consultation photos
  packages/@verone/consultations/src/components/images/ConsultationImageGallery.tsx
Due: prettier --write, eslint --fix

[FIN-EMAIL-001] feat: add email sending modal for invoices, quotes & proforma
  apps/back-office/src/app/(protected)/factures/[id]/DocumentDetailHeader.tsx
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
  apps/back-office/src/app/(protected)/factures/[id]/use-document-detail.ts
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/back-office/src/app/api/emails/send-document/route.ts
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  packages/@verone/finance/src/components/DocumentEmailHistory.tsx
  packages/@verone/finance/src/components/SendDocumentEmailModal.tsx
  packages/@verone/finance/src/components/index.ts
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-document-emails.ts
  supabase/migrations/20260410030617_create_document_emails.sql
Due: prettier --write, eslint --fix

[NO-TASK] fix: org creation fails — empty strings violate CHECK constraints
  packages/@verone/organisations/src/components/forms/unified-organisation-form/AddressSection.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/GeneralInfoSection.tsx
  packages/@verone/organisations/src/hooks/use-organisations-crud.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: org creation fails — empty strings violate DB constraints (#558)
  apps/back-office/src/app/(protected)/factures/[id]/DocumentDetailHeader.tsx
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
  apps/back-office/src/app/(protected)/factures/[id]/use-document-detail.ts
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/back-office/src/app/api/emails/send-document/route.ts
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  packages/@verone/finance/src/components/DocumentEmailHistory.tsx
  packages/@verone/finance/src/components/SendDocumentEmailModal.tsx
  packages/@verone/finance/src/components/index.ts
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-document-emails.ts
  packages/@verone/organisations/src/components/forms/unified-organisation-form/AddressSection.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/GeneralInfoSection.tsx
  packages/@verone/organisations/src/hooks/use-organisations-crud.ts
  supabase/migrations/20260410030617_create_document_emails.sql
Due: prettier --write, eslint --fix

[NO-TASK] fix: org creation fails — empty strings violate DB constraints (#558) (#559)
  apps/back-office/src/app/(protected)/factures/[id]/DocumentDetailHeader.tsx
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
  apps/back-office/src/app/(protected)/factures/[id]/use-document-detail.ts
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/back-office/src/app/api/emails/send-document/route.ts
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  packages/@verone/finance/src/components/DocumentEmailHistory.tsx
  packages/@verone/finance/src/components/SendDocumentEmailModal.tsx
  packages/@verone/finance/src/components/index.ts
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-document-emails.ts
  packages/@verone/organisations/src/components/forms/unified-organisation-form/AddressSection.tsx
  packages/@verone/organisations/src/components/forms/unified-organisation-form/GeneralInfoSection.tsx
  packages/@verone/organisations/src/hooks/use-organisations-crud.ts
  supabase/migrations/20260410030617_create_document_emails.sql
Due: prettier --write, eslint --fix

[NO-TASK] fix: add SIREN and VAT number fields to legal identity section
  packages/@verone/organisations/src/components/sections/LegalIdentityEditSection.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: add SIREN and VAT number fields to legal identity section (#560)
  packages/@verone/organisations/src/components/sections/LegalIdentityEditSection.tsx
Due: prettier --write, eslint --fix

Merge staging → main (#561)
  packages/@verone/organisations/src/components/sections/LegalIdentityEditSection.tsx
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
