Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[SITE-UI-003] fix: revalidate content pages so CMS edits go live (#1102)
  apps/site-internet/src/app/cgv/page.tsx
  apps/site-internet/src/app/faq/page.tsx
  apps/site-internet/src/app/livraison/page.tsx
  apps/site-internet/src/app/mentions-legales/page.tsx
  apps/site-internet/src/app/page.tsx
  apps/site-internet/src/app/retours/page.tsx
Due: prettier --write, eslint --fix

[SITE-JOURNAL-001] chore: reset Journal articles (backup + format template)
  docs/content/articles/TEMPLATE-article-journal.md
  docs/content/articles/backup-articles-journal-2026-07-08.json
Due: prettier --write

[SITE-JOURNAL-001] chore: reset articles Journal (sauvegarde + modèle) (#1105)
  docs/content/articles/TEMPLATE-article-journal.md
  docs/content/articles/backup-articles-journal-2026-07-08.json
Due: prettier --write

[BO-LINKME-CATVIS-001] feat: add products.is_visible_in_linkme_catalog + fix DSA custom products
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260708120000_bo_linkme_catvis_001_catalog_visibility.sql
Due: prettier --write, eslint --fix

[BO-LINKME-CATVIS-001] feat: control product LinkMe catalogue visibility from product sheet
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/catalog/fetchers-list.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/catalog/types.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/page.tsx
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  docs/scratchpad/dev-report-2026-07-08-BO-LINKME-CATVIS-001.md
Due: prettier --write, eslint --fix

[BO-LINKME-CATVIS-001] fix: apply catalogue visibility UI to real product sheet (detail/[id])
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/page.tsx
  docs/scratchpad/dev-report-2026-07-08-BO-LINKME-CATVIS-001.md
Due: prettier --write, eslint --fix

[BO-LINKME-CATVIS-001] fix: add is_visible_in_linkme_catalog to catalogue detail modal mapping
  apps/linkme/src/app/(main)/catalogue/[id]/page.tsx
Due: prettier --write, eslint --fix

[BO-LINKME-CATVIS-001] feat: visibilité des produits au catalogue LinkMe (#1106)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/catalog/fetchers-list.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/catalog/types.ts
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/page.tsx
  apps/back-office/src/types/supabase.d.ts
  apps/linkme/src/app/(main)/catalogue/[id]/page.tsx
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  docs/scratchpad/dev-report-2026-07-08-BO-LINKME-CATVIS-001.md
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260708120000_bo_linkme_catvis_001_catalog_visibility.sql
Due: prettier --write, eslint --fix

[BO-LINKME-CATVIS-002] feat: apply LinkMe catalog visibility to public surfaces
  supabase/migrations/20260722120000_bo_linkme_catvis_002_public_visibility.sql
Due: none

[SITE-UI-004] fix: reduce header logo size (h-8 -> h-6)
  apps/site-internet/src/components/layout/Header.tsx
Due: prettier --write, eslint --fix

[BO-LINKME-CATVIS-002] feat: also exclude reserved/custom products from public surfaces
  supabase/migrations/20260722120000_bo_linkme_catvis_002_public_visibility.sql
Due: none

[BO-FIN-RECON-AUTO-001] feat: add proactive invoice reconciliation suggestions panel
  apps/back-office/src/app/(protected)/factures/components/FacturesTab.tsx
  packages/@verone/finance/src/components/InvoiceReconciliationSuggestionsPanel/SuggestionRow.tsx
  packages/@verone/finance/src/components/InvoiceReconciliationSuggestionsPanel/index.tsx
  packages/@verone/finance/src/components/index.ts
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-invoice-reconciliation-suggestions.ts
Due: prettier --write, eslint --fix

[LM-LEGAL-001] feat: add legal notice page and finalize public legal pages
  apps/linkme/src/app/(auth)/login/page.tsx
  apps/linkme/src/app/(legal)/cgu/page.tsx
  apps/linkme/src/app/(legal)/cookies/page.tsx
  apps/linkme/src/app/(legal)/layout.tsx
  apps/linkme/src/app/(legal)/mentions-legales/page.tsx
  apps/linkme/src/app/(legal)/privacy/page.tsx
  apps/linkme/src/app/sitemap.ts
  apps/linkme/src/components/landing/Footer.tsx
Due: prettier --write, eslint --fix

[LM-SEO-DOMAIN-001] fix: point sitemap and robots at the live domain
  apps/linkme/src/app/robots.ts
  apps/linkme/src/app/sitemap.ts
Due: prettier --write, eslint --fix

[LM-SEC-ANTISPAM-001] feat: protect the public contact form against bots
  apps/linkme/src/app/(marketing)/contact/ContactForm.tsx
  apps/linkme/src/app/api/contact/unified/route.ts
  apps/linkme/src/lib/anti-spam.ts
Due: prettier --write, eslint --fix

[LM-PUB-POLISH-001] fix: polish the public site before launch
  apps/linkme/src/app/(auth)/login/page.tsx
  apps/linkme/src/app/(marketing)/contact/ContactForm.tsx
  apps/linkme/src/app/sitemap.ts
  apps/linkme/src/components/landing/Footer.tsx
  apps/linkme/src/components/landing/Header.tsx
Due: prettier --write, eslint --fix

[LM-PUBLIC-LAUNCH-001] Corrections publiques LinkMe avant lancement (légal, domaine, anti-spam, finitions) (#1114)
  apps/linkme/src/app/(auth)/login/page.tsx
  apps/linkme/src/app/(legal)/cgu/page.tsx
  apps/linkme/src/app/(legal)/cookies/page.tsx
  apps/linkme/src/app/(legal)/layout.tsx
  apps/linkme/src/app/(legal)/mentions-legales/page.tsx
  apps/linkme/src/app/(legal)/privacy/page.tsx
  apps/linkme/src/app/(marketing)/contact/ContactForm.tsx
  apps/linkme/src/app/api/contact/unified/route.ts
  apps/linkme/src/app/robots.ts
  apps/linkme/src/app/sitemap.ts
  apps/linkme/src/components/landing/Footer.tsx
  apps/linkme/src/components/landing/Header.tsx
  apps/linkme/src/lib/anti-spam.ts
Due: prettier --write, eslint --fix

[LM-LEGAL-002] fix: install the typography plugin so legal pages render styled
  apps/linkme/package.json
  apps/linkme/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write

[SITE-UI-004] fix: reduce header logo size (h-8 -> h-6) (#1112)
  apps/site-internet/src/components/layout/Header.tsx
Due: prettier --write, eslint --fix

[BO-FIN-RECON-AUTO-001] feat: add proactive invoice reconciliation suggestions panel (#1113)
  apps/back-office/src/app/(protected)/factures/components/FacturesTab.tsx
  packages/@verone/finance/src/components/InvoiceReconciliationSuggestionsPanel/SuggestionRow.tsx
  packages/@verone/finance/src/components/InvoiceReconciliationSuggestionsPanel/index.tsx
  packages/@verone/finance/src/components/index.ts
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-invoice-reconciliation-suggestions.ts
Due: prettier --write, eslint --fix

[LM-LEGAL-002] fix: install the typography plugin so legal pages render styled (#1115)
  apps/linkme/package.json
  apps/linkme/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write

[BO-LINKME-CATVIS-002] Masquage produit visible aussi côté public LinkMe (#1111)
  supabase/migrations/20260722120000_bo_linkme_catvis_002_public_visibility.sql
Due: none

[BO-LINKME-CATVIS-003] fix: restore affiliate-shared selection pages
  supabase/migrations/20260722210000_bo_linkme_catvis_003_restore_affiliate_selections.sql
Due: none

[BO-LINKME-CATVIS-003] fix: restore affiliate-shared selection pages (#1116)
  supabase/migrations/20260722210000_bo_linkme_catvis_003_restore_affiliate_selections.sql
Due: none

[NO-TASK] docs: session report for the LinkMe public launch fixes
  docs/scratchpad/dev-report-2026-07-22-LM-PUBLIC-LAUNCH-001.md
Due: prettier --write

[LM-PUB-CATALOG-001] feat: public product catalogue + product sheets
  apps/linkme/src/app/(marketing)/produits/[slug]/page.tsx
  apps/linkme/src/app/(marketing)/produits/components/ProductsCatalogView.tsx
  apps/linkme/src/app/(marketing)/produits/components/PublicProductCard.tsx
  apps/linkme/src/app/(marketing)/produits/page.tsx
  apps/linkme/src/app/sitemap.ts
  apps/linkme/src/components/landing/Footer.tsx
  apps/linkme/src/components/landing/Header.tsx
  apps/linkme/src/components/landing/Marketplace.tsx
  apps/linkme/src/components/seo/JsonLd.tsx
  apps/linkme/src/lib/linkme-public-products.ts
  apps/linkme/src/middleware.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260723100000_lm_pub_catalog_001_public_view_description.sql
Due: prettier --write, eslint --fix

[LM-PUB-CATALOG-001] feat: public product catalogue + product sheets (#1119)
  apps/linkme/src/app/(marketing)/produits/[slug]/page.tsx
  apps/linkme/src/app/(marketing)/produits/components/ProductsCatalogView.tsx
  apps/linkme/src/app/(marketing)/produits/components/PublicProductCard.tsx
  apps/linkme/src/app/(marketing)/produits/page.tsx
  apps/linkme/src/app/sitemap.ts
  apps/linkme/src/components/landing/Footer.tsx
  apps/linkme/src/components/landing/Header.tsx
  apps/linkme/src/components/landing/Marketplace.tsx
  apps/linkme/src/components/seo/JsonLd.tsx
  apps/linkme/src/lib/linkme-public-products.ts
  apps/linkme/src/middleware.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260723100000_lm_pub_catalog_001_public_view_description.sql
Due: prettier --write, eslint --fix

[BO-CI-DOCPR-001] fix: unblock doc-only PRs stuck on missing required checks
  .github/workflows/quality.yml
Due: none

[BO-CI-DOCPR-001] fix: unblock doc-only PRs stuck on missing required checks (#1121)
  .github/workflows/quality.yml
Due: none

[BO-SEC-001] fix: tighten write RLS and realign migration ledger
  docs/current/serena/migrations-workflow.md
  docs/scratchpad/dev-report-2026-07-23-BO-SEC-001-durcissement-acces.md
  docs/scratchpad/dev-report-2026-07-23-migrations-realign.md
  supabase/migrations/20260723211445_bo_sec_001_durcissement_acces.sql
Due: prettier --write

[BO-SEC-001] fix: tighten write RLS and realign migration ledger (#1124)
  docs/current/serena/migrations-workflow.md
  docs/scratchpad/dev-report-2026-07-23-BO-SEC-001-durcissement-acces.md
  docs/scratchpad/dev-report-2026-07-23-migrations-realign.md
  supabase/migrations/20260723211445_bo_sec_001_durcissement_acces.sql
Due: prettier --write

[BO-AUDIT-001] docs: rapport d audit complet du back-office (note 22/100)
  docs/audit-2026-07-30/AUDIT.md
  docs/audit-2026-07-30/FINDINGS.md
  docs/audit-2026-07-30/PLAN-CORRECTION.md
  docs/audit-2026-07-30/PLAN-TESTS.md
  docs/audit-2026-07-30/README.md
  docs/audit-2026-07-30/SYSTEME.md
Due: prettier --write

[BO-AUDIT-002] chore: sortir tous les credentials des fichiers versionnes
  .claude/DECISIONS.md
  .claude/guides/cross-app-protection.md
  .claude/rules/agent-autonomy-external.md
  .claude/test-credentials.md
  .gitignore
  apps/back-office/e2e/smoke-finance.spec.ts
  apps/linkme/tests/auth-stability.spec.ts
  docs/restored/canaux-vente-2025/AUDIT-LINKME-WORKFLOWS-2026-01.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-04-27-BO-VAR-FORM-001.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-04-30-BO-VAR-FORM-002.md
  docs/scratchpad/archive/2026-05/dev-report-2026-04-23-BO-SHIP-UX-002.md
  docs/scratchpad/archive/2026-05/handoff-2026-04-23-shipments-session.md
  packages/e2e-linkme/QUICKSTART.md
  packages/e2e-linkme/README.md
  packages/e2e-linkme/fixtures/auth.fixture.ts
  packages/e2e-linkme/tests/auth-login-no-spinner.spec.ts
  scripts/test-fix-b1-prod.mjs
  scripts/test-invoice-vat-so178.mjs
  scripts/test-sourcing-consultation.mjs
  supabase/scripts/create-owner-user.sql
  tests/auth.setup.ts
  tests/e2e/linkme-org-independante-workflow.spec.ts
  tests/e2e/si-pricing-minimum-guard.spec.ts
  tests/e2e/workflows/auth-flow.spec.ts
Due: prettier --write, eslint --fix

[BO-AUDIT-005] docs: retirer les 6 documents qui induisaient en erreur
  docs/README.md
  docs/current/DATABASE-SCHEMA-COMPLETE.md
  docs/current/DOCS-RETIREES-2026-07-30.md
  docs/current/QUICKSTART-GIT-HOOKS.md
  docs/current/database/database.md
  docs/current/deploy-runbooks.md
  docs/current/dev-workflow.md
  docs/current/index.md
  docs/current/integrations.md
  docs/current/security-auth.md
  docs/current/stack.md
  docs/runbooks/rollback.md
Due: prettier --write

[BO-AUDIT-004] fix: reparer les gardes CI et les hooks, sans rien durcir
  .claude/DECISIONS.md
  .claude/settings.json
  .github/workflows/quality.yml
  docs/audit-2026-07-30/SYSTEME.md
Due: prettier --write

[BO-AUDIT-004] test: banc de test des hooks Claude Code (14 cas)
  scripts/validation/test-claude-hooks.sh
Due: none

[BO-AUDIT-004] fix: le gate E2E mentait une deuxieme fois + nouveau controle des ecritures DB
  .github/workflows/quality.yml
  docs/audit-2026-07-30/ECRITURES-DB-IMPOSSIBLES.md
  docs/audit-2026-07-30/FINDINGS.md
  docs/audit-2026-07-30/README.md
  package.json
  scripts/validation/check-db-schema-usage.ts
  tests/auth.setup.ts
Due: prettier --write, eslint --fix

[BO-AUDIT-004] docs: ADR-037 — continue-on-error fait mentir needs.result, gate DB sans baseline
  .claude/DECISIONS.md
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
