Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

fix(database): Système complet triggers stock alertes
  apps/back-office/src/types/supabase.ts
  supabase/migrations/20251012_001_smart_stock_alerts_system.sql
  supabase/migrations/20251104_101_stock_alerts_tracking_table.sql
  supabase/migrations/20251104_102_stock_alerts_tracking_triggers.sql
  supabase/migrations/20251113_001_fix_stock_alert_forecasted_calculation.sql
  supabase/migrations/20251119_012_hotfix_stock_alert_condition.sql
  supabase/migrations/20251119_013_hotfix_stock_alert_zero_condition.sql
  supabase/migrations/20251120162000_rollback_incorrect_triggers.sql
  supabase/migrations/20251120163000_restore_purchase_order_stock_triggers.sql
  supabase/migrations/20251120164000_cleanup_duplicate_triggers.sql
Due: prettier --write, eslint --fix

feat(database): Optimisation complète Supabase Phases 2-4 (955→5 problèmes résolus)
  docs/audits/2025-11/RAPPORT-PHASE-2-SEARCH-PATH-COMPLETE-2025-11-22.md
  docs/audits/2025-11/RAPPORT-PHASE-3-1-FONCTIONS-STABLE-COMPLETE-2025-11-22.md
  docs/audits/2025-11/RAPPORT-PHASE-3-OPTIMISATION-RLS-COMPLETE-2025-11-22.md
  docs/audits/2025-11/RAPPORT-PHASE-4-INDEXES-FOREIGN-KEYS-2025-11-22.md
  packages/@verone/orders/src/components/sections/OrganisationPurchaseOrdersSection.tsx
  supabase/migrations/20251122_001_fix_search_path_all_functions.sql
  supabase/migrations/20251122_002_create_stable_auth_functions.sql
  supabase/migrations/20251122_003_optimize_rls_policies_batch1.sql
  supabase/migrations/20251122_004_optimize_rls_policies_batch2.sql
  supabase/migrations/20251122_005_optimize_rls_policies_batch3_final.sql
  supabase/migrations/20251122_006_create_missing_foreign_key_indexes.sql
Due: prettier --write, eslint --fix

fix(enums): Remplacer 'confirmed' par 'validated' dans sales/purchase orders (32 fichiers)
  apps/back-office/src/app/actions/purchase-orders.ts
  apps/back-office/src/app/actions/sales-orders.ts
  apps/back-office/src/app/api/purchase-receptions/validate/route.ts
  apps/back-office/src/app/api/sales-orders/[id]/close/route.ts
  apps/back-office/src/app/api/sales-shipments/validate/route.ts
  apps/back-office/src/app/commandes/clients/page.tsx
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/stocks/expeditions/page.tsx
  apps/back-office/src/app/stocks/receptions/page.tsx
  apps/back-office/src/types/database.ts
  apps/back-office/src/types/supabase.ts
  packages/@verone/dashboard/src/hooks/metrics/use-order-metrics.ts
  packages/@verone/dashboard/src/hooks/metrics/use-revenue-metrics.ts
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/orders/src/components/sections/OrganisationSalesOrdersSection.tsx
  packages/@verone/orders/src/components/sections/ShipmentsSection.tsx
  packages/@verone/orders/src/components/sections/ShipmentsSectionSimple.tsx
  packages/@verone/orders/src/hooks/use-orders-status.ts
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
  packages/@verone/orders/src/hooks/use-purchase-receptions.ts
  packages/@verone/orders/src/hooks/use-sales-dashboard.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/orders/src/validators/order-status.ts
  packages/@verone/products/src/hooks/use-top-products.ts
  packages/@verone/stock/src/hooks/use-stock-dashboard.ts
  packages/@verone/types/src/database.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/ui-business/src/components/modals/ForecastBreakdownModal.tsx
  packages/@verone/utils/src/validation/order-status-validator.ts
  supabase/migrations/20251121_004_restore_stock_alerts_view_correct_definition.sql
Due: prettier --write, eslint --fix

fix(db): Corriger 8 fonctions PostgreSQL utilisant 'confirmed' → 'validated'
  supabase/migrations/20251121_005_fix_functions_confirmed_to_validated.sql
  supabase/migrations/20251121_006_fix_remaining_confirmed_functions.sql
  supabase/migrations/20251121_007_fix_notify_order_confirmed.sql
  supabase/migrations/20251121_008_fix_trg_purchase_orders_stock_automation.sql
Due: none

docs(rules): Ajouter règle INTERDICTION DONNÉES TEST
  CLAUDE.md
Due: prettier --write

feat(stock): Optimisation modal commande fournisseur et badge alerte
  apps/back-office/src/app/stocks/alertes/page.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
Due: prettier --write, eslint --fix

fix(stock): Corriger navigation alertes et logique prévisionnel
  apps/back-office/src/app/stocks/alertes/page.tsx
  apps/back-office/src/app/stocks/previsionnel/page.tsx
  packages/@verone/stock/src/hooks/use-stock-dashboard.ts
Due: prettier --write, eslint --fix

fix(stocks): Corriger affichage alertes stock avec données réelles
  apps/back-office/src/app/stocks/alertes/page.tsx
  supabase/migrations/20251122000005_fix_validated_green_status.sql
Due: prettier --write, eslint --fix

fix(orders): Corriger boucle infinie useEffect dans PurchaseOrderReceptionForm
  packages/@verone/orders/src/components/forms/PurchaseOrderReceptionForm.tsx
Due: prettier --write, eslint --fix

fix(products): Corriger boucle infinie useEffect dans use-variant-groups
  packages/@verone/products/src/hooks/use-variant-groups.ts
Due: prettier --write, eslint --fix

feat(orders): Migrer réceptions/expéditions vers Server Actions Next.js 15
  Analysestock.md
  COmpte-rendu.md
  apps/back-office/src/app/api/purchase-receptions/validate/route.ts
  apps/back-office/src/app/api/sales-shipments/validate/route.ts
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/stocks/receptions/page.tsx
  apps/back-office/src/types/supabase.ts
  docs/architecture/decisions/0008-migration-server-actions-receptions-expeditions.md
  docs/audits/2025-11/AUDIT-ALERTES-STOCK-TECHNIQUE-2025-11-22.md
  packages/@verone/orders/src/actions/purchase-receptions.ts
  packages/@verone/orders/src/actions/sales-shipments.ts
  packages/@verone/orders/src/hooks/use-purchase-receptions.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
  packages/@verone/stock/src/hooks/use-stock-alerts.ts
Due: prettier --write, eslint --fix

docs(migration): Corriger terminologie API Routes → Server Actions
  docs/audits/2025-10/RAPPORT-TESTS-NOTIFICATIONS-STOCK-2025-10-30.md
  docs/audits/2025-11/RAPPORT-FINALISATION-RECEPTIONS-EXPEDITIONS-2025-11-11.md
  docs/audits/2025-11/RAPPORT-TESTS-WORKFLOW-ACHATS-2025-11-01.md
  docs/audits/2025-11/RAPPORT-VALIDATION-TESTS-BASH-RECEPTIONS-EXPEDITIONS-2025-11-11.md
  docs/database/SCHEMA-REFERENCE.md
  packages/@verone/orders/src/actions/sales-shipments.ts
Due: prettier --write, eslint --fix

fix(types): Corriger erreurs TypeScript - types Supabase et colonnes DB
  apps/back-office/src/app/actions/sales-orders.ts
  apps/back-office/src/app/commandes/clients/page.tsx
  packages/@verone/orders/src/actions/sales-shipments.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

fix(monitoring): Corriger comptage cumulatif erreurs console
  scripts/monitoring/check-console-errors.ts
Due: prettier --write, eslint --fix

fix(stock): Corriger 4 régressions critiques workflow stock
  CLAUDE.md
  apps/back-office/package.json
  apps/back-office/src/app/canaux-vente/prix-clients/page.tsx
  apps/back-office/src/app/canaux-vente/site-internet/types.ts
  apps/back-office/src/app/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/page.tsx
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/produits/sourcing/echantillons/page.tsx
  apps/back-office/src/types/supabase.ts
  docs/audits/2025-11/AUDIT-TYPES-CENTRALISATION-2025-11-23.md
  package.json
  pnpm-lock.yaml
  scripts/validation/check-db-type-alignment.ts
Due: prettier --write, eslint --fix

refactor(types): Unifier types Supabase - source unique @verone/types
  CLAUDE.md
  apps/back-office/src/types/database.ts
  apps/back-office/src/types/supabase-generated.ts
  apps/back-office/src/types/supabase-new.ts
  packages/@verone/types/src/database.ts
Due: prettier --write, eslint --fix

feat(agents): Implémenter architecture agentique hybride professionnelle
  .claude/commands/agent-db.md
  .claude/commands/agent-debug.md
  .claude/commands/agent-ui.md
  .claude/commands/audit-arch.md
  .claude/commands/feature-db.md
  .claude/commands/feature-ui.md
  .claude/commands/orchestrator.md
  .claude/commands/update-docs.md
  CLAUDE.md
Due: prettier --write

refactor(.claude): Appliquer Clean Architecture - Séparation agents/commandes
  .claude/agents/agent-db.md
  .claude/agents/agent-debug.md
  .claude/agents/agent-ui.md
  .claude/agents/orchestrator.md
  .claude/agents/verone-design-expert.md
  .claude/agents/verone-typescript-fixer.md
  CLAUDE.md
Due: prettier --write

refactor(sourcing): Nettoyage pages + CRUD complet dropdown
  CLAUDE.md
  apps/back-office/src/app/produits/sourcing/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/[id]/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/page.tsx
  apps/back-office/src/app/produits/sourcing/validation/page.tsx
  packages/@verone/products/src/hooks/use-sourcing-products.ts
  packages/@verone/ui-business/src/components/validation/SampleValidationSimple.tsx
Due: prettier --write, eslint --fix

refactor(sourcing): Refonte édition inline - Suppression modal global
  apps/back-office/src/app/produits/sourcing/produits/[id]/page.tsx
  apps/back-office/src/components/business/edit-sourcing-product-modal.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/products/src/components/cards/SourcingProductEditCard.tsx
  packages/@verone/products/src/components/cards/index.ts
  packages/@verone/products/src/components/modals/EditSourcingProductModal.tsx
  packages/@verone/products/src/components/modals/index.ts
  packages/@verone/products/src/hooks/use-sourcing-products.ts
Due: prettier --write, eslint --fix

refactor(claude): Refonte CLAUDE.md v5.0 - Best Practices 2025
  CLAUDE.md
Due: prettier --write

feat(sourcing): Système commandes échantillons complet
  packages/@verone/orders/src/components/tables/EditableOrderItemRow.tsx
  packages/@verone/orders/src/hooks/use-order-items.ts
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
  packages/@verone/products/src/hooks/use-sourcing-products.ts
  supabase/migrations/20251125_001_add_forecasted_stock_on_po_validation.sql
Due: prettier --write, eslint --fix

refactor(agents): Audit et alignement 4 agents Claude
  .claude/agents/agent-db.md
  .claude/agents/agent-debug.md
  .claude/agents/agent-ui.md
  .claude/agents/database-architect.md
  .claude/agents/frontend-architect.md
  .claude/agents/orchestrator.md
  .claude/agents/verone-debug-investigator.md
  .claude/agents/verone-orchestrator.md
Due: prettier --write

refactor(commands): Optimisation protocole stabilisation + nettoyage doublons
  .claude/commands/feature-db.md
  .claude/commands/feature-ui.md
  .claude/commands/senior-stabilization-protocol.md
Due: prettier --write

fix(orders): Pré-remplissage automatique prix d'achat et éco-taxe
  packages/@verone/orders/src/components/modals/PurchaseOrderFormModal.tsx
  packages/@verone/organisations/src/hooks/use-organisations.ts
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2.tsx
Due: prettier --write, eslint --fix

feat(samples): Système complet échantillons avec compteur et modals
  apps/back-office/src/app/commandes/clients/page.tsx
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/components/sections/CustomerSamplesSection.tsx
  packages/@verone/orders/src/components/sections/index.ts
  packages/@verone/orders/src/components/tables/EditableOrderItemRow.tsx
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/organisations/src/hooks/use-organisation-tab-counts.ts
  packages/@verone/products/src/components/compact/SampleHistoryCompact.tsx
  packages/@verone/products/src/components/compact/index.ts
  packages/@verone/products/src/hooks/use-sourcing-products.ts
  packages/@verone/products/src/index.ts
  packages/@verone/ui-business/src/components/buttons/SampleOrderButton.tsx
Due: prettier --write, eslint --fix

feat(stock): Mouvements manuels avec bouton création et triggers sync/delete
  apps/back-office/src/app/stocks/mouvements/page.tsx
  supabase/migrations/20251125_001_add_stock_movement_sync_trigger.sql
  supabase/migrations/20251125_002_trigger_delete_stock_movement_reverse.sql
Due: prettier --write, eslint --fix

feat(stock): Amélioration recherche produits modal mouvement stock
  packages/@verone/stock/src/components/modals/GeneralStockMovementModal.tsx
  supabase/migrations/20251125_003_reactivate_reception_shipment_triggers.sql
  supabase/migrations/20251125_004_reactivate_stock_alert_triggers.sql
Due: prettier --write, eslint --fix

refactor(stock): Optimisation UX page mouvements et modal produits
  apps/back-office/src/app/stocks/mouvements/page.tsx
  apps/back-office/src/components/ui-v2/stock/stock-movement-card.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2.tsx
  packages/@verone/stock/src/components/filters/MovementsFilters.tsx
  packages/@verone/stock/src/components/tables/MovementsTable.tsx
Due: prettier --write, eslint --fix

fix(stocks): Données alertes réelles + design sobre page stocks
  apps/back-office/src/app/stocks/page.tsx
  packages/@verone/stock/src/hooks/use-stock-alerts.ts
Due: prettier --write, eslint --fix

chore(husky): Migration syntaxe v9 moderne
  .husky/pre-commit
  .husky/pre-push
Due: none

chore(context): Optimisation tokens MCP - archivage mémoires obsolètes
  .claude/plans/docs-optimization-analysis.md
  .claude/plans/memory-optimization-analysis-2025-11-26.md
  .claude/plans/token-analysis-2025-11-26.md
  .claude/settings.example.json
  .serena/memories/mission-systeme-prix-multi-canaux-complete.md
  .serena/memories/phase-5-testing-plan.md
  .serena/memories/phase-5-testing-results-complete.md
  .serena/memories/refonte-system-images-lessons-learned.md
  .serena/memories/rls-policies-organisation-id-fix-2025-09-22.md
  .serena/memories/supabase-polymorphic-relations-pattern.md
  .serena/memories/verone-db-foundation-plan.md
  .serena/memories/verone-db-implementation-complete.md
  docs/architecture/decisions/0002-polymorphic-relations-pattern.md
  docs/archives/exploration-2025-11/exploration-stock-movements-manual-vs-automatic.md
  docs/archives/exploration-2025-11/stock-alerts-system-exploration.md
Due: prettier --write

feat(stock): Filtres inventaire basés sur min_stock produit + refacto UX
  .claude/plans/exploration-stocks-page-kpis-widgets.md
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/stocks/alertes/page.tsx
  apps/back-office/src/app/stocks/inventaire/page.tsx
  apps/back-office/src/app/stocks/page.tsx
  apps/back-office/src/app/stocks/previsionnel/page.tsx
  docs/audits/2025-11/EXPLORATION-STOCKS-INVENTAIRE-2025-11-26.md
  packages/@verone/orders/src/components/modals/QuickPurchaseOrderModal.tsx
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
  packages/@verone/stock/src/hooks/use-stock-dashboard.ts
  packages/@verone/stock/src/hooks/use-stock-inventory.ts
Due: prettier --write, eslint --fix

fix(receptions): Amélioration modal détails réceptions
  apps/back-office/src/app/stocks/receptions/page.tsx
  packages/@verone/orders/src/hooks/use-purchase-receptions.ts
  packages/@verone/types/src/reception-shipment.ts
Due: prettier --write, eslint --fix

fix(stocks): Amélioration UX page réceptions et modal réception
  apps/back-office/src/app/commandes/clients/page.tsx
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/stocks/page.tsx
  apps/back-office/src/app/stocks/receptions/page.tsx
  packages/@verone/orders/src/components/forms/PurchaseOrderReceptionForm.tsx
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
Due: prettier --write, eslint --fix

feat(receptions): Traçabilité complète annulations reliquat PO
  apps/back-office/src/app/stocks/receptions/page.tsx
  packages/@verone/orders/src/actions/purchase-receptions.ts
  packages/@verone/orders/src/components/modals/CancelRemainderModal.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/hooks/use-purchase-receptions.ts
  packages/@verone/types/src/reception-shipment.ts
Due: prettier --write, eslint --fix

feat(triggers): Réactivation triggers critiques alignés Odoo/SAP
  supabase/migrations/20251127_001_trigger_stock_alert_tracking_rollback_on_po_cancel.sql
  supabase/migrations/20251127_002_reactivate_critical_triggers.sql
Due: none

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
