Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-LINT-006] chore: baseline for intensive fix session (3,446 warnings)
  .eslint-fix-batches/OVERNIGHT-PROGRESS.md
Due: prettier --write

[BO-LINT-006] fix: batch 43b - prefer-nullish-coalescing || [] pattern (25 files, 2/4)
  apps/back-office/src/app/(protected)/contacts-organisations/clients-particuliers/page.tsx
Due: prettier --write, eslint --fix

[BO-LINT-006] fix: batch 11 - ~200 warnings prefer-nullish-coalescing (52 files)
  .eslint-fix-batches/OVERNIGHT-PROGRESS.md
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/clients-particuliers/page.tsx
Due: prettier --write, eslint --fix

[BO-LINT-006] docs: update progress tracker (TIER 1 complete, 26 warnings fixed)
  .eslint-fix-batches/OVERNIGHT-PROGRESS.md
Due: prettier --write

[BO-LINT-005] fix: batch 126 - trade_name/legal_name/enseigne_name fallbacks (4 files, 6 changes)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CommissionsStatusCard.tsx
Due: prettier --write, eslint --fix

[BO-LINT-005] fix: batch 125 - numeric fallbacks min_margin_rate/min_quantity/pageviews/level (6 files, 6 changes)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CommissionsStatusCard.tsx
Due: prettier --write, eslint --fix

[NO-TASK] docs: audit ESLint complet 2026-02-01
  .claude/audits/eslint-critical-files.md
  .claude/audits/eslint-warnings-by-rule.md
Due: prettier --write

[NO-TASK] docs: audit ESLint complet 2026-02-01
  .claude/audits/eslint-audit-2026-02-01.md
Due: prettier --write

[BO-LINT-005] batch 5: fix 221 warnings in 3 files (products + linkme) (#121)
  .claude/audits/eslint-audit-2026-02-01.md
  .claude/audits/eslint-critical-files.md
  .claude/audits/eslint-warnings-by-rule.md
  .eslint-fix-batches/OVERNIGHT-PROGRESS.md
  .eslint-fix-batches/PRIORITY-LIST-BLITZ.md
  .eslint-fix-batches/README.md
  .eslint-fix-batches/back-office-all.txt
  .eslint-fix-batches/batch-1-nullish-targets.txt
  .eslint-fix-batches/nullish-files-ranked.txt
  .eslint-fix-batches/warning-types-ranked.txt
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionsSection.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/page.tsx
Due: prettier --write, eslint --fix

[BO-LINT-006] fix: batch 1 - 9 warnings in 9 files (TIER 1, 1/4)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
Due: prettier --write, eslint --fix

[BO-LINT-006] fix: batch 4 - 7 warnings in 7 files (TIER 1, 4/4 - COMPLETE)
  .claude/scripts/confirm-docs-read.sh
Due: none

[BO-LINT-006] fix: batch 11 - ~200 warnings prefer-nullish-coalescing (52 files)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/clients-particuliers/page.tsx
Due: prettier --write, eslint --fix

[BO-LINT-012] fix: 33 warnings in produits/catalogue/categories/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/categories/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore: repo cleanup - remove obsolete files, reorganize docs
  .eslint-fix-batches/OVERNIGHT-PROGRESS.md
  .eslint-fix-batches/PRIORITY-LIST-BLITZ.md
  .eslint-fix-batches/README.md
  .eslint-fix-batches/back-office-all.txt
  .eslint-fix-batches/batch-1-nullish-targets.txt
  .eslint-fix-batches/nullish-files-ranked.txt
  .eslint-fix-batches/warning-types-ranked.txt
Due: prettier --write

[BO-LINT-005] fix: batch 144 - auto-fix 29 warnings (prettier + formatting)
  .claude/audits/eslint-audit-2026-02-01.md
  .claude/audits/eslint-critical-files.md
  .claude/audits/eslint-warnings-by-rule.md
Due: prettier --write

[BO-LINT-039] fix: 23 warnings in partners-tab.tsx
  apps/back-office/src/app/(protected)/organisation/components/partners-tab.tsx
Due: prettier --write, eslint --fix

[BO-LINT-049] fix: exhaustive-deps warnings with useCallback (6 files)
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/preview/page.tsx
Due: prettier --write, eslint --fix

[BO-LINT-050] fix: 11 no-unused-vars warnings (5 files)
  INVENTAIRE_STOCKS_VERONE_2022-2025.md
Due: prettier --write

[NO-TASK] docs: update inventory with 8 suppliers and resolve 25 git conflicts
  INVENTAIRE_STOCKS_VERONE_2022-2025.md
Due: prettier --write

[BO-LINT-022] fix: 23 warnings in use-linkme-page-config.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-page-config.ts
Due: prettier --write, eslint --fix

[BO-LINT-044] fix: type RPC calls in use-product-approvals.ts (6 warnings)
  INVENTAIRE_STOCKS_VERONE_2022-2025.md
  RAPPORT_VENTES_LINKME_2024.md
  RAPPORT_VENTES_LINKME_2025.md
  RAPPORT_VENTES_PRODUITS_VERONE_2022-2023.md
Due: prettier --write

[BO-LINT-048] fix: 22 prefer-nullish-coalescing warnings (14 files)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[BO-RLS-001] fix: organisations detail 404 error - RLS policy correction
  supabase/migrations/20260203_001_fix_organisations_rls_staff.sql
Due: none

[BO-LINT-063] fix: remove eslint-disable + auto-fix 212 warnings
  .claude/scripts/statusline-static-backup.sh
  RAPPORT_ACHATS_VERONE_2023-2025.md
  RAPPORT_VENTES_VERONE_2022-2025.md
  update-baseline.sh
Due: prettier --write

[BO-LINT-056] fix: remove B2C fields from Organisation interface (architectural fix)
  packages/@verone/organisations/src/hooks/use-organisations.ts
Due: prettier --write, eslint --fix

[BO-LINT-055] fix: type Supabase base hooks (29 warnings)
  apps/back-office/src/hooks/base/use-supabase-mutation.ts
Due: prettier --write, eslint --fix

[BO-RLS-001] feat: add migrations 002+003 - cleanup RLS patterns
  apps/back-office/src/app/(protected)/avoirs/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/google-merchant/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/AffiliatesSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionsSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-page-config.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-organisation-addresses-bo.ts
  apps/back-office/src/app/(protected)/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/suppliers/page.tsx
  apps/back-office/src/app/(protected)/finance/transactions/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/categories/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/page.tsx
  apps/back-office/src/app/(protected)/stocks/analytics/page.tsx
  apps/back-office/src/app/(protected)/stocks/expeditions/page.tsx
  apps/back-office/src/app/(protected)/stocks/receptions/page.tsx
  apps/back-office/src/app/api/exports/google-merchant-excel/route.ts
  apps/back-office/src/components/forms/simple-product-form.tsx
  apps/back-office/src/components/providers/activity-tracker-provider.tsx
  apps/linkme/src/app/(main)/ma-selection/[id]/page.tsx
  apps/linkme/src/components/OrderFormUnified.tsx
  apps/linkme/src/components/orders/steps/contacts/DeliverySection.tsx
  apps/linkme/src/components/ui/ImageSphere.tsx
  apps/linkme/src/components/ui/SphereImageGrid.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
  supabase/migrations/20260203_002_fix_enseignes_rls_staff.sql
  supabase/migrations/20260203_003_consolidate_remaining_rls_patterns.sql
Due: prettier --write, eslint --fix

[BO-LINT-061] fix: 50 warnings (9 files - type safety + API responses)
  RAPPORT_VENTES_LINKME_2024.md
  RAPPORT_VENTES_LINKME_2025.md
Due: prettier --write

[BO-LINT-060] fix: 14 warnings in admin activity route (type RPC calls, UserProfile)
  apps/back-office/src/app/api/admin/users/[id]/activity/route.ts
Due: prettier --write, eslint --fix

[BO-RLS-001] feat: migration 004 + pre-commit hook RLS validation
  .claude/scripts/statusline.sh
  .claude/settings.json
  .husky/pre-commit
  supabase/migrations/20260203_004_fix_remaining_19_obsolete_policies.sql
Due: prettier --write

[BO-STRICT-001] feat: add type-check to pre-commit + fix post-merge TypeScript errors
  .husky/pre-commit
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/preview/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/page.tsx
  apps/back-office/src/app/api/admin/users/[id]/activity/route.ts
  scripts/type-check-precommit.sh
Due: prettier --write, eslint --fix

[BO-STRICT-001] chore: remove stale report files + fix unused import
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/page.tsx
Due: prettier --write, eslint --fix

[BO-STRICT-001] chore: remove stale report files and update-baseline.sh from repo
  INVENTAIRE_STOCKS_VERONE_2022-2025.md
  RAPPORT_ACHATS_VERONE_2023-2025.md
  RAPPORT_VENTES_LINKME_2024.md
  RAPPORT_VENTES_LINKME_2025.md
  RAPPORT_VENTES_PRODUITS_VERONE_2022-2023.md
  RAPPORT_VENTES_VERONE_2022-2025.md
  update-baseline.sh
Due: prettier --write

[BO-STRICT-001] docs: complete security audit report (RLS + npm + code patterns)
  .claude/audits/security-audit-2026-02-04.md
Due: prettier --write

[BO-STRICT-001] feat: strictness maximum + security audit + post-merge fixes (#128)
  .claude/audits/security-audit-2026-02-04.md
  .husky/pre-commit
  INVENTAIRE_STOCKS_VERONE_2022-2025.md
  RAPPORT_ACHATS_VERONE_2023-2025.md
  RAPPORT_VENTES_LINKME_2024.md
  RAPPORT_VENTES_LINKME_2025.md
  RAPPORT_VENTES_PRODUITS_VERONE_2022-2023.md
  RAPPORT_VENTES_VERONE_2022-2025.md
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/preview/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/page.tsx
  apps/back-office/src/app/api/admin/users/[id]/activity/route.ts
  scripts/type-check-precommit.sh
  update-baseline.sh
Due: prettier --write, eslint --fix

[LM-AUTH-001] fix: isolation stricte authentification LinkMe
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix
