Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[BO-SEC-CRITICAL-001] docs: HaveIBeenPwned not available on Free Plan
  docs/scratchpad/dev-report-2026-04-30-hibp-pro-plan-only.md
Due: prettier --write

[BO-SOURCING-001] perf: SourcingFilters uses centralized useOrganisations + audit
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingFilters.tsx
  docs/scratchpad/audit-2026-04-30-sourcing-consolidated.md
Due: prettier --write, eslint --fix

[INFRA-IMG-005] feat: route uploads via smartUploadImage + Cloudflare priority on logos (#838)
  apps/linkme/src/lib/hooks/use-product-images.ts
  packages/@verone/common/src/hooks/use-simple-image-upload.ts
  packages/@verone/organisations/src/components/OrganisationLogo.tsx
  packages/@verone/organisations/src/components/display/OrganisationLogo.tsx
  packages/@verone/products/src/hooks/sourcing/use-sourcing-create-update.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-013] fix: include cloudflare_image_id in product_images batch select (#839)
  docs/scratchpad/dev-report-2026-04-30-INFRA-IMG-013-batch-cloudflare-id.md
  packages/@verone/products/src/hooks/use-product-images-batch.ts
Due: prettier --write, eslint --fix

[BO-SEC-CRITICAL-001] fix: stop-the-bleed Supabase security advisors (#840)
  docs/scratchpad/audit-2026-04-30-supabase-advisors-inventory.md
  docs/scratchpad/dev-plan-2026-04-30-BO-SEC-CRITICAL-001.md
  scripts/supabase-advisors-baseline.json
  supabase/migrations/20260430_sec_critical_001_stop_the_bleed.sql
Due: prettier --write

[BO-SEC-RLS-002] feat: 11 views SDF→security_invoker + 21 fns search_path hardening (#842)
  docs/scratchpad/dev-plan-2026-04-30-BO-SEC-RLS-002.md
  supabase/migrations/20260430_sec_rls_002_views_security_invoker_and_function_search_path.sql
Due: prettier --write

[BO-SEC-RLS-003] feat: linkme_globe_items security_invoker + 2 anon RLS (#843)
  supabase/migrations/20260430_sec_rls_003_linkme_globe_items_security_invoker.sql
Due: none

[BO-SEC-RLS-004] fix: drop 5 RLS anon-INSERT policies (rls_policy_always_true) (#844)
  supabase/migrations/20260430_sec_rls_004_drop_anon_insert_policies.sql
Due: none

[BO-SEC-SDF-FUNCS-006] fix: REVOKE EXECUTE mass + whitelist 47 RPCs (#845)
  supabase/migrations/20260430_sec_sdf_funcs_006_revoke_execute_mass_with_whitelist.sql
Due: none

[BO-SEC-RLS-005] fix: scope 25+ RLS authenticated-true to is_backoffice_user() (#846)
  supabase/migrations/20260430_sec_rls_005_scope_authenticated_to_staff.sql
Due: none

[BO-SEC-RLS-006] fix: final scope ~35 RLS authenticated-true to staff (21 tables) (#847)
  supabase/migrations/20260430_sec_rls_006_final_cleanup_staff_tables.sql
Due: none

[BO-PERF-CATALOG-001] perf: lightweight useOrganisations + fix archived count (#848)
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
  packages/@verone/organisations/src/hooks/organisations.constants.ts
  packages/@verone/organisations/src/hooks/organisations.types.ts
  packages/@verone/organisations/src/hooks/use-organisations.ts
Due: prettier --write, eslint --fix

[BO-UI-RESP-CATALOG-001] feat: migrate CatalogueListView to ResponsiveDataView (#849)
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductCardMobile.tsx
Due: prettier --write, eslint --fix

[BO-CATALOG-SEARCH-001] feat: extend catalogue search + new filters (#850)
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueToolbar.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
Due: prettier --write, eslint --fix

[BO-SEC-CRITICAL-002] fix: drop auth.users JOIN in v_linkme_users + RPC for emails (#841)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/linkme-user-queries.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/hooks.ts
  docs/scratchpad/dev-plan-2026-04-30-BO-SEC-CRITICAL-002.md
  packages/@verone/orders/src/hooks/linkme/use-organisation-contacts-bo.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260430_sec_critical_002_v_linkme_users_no_auth_leak.sql
Due: prettier --write, eslint --fix

[BO-CATALOG-VARIANTS-001] feat: add variantStatus filter + dev plan
  docs/scratchpad/dev-plan-2026-04-30-BO-CATALOG-VARIANTS-001.md
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
Due: prettier --write, eslint --fix

[BO-CATALOG-VARIANTS-001] feat: add variantStatus filter + dev plan (#851)
  docs/scratchpad/dev-plan-2026-04-30-BO-CATALOG-VARIANTS-001.md
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
Due: prettier --write, eslint --fix

[BO-CATALOG-VIEWS-001] feat: 5 system saved views + dev plan personal+bulk (#852)
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueSavedViews.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-saved-views.ts
  docs/scratchpad/dev-plan-2026-04-30-BO-CATALOG-VIEWS-001.md
Due: prettier --write, eslint --fix

[BO-SOURCING-001] perf: SourcingFilters uses centralized useOrganisations + audit (#853)
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingFilters.tsx
  docs/scratchpad/audit-2026-04-30-sourcing-consolidated.md
Due: prettier --write, eslint --fix

[BO-SEC-CRITICAL-001] docs: HaveIBeenPwned not available on Free Plan (#854)
  docs/scratchpad/dev-report-2026-04-30-hibp-pro-plan-only.md
Due: prettier --write

[NO-TASK] chore: regenerate Supabase types post-migrations 2026-04-30
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: regenerate Supabase types post-migrations 2026-04-30 (#856)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-PERF-CATALOG-002] perf: stable filters dep in useCatalogue
  packages/@verone/categories/src/hooks/use-catalogue.ts
Due: prettier --write, eslint --fix

[BO-PERF-CATALOG-002] perf: stable filters dep in useCatalogue (#857)
  packages/@verone/categories/src/hooks/use-catalogue.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: remove __InternalSupabase block from types (CI drift fix)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: remove __InternalSupabase block from types (CI drift fix) (#859)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[INFRA-RULES-001] chore: ban --admin and staging→main release for agent
  .claude/rules/agent-autonomy-external.md
  .claude/rules/autonomy-boundaries.md
  .claude/rules/workflow.md
  .claude/settings.json
Due: prettier --write

[INFRA-RULES-001] chore: ban --admin and staging→main release for agent (#862)
  .claude/rules/agent-autonomy-external.md
  .claude/rules/autonomy-boundaries.md
  .claude/rules/workflow.md
  .claude/settings.json
Due: prettier --write

[BO-DS-001] chore: scaffold design system pre-work plan
  docs/scratchpad/dev-plan-BO-DS-001.md
Due: prettier --write

[BO-DS-001] feat: create @verone/tokens package skeleton
  packages/@verone/tokens/README.md
  packages/@verone/tokens/package.json
  packages/@verone/tokens/src/index.ts
  packages/@verone/tokens/src/tokens.json
  packages/@verone/tokens/src/tokens.ts
  packages/@verone/tokens/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[BO-DS-001] feat: create @verone/themes package with ThemeProvider
  packages/@verone/themes/README.md
  packages/@verone/themes/package.json
  packages/@verone/themes/src/ThemeProvider.tsx
  packages/@verone/themes/src/index.ts
  packages/@verone/themes/src/themes/boemia/README.md
  packages/@verone/themes/src/themes/boemia/tokens.ts
  packages/@verone/themes/src/themes/flos/README.md
  packages/@verone/themes/src/themes/flos/tokens.ts
  packages/@verone/themes/src/themes/index.ts
  packages/@verone/themes/src/themes/linkme/README.md
  packages/@verone/themes/src/themes/linkme/tokens.ts
  packages/@verone/themes/src/themes/office/README.md
  packages/@verone/themes/src/themes/office/tokens.ts
  packages/@verone/themes/src/themes/solar/README.md
  packages/@verone/themes/src/themes/solar/tokens.ts
  packages/@verone/themes/src/themes/verone/README.md
  packages/@verone/themes/src/themes/verone/tokens.ts
  packages/@verone/themes/src/types.ts
  packages/@verone/themes/src/useTheme.ts
  packages/@verone/themes/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

[BO-DS-001] docs: design system architecture and claude.ai handoff procedure
  docs/architecture/DESIGN-SYSTEM-ARCHITECTURE.md
  docs/architecture/HANDOFF-CLAUDE-AI.md
Due: prettier --write

[BO-DS-001] feat: design system pre-work infrastructure (draft) (#864)
  docs/architecture/DESIGN-SYSTEM-ARCHITECTURE.md
  docs/architecture/HANDOFF-CLAUDE-AI.md
  docs/scratchpad/dev-plan-BO-DS-001.md
  packages/@verone/themes/README.md
  packages/@verone/themes/package.json
  packages/@verone/themes/src/ThemeProvider.tsx
  packages/@verone/themes/src/index.ts
  packages/@verone/themes/src/themes/boemia/README.md
  packages/@verone/themes/src/themes/boemia/tokens.ts
  packages/@verone/themes/src/themes/flos/README.md
  packages/@verone/themes/src/themes/flos/tokens.ts
  packages/@verone/themes/src/themes/index.ts
  packages/@verone/themes/src/themes/linkme/README.md
  packages/@verone/themes/src/themes/linkme/tokens.ts
  packages/@verone/themes/src/themes/office/README.md
  packages/@verone/themes/src/themes/office/tokens.ts
  packages/@verone/themes/src/themes/solar/README.md
  packages/@verone/themes/src/themes/solar/tokens.ts
  packages/@verone/themes/src/themes/verone/README.md
  packages/@verone/themes/src/themes/verone/tokens.ts
  packages/@verone/themes/src/types.ts
  packages/@verone/themes/src/useTheme.ts
  packages/@verone/themes/tsconfig.json
  packages/@verone/tokens/README.md
  packages/@verone/tokens/package.json
  packages/@verone/tokens/src/index.ts
  packages/@verone/tokens/src/tokens.json
  packages/@verone/tokens/src/tokens.ts
  packages/@verone/tokens/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

[BO-BRAND-001] chore: scaffold rename brand to manufacturer plan
  docs/scratchpad/dev-plan-BO-BRAND-001.md
Due: prettier --write

[BO-BRAND-001] feat: SQL migration rename products.brand to manufacturer
  supabase/migrations/20260430180000_rename_products_brand_to_manufacturer.sql
Due: none

[BO-BRAND-001] chore: regenerate Supabase types after manufacturer rename
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BRAND-001] chore: align supabase.ts with CI byte-for-byte
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] feat: combobox colors/materials + inheritance chips in VariantAddProductModal
  packages/@verone/products/src/components/modals/VariantAddProductModal.tsx
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
