Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

chore: cleanup .claude/ obsolete files
  .claude/archive/plans-2025-12/audit-triggers-purchase-orders.md
  .claude/archive/plans-2025-12/authentication-audit-complete-2025-12-01.md
  .claude/archive/plans-2025-12/claude-md-minimalist-redesign.md
  .claude/archive/plans-2025-12/database-samples-exploration.md
  .claude/archive/plans-2025-12/docs-optimization-analysis.md
  .claude/archive/plans-2025-12/exploration-inventaire-colonnes-stock.md
  .claude/archive/plans-2025-12/exploration-stocks-page-kpis-widgets.md
  .claude/archive/plans-2025-12/exploration-traceability-columns.md
  .claude/archive/plans-2025-12/linkme-auto-margin-calculation-2025-12-03.md
  .claude/archive/plans-2025-12/memory-optimization-analysis-2025-11-26.md
  .claude/archive/plans-2025-12/purchase-order-fulfillment-analysis-2025-11-27.md
  .claude/archive/plans-2025-12/quizzical-jumping-leaf-agent-a7383a80.md
  .claude/archive/plans-2025-12/token-analysis-2025-11-26.md
  .claude/archive/plans-2025-12/trigger-stock-investigation.md
  .claude/plans/Untitled
  .claude/reports/tokens/daily-2025-12-17.json
  .claude/reports/tokens/daily-2025-12-18.json
  .claude/reports/tokens/daily-2025-12-19.json
  .claude/reports/tokens/daily-2025-12-20.json
  .claude/reports/tokens/daily-2025-12-21.json
  .claude/reports/tokens/daily-2025-12-22.json
  .claude/reports/tokens/daily-2025-12-23.json
Due: prettier --write

fix(docs): correct e2e:smoke → test:e2e command references
  .claude/agents/audit-governor.md
  .claude/agents/frontend-architect.md
  .claude/commands/implement.md
  CLAUDE.md
Due: prettier --write

fix(ci): activate real console check in pr-validation workflow
  .github/workflows/pr-validation.yml
Due: none

refactor(claude): simplify READMEs and fix obsolete references
  .claude/README.md
  .claude/agents/verone-orchestrator.md
  .claude/commands/explore.md
  .claude/contexts/README.md
  .claude/contexts/monorepo.md
  README.md
Due: prettier --write

feat(dx): add validate:pr command for pre-PR validation
  package.json
Due: prettier --write

chore: archive audit report and remove obsolete source report
  REPORT-README-SOURCES.md
  docs/archive/2026-01/AUDIT-POKAWA-2026-01-09.md
Due: prettier --write

chore(db): remove obsolete Abby integration and BugReporter
  apps/back-office/src/app/api/cron/sync-abby-queue/route.ts
  packages/@verone/integrations/src/abby/client.ts
  packages/@verone/integrations/src/abby/errors.ts
  packages/@verone/integrations/src/abby/index.ts
  packages/@verone/integrations/src/abby/sync-processor.ts
  packages/@verone/integrations/src/abby/types.ts
  packages/@verone/integrations/src/abby/webhook-validator.ts
  packages/@verone/integrations/src/index.ts
  packages/@verone/ui-business/src/components/utils/BugReporter.tsx
  packages/@verone/ui-business/src/components/utils/index.ts
  supabase/migrations/20260109_010_cleanup_backup_tables.sql
  supabase/migrations/20260109_011_drop_abby_integration.sql
  supabase/migrations/20260109_012_drop_bug_reports.sql
Due: prettier --write, eslint --fix

fix(orders): correct totals calculation and ventes page error
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/hooks/use-sales-dashboard.ts
  supabase/migrations/20260109_005_fix_linkme_order_items_enriched_tax_rate.sql
Due: prettier --write, eslint --fix

feat(orders): improve order details with full fees and grouped TVA
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/hooks/use-sales-orders.ts
Due: prettier --write, eslint --fix

fix(linkme): resolve 'location is not defined' SSG error
  apps/linkme/src/app/(main)/mes-produits/layout.tsx
Due: prettier --write, eslint --fix

chore(db): drop remaining backup tables
  supabase/migrations/20260109_013_drop_remaining_backups.sql
Due: none

fix(linkme): use calendar quarter for analytics filter
  apps/linkme/src/types/analytics.ts
Due: prettier --write, eslint --fix

refactor(linkme): simplify affiliate product detail page layout
  apps/back-office/src/app/canaux-vente/linkme/catalogue/[id]/page.tsx
Due: prettier --write, eslint --fix

fix(facturation): correct avoirs display and PDF inline viewing
  apps/back-office/src/app/api/qonto/credit-notes/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/quotes/[id]/pdf/route.ts
  apps/back-office/src/app/factures/components/ActionCell.tsx
  apps/back-office/src/app/factures/page.tsx
Due: prettier --write, eslint --fix

feat(facturation): page détail Qonto + APIs mark-paid et send
  apps/back-office/src/app/api/qonto/invoices/[id]/mark-paid/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/send/route.ts
  apps/back-office/src/app/factures/[id]/page.tsx
  apps/back-office/src/app/factures/page.tsx
Due: prettier --write, eslint --fix

fix(linkme): reduce image zoom in catalogue cards
  apps/back-office/src/app/factures/page.tsx
  apps/linkme/src/app/(main)/catalogue/components/ProductCard.tsx
  apps/linkme/src/app/(main)/catalogue/page.tsx
Due: prettier --write, eslint --fix

fix(linkme): show real quantities sold on ma-selection page
  apps/linkme/src/app/(main)/ma-selection/page.tsx
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/types/analytics.ts
Due: prettier --write, eslint --fix

feat(factures): add payment recording and transaction reconciliation
  apps/back-office/src/app/factures/[id]/page.tsx
Due: prettier --write, eslint --fix

fix(linkme): fix selection view button z-index and lint warnings
  apps/linkme/src/app/(main)/ma-selection/page.tsx
Due: prettier --write, eslint --fix

feat(linkme): add Vedette badge and LinkMe colors to public selection page
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  supabase/migrations/20260109_005_add_featured_to_public_selection_rpc.sql
  supabase/migrations/20260109_006_fix_public_selection_rpc_category.sql
Due: prettier --write, eslint --fix

feat(linkme): add affiliate branding color customization
  apps/linkme/src/app/(main)/parametres/page.tsx
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/lib/hooks/use-affiliate-branding.ts
  supabase/migrations/20260109_007_add_affiliate_branding_colors.sql
  supabase/migrations/20260109_008_add_branding_to_public_selection_rpc.sql
Due: prettier --write, eslint --fix

feat(linkme): add image cropping for selection cover images
  apps/linkme/package.json
  apps/linkme/src/app/(main)/dashboard/page.tsx
  apps/linkme/src/app/(main)/ma-selection/[id]/page.tsx
  apps/linkme/src/app/(main)/ma-selection/[id]/produits/page.tsx
  apps/linkme/src/app/(main)/ma-selection/page.tsx
  apps/linkme/src/app/(main)/parametres/page.tsx
  apps/linkme/src/components/selection/SelectionImageUpload.tsx
  apps/linkme/src/components/selection/SelectionImageUploadDialog.tsx
  apps/linkme/src/lib/hooks/use-affiliate-branding.ts
  apps/linkme/src/lib/hooks/use-selection-image.ts
  apps/linkme/src/lib/utils/image-crop.ts
  apps/linkme/tailwind.config.js
  docs/assets/charte-graphique-pokawa.pdf
  docs/current/AUDIT-FACTURATION-QONTO-2026-01.md
  pnpm-lock.yaml
  supabase/migrations/20260109_010_add_price_display_mode_to_affiliates.sql
Due: prettier --write, eslint --fix

feat(linkme): add hover animations to public selection page
  apps/linkme/src/app/(public)/s/[id]/page.tsx
Due: prettier --write, eslint --fix

feat(linkme): redesign checkout modal with compact table layout
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/components/checkout/EnseigneStepper.tsx
Due: prettier --write, eslint --fix

feat(linkme): add mini e-commerce experience to public selection page
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/components/public-selection/CategoryTabs.tsx
  apps/linkme/src/components/public-selection/ContactForm.tsx
  apps/linkme/src/components/public-selection/FAQSection.tsx
  apps/linkme/src/components/public-selection/ProductFilters.tsx
  apps/linkme/src/components/public-selection/SelectionHeader.tsx
  apps/linkme/src/components/public-selection/SelectionHero.tsx
  apps/linkme/src/components/public-selection/StoreLocatorMap.tsx
  apps/linkme/src/components/public-selection/index.ts
  supabase/migrations/20260110_001_add_contact_to_selections.sql
  supabase/migrations/20260110_002_add_coordinates_to_organisations.sql
  supabase/migrations/20260110_003_create_linkme_contact_requests.sql
Due: prettier --write, eslint --fix

feat(linkme): add cart modification in checkout and fix commissions
  apps/back-office/src/app/canaux-vente/linkme/commandes/page.tsx
  apps/linkme/package.json
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/components/checkout/EnseigneStepper.tsx
  apps/linkme/src/components/layout/Header.tsx
  apps/linkme/src/lib/hooks/use-submit-enseigne-order.ts
  apps/linkme/tsconfig.json
  packages/@verone/notifications/package.json
  packages/@verone/notifications/src/components/dropdowns/NotificationsDropdown.tsx
  packages/@verone/notifications/src/hooks/use-user-activity-tracker.ts
  pnpm-lock.yaml
  supabase/migrations/20260110_004_approval_notification_triggers.sql
  supabase/migrations/20260110_005_public_linkme_order_rpc.sql
  supabase/migrations/20260110_006_fix_public_order_commissions.sql
  supabase/migrations/20260110_007_fix_retrocession_trigger.sql
Due: prettier --write, eslint --fix

feat(linkme): enhance approbations page with expandable rows and badges
  apps/back-office/src/app/canaux-vente/linkme/approbations/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-order-actions.ts
  apps/linkme/src/app/(main)/commissions/page.tsx
  apps/linkme/src/components/commissions/CommissionsTable.tsx
  apps/linkme/src/components/commissions/HowToGetPaidBanner.tsx
  apps/linkme/src/components/commissions/PaymentRequestsPanel.tsx
  apps/linkme/src/components/commissions/index.ts
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/lib/hooks/use-affiliate-commissions.ts
  apps/linkme/src/types/analytics.ts
Due: prettier --write, eslint --fix

feat(linkme): add organisations page and fix dashboard loading flash
  apps/linkme/src/app/(main)/dashboard/page.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/auth/UserMenu.tsx
Due: prettier --write, eslint --fix

perf: fix N+1 queries and sidebar performance issues
  apps/back-office/src/app/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/back-office/src/components/layout/auth-wrapper.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/ui/src/components/ui/sidebar.tsx
Due: prettier --write, eslint --fix

feat(linkme): add organisations page with stats and ownership type
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/back-office/src/types/supabase.ts
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/organisations/EditOrganisationModal.tsx
  apps/linkme/src/components/organisations/OrganisationCard.tsx
  apps/linkme/src/components/organisations/OrganisationDetailModal.tsx
  apps/linkme/src/components/organisations/index.ts
  apps/linkme/src/lib/hooks/use-archive-organisation.ts
  apps/linkme/src/lib/hooks/use-enseigne-organisations.ts
  apps/linkme/src/lib/hooks/use-organisation-stats.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260110_009_enseigne_organisation_stats_rpc.sql
  supabase/migrations/20260110_010_add_ownership_type.sql
Due: prettier --write, eslint --fix

fix(linkme): improve sidebar performance and UX
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/linkme/src/components/layout/AppSidebar.tsx
Due: prettier --write, eslint --fix

feat(linkme): enhance commissions module with selection modal
  apps/linkme/src/app/(main)/commissions/page.tsx
  apps/linkme/src/components/commissions/CommissionSelectionModal.tsx
  apps/linkme/src/components/commissions/CommissionsTable.tsx
  apps/linkme/src/components/commissions/HowToGetPaidBanner.tsx
  apps/linkme/src/components/commissions/index.ts
Due: prettier --write, eslint --fix

feat(linkme): add order approval workflow with email notifications
  apps/back-office/src/app/api/emails/linkme-step4-confirmed/route.ts
  apps/back-office/src/app/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/commandes/a-traiter/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-order-actions.ts
  apps/linkme/src/app/(main)/commandes/components/ApproveOrderDialog.tsx
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/app/(main)/commandes/page.tsx
  apps/linkme/src/hooks/use-approve-order.ts
  apps/linkme/src/hooks/use-linkme-orders.ts
Due: prettier --write, eslint --fix

perf: add performance indexes and fix N+1 queries
  docs/current/perf/perf-audit-2026-01-10.md
  docs/current/performance-checklist.md
  packages/@verone/categories/src/hooks/use-catalogue.ts
  packages/@verone/products/src/hooks/use-product-images.ts
  supabase/migrations/20260110_008_performance_indexes_p0.sql
Due: prettier --write, eslint --fix

chore: add dev scripts for port management and server readiness
  package.json
  scripts/dev-with-lock.sh
  scripts/ports-assert.sh
  scripts/wait-dev-ready.sh
Due: prettier --write

docs: update agents config and PR template
  .claude/agents/audit-governor.md
  .claude/agents/data-layer-auditor.md
  .claude/agents/database-architect.md
  .claude/agents/frontend-architect.md
  .claude/agents/verone-orchestrator.md
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
Due: prettier --write

fix: misc layout and type improvements
  apps/back-office/src/app/layout.tsx
  apps/linkme/src/types/analytics.ts
Due: prettier --write, eslint --fix

chore(dx): simplify dev setup (remove locks/hooks)
  .husky/pre-commit
  .husky/pre-push
  CLAUDE.md
  PROTECTED_FILES.json
  docs/current/performance-checklist.md
  package.json
  scripts/dev-ports-check.sh
  scripts/dev-ports-kill.sh
  scripts/dev-with-lock.sh
  scripts/ports-assert.sh
  scripts/wait-dev-ready.sh
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
