Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[CONFIG] feat: organize Playwright MCP screenshots
  .claude/scripts/validate-playwright-screenshot.sh
  .claude/settings.json
  .gitignore
  .playwright-mcp/README.md
  .playwright-mcp/screenshots/.gitkeep
  CLAUDE.md
  package.json
  scripts/clean-screenshots.sh
Due: prettier --write

[NO-TASK] feat: simplify workflow 2026 — < 1s commits, CI/CD validation
  .claude/scripts/auto-sync-with-main.sh
  .claude/scripts/session-branch-check.sh
  .claude/scripts/validate-git-checkout.sh
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .playwright-mcp/facture-20145539-totaux.md
  .playwright-mcp/facture-20146095-lignes-ecotaxes.md
  CLAUDE.md
  console-logout-warnings.txt
  docs/templates/README.md
  docs/templates/product-import-checklist.md
  docs/templates/product-import-quick-reference.md
  docs/templates/product-import-script-example.sql
  docs/workflow-audit-2026.md
  scripts/sync-all-branches-with-main.sh
  supabase/migrations/20260209_create_linkme_selection_items_with_pricing_view.sql
  supabase/migrations/20260209_fix_public_catalog_rls.sql
  turbo.json
Due: prettier --write

[NO-TASK] feat: add staging branch deployment config
  .husky/pre-commit
  apps/linkme/vercel.json
  apps/site-internet/vercel.json
  vercel.json
Due: prettier --write

[NO-TASK] test: verify staging branch does not trigger Vercel deployment
  test-staging-no-deploy.txt
Due: none

[NO-TASK] feat: add staging branch to GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

[NO-TASK] docs: add staging branch workflow to CLAUDE.md
  CLAUDE.md
Due: prettier --write

[DEPLOY] Staging branch workflow implementation (#170)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  CLAUDE.md
  test-staging-no-deploy.txt
Due: prettier --write

[NO-TASK] chore: remove unused packages kpi/testing + restore docs
  docs/INDEX-PAGES-BACK-OFFICE.md
  docs/MAPPING-PAGES-TABLES.md
  docs/current/02-architecture.md
  docs/current/06-business-rules.md
  packages/@verone/kpi/README.md
  packages/@verone/kpi/package.json
  packages/@verone/kpi/src/index.ts
  packages/@verone/kpi/tsconfig.json
  packages/@verone/testing/README.md
  packages/@verone/testing/package.json
  packages/@verone/testing/src/critical-tests-2025.ts
  packages/@verone/testing/src/hooks/index.ts
  packages/@verone/testing/src/hooks/use-critical-testing.ts
  packages/@verone/testing/src/hooks/use-error-reporting.ts
  packages/@verone/testing/src/hooks/use-test-persistence.ts
  packages/@verone/testing/src/index.ts
  packages/@verone/testing/tsconfig.json
Due: prettier --write, eslint --fix

[NO-TASK] refactor: merge @verone/suppliers into @verone/organisations
  apps/back-office/src/components/business/supplier-segment-badge.tsx
  apps/back-office/src/components/business/supplier-selector.tsx
  packages/@verone/customers/src/components/sections/OrganisationListView.tsx
  packages/@verone/orders/src/components/modals/supplier-selector.tsx
  packages/@verone/organisations/src/components/cards/OrganisationCard.tsx
  packages/@verone/organisations/src/components/forms/SupplierFormModal.tsx
  packages/@verone/organisations/src/components/forms/supplier-segment-select.tsx
  packages/@verone/organisations/src/components/suppliers/SupplierSegmentBadge.tsx
  packages/@verone/organisations/src/components/suppliers/SupplierSegmentSelect.tsx
  packages/@verone/organisations/src/components/suppliers/SupplierSelector.tsx
  packages/@verone/organisations/src/components/suppliers/index.ts
  packages/@verone/organisations/src/index.ts
  packages/@verone/products/src/components/cards/SourcingProductEditCard.tsx
  packages/@verone/products/src/components/modals/EditProductVariantModal.tsx
  packages/@verone/products/src/components/sections/SupplierEditSection.tsx
  packages/@verone/products/src/components/wizards/sections/SupplierSection.tsx
  packages/@verone/suppliers/README.md
  packages/@verone/suppliers/package.json
  packages/@verone/suppliers/src/components/badges/index.ts
  packages/@verone/suppliers/src/components/pricing/QuantityBreaksDisplay.tsx
  packages/@verone/suppliers/src/components/pricing/index.ts
  packages/@verone/suppliers/src/components/selectors/index.ts
  packages/@verone/suppliers/src/index.ts
  packages/@verone/suppliers/tsconfig.json
Due: prettier --write, eslint --fix

[NO-TASK] refactor: migrate @verone/admin server actions to back-office app
  apps/back-office/src/app/actions/user-management.ts
  apps/back-office/src/components/admin/create-user-dialog.tsx
  apps/back-office/src/components/admin/delete-user-dialog.tsx
  apps/back-office/src/components/admin/edit-user-dialog.tsx
  apps/back-office/src/components/admin/reset-password-dialog.tsx
  packages/@verone/admin/README.md
  packages/@verone/admin/package.json
  packages/@verone/admin/src/actions/index.ts
  packages/@verone/admin/src/hooks/index.ts
  packages/@verone/admin/src/hooks/use-automation-triggers.ts
  packages/@verone/admin/src/hooks/use-mcp-resolution.ts
  packages/@verone/admin/src/index.ts
  packages/@verone/admin/tsconfig.json
Due: prettier --write, eslint --fix

[NO-TASK] chore: update lockfile after removing 4 packages
  pnpm-lock.yaml
Due: none

[NO-TASK] docs: audit complet produits Opjet 2026-02-09
  docs/reports/audit-produits-opjet-2026-02-09.md
Due: prettier --write

[NO-TASK] feat: add unauthorizedPath support to enforce-app-isolation
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
Due: prettier --write, eslint --fix

[BO-AUTH-001] feat: add unauthorized page for cross-app protection
  apps/back-office/src/app/unauthorized/layout.tsx
  apps/back-office/src/app/unauthorized/page.tsx
Due: prettier --write, eslint --fix

[BO-AUTH-002] feat: add middleware for cross-app protection
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[BO-AUTH-003] fix: add /unauthorized to PUBLIC_PAGES in AuthWrapper
  apps/back-office/src/components/layout/auth-wrapper.tsx
Due: prettier --write, eslint --fix

[BO-AUTH-004] refactor: simplify unauthorized page message (no cross-app mention)
  apps/back-office/src/app/unauthorized/page.tsx
Due: prettier --write, eslint --fix

[BO-AUTH-005] docs: add cross-app protection pattern guide
  .claude/guides/cross-app-protection.md
Due: prettier --write

[BO-AUTH] Fix cross-app login crash (#172)
  .claude/guides/cross-app-protection.md
  apps/back-office/src/app/unauthorized/layout.tsx
  apps/back-office/src/app/unauthorized/page.tsx
  apps/back-office/src/components/layout/auth-wrapper.tsx
  apps/back-office/src/middleware.ts
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
Due: prettier --write, eslint --fix

[LM-AUTH-001] feat: add unauthorized page for cross-app protection
  apps/linkme/src/app/unauthorized/page.tsx
Due: prettier --write, eslint --fix

[LM-AUTH-002] feat: add unauthorizedPath to middleware for cross-app protection
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[LM-AUTH-003] refactor: remove pre-auth check, let middleware handle protection
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

[LM-AUTH-004] refactor: remove post-auth role check, let middleware handle everything
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

[LM-AUTH-005] fix: use maybeSingle() to prevent errors when role doesn't exist
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: align pnpm version to 10.13.1 in all GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

[NO-TASK] feat: create 8 historical credit notes (avoirs) with migrations
  supabase/migrations/20260209000001_allow_negative_amounts_for_credit_notes.sql
  supabase/migrations/20260209000002_allow_negative_quantities_for_returns.sql
Due: none

[BO-LINT-001] fix: correct 60 ESLint warnings in user-management.ts
  apps/back-office/src/app/actions/user-management.ts
Due: prettier --write, eslint --fix

[LM-AUTH] Apply cross-app protection pattern to LinkMe (#173)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/back-office/src/app/actions/user-management.ts
  apps/linkme/src/app/unauthorized/page.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/middleware.ts
  supabase/migrations/20260209000001_allow_negative_amounts_for_credit_notes.sql
  supabase/migrations/20260209000002_allow_negative_quantities_for_returns.sql
Due: prettier --write, eslint --fix

[NO-TASK] docs: add comprehensive returns management plan (Option B)
  docs/plans/returns-management-GETTING-STARTED.md
  docs/plans/returns-management-implementation.md
  docs/plans/returns-management-sql-schema.sql
Due: prettier --write

[BO-FILTERS-001] feat: page fournisseurs - add po_number sort, remove supplier sort
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
Due: prettier --write, eslint --fix

[BO-FILTERS-002] feat: useSalesOrders - add enseigne_id to organisations query
  packages/@verone/orders/src/hooks/use-sales-orders.ts
Due: prettier --write, eslint --fix

[BO-FILTERS-003] feat: SalesOrdersTable - add order_number sort + enseigne/org filters
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/hooks/use-sales-orders.ts
Due: prettier --write, eslint --fix

[BO-FILTERS-004] feat: page clients - configure sortableColumns and showEnseigneFilter
  apps/back-office/src/app/(protected)/commandes/clients/page.tsx
Due: prettier --write, eslint --fix

[LM-STATS-001] feat: enhanced product statistics page with filters, charts and KPIs
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductStatsCharts.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductStatsFilterSidebar.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/TopFiltersBar.tsx
  apps/linkme/src/app/(main)/statistiques/produits/page.tsx
  apps/linkme/src/components/layout/AppSidebar.tsx
  apps/linkme/src/lib/hooks/use-all-products-stats.ts
Due: prettier --write, eslint --fix

[LM-STATS-002] feat: refonte stats produits - zero commission + UX
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductStatsCharts.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductStatsFilterSidebar.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/TopFiltersBar.tsx
  apps/linkme/src/app/(main)/statistiques/produits/page.tsx
  apps/linkme/src/components/analytics/ProductStatsTable.tsx
  apps/linkme/src/lib/hooks/use-all-products-stats.ts
Due: prettier --write, eslint --fix
