Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-IMG-CF-001] fix: migrer sourcing + consultation vers CloudflareImage
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingCardView.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingKanbanView.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductRow.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/sourcing-page.helpers.tsx
  packages/@verone/consultations/src/components/images/ConsultationImageViewerModal.tsx
  packages/@verone/products/src/components/cards/SourcingProductEditCard/SourcingProductImageBlock.tsx
  packages/@verone/products/src/components/cards/SourcingProductEditCard/types.ts
  packages/@verone/products/src/hooks/sourcing/types.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-fetch.ts
Due: prettier --write, eslint --fix

[BO-IMG-CSP-001] fix: autoriser imagedelivery.net dans la CSP img-src
  apps/back-office/src/lib/security/headers.ts
Due: prettier --write, eslint --fix

[SI-IMG-001] fix: HeroSection utilise CloudflareImage au lieu de Supabase
  apps/site-internet/src/components/home/HeroSection.tsx
Due: prettier --write, eslint --fix

[BO-IMG-CSP-001] fix: images Cloudflare bloquées par la CSP back-office (#906)
  apps/back-office/src/lib/security/headers.ts
  apps/site-internet/src/components/home/HeroSection.tsx
Due: prettier --write, eslint --fix

[BO-MSG-001] feat: migration table email_messages + dev-plan
  docs/scratchpad/dev-plan-2026-05-05-BO-MSG-001-gmail-inbound.md
  docs/scratchpad/handover-2026-05-05-bloc-F-gmail-pipeline.md
  supabase/migrations/20260505_bo_msg_001_email_messages.sql
Due: prettier --write

[BO-MSG-001] feat: endpoint Gmail inbound /api/gmail/inbound
  apps/back-office/package.json
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/types.ts
  apps/back-office/src/app/api/gmail/inbound/route.ts
  packages/@verone/integrations/package.json
  packages/@verone/integrations/src/gmail/auth.ts
  packages/@verone/integrations/src/gmail/client.ts
  packages/@verone/integrations/src/gmail/config.ts
  packages/@verone/integrations/src/gmail/index.ts
  packages/@verone/integrations/src/gmail/parser.ts
  packages/@verone/integrations/src/index.ts
  packages/@verone/types/src/email-messages.ts
  packages/@verone/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[BO-MSG-001] docs: guide setup Google Cloud INFRA-GMAIL-INBOUND.md
  docs/current/INFRA-GMAIL-INBOUND.md
Due: prettier --write

[BO-MSG-001] docs: dev-report sprint gmail inbound
  docs/scratchpad/dev-report-2026-05-05-BO-MSG-001-gmail-inbound.md
Due: prettier --write

[BO-MSG-001] fix: regen types Supabase + fix cast unknown
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260505_bo_msg_001_email_messages.sql
Due: prettier --write, eslint --fix

[BO-MSG-001] fix: drift check + regen schema snapshot
  supabase/migrations/20260505_bo_msg_001_email_messages.sql
Due: none

[BO-MSG-001] fix: align supabase.ts with CI artifact (byte-for-byte)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-MSG-001] feat: pipeline Gmail Inbound → back-office (#908)
  apps/back-office/package.json
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/types.ts
  apps/back-office/src/app/api/gmail/inbound/route.ts
  docs/current/INFRA-GMAIL-INBOUND.md
  docs/scratchpad/dev-plan-2026-05-05-BO-MSG-001-gmail-inbound.md
  docs/scratchpad/dev-report-2026-05-05-BO-MSG-001-gmail-inbound.md
  docs/scratchpad/handover-2026-05-05-bloc-F-gmail-pipeline.md
  packages/@verone/integrations/package.json
  packages/@verone/integrations/src/gmail/auth.ts
  packages/@verone/integrations/src/gmail/client.ts
  packages/@verone/integrations/src/gmail/config.ts
  packages/@verone/integrations/src/gmail/index.ts
  packages/@verone/integrations/src/gmail/parser.ts
  packages/@verone/integrations/src/index.ts
  packages/@verone/types/src/email-messages.ts
  packages/@verone/types/src/index.ts
  packages/@verone/types/src/supabase.ts
  pnpm-lock.yaml
  supabase/migrations/20260505_bo_msg_001_email_messages.sql
Due: prettier --write, eslint --fix

[BO-MSG-002] feat: lien Messagerie dans la sidebar
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
Due: prettier --write, eslint --fix

[BO-MSG-002] feat: lien Messagerie dans la sidebar (#909)
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
Due: prettier --write, eslint --fix

[BO-MSG-003] fix: accepte token Pub/Sub via query string
  apps/back-office/src/app/api/gmail/inbound/route.ts
Due: prettier --write, eslint --fix

[BO-MSG-003] fix: accepte token Pub/Sub via query string (#910)
  apps/back-office/src/app/api/gmail/inbound/route.ts
Due: prettier --write, eslint --fix

[BO-SEC-RLS-007] fix: restore staff INSERT policies dropped by BO-SEC-RLS-004
  supabase/migrations/20260505183000_bo_sec_rls_007_restore_staff_insert_policies.sql
Due: none

[BO-SEC-RLS-007] feat: extend to stock_movements + storage_pricing_tiers
  supabase/migrations/20260505183000_bo_sec_rls_007_restore_staff_insert_policies.sql
Due: none

[BO-SEC-RLS-007] fix: restore staff INSERT policies (production blocker — Pokawa) (#912)
  supabase/migrations/20260505183000_bo_sec_rls_007_restore_staff_insert_policies.sql
Due: none

[BO-MSG-004] feat: route admin pour activer surveillance Gmail (users.watch)
  apps/back-office/src/app/api/gmail/watch/init/route.ts
  packages/@verone/integrations/src/gmail/client.ts
Due: prettier --write, eslint --fix

[BO-MSG-004] feat: route admin pour activer surveillance Gmail (users.watch) (#913)
  apps/back-office/src/app/api/gmail/watch/init/route.ts
  packages/@verone/integrations/src/gmail/client.ts
Due: prettier --write, eslint --fix

[BO-MSG-005] feat: filtre par Delivered-To pour ignorer les mails persos
  apps/back-office/src/app/api/gmail/inbound/route.ts
  packages/@verone/integrations/src/gmail/config.ts
  packages/@verone/integrations/src/gmail/parser.ts
Due: prettier --write, eslint --fix

[BO-MSG-005] feat: filtre par Delivered-To pour ignorer les mails persos (#914)
  apps/back-office/src/app/api/gmail/inbound/route.ts
  packages/@verone/integrations/src/gmail/config.ts
  packages/@verone/integrations/src/gmail/parser.ts
Due: prettier --write, eslint --fix

[BO-MSG-006] fix: accepter historyId Pub/Sub Gmail comme number
  apps/back-office/src/app/api/gmail/inbound/route.ts
Due: prettier --write, eslint --fix

[BO-MSG-006] fix: accepter historyId Pub/Sub Gmail comme number (#916)
  apps/back-office/src/app/api/gmail/inbound/route.ts
Due: prettier --write, eslint --fix

[BO-MSG-007] fix: tracker last_history_id pour récupérer les notifs Pub/Sub
  apps/back-office/src/app/api/gmail/inbound/route.ts
  apps/back-office/src/app/api/gmail/watch/init/route.ts
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260505_bo_msg_007_gmail_watch_state.sql
Due: prettier --write, eslint --fix

[INFRA-CI-001] chore: skip E2E Playwright sur PR backend pure
  .github/workflows/quality.yml
Due: none

[INFRA-CI-001] chore: skip E2E Playwright sur PR backend pure (#919)
  .github/workflows/quality.yml
Due: none

[BO-MSG-007] fix: align Supabase types with CI generator (graphql_public section)
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-MSG-007] fix: tracker last_history_id Pub/Sub pour ne plus rater les nouveaux mails (#918)
  apps/back-office/src/app/api/gmail/inbound/route.ts
  apps/back-office/src/app/api/gmail/watch/init/route.ts
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260505_bo_msg_007_gmail_watch_state.sql
Due: prettier --write, eslint --fix

[BO-MSG-008] fix: propager erreur upsert tracker + contrainte UNIQUE email_address
  apps/back-office/src/app/api/gmail/watch/init/route.ts
  supabase/migrations/20260506_bo_msg_008_gmail_watch_state_unique.sql
Due: prettier --write, eslint --fix

[BO-MSG-015] fix: masquer le BrandSwitcher sur la page Messagerie
  apps/back-office/src/components/layout/brand-switcher.tsx
Due: prettier --write, eslint --fix

[BO-MSG-008] fix: propager l'erreur upsert gmail_watch_state au lieu de la masquer
  apps/back-office/src/app/api/gmail/watch/init/route.ts
Due: prettier --write, eslint --fix

[BO-MSG-009] feat: reconnaissance auto client/organisation sur mails entrants
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260506_001_bo_msg_009_email_links.sql
Due: prettier --write, eslint --fix

[BO-MSG-009] feat: afficher le client identifie dans la liste Messagerie
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/types.ts
  packages/@verone/types/src/email-messages.ts
Due: prettier --write, eslint --fix

[BO-MSG-014] feat: enrichir email_templates pour la composition de mails
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260506_002_bo_msg_014_email_templates.sql
Due: prettier --write, eslint --fix

[BO-MSG-014] feat: CRUD complet templates emails (creation, suppression, brand/alias)
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/edit/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/nouveau/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/page.tsx
Due: prettier --write, eslint --fix

[BO-MSG-010a] feat: modal Composer/Repondre avec templates et fallback Gmail
  apps/back-office/src/app/(protected)/parametres/messagerie/ComposeMailModal.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
Due: prettier --write, eslint --fix

[BO-MSG-015] feat: onglets Messages + Mails et mini-dashboard KPI
  apps/back-office/src/app/(protected)/messages/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MailsKpiBar.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/components/messages-tabs-bar.tsx
Due: prettier --write, eslint --fix

[BO-MSG-010b] feat: envoi direct via Gmail API depuis le BO
  apps/back-office/src/app/(protected)/parametres/messagerie/ComposeMailModal.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/compose-helpers.ts
  apps/back-office/src/app/api/gmail/send/route.ts
  packages/@verone/integrations/src/gmail/auth.ts
  packages/@verone/integrations/src/gmail/client.ts
  packages/@verone/integrations/src/gmail/config.ts
Due: prettier --write, eslint --fix
