Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(orders): Éco-taxe universelle achats + ventes - Architecture réutilisable
  src/app/commandes/fournisseurs/page.tsx
  src/components/business/add-product-to-order-modal.tsx
  src/components/business/editable-order-item-row.tsx
  src/components/business/purchase-order-form-modal.tsx
  src/components/business/sales-order-form-modal.tsx
  src/hooks/use-order-items.ts
  src/types/supabase.ts
  supabase/migrations/20251031_002_add_eco_tax_universal.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

refactor(hooks): Renommer use-organisation-tabs → use-organisation-tab-counts
  src/app/contacts-organisations/customers/[customerId]/page.tsx
  src/app/contacts-organisations/partners/[partnerId]/page.tsx
  src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  src/hooks/use-organisation-tab-counts.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(database): Traçabilité multi-canal stocks (Phase 1/4)
  RAPPORT_MIGRATION_CHANNEL_TRACKING_20251031.md
  docs/database/SCHEMA-REFERENCE.md
  docs/database/migrations/20251031_channel_tracking_stocks.md
  supabase/migrations/20251031_003_add_channel_to_stock_movements.sql
  supabase/migrations/20251031_004_trigger_propagate_channel_sales.sql
Due: prettier --write

feat(hooks): Hook core use-stock-core.ts avec DI pattern (Phase 2.1/4)
  src/hooks/core/use-stock-core.ts
Due: eslint --fix, prettier --write

feat(hooks): Hook UI use-stock-ui.ts wrapper React (Phase 2.2/4)
  src/hooks/use-stock-ui.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(hooks): FSM + channel_id dans use-sales-orders.ts (Phase 2.3/4)
  src/hooks/use-sales-orders.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(validators): Validator order-status-validator.ts complet (Phase 2.4/4)
  src/lib/validators/order-status-validator.ts
Due: eslint --fix, prettier --write

feat(hooks): Phase 3.2 - Migration use-stock-ui (Vagues 1+2)
  src/hooks/metrics/use-stock-metrics.ts
  src/hooks/use-stock-dashboard.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): Ajout propriétés channel dans MovementWithDetails + MovementHistoryFilters - 5 erreurs → 0
  docs/audits/2025-11/RAPPORT-TESTS-WORKFLOW-ACHATS-2025-11-01.md
  src/app/api/purchase-receptions/validate/route.ts
  src/hooks/use-movements-history.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(variantes): Corrections anti-doublon + input libre couleur (Phase 3.5.5)
  src/app/produits/catalogue/variantes/[groupId]/page.tsx
  src/components/business/edit-product-variant-modal.tsx
  src/components/forms/create-product-in-group-modal.tsx
Due: eslint --fix, prettier --write

feat(produits): Sélection fournisseur dans modal édition produit variante
  src/components/business/edit-product-variant-modal.tsx
  src/types/variant-groups.ts
Due: eslint --fix, prettier --write

feat(catalogue): Collections page buttons identiques à Variantes (Design System V2)
  src/app/produits/catalogue/collections/page.tsx
  src/app/produits/catalogue/variantes/page.tsx
Due: eslint --fix, prettier --write

feat(stocks): Images produits dans TOUTES les pages stock + Fix TypeScript
  src/app/commandes/fournisseurs/page.tsx
  src/app/stocks/alertes/page.tsx
  src/app/stocks/analytics/page.tsx
  src/app/stocks/mouvements/components/MovementsListView.tsx
  src/app/stocks/mouvements/page.tsx
  src/app/stocks/page.tsx
  src/app/stocks/produits/page.tsx
  src/components/business/movements-table.tsx
  src/components/business/purchase-order-form-modal.tsx
  src/components/ui-v2/stock/ChannelBadge.tsx
  src/components/ui-v2/stock/ChannelFilter.tsx
  src/components/ui-v2/stock/DELIVERABLES.md
  src/components/ui-v2/stock/README.md
  src/components/ui-v2/stock/StockKPICard.tsx
  src/components/ui-v2/stock/StockMovementCard.tsx
  src/components/ui-v2/stock/index.ts
  src/components/ui-v2/stock/types.ts
  src/hooks/use-movements-history.ts
  src/hooks/use-stock-analytics.ts
  src/hooks/use-stock-dashboard.ts
  src/hooks/use-stock-optimized.ts
  src/types/supabase.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(stocks): Phase 3.5 - Simplification module stock + Page Prévisionnels
  src/app/stocks/mouvements/page.tsx
  src/app/stocks/page.tsx
  src/app/stocks/previsionnel/page.tsx
Due: eslint --fix, prettier --write

feat(stocks): Fix KPI cost_price + recalcul dynamique quantités mouvements
  src/app/stocks/mouvements/page.tsx
  src/components/business/movements-table.tsx
  src/hooks/core/use-stock-core.ts
  src/hooks/use-stock-dashboard.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(stocks): Correction KPI incorrects + Audit doublons hooks
  docs/audits/2025-11/RAPPORT-INVESTIGATION-KPI-HOOKS-2025-11-03.md
  src/hooks/use-movements-history.ts
  src/hooks/use-stock-dashboard.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(stocks): Fix mouvements - Image produit + Recalcul quantity_before/after historique
  docs/audits/2025-11/RAPPORT-FINAL-SYNCHRONISATION-STOCK-REAL-2025-11-03.md
  docs/audits/2025-11/RAPPORT-FIX-MOUVEMENTS-REELS-VS-FORECAST-2025-11-03.md
  docs/audits/2025-11/RAPPORT-VERIFICATION-KPI-FIXES-2025-11-03.md
  src/app/stocks/inventaire/page.tsx
  src/components/business/movement-details-modal.tsx
  src/components/business/movements-table.tsx
  src/components/business/product-history-modal.tsx
  src/components/forms/stock-adjustment-form.tsx
  src/hooks/use-movements-history.ts
  src/hooks/use-stock-dashboard.ts
  src/hooks/use-stock-inventory.ts
  src/hooks/use-stock-movements.ts
  supabase/migrations/20251103_001_archive_ghost_products.sql
  supabase/migrations/20251103_002_resync_stock_real_from_movements.sql
  supabase/migrations/20251103_003_trigger_unique_stock_source_of_truth.sql
  supabase/migrations/20251103_004_cleanup_null_affects_forecast.sql
  supabase/migrations/20251103_004_fix_quantity_before_after_all_movements.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(commandes): Fix mouvements stock + Page expéditions unifiée
  src/app/commandes/expeditions/page.tsx
  src/app/stocks/expeditions/page.tsx
  src/hooks/use-purchase-orders.ts
  src/hooks/use-sales-orders.ts
  src/hooks/use-sales-shipments.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(commandes): Expéditions & Réceptions - Historique + Tabs (Phase 3.8)
  scripts/cleanup-test-orders.sql
  src/app/commandes/expeditions/page.tsx
  src/app/stocks/receptions/page.tsx
  src/components/layout/app-sidebar.tsx
Due: eslint --fix, prettier --write

fix(architecture): Corrections architecture ERP + KPI stock + cleanup complet
  scripts/cleanup-database.sql
  scripts/cleanup-test-orders.sql
  src/app/stocks/expeditions/page.tsx
  src/components/layout/app-sidebar.tsx
  src/hooks/use-stock-inventory.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(hooks): Correction logique validation doublons hooks - Exit code 0
  scripts/validation/check-duplicate-hooks.ts
Due: eslint --fix, prettier --write

feat(stocks): Modal commande rapide + workflow brouillon intelligent
  src/app/stocks/alertes/page.tsx
  src/components/business/quick-purchase-order-modal.tsx
  src/hooks/use-draft-purchase-order.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(stocks): Système tracking automatique alertes stock + commandes brouillon
  src/hooks/use-stock-alerts.ts
  src/types/database.ts
  supabase/migrations/20251104_101_stock_alerts_tracking_table.sql
  supabase/migrations/20251104_102_stock_alerts_tracking_triggers.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(stocks): Filtrage alertes stock product_status='active' + Corrections TypeScript dual status
  TS_ERRORS_PLAN.md
  docs/business-rules/04-produits/catalogue/products/status-dual-system.md
  docs/database/SCHEMA-REFERENCE.md
  docs/database/enums.md
  src/app/api/google-merchant/sync-product/[id]/route.ts
  src/app/produits/catalogue/[productId]/page.tsx
  src/app/produits/catalogue/page.tsx
  src/app/produits/catalogue/variantes/[groupId]/page.tsx
  src/app/produits/catalogue/variantes/page.tsx
  src/app/stocks/alertes/page.tsx
  src/components/business/collection-products-modal.tsx
  src/components/business/product-card-v2.tsx
  src/components/business/product-card.tsx
  src/components/business/product-info-section.tsx
  src/components/business/quick-purchase-order-modal.tsx
  src/components/business/stock-alert-card.tsx
  src/components/business/stock-edit-section.tsx
  src/components/forms/add-products-to-group-modal.tsx
  src/hooks/use-archived-products.ts
  src/hooks/use-catalogue.ts
  src/hooks/use-customer-samples.ts
  src/hooks/use-product-variants.ts
  src/hooks/use-products.ts
  src/hooks/use-real-dashboard-metrics.ts
  src/hooks/use-sourcing-products.ts
  src/hooks/use-stock.ts
  src/hooks/use-variant-groups.ts
  src/hooks/use-variant-products.ts
  src/lib/google-merchant/product-mapper.ts
  src/types/supabase-generated.ts
  supabase/migrations/20251104_100_refonte_statuts_produits_stock_commercial.sql
  supabase/migrations/20251104_102_stock_alerts_tracking_triggers.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(stock): Nettoyage mouvements orphelins + triggers auto-cleanup
  supabase/migrations/20251104_105_cleanup_orphan_movements_on_order_delete.sql
Due: none

feat(stocks): Business rule Précommande/Arrêté → min_stock=0 + Suppression alertes
  src/app/actions/delete-product-alerts.ts
  src/app/produits/catalogue/[productId]/page.tsx
  src/components/business/product-info-section.tsx
  src/components/business/stock-edit-section.tsx
  src/hooks/use-inline-edit.ts
  supabase/migrations/20251104_103_fix_trigger_delete_cancelled_orders.sql
  supabase/migrations/20251104_104_cleanup_orphan_stock_alerts.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(catalogue): Affichage badges statut manuel product_status sur cartes produits
  src/components/business/product-card-v2.tsx
  src/components/business/product-card.tsx
Due: eslint --fix, prettier --write

fix(rollback): Rollback dual status system → single status + cleanup
  .claude/hooks-config.md
  supabase/migrations/20251104_999_rollback_dual_status_to_single_status.sql
Due: prettier --write

feat(ux): Refonte sections statuts produits + Audit database cleanup
  .claude/DIAGNOSTIC-ERREURS-NOTIFICATIONS-2025-11-04.md
  docs/audits/2025-11/AUDIT-DATABASE-OBSOLETE-ELEMENTS-2025-11-05.md
  docs/audits/2025-11/RAPPORT-AUDIT-TRIGGERS-COMPLET-2025-11-05.md
  docs/business-rules/04-produits/catalogue/products/status-dual-system.md
  docs/database/SCHEMA-REFERENCE.md
  docs/database/enums.md
  docs/database/triggers.md
  docs/metrics/database-triggers.md
  docs/modules/produits/catalogue/README.md
  docs/modules/produits/catalogue/hooks.md
  docs/modules/produits/catalogue/workflows.md
  src/app/commandes/fournisseurs/page.tsx
  src/app/produits/catalogue/[productId]/page.tsx
  src/components/business/completion-status-compact.tsx
  src/components/business/completion-status-section.tsx
  src/components/business/product-image-gallery.tsx
  src/components/business/product-status-compact.tsx
  src/components/business/product-status-edit-section.tsx
  src/components/business/purchase-order-form-modal.tsx
  src/components/business/stock-status-compact.tsx
  src/components/business/stock-status-section.tsx
  src/hooks/use-completion-status.ts
  src/hooks/use-product-status.ts
  src/hooks/use-stock-status.ts
  supabase/migrations/20251105_106_cleanup_obsolete_triggers_audit_complet.sql
  supabase/migrations/20251105_107_hotfix_stock_status_trigger_and_cleanup.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(database): Complete Phase 3.4 cleanup - remove availability_status_type
  src/app/api/catalogue/products/route.ts
  src/hooks/use-products.ts
  src/lib/google-merchant/product-mapper.ts
  supabase/migrations/20251105_108_fix_obsolete_views_dual_status.sql
  supabase/migrations/20251105_109_cleanup_availability_status_type_final.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

refactor(produits): Simplification radicale StockEditSection - suppression statuts obsolètes
  src/app/produits/catalogue/[productId]/page.tsx
  src/components/business/stock-edit-section.tsx
Due: eslint --fix, prettier --write

feat(stocks): Alertes basées stock prévisionnel + Design optimisé StockAlertCard
  src/components/business/stock-alert-card.tsx
  src/components/business/stock-edit-section.tsx
  supabase/migrations/20251105_110_set_min_stock_zero_default.sql
  supabase/migrations/20251105_111_fix_alerts_use_forecast_stock.sql
Due: eslint --fix, prettier --write

feat(stocks): Notifications automatiques alertes + Suppression bouton "Acquitter tout"
  src/app/stocks/alertes/page.tsx
  supabase/migrations/20251105_112_stock_alerts_to_notifications.sql
Due: eslint --fix, prettier --write

chore: Nettoyage repository - Suppression fichiers obsolètes + Archivage Phase 1-B
  .claude/DIAGNOSTIC-ERREURS-NOTIFICATIONS-2025-11-04.md
  .gitignore
  .vercel-deploy-trigger-20251029
  RAPPORT_MIGRATION_CHANNEL_TRACKING_20251031.md
  docs/archives/audits-phase-b/phase-b-testing/CORRECTIONS-ORGANISATIONS-NAME-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-1-TAXONOMIE-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-2-PRODUITS-BASE-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-3-ENRICHISSEMENT-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-3-ENRICHISSEMENT-PARTIEL.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-4-GESTION-STOCK-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-5-COMMANDES-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-6-CONSULTATIONS-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-7-VENTES-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-8-CANAUX-VENTE-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/NIVEAU-9-FINANCE-COMPLETE.md
  docs/archives/audits-phase-b/phase-b-testing/PHASE-B-RAPPORT-FINAL.md
  docs/archives/audits-phase-b/phase-b-testing/README.md
  docs/archives/audits-phase-b/phase-b-testing/SCAN-ORGANISATIONS-NAME.md
  docs/archives/design-v1/STOCK-MODULE-SIMPLIFICATION-2025.md
  docs/archives/phases/OPTIMISATIONS-PHASE-1-2025-10-23.md
  docs/archives/phases/PHASE-1-DEPLOYMENT-2025-10-23.md
  docs/audits/2025-10/AUDIT-UX-UI-VERONE-2025-10-17.md
  package.json
  supabase/migrations/20251105_113_restore_trigger_cancellation.sql
Due: prettier --write

fix(stocks): Restauration tracking commandes brouillon + Fix couleur carte alerte
  src/components/business/stock-alert-card.tsx
  supabase/migrations/20251105_114_fix_trigger_validation_strict.sql
Due: eslint --fix, prettier --write

feat(commandes): Édition inline commandes - OrderHeaderEditSection + UniversalOrderDetailsModal
  src/components/business/order-header-edit-section.tsx
  src/components/business/universal-order-details-modal.tsx
  src/hooks/use-inline-edit.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

refactor(products): Migrate ProductCard (V2 → canonical)
  src/app/commandes/clients/page.tsx
  src/app/produits/catalogue/page.tsx
  src/components/business/collection-grid.tsx
  src/components/business/draggable-product-grid.tsx
  src/components/business/product-card.tsx
  src/shared/modules/products/components/cards/ProductCard.tsx
  src/shared/modules/products/components/cards/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
