Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-PROD-001] feat: align characteristics display with edit modal and extend completion (#155)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
  packages/@verone/products/src/components/images/ProductFixedCharacteristics.tsx
  packages/@verone/products/src/components/sections/ProductInfoSection.tsx
  packages/@verone/products/src/components/sections/SupplierEditSection.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] feat: enforce app isolation middleware for all 3 apps
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/app/login/page.tsx
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
  apps/site-internet/middleware.ts
  apps/site-internet/src/lib/supabase/middleware.ts
  packages/@verone/utils/package.json
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/middleware/app-isolation.ts
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
  supabase/migrations/20260208_003_cleanup_orphan_accounts.sql
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: resolve console error "unexpected response from server"
  apps/back-office/src/components/layout/app-header.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: replace router.push with window.location.href in logout
  .claude/patterns/auth-logout.md
  apps/back-office/src/components/layout/app-header.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: resolve login spinner bug with page transition redirect
  apps/back-office/src/app/page.tsx
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[BO-PROD-001] feat: enforce app isolation middleware + fix supplier display (#156)
  .claude/patterns/auth-logout.md
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/app/login/page.tsx
  apps/back-office/src/app/page.tsx
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
  apps/site-internet/middleware.ts
  apps/site-internet/src/lib/supabase/middleware.ts
  packages/@verone/utils/package.json
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/middleware/app-isolation.ts
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
  supabase/migrations/20260208_003_cleanup_orphan_accounts.sql
Due: prettier --write, eslint --fix

[NO-TASK] feat: organize Playwright MCP screenshots in dedicated directory
  .claude/scripts/validate-playwright-screenshot.sh
  .claude/settings.json
  .gitignore
  .playwright-mcp/README.md
  .playwright-mcp/screenshots/.gitkeep
  CLAUDE.md
  package.json
  scripts/clean-screenshots.sh
Due: prettier --write

[BO-PROD-002] fix: add null guards for cost_price in 7 TypeScript files
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/ProductPricingCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/types.ts
  apps/back-office/src/app/(protected)/produits/catalogue/collections/[collectionId]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/[groupId]/page.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/components/forms/product-selector.tsx
Due: prettier --write, eslint --fix

[BO-PROD-002] feat: create 7 migrations for PMP system (Prix Moyen Pondéré)
  supabase/migrations/20260208_001_add_cost_price_stats_columns.sql
  supabase/migrations/20260208_002_create_product_purchase_history.sql
  supabase/migrations/20260208_003_drop_old_lpp_trigger.sql
  supabase/migrations/20260208_004_create_pmp_trigger.sql
  supabase/migrations/20260208_005_backfill_purchase_history.sql
  supabase/migrations/20260208_006_backfill_cost_price_stats.sql
  supabase/migrations/20260208_007_create_rpc_product_cost_details.sql
Due: none

[BO-FIN-001] feat: ecotax & fee allocation system for purchase orders
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260209_001_ecotax_fee_allocation_system.sql
Due: prettier --write, eslint --fix

[NO-TASK] refactor: migrate to single-branch multi-agent workflow
  .claude/settings.json
  CLAUDE.md
  docs/workflows/WORKTREES-QUICKSTART.md
  scripts/worktree-cleanup.sh
  scripts/worktree-create.sh
  scripts/worktree-status.sh
Due: prettier --write

[NO-TASK] fix: resolve MIDDLEWARE_INVOCATION_FAILED on Vercel Edge Runtime
  packages/@verone/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "[NO-TASK] fix: resolve MIDDLEWARE_INVOCATION_FAILED on Vercel Edge Runtime"
  packages/@verone/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "[NO-TASK] fix: resolve MIDDLEWARE_INVOCATION_FAILED on Vercel Edge Runtime" (#162)
  packages/@verone/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

[NO-TASK] fix: resolve MIDDLEWARE_INVOCATION_FAILED by using compiled JS
  packages/@verone/utils/package.json
Due: prettier --write

[NO-TASK] fix: resolve MIDDLEWARE_INVOCATION_FAILED by using compiled JS (#163)
  packages/@verone/utils/package.json
Due: prettier --write

[NO-TASK] fix: add missing pnpm-lock.yaml update for @supabase/ssr dependency
  pnpm-lock.yaml
Due: none

[NO-TASK] fix: add missing pnpm-lock.yaml update for @supabase/ssr dependency (#164)
  pnpm-lock.yaml
Due: none

[NO-TASK] fix: restore TypeScript exports for Edge Runtime compatibility
  packages/@verone/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

[NO-TASK] fix: restore TypeScript exports for Edge Runtime compatibility (#165)
  packages/@verone/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

[NO-TASK] fix: connect branch protection scripts to settings.json hooks
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: extract admin client and add try/catch to middleware
  packages/@verone/utils/package.json
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
  packages/@verone/utils/src/supabase.ts
  packages/@verone/utils/src/supabase/admin.ts
  packages/@verone/utils/src/supabase/server.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: resolve MIDDLEWARE_INVOCATION_FAILED with admin client extraction and try/catch (#166)
  .claude/settings.json
  packages/@verone/utils/package.json
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
  packages/@verone/utils/src/supabase.ts
  packages/@verone/utils/src/supabase/admin.ts
  packages/@verone/utils/src/supabase/server.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove workspace-imported middlewares, restore working patterns
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
  apps/site-internet/middleware.ts
  apps/site-internet/src/lib/supabase/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: restore working page.tsx + login, remove signOut from layout
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/app/login/page.tsx
  apps/back-office/src/app/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove blind /login→/dashboard redirect in LinkMe middleware
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[LM-AUTH-002] fix: replace loading with initializing to prevent infinite redirect loop
  apps/linkme/src/app/(main)/catalogue/page.tsx
  apps/linkme/src/app/(main)/dashboard/page.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/page.tsx
  apps/linkme/src/app/(main)/mes-produits/nouveau/page.tsx
  apps/linkme/src/app/(main)/mes-produits/page.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/app/(main)/profil/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore: prettier auto-format login page
  apps/linkme/src/app/(auth)/login/page.tsx
Due: prettier --write, eslint --fix

[LM-RLS-001] fix: add RLS policy for LinkMe affiliates to view their commissions
  supabase/migrations/20260209141330_fix_linkme_commissions_rls_affiliates.sql
Due: none

[NO-TASK] fix: correct RLS policies for LinkMe sales_orders and critical tables
  supabase/migrations/20260209_fix_sales_orders_rls_canonical_pattern.sql
Due: none

[LM-PUBLIC-001] docs: add critical routing documentation for UUID/slug detection
  docs/critical/linkme-public-selection-routing.md
Due: prettier --write

[LM-PUBLIC-001] test: add E2E protection for public selection routing
  tests/e2e/linkme-public-selection.spec.ts
Due: prettier --write, eslint --fix

[LM-PUBLIC-001] fix: restore UUID/slug detection in public selection routing
  apps/linkme/src/app/(public)/s/[id]/layout.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: use import type for type-only imports in LinkMe middleware
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] feat: enable Realtime for products table
  supabase/migrations/20260209_003_enable_realtime_products.sql
  supabase/migrations/20260209_004_fix_realtime_products_replica_identity.sql
Due: none

[NO-TASK] docs: add rule for Claude to apply migrations with MCP Supabase
  .claude/rules/database/supabase.md
Due: prettier --write

[NO-TASK] chore: update middleware isolation imports
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: resolve 'Rendered more hooks' crash — rollback breaking changes
  .claude/rules/database/supabase.md
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/app/login/page.tsx
  apps/back-office/src/app/page.tsx
  apps/linkme/src/app/(auth)/login/page.tsx
  apps/linkme/src/app/(main)/catalogue/page.tsx
  apps/linkme/src/app/(main)/dashboard/page.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/page.tsx
  apps/linkme/src/app/(main)/mes-produits/nouveau/page.tsx
  apps/linkme/src/app/(main)/mes-produits/page.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/app/(main)/profil/page.tsx
  apps/linkme/src/app/(public)/s/[id]/layout.tsx
  apps/linkme/src/middleware.ts
  docs/critical/linkme-public-selection-routing.md
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
  supabase/migrations/20260209141330_fix_linkme_commissions_rls_affiliates.sql
  supabase/migrations/20260209_003_enable_realtime_products.sql
  supabase/migrations/20260209_004_fix_realtime_products_replica_identity.sql
  supabase/migrations/20260209_fix_sales_orders_rls_canonical_pattern.sql
  tests/e2e/linkme-public-selection.spec.ts
Due: prettier --write, eslint --fix

[BO-PROD-002] feat: implement PMP system (Prix Moyen Pondéré)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/ProductPricingCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/types.ts
  apps/back-office/src/app/(protected)/produits/catalogue/collections/[collectionId]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/[groupId]/page.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/components/forms/product-selector.tsx
  supabase/migrations/20260208_001_add_cost_price_stats_columns.sql
  supabase/migrations/20260208_002_create_product_purchase_history.sql
  supabase/migrations/20260208_003_drop_old_lpp_trigger.sql
  supabase/migrations/20260208_004_create_pmp_trigger.sql
  supabase/migrations/20260208_005_backfill_purchase_history.sql
  supabase/migrations/20260208_006_backfill_cost_price_stats.sql
  supabase/migrations/20260208_007_create_rpc_product_cost_details.sql
Due: prettier --write, eslint --fix
