Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[BO-SEC-007] fix: close four policies open to anonymous visitors (applied)
  supabase/migrations/20260914190000_bo_sec_007_open_policies.sql
Due: none

[BO-CHANNELS-P7-001] feat: une seule règle « vendable » pour le site, LinkMe, les sélections, Google, Meta et les consultations (#1156)
  apps/back-office/src/app/api/consultations/associations/route.ts
  apps/back-office/src/app/api/exports/google-merchant-excel/route.ts
  apps/back-office/src/app/api/google-merchant/batch-sync/route.ts
  apps/back-office/src/app/api/google-merchant/products/[id]/visibility/route.ts
  apps/back-office/src/app/api/google-merchant/products/batch-add/route.ts
  apps/back-office/src/app/api/google-merchant/sync-product/[id]/route.ts
  apps/back-office/src/app/api/meta-commerce/products/[id]/visibility/route.ts
  apps/back-office/src/app/api/meta-commerce/products/batch-add/route.ts
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  apps/linkme/src/lib/hooks/use-linkme-public.ts
  packages/@verone/orders/src/components/modals/AddProductToOrderModal.tsx
  packages/@verone/orders/src/components/modals/sales-order-form/StandardOrderForm.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/index.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/types.ts
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/useProductSearch.ts
  packages/@verone/products/src/utils/__tests__/is-product-sellable.test.ts
  packages/@verone/products/src/utils/index.ts
  packages/@verone/products/src/utils/is-product-sellable.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260914020000_bo_channels_p7_product_is_sellable.sql
  supabase/migrations/20260914020100_bo_channels_p7_linkme_sellable.sql
  supabase/migrations/20260914020200_bo_channels_p7_public_selections_sellable.sql
  supabase/migrations/20260914020250_bo_channels_p7_sellable_anon_execute.sql
  supabase/migrations/20260914020300_bo_channels_p7_marketing_consultations_sellable.sql
  supabase/migrations/20260914020400_bo_channels_p7_site_internet_sellable.sql
Due: prettier --write, eslint --fix

[BO-PRODUCTS-P8-001] fix: reason dialog and product card actions usable on phones
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingReasonDialog.tsx
Due: prettier --write, eslint --fix

[BO-PRODUCTS-P8-001] feat: withdraw and restore products with a reason, withdrawn lines in consultations
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueBulkActionsBar.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueBulkDialogs.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueWithdrawDialog.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/_components/product-detail-header.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_components/ProductWithdrawActions.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/catalogue-archive-handler.ts
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/product-detail-header.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-bulk-actions.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-withdraw.ts
  packages/@verone/categories/src/hooks/use-catalogue-mutations.ts
  packages/@verone/categories/src/hooks/use-catalogue.ts
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductRow.tsx
  packages/@verone/consultations/src/hooks/consultations-types.ts
  packages/@verone/consultations/src/hooks/use-consultation-items.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-order-guards.test.ts
  packages/@verone/consultations/src/lib/consultation-order-guards.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/consultations/src/pdf-templates/ConsultationSummaryPdf.tsx
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/products/src/hooks/use-variant-group-archive.ts
Due: prettier --write, eslint --fix

[BO-PRODUCTS-P8-001] fix: 44px reason dialog buttons
  packages/@verone/products/src/components/sourcing/product-page/SourcingReasonDialog.tsx
Due: prettier --write, eslint --fix

[BO-SEC-007] fix: close four policies open to anonymous visitors (applied) (#1157)
  supabase/migrations/20260914190000_bo_sec_007_open_policies.sql
Due: none

[BO-PRODUCTS-P8-001] feat: retirer et restaurer un produit avec motif, lignes retirées dans les consultations (#1158)
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueBulkActionsBar.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueBulkDialogs.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueWithdrawDialog.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/_components/product-detail-header.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_components/ProductWithdrawActions.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/catalogue-archive-handler.ts
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/product-detail-header.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-bulk-actions.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-withdraw.ts
  packages/@verone/categories/src/hooks/use-catalogue-mutations.ts
  packages/@verone/categories/src/hooks/use-catalogue.ts
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductRow.tsx
  packages/@verone/consultations/src/hooks/consultations-types.ts
  packages/@verone/consultations/src/hooks/use-consultation-items.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-order-guards.test.ts
  packages/@verone/consultations/src/lib/consultation-order-guards.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/consultations/src/pdf-templates/ConsultationSummaryPdf.tsx
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingReasonDialog.tsx
  packages/@verone/products/src/hooks/use-variant-group-archive.ts
Due: prettier --write, eslint --fix

[BO-PRODUCTS-PROFIT-001] feat: show the existing profitability section in the catalogue pricing tab
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/_components/product-pricing-dashboard.tsx
  packages/@verone/products/src/components/sections/ProductProfitabilitySection.tsx
Due: prettier --write, eslint --fix

[BO-PRODUCTS-PROFIT-001] fix: show the profitability section on the served catalogue detail page
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/product-pricing-dashboard.tsx
Due: prettier --write, eslint --fix

[BO-PRODUCTS-PROFIT-001] feat: LinkMe net margin and sales by channel on product sheets
  apps/back-office/src/app/(protected)/canaux-vente/linkme/catalogue/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/AffiliateCommissionCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/index.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[id]/_components/product-pricing-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/product-pricing-dashboard.tsx
  packages/@verone/products/src/components/sections/ProductProfitabilitySection.tsx
  packages/@verone/products/src/components/sections/index.ts
  packages/@verone/products/src/components/sections/profitability/LinkMeAffiliateList.tsx
  packages/@verone/products/src/components/sections/profitability/LinkMeNetMarginCard.tsx
  packages/@verone/products/src/components/sections/profitability/LinkMeRealSalesSection.tsx
  packages/@verone/products/src/components/sections/profitability/ProfitabilityTile.tsx
  packages/@verone/products/src/components/sections/profitability/PurchaseHistoryTable.tsx
  packages/@verone/products/src/components/sections/profitability/SalesByChannelCard.tsx
  packages/@verone/products/src/components/sections/profitability/SalesHistoryTable.tsx
  packages/@verone/products/src/components/sections/profitability/profitability-format.ts
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-product-profitability.ts
  packages/@verone/products/src/hooks/use-product-sales-margin.ts
  packages/@verone/products/src/utils/__tests__/product-sales-margin.test.ts
  packages/@verone/products/src/utils/product-sales-margin.ts
Due: prettier --write, eslint --fix

[BO-PRODUCTS-CREATE-001] fix: new product wizard can pick a supplier and be saved
  packages/@verone/products/src/components/wizards/CompleteProductWizard.tsx
  packages/@verone/products/src/components/wizards/complete-product/WizardNavigationCard.tsx
  packages/@verone/products/src/components/wizards/complete-product/useCompleteProductWizard.ts
  packages/@verone/products/src/components/wizards/sections/GeneralInfoSection.tsx
  packages/@verone/products/src/components/wizards/sections/SupplierSection.tsx
  packages/@verone/products/src/hooks/use-products.ts
Due: prettier --write, eslint --fix

[BO-DASHBOARD-METRICS-001] fix: dashboard counters read columns that exist
  apps/back-office/src/app/(protected)/dashboard/actions/get-dashboard-metrics.ts
Due: prettier --write, eslint --fix

[INFRA-CI-E2E-001] fix: pass the test login variables the E2E setup actually reads
  .github/workflows/quality.yml
Due: none

[BO-PRODUCTS-PROFIT-002] feat: freeze cost price at each sale and LinkMe margin over the whole history (applied)
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260915140000_bo_products_profit_002_sales_item_cost_snapshot.sql
Due: prettier --write, eslint --fix

[BO-PERF-S3-002] feat: menu counters in one database call, drop two unused margin functions (applied)
  packages/@verone/notifications/src/hooks/use-sidebar-counts.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260915150000_bo_perf_s3_002_get_sidebar_counts.sql
  supabase/migrations/20260915160000_bo_products_profit_003_drop_unused_margin_functions.sql
Due: prettier --write, eslint --fix

[BO-PRODUCTS-PROFIT-004] feat: margins with percentage and coefficient, frozen cost, LinkMe history card, use-this-price and sales filters
  apps/back-office/src/app/(protected)/canaux-vente/linkme/analytics/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/VeroneMarginProductsTable.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/VeroneNetMarginCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/index.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-verone-margin.ts
  packages/@verone/products/src/components/sections/profitability/CostSourceBadge.tsx
  packages/@verone/products/src/components/sections/profitability/LinkMeNetMarginCard.tsx
  packages/@verone/products/src/components/sections/profitability/LinkMeRealSalesSection.tsx
  packages/@verone/products/src/components/sections/profitability/SalesByChannelCard.tsx
  packages/@verone/products/src/components/sections/profitability/SalesHistoryFiltersBar.tsx
  packages/@verone/products/src/components/sections/profitability/SalesHistoryTable.tsx
  packages/@verone/products/src/components/sections/profitability/UsePriceDialog.tsx
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-product-sales-margin.ts
  packages/@verone/products/src/hooks/use-top-products.ts
  packages/@verone/products/src/hooks/use-update-target-price.ts
  packages/@verone/products/src/utils/__tests__/product-sales-margin.test.ts
  packages/@verone/products/src/utils/product-sales-margin-summaries.ts
  packages/@verone/products/src/utils/product-sales-margin.ts
Due: prettier --write, eslint --fix

[BO-REFACTOR-RL-001] refactor: split files over 400 lines and make catalogue and product sheet usable on phones
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/performance-analytics-aggregations.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/performance-analytics-fetchers.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-performance-analytics.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-performance-navigation.ts
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueHeader.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueTabs.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueToolbar.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/_pricing-blocks/ChannelPricingCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/_pricing-blocks/ChannelPricingDetailed.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/_pricing-blocks/ChannelPricingRow.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/_pricing-blocks/PurchaseOrdersTable.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/_pricing-blocks/channel-pricing-helpers.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/_pricing-blocks/use-channel-pricing-editor.ts
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/hooks/fetch-product.ts
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/hooks/use-product-channel-pricing.ts
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/hooks/use-product-detail-derived.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/hooks/use-product-detail.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/_components/product-detail-header.tsx
  packages/@verone/ui/src/components/ui/tabs-navigation.tsx
Due: prettier --write, eslint --fix

[BO-CLEANUP-001] chore: remove dead sample validation and sourcing components
  apps/back-office/src/components/business/edit-sourcing-product-modal.tsx
  apps/back-office/src/components/business/quick-sourcing-modal.tsx
  apps/back-office/src/components/business/sample-validation-simple.tsx
  apps/back-office/src/components/business/sourcing-quick-form.tsx
  packages/@verone/products/src/components/sourcing/client-assignment-selector.tsx
  packages/@verone/products/src/components/wizards/ProductCreationWizard.tsx
  packages/@verone/products/src/components/wizards/index.ts
  packages/@verone/products/src/hooks/sourcing/index.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-mutations.ts
  packages/@verone/ui-business/src/components/validation/SampleOrderApprovalDialog.tsx
  packages/@verone/ui-business/src/components/validation/SampleOrderCard.tsx
  packages/@verone/ui-business/src/components/validation/SampleOrderItemRow.tsx
  packages/@verone/ui-business/src/components/validation/SampleOrderValidation.tsx
  packages/@verone/ui-business/src/components/validation/SampleOrderValidationHeader.tsx
  packages/@verone/ui-business/src/components/validation/SampleValidationSimple.tsx
  packages/@verone/ui-business/src/components/validation/index.ts
  packages/@verone/ui-business/src/components/validation/sample-order-validation.api.ts
  packages/@verone/ui-business/src/components/validation/sample-order-validation.helpers.tsx
  packages/@verone/ui-business/src/components/validation/sample-order-validation.types.ts
  packages/@verone/ui-business/src/index.ts
Due: prettier --write, eslint --fix

[BO-SEC-004] fix: close seven functions without public caller to anonymous visitors (applied)
  scripts/supabase-advisors-baseline.json
  supabase/migrations/20260915170000_bo_sec_004_lot7_close_unused_anon_functions.sql
Due: prettier --write

[BO-PRODUCTS-PROFIT-004] docs: plan, dev and review reports for the margins and catalogue work
  docs/scratchpad/dev-plan-2026-09-15-BO-PRODUCTS-PROFIT-001.md
  docs/scratchpad/dev-report-2026-09-15-BO-PRODUCT-SHEET-MOBILE-001.md
  docs/scratchpad/dev-report-2026-09-15-BO-PRODUCTS-PROFIT-001.md
  docs/scratchpad/dev-report-2026-09-15-BO-PRODUCTS-PROFIT-002.md
  docs/scratchpad/dev-report-2026-09-15-BO-PRODUCTS-PROFIT-004.md
  docs/scratchpad/dev-report-2026-09-15-BO-REFACTOR-R-L-001.md
  docs/scratchpad/review-report-2026-09-15-BLOCS-A-C-L-N-P-R.md
Due: prettier --write

[BO-AUTH-310-001] fix: redirect protected pages without session to login and let the main column shrink on phones
  apps/back-office/src/components/layout/auth-wrapper.tsx
Due: prettier --write, eslint --fix

[INFRA-RULES-040] docs: suspend auto-merge while the repository is private on GitHub Free
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[INFRA-CI-FKDRIFT-001] fix: FK drift checker reads inline references after PRIMARY KEY
  scripts/db-drift-check.py
Due: none

[INFRA-RULES-040] docs: suspend auto-merge while the repository is private on GitHub Free (#1161)
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[INFRA-E2E-002] fix: keep the test password out of Playwright failure reports
  playwright.config.ts
  tests/auth.setup.ts
Due: prettier --write, eslint --fix

[INFRA-E2E-002] fix: keep the test password out of Playwright failure reports (#1163)
  playwright.config.ts
  tests/auth.setup.ts
Due: prettier --write, eslint --fix

[INFRA-RULES-041] docs: fenêtre de mise en ligne hors heures ouvrées
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[BO-PERF-S3-003] perf: one shared menu count query instead of ten duplicates
  packages/@verone/notifications/src/hooks/use-consultations-count.ts
  packages/@verone/notifications/src/hooks/use-expeditions-pending-count.ts
  packages/@verone/notifications/src/hooks/use-form-submissions-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-approvals-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-missing-info-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-pending-count.ts
  packages/@verone/notifications/src/hooks/use-menu-count.ts
  packages/@verone/notifications/src/hooks/use-orders-pending-count.ts
  packages/@verone/notifications/src/hooks/use-products-incomplete-count.ts
  packages/@verone/notifications/src/hooks/use-sidebar-counts.ts
  packages/@verone/notifications/src/hooks/use-stock-alerts-count.ts
  packages/@verone/notifications/src/hooks/use-transactions-unreconciled-count.ts
  packages/@verone/stock/src/hooks/index.ts
  packages/@verone/stock/src/hooks/use-stock-alerts-count.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-COMPLETUDE-001] fix: expliquer et débloquer échantillon + validation catalogue
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductActions.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
  packages/@verone/common/src/hooks/use-inline-edit.ts
  packages/@verone/products/src/components/cards/SourcingProductEditCard/SourcingProductDetailsSection.tsx
  packages/@verone/products/src/components/cards/SourcingProductEditCard/SourcingProductInfoSection.tsx
  packages/@verone/products/src/components/cards/SourcingProductEditCard/index.tsx
  packages/@verone/products/src/components/cards/SourcingProductEditCard/types.ts
  packages/@verone/products/src/components/sourcing/product-page/SourcingActionBar.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingCompletenessCard.tsx
  packages/@verone/products/src/components/sourcing/product-page/index.ts
  packages/@verone/products/src/hooks/sourcing/sourcing-rpc-error.ts
  packages/@verone/products/src/hooks/sourcing/types.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-fetch.ts
  packages/@verone/products/src/utils/__tests__/sourcing-completeness.test.ts
  packages/@verone/products/src/utils/__tests__/sourcing-stage.test.ts
  packages/@verone/products/src/utils/index.ts
  packages/@verone/products/src/utils/sourcing-completeness.ts
  packages/@verone/products/src/utils/sourcing-stage.ts
  supabase/migrations/20260916020000_bo_sourcing_completude_001.sql
Due: prettier --write, eslint --fix

[BO-SOURCING-SAMPLE-002] feat: commander plusieurs échantillons chez un même fournisseur
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingBulkActionsBar.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductCard.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductList.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductRow.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
  packages/@verone/customers/src/hooks/use-customer-samples.ts
  packages/@verone/products/src/components/sourcing/SampleOrderPickerDialog.tsx
  packages/@verone/products/src/components/sourcing/index.ts
  packages/@verone/products/src/components/sourcing/product-page/SampleOrderCard.tsx
  packages/@verone/products/src/components/sourcing/product-page/index.ts
  packages/@verone/products/src/hooks/sourcing/index.ts
  packages/@verone/products/src/hooks/sourcing/use-bulk-sample-order.ts
  packages/@verone/products/src/hooks/sourcing/use-sample-draft-order.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-COMPLETUDE-001] chore: types régénérés après migration + rapport
  docs/scratchpad/dev-report-2026-09-16-BO-SOURCING-COMPLETUDE-001.md
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-COMPLETUDE-001] docs: preuves d'essai à l'écran et écart horaire signalé
  docs/scratchpad/dev-report-2026-09-16-BO-SOURCING-COMPLETUDE-001.md
Due: prettier --write

[BO-SOURCING-COMPLETUDE-001] fix: aligner les types sur la version d'outil de la CI
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-ETAPES-003] feat: les 4 étapes du sourcing deviennent opérantes
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/use-sourcing-detail-page.ts
  docs/scratchpad/dev-report-2026-09-16-BO-SOURCING-ETAPES.md
  docs/scratchpad/prompt-2026-09-16-BO-FABRICATION-001-audit.md
  docs/scratchpad/review-report-2026-09-16-BO-SOURCING-A1-A4.md
  packages/@verone/common/src/hooks/inline-edit-persist.ts
  packages/@verone/common/src/hooks/use-inline-edit.ts
  packages/@verone/products/src/components/sourcing/index.ts
  packages/@verone/products/src/components/sourcing/notebook/SourcingCandidateSuppliers.tsx
  packages/@verone/products/src/components/sourcing/notebook/SourcingPhotos.tsx
  packages/@verone/products/src/components/sourcing/notebook/SourcingPriceHistory.tsx
  packages/@verone/products/src/components/sourcing/notebook/index.ts
  packages/@verone/products/src/components/sourcing/product-page/RfqTemplateDialog.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingJournal.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingOfferForm.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingOfferLines.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingOffersComparison.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingOffersSection.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingStageHeader.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingStagePanel.tsx
  packages/@verone/products/src/components/sourcing/product-page/SourcingTargetPriceField.tsx
  packages/@verone/products/src/components/sourcing/product-page/index.ts
  packages/@verone/products/src/hooks/sourcing/index.ts
  packages/@verone/products/src/hooks/sourcing/types.ts
  packages/@verone/products/src/hooks/sourcing/use-adopt-offer.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-notebook.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-pricing.ts
  packages/@verone/products/src/utils/__tests__/sourcing-offer-cost.test.ts
  packages/@verone/products/src/utils/__tests__/sourcing-stage-playbook.test.ts
  packages/@verone/products/src/utils/index.ts
  packages/@verone/products/src/utils/sourcing-offer-cost.ts
  packages/@verone/products/src/utils/sourcing-stage-playbook.ts
  supabase/migrations/20260916190000_bo_sourcing_offres_004.sql
Due: prettier --write, eslint --fix

[INFRA-RULES-041] docs: fenêtre de mise en ligne hors heures ouvrées (#1165)
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[BO-PERF-S3-003] perf: one shared menu count query instead of ten duplicates (#1166)
  packages/@verone/notifications/src/hooks/use-consultations-count.ts
  packages/@verone/notifications/src/hooks/use-expeditions-pending-count.ts
  packages/@verone/notifications/src/hooks/use-form-submissions-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-approvals-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-missing-info-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-pending-count.ts
  packages/@verone/notifications/src/hooks/use-menu-count.ts
  packages/@verone/notifications/src/hooks/use-orders-pending-count.ts
  packages/@verone/notifications/src/hooks/use-products-incomplete-count.ts
  packages/@verone/notifications/src/hooks/use-sidebar-counts.ts
  packages/@verone/notifications/src/hooks/use-stock-alerts-count.ts
  packages/@verone/notifications/src/hooks/use-transactions-unreconciled-count.ts
  packages/@verone/stock/src/hooks/index.ts
  packages/@verone/stock/src/hooks/use-stock-alerts-count.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-OFFRES-004] chore: regenerate types after the offers migration
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-ETAPES-003] fix: accord singulier dans le message au fournisseur
  packages/@verone/products/src/components/sourcing/product-page/RfqTemplateDialog.tsx
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
