Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

chore(docs): update GITHUB-RULESETS for multi-app Vercel checks
  docs/governance/GITHUB-RULESETS.md
Due: prettier --write

docs(audit): add audit pack v2 with postmortem
  docs/audit/APP_AUDIT_BACKOFFICE.md
  docs/audit/APP_AUDIT_LINKME.md
  docs/audit/DB_AUDIT_SUPABASE.md
  docs/audit/DEV_READINESS.md
  docs/audit/NEXT_ACTIONS.md
  docs/audit/POSTMORTEM_TESTS.md
  docs/audit/TEST_STRATEGY.md
Due: prettier --write

feat(sku): implement Verone 2025 SKU format XXX-0000
  apps/back-office/src/app/actions/sku.ts
  packages/@verone/products/src/components/modals/ProductCreationModal.tsx
  packages/@verone/products/src/components/sections/IdentifiersEditSection.tsx
  packages/@verone/products/src/utils/sku-generator.ts
Due: prettier --write, eslint --fix

feat(catalogue): add search clear and reset filters buttons
  apps/back-office/src/app/produits/catalogue/page.tsx
  packages/@verone/categories/src/hooks/use-catalogue.ts
Due: prettier --write, eslint --fix

fix: add missing CatalogueFilterPanel component
  apps/back-office/src/components/catalogue/CatalogueFilterPanel.tsx
Due: prettier --write, eslint --fix

fix: add global TooltipProvider to prevent auth-state race condition
  apps/back-office/src/app/layout.tsx
Due: prettier --write, eslint --fix

chore: nettoyage repo et protection tokens Playwright MCP
  .claude/settings.json
  .gitignore
  apps/back-office/src/app/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-dashboard.ts
  apps/back-office/src/app/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/types.ts
  docs/assets/Logo Pokawa 2025.png
  docs/audit/DOCS_DRIFT_MAP.md
  docs/audits/2025-10/PLAN-CLEANUP-DOUBLONS-VARIANTS.sql
  docs/audits/2025-11/backups/create-product-in-group-modal-LATEST.tsx
  docs/audits/2025-11/scripts/COMMANDES-RECUPERATION-MODAL.sh
  docs/logo_verone_verone_branco_Editado.png
  docs/logo_verone_verone_simbolo_branco.png
  packages/@verone/categories/src/components/filters/CategoryTreeFilter.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderFormModal.tsx.backup
  reports/AUDIT-REPO-2025-12-15.md
  reports/README.md
  reports/repo-audit-report.json
  reports/repo-audit-report.md
  scripts/import-products.mjs
  supabase/migrations/20251216_001_taux_de_marque_formula.sql
  supabase/migrations/20251216_002_linkme_orders_performance_view.sql
  supabase/migrations/20251216_003_fix_linkme_orders_margins_source.sql
Due: prettier --write, eslint --fix

docs(commands): mise à jour commit.md et pr.md avec règles strictes
  .claude/commands/commit.md
  .claude/commands/pr.md
Due: prettier --write

fix(eslint): exclude Next.js generated files from linting
  .eslintignore
  .eslintrc.json
Due: prettier --write

fix(ci): patch 4 workflows to fix GitHub Actions failures
  .github/workflows/audit.yml
  .github/workflows/database-audit.yml
  .github/workflows/deploy-production.yml
  .github/workflows/typescript-quality.yml
Due: none

fix(ci): patch 3 workflows - permissions + paths + mkdir placement
  .github/workflows/audit.yml
  .github/workflows/database-audit.yml
  .github/workflows/pr-validation.yml
Due: none

fix(ci): database-audit.yml - robust directory check before comment
  .github/workflows/database-audit.yml
Due: none

chore(docs): clean .claude/contexts - remove obsolete Phase 1-3 paths
  .claude/contexts/README.md
  .claude/contexts/deployment.md
  .claude/contexts/design-system.md
  .claude/contexts/monorepo.md
  docs/_archive/kpi-context-2025-10.md
Due: prettier --write

chore(devx): lighten pre-push for Fast Lane workflow
  .husky/pre-push
Due: none

chore(claude): align agents fast/safe + fix frontmatter
  .claude/agents/action.md
  .claude/agents/database-architect.md
  .claude/agents/explore-codebase.md
  .claude/agents/frontend-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/agents/verone-orchestrator.md
Due: prettier --write

fix(mcp): stabilize Playwright MCP with wildcard + usage rules
  .claude/agents/frontend-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

fix(mcp): align permissions with Claude Code docs (no wildcards)
  .claude/commands/senior-stabilization-protocol.md
  .claude/contexts/database.md
  .claude/settings.json
  .claude/workflows/universal-workflow-checklist.md
Due: prettier --write

fix(mcp): restore wildcard permissions for MCP servers
  .claude/README.md
  .claude/settings.json
Due: prettier --write

chore(docs): consolidate audits into docs/archives
  docs/archives/audit-2025-12/ANALYSE-LINKME-MVP-BUBBLE-2025-12-01.md
  docs/archives/audit-2025-12/AUDIT_FINDINGS.md
  docs/archives/audit-2025-12/AUDIT_SUMMARY.md
  docs/archives/audit-2025-12/CONTEXT_PACK_FOR_GPT.md
  docs/archives/audit-2025-12/DB_SCHEMA_SUMMARY.md
  docs/archives/audit-2025-12/DEPLOYMENT_TRUTH.md
  docs/archives/audit-2025-12/DOCS_DRIFT_MAP.md
  docs/archives/audit-2025-12/PR_PLAN.md
  docs/archives/audits-2025-11/ANALYSE-ECO-TAXE-NIVEAU-COMMANDE-2025-11-06.md
  docs/archives/audits-2025-11/ANALYSE-UI-UX-2025-11-11.md
  docs/archives/audits-2025-11/ARCHITECTURE-COMPOSANTS-GENERIQUES-V2.md
  docs/archives/audits-2025-11/AUDIT-COMPLETE-ORDERS-STOCK-LIFECYCLE-2025-11-28.md
  docs/archives/audits-2025-11/EXPLORATION-NOTIFICATIONS-SYSTEM-2025-11-27.md
  docs/archives/audits-2025-11/EXPLORATION-STOCKS-INVENTAIRE-2025-11-26.md
  docs/archives/audits-2025-11/GUIDE-DESIGN-SYSTEM-V2.md
  docs/archives/audits-2025-11/PLAN-REFACTORISATION-COMPOSANTS-2025.md
  docs/archives/audits-2025-11/PLAN-TESTS-TRIGGERS-STOCK-ALERTES-2025-11-20.md
  docs/archives/audits-2025-11/RAPPORT-AUDIT-COMPLET-POST-MIGRATION-FINAL.md
  docs/archives/audits-2025-11/RAPPORT-EXECUTION-PHASE1-PHASE2.md
  docs/archives/audits-2025-11/RAPPORT-SETUP-PRETTIER-ESLINT-SECURITE-2025-11-07.md
  docs/archives/audits-2025-11/README.md
  docs/archives/kpi-context-2025-10.md
  docs/business-rules/13-canaux-vente/PRESENTATION-LINKME-FIGMA.md
Due: prettier --write

docs(architecture): canonicalize current/02-architecture.md
  docs/README.md
  docs/archives/merged-2025-12/architecture/README.md
  docs/archives/merged-2025-12/architecture/TURBOREPO-FINAL-CHECKLIST.md
  docs/archives/merged-2025-12/architecture/tech-stack.md
  docs/current/02-architecture.md
Due: prettier --write

docs(database): canonicalize current/03-database.md
  docs/README.md
  docs/current/03-database.md
Due: prettier --write

docs(auth): canonicalize current/04-auth.md
  docs/README.md
  docs/current/04-auth.md
Due: prettier --write

docs(deployment): canonicalize current/07-deployment.md
  docs/README.md
  docs/archives/merged-2025-12/deployment/DEPLOYMENT.md
  docs/current/07-deployment.md
Due: prettier --write

docs: complete canonization of all 12 current docs
  docs/README.md
  docs/current/01-quickstart.md
  docs/current/05-api.md
  docs/current/06-business-rules.md
  docs/current/08-integrations.md
  docs/current/09-design-system.md
  docs/current/10-testing.md
  docs/current/11-monitoring.md
  docs/current/12-security.md
Due: prettier --write

chore(docs): final cleanup - 262 to 93 files (64% reduction)
  docs/.templates/metric-documentation.md
  docs/.templates/modules/README.md
  docs/.templates/modules/architecture.md
  docs/.templates/modules/hooks.md
  docs/.templates/modules/testing.md
  docs/.templates/roles-permissions-matrix.md
  docs/.templates/section-readme.md
  docs/CHANGELOG.md
  docs/CONVENTIONS.md
  docs/business-rules/13-canaux-vente/README.md
  docs/business-rules/98-ux-ui/SIDEBAR-UX-RULES-2025.md
  docs/business-rules/README.md
  docs/guides/07-troubleshooting/APPLY-NOTIFICATIONS-UNICODE-FIX.md
  docs/guides/08-best-practices/maintenance-claude-code-2025.md
  docs/monitoring/console-error-tracking-2025.md
  docs/security/CODE-PROTECTION-STRATEGIES.md
  docs/workflows/partial-shipments-receptions.md
Due: prettier --write

chore(docs): deep cleanup - fix all broken refs (84 files final)
  docs/README.md
  docs/api/README.md
  docs/auth/README.md
  docs/database/README.md
  docs/database/migrations/README.md
  docs/guides/02-development/README-TEMPLATE-TESTS.md
  docs/guides/02-development/TEMPLATE-PLAN-TESTS-MODULE.md
  docs/guides/07-troubleshooting/GUIDE-OPTIMISATION-TOKENS-2025-10-14.md
  docs/troubleshooting/README.md
  docs/workflows/README.md
Due: prettier --write

feat(docs): add docs governance system with auto-archive workflow
  .github/workflows/docs-governance.yml
  .husky/pre-commit
  .markdownlint.json
  tools/scripts/docs-audit-apply.py
  tools/scripts/docs-audit-v4.sh
Due: prettier --write

fix: correct audit workflow IDs, script paths and settings permissions
  .claude/settings.json
  .github/workflows/audit.yml
  package.json
Due: prettier --write

fix(linkme): resolve auth loop with view fix and context deps
  apps/linkme/playwright.config.mjs
  apps/linkme/src/components/layout/Header.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/tests/auth-stability.spec.ts
  apps/linkme/tests/smoke-linkme.spec.mjs
  supabase/migrations/20251218_001_fix_v_linkme_users_view.sql
Due: prettier --write, eslint --fix

feat(linkme): implement orders page with accordion and tax_rate
  apps/linkme/src/app/ventes/page.tsx
  apps/linkme/src/hooks/use-linkme-orders.ts
  supabase/migrations/20251218_006_add_tax_rate_to_linkme_items.sql
Due: prettier --write, eslint --fix

feat(linkme): add shipping costs, tax subtotals, responsive layout
  apps/linkme/src/app/ventes/page.tsx
  apps/linkme/src/hooks/use-linkme-orders.ts
  supabase/migrations/20251218_007_add_shipping_to_linkme_orders.sql
Due: prettier --write, eslint --fix

feat(linkme): ultra-compact order card design inspired by Dribbble
  apps/linkme/src/app/ventes/page.tsx
Due: prettier --write, eslint --fix

fix(linkme): migrate to SSR-safe Supabase client, add profile page
  apps/linkme/src/app/[affiliateSlug]/[selectionSlug]/page.tsx
  apps/linkme/src/app/profil/page.tsx
  apps/linkme/src/components/auth/UserMenu.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/hooks/use-linkme-orders.ts
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/lib/hooks/use-affiliate-commissions.ts
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  apps/linkme/src/lib/hooks/use-linkme-public.ts
  apps/linkme/src/lib/hooks/use-payment-requests.ts
  apps/linkme/src/lib/hooks/use-user-profile.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
  apps/linkme/src/lib/schemas/profile.schema.ts
  apps/linkme/src/lib/supabase.ts
  supabase/migrations/20251218_006_rpc_update_user_contact.sql
Due: prettier --write, eslint --fix

refactor(claude): optimize CLAUDE.md v6.0 following Anthropic best practices
  .claude/README.md
  .claude/agents/explore-codebase.md
  .claude/agents/frontend-architect.md
  .claude/commands/epct.md
  .claude/commands/implement.md
  .claude/commands/oneshot.md
  .claude/contexts/database.md
  .claude/contexts/deployment.md
  .claude/workflows/PDCA.md
  .claude/workflows/universal-workflow-checklist.md
  CLAUDE.md
Due: prettier --write

fix(linkme): add pending validation filter and fix RLS delete policy
  apps/back-office/src/app/canaux-vente/linkme/commandes/page.tsx
  apps/linkme/src/app/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/app/commandes/page.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  supabase/migrations/20251219_005_add_delete_policy_sales_orders.sql
  supabase/migrations/20251219_006_fix_linkme_orders_rpc_filter.sql
Due: prettier --write, eslint --fix
