Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[NO-TASK] perf: use global ccusage for faster statusline (eliminate bun x overhead)
  .claude/scripts/statusline.sh
Due: none

[NO-TASK] docs: document statusline hybrid fix (absolute path + global ccusage)
  .claude/memories/statusline-fix-solution-hybride-2026-01.md
Due: prettier --write

[NO-TASK] fix: restrict Vercel auto-deployments to main branch only
  apps/linkme/vercel.json
  vercel.json
Due: prettier --write

[NO-TASK] fix: restrict Vercel auto-deployments to main branch only (#88)
  .claude/memories/statusline-fix-solution-hybride-2026-01.md
  .claude/scripts/statusline.sh
  .claude/settings.json
  apps/back-office/.vercel-trigger
  apps/linkme/vercel.json
  scripts/repo-audit.sh
  scripts/repo-control.sh
  scripts/repo-doctor.sh
  scripts/repo-hygiene.sh
  scripts/reports/docs-index.json
  vercel.json
Due: prettier --write

[NO-TASK] chore: move .claude/memories to proper locations
  .claude/README.md
  .claude/audits/.gitignore
  .claude/rules/database/supabase.md
  .claude/rules/frontend/nextjs.md
  .claude/rules/general.md
  .claude/scripts/statusline.sh.bak
  CLAUDE.md
  docs/archive/2026-01/AUDIT_GLOBE_LINKME_2026-01-16.md
  docs/archive/2026-01/DEPLOYMENT_TRUTH.md
  docs/archive/2026-01/VALIDATION_FIXES_2026-01-16.md
  docs/archive/2026-01/VERCEL_DEPLOY_FIX_2026-01-16.md
  docs/archive/2026-01/claude/agents-restauration.md
  docs/claude/STATUSLINE.md
  scripts/reports/health-report.html
  scripts/reports/repo-audit-report.json
  scripts/reports/repo-doctor-report.md
  supabase/migrations/20260122_001_restore_v_linkme_users_security_definer.sql
  tests/e2e/linkme-org-independante-workflow.spec.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: add AGENTS.md + improve onboarding
  .editorconfig
  .nvmrc
  AGENTS.md
  CLAUDE.md
  README.md
  scripts/tests/test-form-api.sh
Due: prettier --write

[NO-TASK] feat: restore PreToolUse hook with branch protection
  .claude/settings.json
Due: prettier --write

[NO-TASK] chore: professional AGENTS.md based on deep audit
  .claude/settings.json
  AGENTS.md
Due: prettier --write

[NO-TASK] feat: implement maximum protection for main branch
  .claude/audits/protection-main-audit-2026-01-21.md
  .claude/audits/protection-main-implementation-2026-01-21.md
  .claude/settings.json
Due: prettier --write

[NO-TASK] refactor: simplify main branch protection (remove friction)
  .claude/MANUAL_MODE.md
  .claude/audits/protection-main-simplified-2026-01-21.md
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: complete LinkMe margin audit and SSOT migration
  apps/linkme/e2e/margin-calculation.spec.ts
  apps/linkme/src/app/(main)/catalogue/components/ProductCard.tsx
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/app/(main)/page.tsx
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/components/landing/Features.tsx
  apps/linkme/src/components/landing/HowItWorks.tsx
  apps/linkme/src/components/landing/Marketplace.tsx
  apps/linkme/src/components/landing/PricingModels.tsx
  apps/linkme/src/components/landing/index.ts
  apps/linkme/src/components/selection/EditMarginModal.tsx
  apps/linkme/src/lib/hooks/use-affiliate-commission.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
  docs/current/linkme-storage.md
  docs/current/linkme-traffic-lights.md
  docs/current/linkme-webhooks.md
  docs/current/serena/linkme-commissions.md
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/linkme/__tests__/margin-calculation.test.ts
  packages/@verone/utils/src/linkme/constants.ts
  packages/@verone/utils/src/linkme/index.ts
  scripts/verify-margin-consistency.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: complete SSOT migration for 4 remaining files
  apps/linkme/src/app/(main)/commandes/components/EditOrderModal.tsx
  apps/linkme/src/app/(main)/commandes/components/OrderDetailModal.tsx
  apps/linkme/src/app/(main)/mes-produits/page.tsx
  apps/linkme/src/components/landing/PricingModels.tsx
Due: prettier --write, eslint --fix

[NO-TASK] feat: migrate E2E tests to dedicated package + fix docs
  docs/archive/2026-01-21/linkme-e2e-old/approval-workflow.spec.ts
  docs/archive/2026-01-21/linkme-e2e-old/data-consistency.spec.ts
  docs/archive/2026-01-21/linkme-e2e-old/data-isolation.spec.ts
  docs/archive/2026-01-21/linkme-e2e-old/fixtures/auth.ts
  docs/archive/2026-01-21/linkme-e2e-old/fixtures/database.ts
  docs/archive/2026-01-21/linkme-e2e-old/fixtures/test-data.ts
  docs/archive/2026-01-21/linkme-e2e-old/global-setup.ts
  docs/archive/2026-01-21/linkme-e2e-old/global-teardown.ts
  docs/archive/2026-01-21/linkme-e2e-old/margin-calculation.spec.ts
  docs/archive/2026-01-21/linkme-e2e-old/order-form-unified.spec.ts
  docs/archive/2026-01-21/linkme-e2e-old/product-creation.spec.ts
  docs/archive/2026-01-21/linkme-e2e-old/product-editing-restrictions.spec.ts
  docs/archive/2026-01-21/linkme-e2e-old/smoke-linkme.spec.ts
  docs/archive/2026-01-21/playwright.config.mjs
  packages/e2e-linkme/CHECKLIST.md
  packages/e2e-linkme/MIGRATION.md
  packages/e2e-linkme/QUICKSTART.md
  packages/e2e-linkme/README.md
  packages/e2e-linkme/fixtures/auth.fixture.ts
  packages/e2e-linkme/fixtures/database.fixture.ts
  packages/e2e-linkme/fixtures/index.ts
  packages/e2e-linkme/fixtures/test-data.fixture.ts
  packages/e2e-linkme/global-setup.ts
  packages/e2e-linkme/global-teardown.ts
  packages/e2e-linkme/migrate-tests.sh
  packages/e2e-linkme/package.json
  packages/e2e-linkme/playwright.config.ts
  packages/e2e-linkme/tests/approval-workflow/workflow.spec.ts
  packages/e2e-linkme/tests/data-consistency/bo-linkme-sync.spec.ts
  packages/e2e-linkme/tests/product-management/creation.spec.ts
  packages/e2e-linkme/tests/product-management/editing-restrictions.spec.ts
  packages/e2e-linkme/tests/security/data-isolation.spec.ts
  packages/e2e-linkme/tsconfig.json
  packages/e2e-linkme/validate-migration.sh
  turbo.json
Due: prettier --write, eslint --fix

[NO-TASK] docs: reference QUICKSTART.md in critical files
  CLAUDE.md
  docs/current/serena/INDEX.md
  docs/current/serena/e2e-tests-quickstart.md
  packages/e2e-linkme/README.md
Due: prettier --write

[BO-FIN] step 1: add workflow_status migration
  supabase/migrations/20260122_003_invoice_workflow_statuses.sql
Due: none

[BO-FIN] step 2: add validate-to-draft endpoint
  apps/back-office/src/app/api/qonto/invoices/[id]/validate-to-draft/route.ts
Due: prettier --write, eslint --fix

[BO-FIN] step 3: add finalize-workflow endpoint
  apps/back-office/src/app/api/qonto/invoices/[id]/finalize-workflow/route.ts
Due: prettier --write, eslint --fix

[BO-FIN] step 4: add by-order endpoint
  apps/back-office/src/app/api/qonto/invoices/by-order/[orderId]/route.ts
Due: prettier --write, eslint --fix

[BO-FIN] step 5: block PATCH if invoice finalized
  apps/back-office/src/app/api/qonto/invoices/[id]/route.ts
Due: prettier --write, eslint --fix

[BO-FIN] step 6: create InvoicesSection component
  apps/back-office/src/app/(protected)/commandes/clients/[id]/InvoicesSection.tsx
Due: prettier --write, eslint --fix

[BO-FIN] step 7: integrate InvoicesSection in order detail page
  apps/back-office/src/app/(protected)/commandes/clients/[id]/page.tsx
Due: prettier --write, eslint --fix

[BO-FIN] step 8: complete invoice workflow implementation
  docs/audits/2026-01-21-implementation-gaps.md
  docs/audits/2026-01-21-sql-gaps.md
  docs/audits/2026-01-21-todo-checklist.md
Due: prettier --write

[BO-FIN] docs: add complete implementation guide
  docs/current/finance/invoice-workflow-implementation.md
Due: prettier --write

[BO-FIN] chore: add dev server ports rule
  .claude/rules/dev/servers.md
Due: prettier --write

[BO-FIN] feat: add credit note creation from finalized invoice
  packages/@verone/finance/src/components/InvoiceDetailModal.tsx
Due: prettier --write, eslint --fix

[BO-FIN] feat: enrich invoice details API with related documents
  apps/back-office/src/app/api/qonto/invoices/[id]/details/route.ts
Due: prettier --write, eslint --fix

[BO-FIN] feat: complete invoice workflow with sync and quote generation
  CLAUDE.md
  apps/back-office/src/app/(protected)/commandes/clients/[id]/InvoicesSection.tsx
  apps/back-office/src/app/(protected)/factures/page.tsx
  apps/back-office/src/app/api/qonto/invoices/[id]/finalize-workflow/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/sync-to-order/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/validate-to-draft/route.ts
  apps/back-office/src/app/api/qonto/invoices/route.ts
  apps/back-office/src/app/api/qonto/quotes/from-invoice/[invoiceId]/route.ts
  packages/@verone/finance/src/components/InvoiceCreateFromOrderModal.tsx
  packages/@verone/finance/src/components/index.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/types/src/database.types.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260122_004_qonto_invoice_columns.sql
  supabase/migrations/20260122_005_local_pdf_storage.sql
  supabase/migrations/20260122_006_invoice_sync_columns.sql
Due: prettier --write, eslint --fix

[BO-FIN] fix: enrich invoice API with deleted_at field
  apps/back-office/src/app/api/qonto/invoices/route.ts
Due: prettier --write, eslint --fix

[BO-FIN] feat: implement invoice archive system with soft delete
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
  apps/back-office/src/app/(protected)/factures/components/ActionCell.tsx
  apps/back-office/src/app/(protected)/factures/page.tsx
  apps/back-office/src/app/api/financial-documents/[id]/archive/route.ts
  apps/back-office/src/app/api/financial-documents/[id]/unarchive/route.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: remove ineffective git.deploymentEnabled config
  apps/linkme/vercel.json
  vercel.json
Due: prettier --write

[BO-DASH-CLEANUP] checkpoint: before dashboard deletion
  .claude/rules/dev/servers.md
  .claude/settings.json
  CLAUDE.md
  apps/back-office/src/app/login/page.tsx
  apps/back-office/src/middleware.ts
  apps/linkme/src/app/(auth)/login/page.tsx
  apps/linkme/src/app/(main)/page.tsx
  apps/linkme/src/components/landing/Header.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  scripts/dev-clean.sh
Due: prettier --write, eslint --fix

[BO-DASH-CLEANUP] remove: delete dashboard frontend components
  apps/back-office/src/app/(protected)/admin/users/[id]/components/user-module-activity-dashboard.tsx
  apps/back-office/src/app/(protected)/dashboard/components/charts/abc-analysis-chart.tsx
  apps/back-office/src/app/(protected)/dashboard/components/charts/aging-report-chart.tsx
  apps/back-office/src/app/(protected)/dashboard/components/charts/channel-pie-chart.tsx
  apps/back-office/src/app/(protected)/dashboard/components/charts/chart-card.tsx
  apps/back-office/src/app/(protected)/dashboard/components/charts/chart-selector-modal.tsx
  apps/back-office/src/app/(protected)/dashboard/components/charts/index.ts
  apps/back-office/src/app/(protected)/dashboard/components/charts/revenue-chart.tsx
  apps/back-office/src/app/(protected)/dashboard/components/charts/treasury-chart.tsx
  apps/back-office/src/app/(protected)/dashboard/components/configurable-dashboard.tsx
  apps/back-office/src/app/(protected)/dashboard/components/configurable-kpi-card.tsx
  apps/back-office/src/app/(protected)/dashboard/components/dashboard-tabs.tsx
  apps/back-office/src/app/(protected)/dashboard/components/index.ts
  apps/back-office/src/app/(protected)/dashboard/components/kpi-grid.tsx
  apps/back-office/src/app/(protected)/dashboard/components/kpi-selector-modal.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/index.ts
  apps/back-office/src/app/(protected)/dashboard/components/widgets/recent-activity-widget.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/recent-orders-widget.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/stock-alerts-widget.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/stock-movements-widget.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/top-products-widget.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/unpaid-invoices-widget.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/widget-card.tsx
  apps/back-office/src/app/(protected)/dashboard/components/widgets/widget-selector-modal.tsx
  apps/back-office/src/app/(protected)/dashboard/hooks/index.ts
  apps/back-office/src/app/(protected)/dashboard/hooks/use-dashboard-preferences.ts
  apps/back-office/src/app/(protected)/dashboard/lib/chart-catalog.ts
  apps/back-office/src/app/(protected)/dashboard/lib/index.ts
  apps/back-office/src/app/(protected)/dashboard/lib/kpi-catalog.ts
  apps/back-office/src/app/(protected)/dashboard/lib/role-presets.ts
  apps/back-office/src/app/(protected)/dashboard/lib/widget-catalog.ts
  apps/back-office/src/app/(protected)/dashboard/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/dashboard/page.tsx
  apps/back-office/src/app/api/dashboard/stock-orders-metrics/route.ts
Due: prettier --write, eslint --fix

[BO-DASH-CLEANUP] remove: delete dashboard tests and docs
  tests/e2e/stocks/dashboard.spec.ts
Due: prettier --write, eslint --fix

[BO-DASH-CLEANUP] adapt: add PGRST116 error code to LinkMe hooks fallback
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-page-config.ts
Due: prettier --write, eslint --fix

[BO-DASH-CLEANUP] migration: rollback dashboard tables and functions
  supabase/migrations/20260122174914_rollback_dashboard_tables.sql
Due: none

[BO-DASH-CLEANUP] types: regenerate after dashboard tables deletion
  apps/back-office/src/types/supabase.ts
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-DASH-CLEANUP] feat: create new fixed simple dashboard
  apps/back-office/src/app/(protected)/dashboard/actions/get-dashboard-data.ts
  apps/back-office/src/app/(protected)/dashboard/components/dashboard-header.tsx
  apps/back-office/src/app/(protected)/dashboard/components/kpi-card.tsx
  apps/back-office/src/app/(protected)/dashboard/components/section-card.tsx
  apps/back-office/src/app/(protected)/dashboard/page.tsx
Due: prettier --write, eslint --fix

[BO-DASH-CLEANUP] fix: resolve TypeScript errors after dashboard cleanup
  apps/back-office/src/app/(protected)/admin/users/[id]/components/user-activity-tab.tsx
  apps/back-office/src/app/(protected)/dashboard/actions/get-dashboard-data.ts
  apps/back-office/src/app/(protected)/dashboard/components/section-card.tsx
  apps/back-office/src/types/supabase.ts
Due: prettier --write, eslint --fix
