Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[NO-TASK] perf: remove obsolete monitoring-2025 workflow (pre-turborepo, Node 18)
  .github/workflows/monitoring-2025.yml
Due: none

[HOTFIX] disable Sentry completely to fix MIDDLEWARE_INVOCATION_FAILED
  .claude/scripts/session-token-report.sh
  .claude/scripts/statusline.sh
  .claude/scripts/task-completed.sh
  apps/back-office/instrumentation-client.ts
  apps/back-office/instrumentation.ts
  apps/back-office/next.config.js
  scripts/auth-setup.ts
  scripts/check-console-errors.ts
  scripts/check-db-type-alignment.ts
  scripts/claude/task-completed.sh
  scripts/repo-audit.sh
  scripts/repo-doctor.sh
  scripts/repo-hygiene.sh
  scripts/statusline.sh
  scripts/validate-pr-ready.sh
Due: prettier --write, eslint --fix

[HOTFIX] Remove Edge Runtime middleware - fix MIDDLEWARE_INVOCATION_FAILED
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] test: use official Supabase SSR pattern in middleware
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: ignore Sentry & generated types in ESLint + fix type import
  .claude/memories/agents-restauration-2026-01-16.md
  apps/back-office/.eslintignore
Due: prettier --write

[NO-TASK] test: middleware Supabase SSR pattern officiel (#84)
  .claude/memories/agents-restauration-2026-01-16.md
  apps/back-office/.eslintignore
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[LM-SEL-001] fix: add missing SelectionItem properties for affiliate products
  apps/linkme/src/lib/hooks/use-user-selection.ts
Due: prettier --write, eslint --fix

[NO-TASK] feat: add turbo-ignore for selective monorepo deployments
  apps/site-internet/vercel.json
  vercel.json
Due: prettier --write

[HOTFIX] fix: remove middleware causing MIDDLEWARE_INVOCATION_FAILED on Vercel
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[HOTFIX] fix: remove middleware causing MIDDLEWARE_INVOCATION_FAILED (#85)
  apps/back-office/src/middleware.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
  apps/site-internet/vercel.json
  vercel.json
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: refonte ContactsStep V2 - BillingAddressSection
  apps/linkme/src/components/orders/schemas/order-form.schema.ts
  apps/linkme/src/components/orders/steps/ContactsStep.tsx
  apps/linkme/src/components/orders/steps/contacts/AddressCard.tsx
  apps/linkme/src/components/orders/steps/contacts/AddressForm.tsx
  apps/linkme/src/components/orders/steps/contacts/AddressGrid.tsx
  apps/linkme/src/components/orders/steps/contacts/BillingAddressSection.tsx
  apps/linkme/src/components/orders/steps/contacts/BillingOrgSection.legacy.tsx
  apps/linkme/src/components/orders/steps/contacts/BillingSection.legacy.tsx
  apps/linkme/src/components/orders/steps/contacts/ContactCard.tsx
  apps/linkme/src/components/orders/steps/contacts/ContactGrid.tsx
  apps/linkme/src/components/orders/steps/contacts/ContactSelector.tsx
  apps/linkme/src/components/orders/steps/contacts/DeliverySection.tsx
  apps/linkme/src/components/orders/steps/contacts/OrganisationCard.legacy.tsx
  apps/linkme/src/components/orders/steps/contacts/OrganisationGrid.legacy.tsx
  apps/linkme/src/components/orders/steps/contacts/index.ts
  apps/linkme/src/lib/hooks/use-entity-addresses.ts
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: order form components + migrations + utils
  .claude/scripts/session-token-report.sh
  .claude/scripts/statusline-fixed.sh
  .claude/scripts/task-completed.sh
  apps/back-office/.gitignore
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  apps/linkme/src/app/(main)/commandes/nouvelle/page.tsx
  apps/linkme/src/app/components/orders/NewOrderForm.tsx
  apps/linkme/src/components/orders/NewOrderForm.tsx
  apps/linkme/src/components/orders/OrderStepper.tsx
  apps/linkme/src/components/orders/index.ts
  apps/linkme/src/components/orders/steps/CartStep.tsx
  apps/linkme/src/components/orders/steps/DeliveryStep.tsx
  apps/linkme/src/components/orders/steps/ProductsStep.tsx
  apps/linkme/src/components/orders/steps/RestaurantStep.tsx
  apps/linkme/src/components/orders/steps/SelectionStep.tsx
  apps/linkme/src/components/orders/steps/ValidationStep.tsx
  apps/linkme/src/lib/hooks/use-affiliate-commission.ts
  apps/linkme/src/lib/hooks/use-enseigne-organisations.ts
  apps/linkme/src/lib/hooks/use-order-form.ts
  docs/linkme/margin-calculation.md
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/linkme/index.ts
  packages/@verone/utils/src/linkme/margin-calculation.ts
  supabase/migrations/20260120_001_add_country_and_vat_rate_to_organisations.sql
  supabase/migrations/20260120_002_update_rpc_create_customer_org_geolocation.sql
  supabase/migrations/20260120_003_create_addresses_table.sql
  supabase/migrations/20260121_001_fix_security_definer_views.sql
  supabase/migrations/20260121_002_fix_function_search_paths.sql
  supabase/migrations/20260121_003_optimize_rls_policies.sql
Due: prettier --write, eslint --fix

[LM-ORD-010] fix: nouvelle vente button navigation + category filtering
  apps/linkme/src/app/(main)/commandes/page.tsx
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  supabase/migrations/20260121_004_add_category_to_public_selection_rpc.sql
Due: prettier --write, eslint --fix

[LM-ORD-010] fix: product card UI - reduce zoom, show name below image
  apps/linkme/src/app/(public)/s/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010] fix: show category/subcategory on hover instead of product name
  apps/linkme/src/app/(public)/s/[id]/page.tsx
Due: prettier --write, eslint --fix

[HOTFIX] fix: RLS recursion on user_app_roles causing 500 error on LinkMe dashboard
  supabase/migrations/20260121_005_fix_user_app_roles_rls_recursion.sql
Due: none

[LM-ORD-010] fix: catalog fetch error - use product_images table for primary image
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionsSection.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: add price_display_mode (HT/TTC) per selection
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-selections.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/types/supabase.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260121_006_add_price_display_mode_to_selections.sql
Due: prettier --write, eslint --fix

[LM-ORD-010] fix: RPC get_public_selection references non-existent table
  supabase/migrations/20260121_007_fix_get_public_selection_branding.sql
Due: none

[LM-ORD-010] fix: reduce image zoom on public selection page
  apps/linkme/src/app/(public)/s/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: add Step 5 contacts & billing addresses to order form
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/contacts/ContactCardBO.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/contacts/ContactsAddressesSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/contacts/NewAddressForm.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/contacts/NewContactForm.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/contacts/OrganisationAddressCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/contacts/index.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-enseigne-details.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-organisation-addresses-bo.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-organisation-contacts-bo.ts
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: add price display mode UI to selection config page
  apps/linkme/src/app/(main)/ma-selection/[id]/page.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: resolve statusLine intermittent failures
  .claude/settings.json
  scripts/statusline.sh
Due: prettier --write

[CONTACT-MGMT] feat: Persist contacts in orders + enseigne contacts filter
  apps/linkme/src/components/orders/steps/ContactsStep.tsx
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/lib/hooks/use-order-form.ts
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
  supabase/migrations/20260121_008_add_contact_refs_to_sales_orders.sql
  supabase/migrations/20260121_009_update_rpc_create_affiliate_order_contacts.sql
Due: prettier --write, eslint --fix

[CONTACT-MGMT] feat: Complete contacts management implementation phases 6-7
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/contacts/ContactDisplayCard.tsx
  apps/linkme/src/components/organisations/CreateEnseigneContactModal.tsx
  apps/linkme/src/components/organisations/EnseigneContactsTab.tsx
  apps/linkme/src/components/organisations/OrganisationDetailModal.tsx
  apps/linkme/src/components/organisations/OrganisationFilterTabs.tsx
  apps/linkme/src/components/organisations/index.ts
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
Due: prettier --write, eslint --fix

[CONTACT-MGMT] feat: Phase 8 - Franchise restrictions + scalability migration
  apps/linkme/src/components/orders/steps/ContactsStep.tsx
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
  supabase/migrations/20260122_001_contacts_scalability_prep.sql
Due: prettier --write, eslint --fix

[CONTACT-MGMT] feat: Notifications system - LinkMe page + Admin sender + Billing contact trigger
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/page.tsx
  apps/linkme/src/app/(main)/notifications/page.tsx
  supabase/migrations/20260122_002_trigger_billing_contact_notification.sql
Due: prettier --write, eslint --fix

[NO-TASK] fix: comment CollectionImageUpload import in shared package
  packages/@verone/common/src/components/collections/CollectionFormModal.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: restore working statusLine with bun direct command
  .claude/scripts/statusline-fixed.sh
  .claude/settings.json
Due: prettier --write

[NO-TASK] docs: add Status Line configuration section to .claude/README
  .claude/README.md
Due: prettier --write

[NO-TASK] fix: restore working statusLine config from Jan 13
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: simplify statusLine command for reliability
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: robust statusline with fallback script
  .claude/scripts/statusline.sh
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: restore Supabase MCP + secure .mcp.json
  .claude/settings.json
  .gitignore
  .mcp.json
Due: prettier --write

[NO-TASK] fix: enable Sentry in dev + fix invoices.type error
  apps/back-office/instrumentation-client.ts
  apps/back-office/instrumentation.ts
  apps/back-office/next.config.js
  apps/back-office/src/app/api/analytics/batch/route.ts
  apps/back-office/src/app/api/analytics/events/route.ts
  apps/linkme/instrumentation-client.ts
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
Due: prettier --write, eslint --fix

[CONTACT-MGMT] feat: Complete contacts management + notifications system (#87)
  .claude/README.md
  .claude/scripts/statusline-fixed.sh
  .claude/scripts/statusline.sh
  .claude/settings.json
  .gitignore
  .mcp.json
  apps/back-office/instrumentation-client.ts
  apps/back-office/instrumentation.ts
  apps/back-office/next.config.js
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/page.tsx
  apps/back-office/src/app/api/analytics/batch/route.ts
  apps/back-office/src/app/api/analytics/events/route.ts
  apps/linkme/instrumentation-client.ts
  apps/linkme/src/app/(main)/notifications/page.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/contacts/ContactDisplayCard.tsx
  apps/linkme/src/components/orders/steps/ContactsStep.tsx
  apps/linkme/src/components/organisations/CreateEnseigneContactModal.tsx
  apps/linkme/src/components/organisations/EnseigneContactsTab.tsx
  apps/linkme/src/components/organisations/OrganisationDetailModal.tsx
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/components/organisations/OrganisationFilterTabs.tsx
  apps/linkme/src/components/organisations/index.ts
  apps/linkme/src/lib/hooks/use-order-form.ts
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
  packages/@verone/common/src/components/collections/CollectionFormModal.tsx
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
  scripts/statusline.sh
  supabase/migrations/20260121_008_add_contact_refs_to_sales_orders.sql
  supabase/migrations/20260121_009_update_rpc_create_affiliate_order_contacts.sql
  supabase/migrations/20260122_001_contacts_scalability_prep.sql
  supabase/migrations/20260122_002_trigger_billing_contact_notification.sql
Due: prettier --write, eslint --fix

[NO-TASK] feat: CI isolation stricte + reduce redundant checks (#81)
  .claude/scripts/statusline.sh.bak
  .github/workflows/cleanup-screenshots.yml
Due: none

[NO-TASK] fix: use absolute path for statusline (resolve inconsistency)
  .claude/settings.json
  apps/back-office/.vercel-trigger
  scripts/repo-audit.sh
  scripts/repo-control.sh
  scripts/repo-doctor.sh
  scripts/repo-hygiene.sh
  scripts/reports/docs-index.json
Due: prettier --write
