Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

fix(linkme): Ajouter champs enseigne_id/assigned_client_id à RPC catalogue
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-catalog.ts
  apps/back-office/src/app/canaux-vente/linkme/selections/new/page.tsx
  supabase/migrations/20251208_003_add_sourced_fields_to_linkme_catalog_rpc.sql
Due: prettier --write, eslint --fix

fix(stock): Corriger état VERT alertes stock lors validation PO
  apps/back-office/src/app/stocks/alertes/page.tsx
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
  packages/@verone/stock/src/hooks/use-stock-alerts.ts
  supabase/migrations/20251208_003_fix_stock_alerts_view_out_of_stock.sql
  supabase/migrations/20251208_004_fix_sync_stock_alert_tracking_green_state.sql
  supabase/migrations/20251208_005_fix_view_include_green_alerts.sql
Due: prettier --write, eslint --fix

feat(linkme): Améliorer catalogue, commandes et sélections
  apps/back-office/src/app/api/linkme/selections/create/route.ts
  apps/back-office/src/app/canaux-vente/linkme/catalogue/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductPricingCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/selections/[id]/page.tsx
  supabase/migrations/20251208_001_sync_channel_pricing_to_selections.sql
  supabase/migrations/20251208_002_fix_linkme_catalog_rpc.sql
Due: prettier --write, eslint --fix

fix(catalogue): Corriger archiveProduct - utiliser product_status
  packages/@verone/categories/src/hooks/use-catalogue.ts
Due: prettier --write, eslint --fix

feat(receptions): Ajouter bouton "Annuler commande" pour PO jamais reçues
  CLAUDE.md
  packages/@verone/orders/src/components/forms/PurchaseOrderReceptionForm.tsx
Due: prettier --write, eslint --fix

fix(linkme): Corriger calcul marge affilié et prix unitaire
  apps/back-office/src/app/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-orders.ts
  packages/@verone/orders/src/components/forms/PurchaseOrderReceptionForm.tsx
  packages/@verone/orders/src/components/forms/SalesOrderShipmentForm.tsx
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/use-purchase-receptions.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/types/src/reception-shipment.ts
Due: prettier --write, eslint --fix

feat(linkme): Ajouter sélecteur TVA et récapitulatif commande
  apps/back-office/src/app/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
Due: prettier --write, eslint --fix

feat(linkme): Ajouter modal détail commande avec bouton œil
  apps/back-office/src/app/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeOrderDetailModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/index.ts
Due: prettier --write, eslint --fix

docs(workflow): Remplacer Workflow Universel par P.D.C.A. autonome
  CLAUDE.md
Due: prettier --write

feat(linkme): Refonte complète page commissions avec gestion TTC
  apps/back-office/src/app/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/types/supabase.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20251209_001_add_commission_ttc_columns.sql
  supabase/migrations/20251209_002_create_linkme_commissions_trigger.sql
  supabase/migrations/20251210_001_create_mark_payment_received_rpc.sql
Due: prettier --write, eslint --fix

feat(linkme): Implémenter page Analytics avec données temps réel
  apps/back-office/src/app/canaux-vente/linkme/analytics/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CommissionsStatusCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionsPerformanceTable.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/charts/LinkMeRevenueChart.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/charts/TopAffiliatesChart.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-analytics.ts
Due: prettier --write, eslint --fix

feat(linkme): Refonte UI compacte + gestion sélections + analytics
  apps/back-office/src/app/canaux-vente/linkme/components/UserConfigModal.tsx
  apps/linkme/package.json
  apps/linkme/src/app/cart/page.tsx
  apps/linkme/src/app/catalogue/page.tsx
  apps/linkme/src/app/checkout/page.tsx
  apps/linkme/src/app/commissions/page.tsx
  apps/linkme/src/app/dashboard/page.tsx
  apps/linkme/src/app/login/page.tsx
  apps/linkme/src/app/ma-selection/[id]/page.tsx
  apps/linkme/src/app/ma-selection/[id]/produits/page.tsx
  apps/linkme/src/app/ma-selection/nouvelle/page.tsx
  apps/linkme/src/app/ma-selection/page.tsx
  apps/linkme/src/app/page.tsx
  apps/linkme/src/app/statistiques/page.tsx
  apps/linkme/src/app/ventes/page.tsx
  apps/linkme/src/components/analytics/AffiliateKPIGrid.tsx
  apps/linkme/src/components/analytics/CommissionsOverview.tsx
  apps/linkme/src/components/analytics/RevenueChart.tsx
  apps/linkme/src/components/analytics/SelectionPerformanceCard.tsx
  apps/linkme/src/components/analytics/TopProductsTable.tsx
  apps/linkme/src/components/analytics/index.ts
  apps/linkme/src/components/cart/CartDrawer.tsx
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/components/layout/Footer.tsx
  apps/linkme/src/components/layout/Header.tsx
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
  apps/linkme/src/types/analytics.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(linkme): Refonte dashboard compact + sidebar toggle manuel
  apps/back-office/src/app/canaux-vente/linkme/components/DashboardSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/canaux-vente/linkme/demandes-paiement/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-dashboard.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-payment-requests-admin.ts
  apps/back-office/src/types/supabase.ts
  apps/linkme/next.config.js
  apps/linkme/src/app/commissions/demandes/page.tsx
  apps/linkme/src/app/commissions/page.tsx
  apps/linkme/src/components/commissions/CommissionKPICard.tsx
  apps/linkme/src/components/commissions/CommissionsChart.tsx
  apps/linkme/src/components/commissions/CommissionsTable.tsx
  apps/linkme/src/components/commissions/InvoiceTemplate.tsx
  apps/linkme/src/components/commissions/PaymentRequestModal.tsx
  apps/linkme/src/components/commissions/index.ts
  apps/linkme/src/lib/hooks/use-affiliate-commissions.ts
  apps/linkme/src/lib/hooks/use-payment-requests.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
  apps/linkme/src/types/analytics.ts
  supabase/migrations/20251211010000_create_payment_requests.sql
Due: prettier --write, eslint --fix

Update packages for React Flight RCE advisory
  package-lock.json
  package.json
Due: prettier --write

feat: Audit pré-prod + désactivation modules Finance
  apps/back-office/src/app/canaux-vente/linkme/analytics/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/analytics/rapports/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/analytics/tracking/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CommissionsStatusCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ConfigurationSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/DashboardSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/PaymentRequestModalAdmin.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionsPerformanceTable.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/charts/LinkMeRevenueChart.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/charts/TopAffiliatesChart.tsx
  apps/back-office/src/app/canaux-vente/linkme/configuration/commissions/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/configuration/integrations/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-payment-requests-admin.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-tracking-stats.ts
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/linkme/src/app/[affiliateSlug]/[selectionSlug]/page.tsx
  packages/@verone/utils/src/feature-flags.ts
  supabase/migrations/20251211020000_add_backoffice_insert_payment_requests.sql
  supabase/migrations/20251211030000_fix_backoffice_payment_requests_rls.sql
  supabase/migrations/20251211_002_update_selection_stats_trigger.sql
  supabase/migrations/20251211_003_track_selection_view.sql
Due: prettier --write, eslint --fix

chore(deploy): Trigger production deployment
  .deploy-trigger
Due: none

fix(vercel): Cron google-merchant-poll réduit à 1x/jour (plan Hobby)
  .serena/memories/vercel-github-credentials.md
  vercel.json
Due: prettier --write

fix(vercel): Use pnpm install instead of npm install
  vercel.json
Due: prettier --write

fix(api): Use lazy initialization for supabaseAdmin client
  apps/back-office/src/app/api/linkme/selections/add-item/route.ts
  apps/back-office/src/app/api/linkme/selections/create/route.ts
  apps/back-office/src/app/api/linkme/selections/delete/route.ts
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/back-office/src/app/api/linkme/users/reset-password/route.ts
  apps/back-office/src/app/api/linkme/users/update-email/route.ts
Due: prettier --write, eslint --fix

fix(vercel): Configure outputDirectory for Turborepo monorepo
  vercel.json
Due: prettier --write

fix(vercel): Remove cron jobs (Abby, Google Merchant) - not needed yet
  vercel.json
Due: prettier --write

fix: Remove duplicate middleware causing Edge runtime error
  apps/back-office/middleware.ts
Due: prettier --write, eslint --fix

Update .deploy-trigger
  .deploy-trigger
Due: none

fix(middleware): Migrate to new @supabase/ssr cookies API
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

chore(deploy): Trigger new build with pnpm + turbo filter settings
  .deploy-trigger
Due: none

trigger: Force new Production deployment with correct settings
  .deploy-trigger
Due: none

trigger: Force NEW deployment with pnpm install settings
  .deploy-trigger
Due: none

chore(deploy): Force new deployment with pnpm install
  .deploy-trigger
Due: none

fix(vercel): Use filtered build command for back-office only
  vercel.json
Due: prettier --write

trigger: Deploy with production-stable branch and pnpm install
  .deploy-trigger
Due: none

fix(supabase): Migrate to @supabase/ssr getAll/setAll API
  apps/back-office/src/middleware.ts
  packages/@verone/utils/src/supabase/server.ts
Due: prettier --write, eslint --fix

trigger: Force rebuild with @supabase/ssr migration fix
  .deploy-trigger
Due: none

trigger: Force deployment with npm run build command
  .deploy-trigger
Due: none

trigger: Deploy middleware fix via webhook
  .deploy-trigger
Due: none

trigger: Force deploy with npm run build command
  .deploy-trigger
Due: none

trigger: Force new deployment via deploy hook
  .deploy-trigger
Due: none
