Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

feat(orders,stock): Restauration validation PO + Système alertes stock automatique
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderFormModal.tsx
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
  supabase/migrations/20251111_002_stock_forecasted_alert_validation.sql
Due: prettier --write, eslint --fix

feat(ui): IconButton component + migration 15 buttons page commandes
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  docs/architecture/COMPOSANTS-CATALOGUE.md
  packages/@verone/ui/BUTTON-PATTERNS-2025.md
  packages/@verone/ui/src/components/ui/icon-button.tsx
  packages/@verone/ui/src/components/ui/index.ts
Due: prettier --write, eslint --fix

feat(buttons): Migration complète boutons CRUD vers Design System V2 - 37 pages
  AUDIT-BOUTONS-CRUD-COMPLET.md
  apps/back-office/src/app/canaux-vente/page.tsx
  apps/back-office/src/app/commandes/clients/page.tsx
  apps/back-office/src/app/commandes/page.tsx
  apps/back-office/src/app/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/consultations/create/page.tsx
  apps/back-office/src/app/consultations/page.tsx
  apps/back-office/src/app/contacts-organisations/contacts/[contactId]/page.tsx
  apps/back-office/src/app/contacts-organisations/contacts/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/[partnerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/page.tsx
  apps/back-office/src/app/finance/depenses/[id]/page.tsx
  apps/back-office/src/app/notifications/page.tsx
  apps/back-office/src/app/parametres/page.tsx
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/produits/catalogue/archived/page.tsx
  apps/back-office/src/app/produits/catalogue/categories/[categoryId]/page.tsx
  apps/back-office/src/app/produits/catalogue/categories/page.tsx
  apps/back-office/src/app/produits/catalogue/nouveau/page.tsx
  apps/back-office/src/app/produits/catalogue/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/page.tsx
  apps/back-office/src/app/produits/sourcing/validation/page.tsx
  apps/back-office/src/app/profile/page.tsx
  apps/back-office/src/app/stocks/alertes/page.tsx
  apps/back-office/src/app/stocks/inventaire/page.tsx
  apps/back-office/src/app/stocks/mouvements/page.tsx
  apps/back-office/src/app/stocks/produits/page.tsx
  apps/back-office/src/app/ventes/page.tsx
Due: prettier --write, eslint --fix

fix(products,stock): Correction boutons transparents + suppression duplication champ condition
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/stock/src/components/sections/StockEditSection.tsx
  packages/@verone/stock/src/components/sections/StockViewSection.tsx
Due: prettier --write, eslint --fix

docs(audit): Audit complet triggers stock - 7 bugs identifiés
  docs/audits/2025-11/RAPPORT-AUDIT-TRIGGERS-STOCK-2025-11-12.md
Due: prettier --write

fix(stock): Corrections critiques calcul stock prévisionnel (Phase 1)
  supabase/migrations/20251113_001_fix_stock_alert_forecasted_calculation.sql
  supabase/migrations/20251113_002_fix_sales_order_release_forecasted_on_shipment.sql
  supabase/migrations/20251113_003_data_fix_release_forecasted_shipped_orders.sql
Due: none

fix(stock): Corrections annulations PO et récréation alertes (Phase 2)
  supabase/migrations/20251113_004_fix_purchase_order_cancellation_calculation.sql
  supabase/migrations/20251113_005_fix_alert_recreation_on_cancellation.sql
Due: none

fix(stock): Ajustement forecasted modification quantity PO/SO (Bug #5)
  supabase/migrations/20251114_001_fix_po_item_quantity_change_trigger.sql
  supabase/migrations/20251114_002_fix_so_item_quantity_change_trigger.sql
Due: none

test(stock): Tests SQL validation triggers stock (23 tests)
  supabase/tests/validate_bug_5_quantity_change_forecast.sql
  supabase/tests/validate_etape_1_1_fix_stock_alert_forecasted.sql
  supabase/tests/validate_etape_1_2_fix_sales_order_release_forecasted.sql
  supabase/tests/validate_etape_2_1_fix_purchase_order_cancellation.sql
  supabase/tests/validate_etape_2_2_fix_alert_recreation.sql
Due: none

fix(stock): Restauration format compact StockAlertCard
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
Due: prettier --write, eslint --fix

fix(orders): correction bug prefill destination + rapport tests Packlink
  RAPPORT-SESSION-TESTS-PACKLINK-2025-11-13.md
  packages/@verone/orders/src/components/forms/SalesOrderShipmentForm.tsx
Due: prettier --write, eslint --fix

feat(canaux-vente): Canal Site Internet complet avec CMS et gestion publication
  apps/back-office/src/app/canaux-vente/site-internet/README.md
  apps/back-office/src/app/canaux-vente/site-internet/components/CategoriesSection.tsx
  apps/back-office/src/app/canaux-vente/site-internet/components/CollectionsSection.tsx
  apps/back-office/src/app/canaux-vente/site-internet/components/ConfigurationSection.tsx
  apps/back-office/src/app/canaux-vente/site-internet/components/ProductsSection.tsx
  apps/back-office/src/app/canaux-vente/site-internet/components/VercelAnalyticsDashboard.tsx
  apps/back-office/src/app/canaux-vente/site-internet/hooks/use-product-variants.ts
  apps/back-office/src/app/canaux-vente/site-internet/hooks/use-site-internet-categories.ts
  apps/back-office/src/app/canaux-vente/site-internet/hooks/use-site-internet-collections.ts
  apps/back-office/src/app/canaux-vente/site-internet/hooks/use-site-internet-config.ts
  apps/back-office/src/app/canaux-vente/site-internet/hooks/use-site-internet-products.ts
  apps/back-office/src/app/canaux-vente/site-internet/hooks/use-vercel-analytics.ts
  apps/back-office/src/app/canaux-vente/site-internet/page.tsx
  apps/back-office/src/app/canaux-vente/site-internet/types.ts
  apps/back-office/src/types/supabase.ts
  supabase/migrations/20251113_001_site_internet_channel_setup.sql
  supabase/migrations/20251113_002b_generate_product_slugs.sql
  supabase/migrations/20251113_003_site_internet_products_rpc.sql
  supabase/migrations/20251115_001_site_internet_complete.sql
Due: prettier --write, eslint --fix

feat(site-internet): Design System Vérone Luxury complet - Phase A/B/C
  apps/site-internet/src/app/page.tsx
  apps/site-internet/src/components/home/HeroSection.tsx
  apps/site-internet/src/components/layout/Footer.tsx
  apps/site-internet/src/components/layout/MobileNav.tsx
  apps/site-internet/src/components/ui/BadgeLuxury.tsx
  apps/site-internet/src/components/ui/ButtonLuxury.tsx
  apps/site-internet/src/components/ui/CardProductLuxury.tsx
  packages/@verone/orders/src/components/forms/SalesOrderShipmentForm.tsx
Due: prettier --write, eslint --fix

feat(site-internet): Phase 1 logo + Phase 2 catalogue dynamique (WIP)
  apps/back-office/src/app/api/packlink/search-services/route.ts
  apps/back-office/src/lib/packlink/validation.ts
  apps/site-internet/public/logo-verone.png
  apps/site-internet/src/app/catalogue/page.tsx
  apps/site-internet/src/components/layout/Header.tsx
  apps/site-internet/src/hooks/use-catalogue-products.ts
  apps/site-internet/src/hooks/use-categories.ts
  packages/@verone/orders/src/components/forms/SalesOrderShipmentForm.tsx
Due: prettier --write, eslint --fix

fix(back-office): corrections GoTrueClient + Google Maps + Packlink
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/components/layout/auth-wrapper.tsx
  apps/back-office/src/components/providers/activity-tracker-provider.tsx
  apps/back-office/src/components/providers/supabase-provider.tsx
  apps/back-office/src/lib/security/headers.ts
  packages/@verone/categories/src/hooks/use-catalogue.ts
  packages/@verone/common/src/hooks/use-supabase-query.ts
  packages/@verone/stock/src/hooks/use-movements-history.ts
  packages/@verone/stock/src/hooks/use-stock-alerts-count.ts
  packages/@verone/stock/src/hooks/use-stock-orders-metrics.ts
  packages/@verone/stock/src/hooks/use-stock.ts
  packages/@verone/stock/src/utils/stock-history.ts
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/supabase.ts
  packages/@verone/utils/src/supabase/client.ts
  packages/@verone/utils/src/upload/supabase-utils.ts
Due: prettier --write, eslint --fix

feat(site-internet): Page produit détaillée WestWing-style avec variantes
  apps/site-internet/package.json
  apps/site-internet/src/app/catalogue/page.tsx
  apps/site-internet/src/app/checkout/confirmation/page.tsx
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/app/panier/page.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/app/produit/[slug]/page.tsx
  apps/site-internet/src/components/layout/Header.tsx
  apps/site-internet/src/components/product/ProductDetail.tsx
  apps/site-internet/src/components/product/ProductImageGallery.tsx
  apps/site-internet/src/components/product/VariantSelector.tsx
  apps/site-internet/src/components/ui/CardProductLuxury.tsx
  apps/site-internet/src/components/ui/ProductVariantSwatches.tsx
  apps/site-internet/src/hooks/use-catalogue-products.ts
  apps/site-internet/src/hooks/use-product-detail.ts
  apps/site-internet/src/hooks/use-product.ts
  apps/site-internet/src/lib/utils.ts
  apps/site-internet/src/lib/validations/checkout.ts
  apps/site-internet/src/store/cart-store.ts
  apps/site-internet/src/types/cms.ts
Due: prettier --write, eslint --fix

fix(auth): Rollback isolation multi-apps défectueuse + fix TypeScript
  apps/site-internet/src/types/supabase.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
Due: prettier --write, eslint --fix

refactor(orders): suppression complète intégration Packlink
  RAPPORT-COMPARAISON-FORMULAIRES-PACKLINK-2025-11-12.md
  apps/back-office/src/app/api/packlink/draft/create/route.ts
  apps/back-office/src/app/api/packlink/dropoffs/route.ts
  apps/back-office/src/app/api/packlink/order/create/route.ts
  apps/back-office/src/app/api/packlink/search-services/route.ts
  apps/back-office/src/app/api/sales-shipments/create/route.ts
  apps/back-office/src/app/api/sales-shipments/validate/route.ts
  apps/back-office/src/app/api/webhooks/packlink/route.ts
  apps/back-office/src/app/commandes/clients/[id]/page.tsx
  apps/back-office/src/lib/packlink/client.ts
  apps/back-office/src/lib/packlink/errors.ts
  apps/back-office/src/lib/packlink/index.ts
  apps/back-office/src/lib/packlink/rate-limiter.ts
  apps/back-office/src/lib/packlink/types.ts
  apps/back-office/src/lib/packlink/validation.ts
  apps/back-office/src/lib/packlink/webhooks.ts
  package.json
  packages/@verone/logistics/src/components/shipment-forms/PacklinkShipmentForm.tsx
  packages/@verone/logistics/src/components/shipment-forms/index.ts
  packages/@verone/orders/src/components/forms/PacklinkShipmentForm.tsx
  packages/@verone/orders/src/components/forms/SalesOrderShipmentForm.tsx
  packages/@verone/orders/src/components/modals/CreatePacklinkShipmentModal.tsx
  packages/@verone/orders/src/components/modals/CreateShipmentModal.tsx
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/components/sections/ShipmentsSection.tsx
  packages/@verone/orders/src/components/sections/ShipmentsSectionSimple.tsx
  packages/@verone/orders/src/components/shipments/PickupPointSelector.tsx
  packages/@verone/orders/src/components/shipments/ServiceSelector.tsx
  packages/@verone/orders/src/components/shipments/ShipmentCard.tsx
  packages/@verone/orders/src/components/shipments/ShipmentStatusBadge.tsx
  packages/@verone/orders/src/components/shipments/index.ts
  scripts/setup-packlink-webhook.ts
  supabase/migrations/20251112_002_packlink_shipments_setup.sql
  supabase/migrations/20251115_rollback_packlink.sql
Due: prettier --write, eslint --fix

feat(products): modal viewer images + intégration Site Internet
  apps/back-office/src/app/actions/affiliate-customer.ts
  apps/back-office/src/app/canaux-vente/site-internet/components/EditSiteInternetProductModal.tsx
  apps/back-office/src/app/notifications/page.tsx
  packages/@verone/products/src/components/images/ProductImageGallery.tsx
  packages/@verone/products/src/components/images/ProductImageViewerModal.tsx
Due: prettier --write, eslint --fix

fix(layout): Restaurer layout pleine largeur sur toutes les pages
  apps/back-office/src/app/canaux-vente/google-merchant/page.tsx
  apps/back-office/src/app/canaux-vente/page.tsx
  apps/back-office/src/app/canaux-vente/prix-clients/page.tsx
  apps/back-office/src/app/canaux-vente/site-internet/page.tsx
  apps/back-office/src/app/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/consultations/create/page.tsx
  apps/back-office/src/app/consultations/page.tsx
  apps/back-office/src/app/contacts-organisations/contacts/[contactId]/page.tsx
  apps/back-office/src/app/contacts-organisations/contacts/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/[partnerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/page.tsx
  apps/back-office/src/app/factures/[id]/page.tsx
  apps/back-office/src/app/factures/page.tsx
  apps/back-office/src/app/finance/rapprochement/page.tsx
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/produits/catalogue/archived/page.tsx
  apps/back-office/src/app/produits/catalogue/collections/[collectionId]/page.tsx
  apps/back-office/src/app/produits/catalogue/dashboard/page.tsx
  apps/back-office/src/app/produits/catalogue/nouveau/page.tsx
  apps/back-office/src/app/produits/catalogue/variantes/[groupId]/page.tsx
  apps/back-office/src/app/produits/sourcing/echantillons/page.tsx
  apps/back-office/src/app/produits/sourcing/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/[id]/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/create/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/page.tsx
  apps/back-office/src/app/produits/sourcing/validation/page.tsx
  apps/back-office/src/app/stocks/alertes/page.tsx
  apps/back-office/src/app/stocks/analytics/page.tsx
  apps/back-office/src/app/stocks/inventaire/page.tsx
  apps/back-office/src/app/stocks/mouvements/page.tsx
  apps/back-office/src/app/stocks/page.tsx
  apps/back-office/src/app/stocks/produits/page.tsx
  apps/back-office/src/app/test-components/button-unified/page.tsx
  apps/back-office/src/app/tresorerie/page.tsx
  apps/back-office/src/app/ventes/page.tsx
Due: prettier --write, eslint --fix

fix(types): Ajouter imports Database pour queries Supabase typées
  apps/back-office/src/app/canaux-vente/prix-clients/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/page.tsx
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/produits/sourcing/echantillons/page.tsx
Due: prettier --write, eslint --fix

feat(layout+canaux): Responsivité complète + Modal Site Internet avec photos/variantes
  apps/back-office/src/app/canaux-vente/google-merchant/page.tsx
  apps/back-office/src/app/canaux-vente/page.tsx
  apps/back-office/src/app/canaux-vente/prix-clients/page.tsx
  apps/back-office/src/app/canaux-vente/site-internet/components/EditSiteInternetProductModal.tsx
  apps/back-office/src/app/canaux-vente/site-internet/components/ProductsSection.tsx
  apps/back-office/src/app/consultations/create/page.tsx
  apps/back-office/src/app/contacts-organisations/contacts/[contactId]/page.tsx
  apps/back-office/src/app/contacts-organisations/contacts/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/[partnerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/page.tsx
  apps/back-office/src/app/produits/catalogue/archived/page.tsx
  apps/back-office/src/app/produits/catalogue/collections/[collectionId]/page.tsx
  apps/back-office/src/app/produits/catalogue/variantes/[groupId]/page.tsx
  apps/back-office/src/app/produits/sourcing/echantillons/page.tsx
  apps/back-office/src/app/produits/sourcing/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/[id]/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/page.tsx
  apps/back-office/src/app/produits/sourcing/validation/page.tsx
  apps/back-office/src/app/stocks/alertes/page.tsx
  apps/back-office/src/app/stocks/analytics/page.tsx
  apps/back-office/src/app/ventes/page.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
  docs/examples/settings.example.json
  packages/@verone/organisations/src/components/sections/CommercialEditSection.tsx
  scripts/cleanup-database-full.sql
  supabase/migrations/20251116_001_fix_alert_min_stock_zero.sql
  supabase/migrations/20251117_001_add_commercial_terms_to_organisations.sql
Due: prettier --write, eslint --fix

feat(site-internet): Variantes éligibles filtrées + viewport responsive
  apps/back-office/src/app/canaux-vente/site-internet/components/EditSiteInternetProductModal.tsx
  apps/back-office/src/app/canaux-vente/site-internet/types.ts
  apps/site-internet/src/app/produit/[id]/components/VariantsSection.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/hooks/use-catalogue-products.ts
  apps/site-internet/src/hooks/use-product-detail.ts
  supabase/migrations/20251119_001_add_eligible_variants_count.sql
Due: prettier --write, eslint --fix

feat(site-internet): Refonte complète page produit - Layout 60/40 + Éco-participation
  apps/site-internet/src/app/produit/[id]/components/ProductAccordions.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductCrossSell.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductGallery.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductSidebar.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/hooks/use-catalogue-products.ts
  supabase/migrations/20251118_002_add_ecommerce_fields_channel_pricing.sql
  supabase/migrations/20251118_003_update_rpc_site_internet_ecommerce_fields.sql
Due: prettier --write, eslint --fix

feat(stocks): Créer page Audit Ajustements + améliorer navigation
  apps/back-office/src/app/stocks/ajustements/create/page.tsx
  apps/back-office/src/app/stocks/ajustements/page.tsx
Due: prettier --write, eslint --fix

fix(organisations): Activer module sales_orders + masquer champ montant minimum pour clients
  packages/@verone/organisations/src/components/sections/CommercialEditSection.tsx
  packages/@verone/utils/src/deployed-modules.ts
Due: prettier --write, eslint --fix

fix(migration): Correction post-migration Turborepo Phase 2-4 (45/47 complétés)
  apps/back-office/next.config.js
  apps/back-office/src/app/stocks/produits/page.tsx
  docs/architecture/MIGRATION-TURBOREPO-TODO.md
  packages/@verone/common/src/hooks/use-inline-edit.ts
  packages/@verone/products/src/hooks/use-product-status.ts
  packages/@verone/ui/src/components/stock/ChannelFilter.tsx
  packages/@verone/ui/src/components/stock/StockKPICard.tsx
  packages/@verone/ui/src/components/stock/StockMovementCard.tsx
  packages/@verone/ui/src/components/stock/index.ts
  packages/@verone/ui/src/index.ts
Due: prettier --write, eslint --fix

fix(stocks): Résoudre PGRST200 réservations stock + Problem 12 ✅
  apps/back-office/src/app/stocks/produits/page.tsx
  docs/architecture/MIGRATION-TURBOREPO-TODO.md
  packages/@verone/stock/src/hooks/use-stock-reservations.ts
  supabase/migrations/20251119090317_add_stock_reservations_rls_policies.sql
  supabase/migrations/20251119090318_add_stock_reservations_product_fk.sql
Due: prettier --write, eslint --fix

feat(docs): Finaliser documentation Migration Turborepo Phase 4 ✅
  .claude/contexts/monorepo.md
  CLAUDE.md
  docs/architecture/MIGRATION-TURBOREPO-TODO.md
  docs/architecture/TURBOREPO-FINAL-CHECKLIST.md
Due: prettier --write

feat(produits): Ajouter éco-taxe commune aux groupes de variantes
  apps/back-office/src/app/produits/catalogue/variantes/[groupId]/page.tsx
  apps/back-office/src/types/supabase.ts
  packages/@verone/common/src/components/pricing/SupplierVsPricingEditSection.tsx
  packages/@verone/orders/src/components/modals/QuickPurchaseOrderModal.tsx
  packages/@verone/orders/src/hooks/use-draft-purchase-order.ts
  packages/@verone/products/src/components/modals/VariantGroupEditModal.tsx
  packages/@verone/products/src/hooks/use-variant-groups.ts
  packages/@verone/types/src/variant-groups.ts
  supabase/migrations/20251119_002_add_common_eco_tax_to_variant_groups.sql
Due: prettier --write, eslint --fix

fix(orders): Afficher conditions paiement + activer modal réception fournisseurs
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
Due: prettier --write, eslint --fix

feat(auth): Phase 1 + Phase 2 Architecture Multi-Canal ✅
  apps/back-office/middleware.ts
  apps/back-office/src/types/supabase.ts
  apps/linkme/middleware.ts
  docs/audits/2025-11/RAPPORT-EXECUTION-PHASE1-PHASE2.md
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/middleware/app-isolation.ts
  supabase/migrations/20251119_001_hotfix_rls_policies.sql
  supabase/migrations/20251119_002_document_phantom_columns.sql
  supabase/migrations/20251119_003_fix_user_type_enum.sql
  supabase/migrations/20251119_010_multi_canal_architecture.sql
  supabase/migrations/20251119_011_rls_multi_canal.sql
Due: prettier --write, eslint --fix

chore: Sauvegarde avant corrections triggers stock alerts
  apps/back-office/src/app/actions/purchase-orders.ts
  apps/back-office/src/app/admin/users/page.tsx
  packages/@verone/stock/src/hooks/use-stock-alerts.ts
  supabase/migrations/20251119_012_hotfix_stock_alert_condition.sql
  supabase/migrations/20251119_013_hotfix_stock_alert_zero_condition.sql
  supabase/migrations/20251119_014_cleanup_orphan_forecasted_out.sql
  supabase/migrations/20251119_015_fix_alert_deletion_on_forecast.sql
Due: prettier --write, eslint --fix

fix(mcp): Corriger configuration MCP Supabase anti-Docker
  .claude/commands/db-credentials.env.example
  .claude/commands/db.md
  .claude/contexts/database.md
  .claude/settings.json
  .github/workflows/database-audit.yml
  .gitignore
  .mcp.json
  docs/database/SCHEMA-REFERENCE.md
  docs/guides/02-development/manual-migration-guide.md
  docs/guides/07-troubleshooting/GUIDE-OPTIMISATION-TOKENS-2025-10-14.md
  scripts/fetch-types-from-dashboard.sh
  scripts/generate-types-no-docker.js
  supabase/archived/README.md
  supabase/archived/config.toml.docker-unused
  supabase/migrations/APPLY_MIGRATIONS.md
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
