Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[SI-CLIENT-ORDER-001] chore: dev-report sprint
  docs/scratchpad/dev-report-2026-05-02-SI-CLIENT-ORDER-001.md
Due: prettier --write

[SI-CLIENT-ORDER-001] feat: timeline notes internes commandes + export CSV site-internet
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/OrderDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/OrdersSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/order-detail/OrderInternalNotesTimeline.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-order-internal-notes.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/utils/export-orders-csv.ts
Due: prettier --write, eslint --fix

[SI-CLIENT-ORDER-001] feat: KPIs + pagination + tri + notes internes clients site-internet
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ClientsSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CustomerDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-site-customers-kpis.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-site-customers.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-update-customer-notes.ts
Due: prettier --write, eslint --fix

[SI-CLIENT-ORDER-001] chore: scaffold sprint plan
  docs/scratchpad/dev-plan-2026-05-02-SI-CLIENT-ORDER-001.md
Due: prettier --write

[SI-CLIENT-ORDER-001] refactor: extract OrderTotalsSection to bring OrderDetailModal under 400 lines
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/OrderDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/order-detail/OrderTotalsSection.tsx
Due: prettier --write, eslint --fix

[SI-CLIENT-ORDER-001] docs: update dev-report with post-review corrections (OrderTotalsSection)
  docs/scratchpad/dev-report-2026-05-02-SI-CLIENT-ORDER-001.md
Due: prettier --write

[SI-CLIENT-ORDER-001] chore: update dev-report with post-review corrections
  docs/scratchpad/dev-report-2026-05-02-SI-CLIENT-ORDER-001.md
Due: prettier --write

[SI-CLIENT-ORDER-001] refactor: split ClientsSection + OrderDetailModal, fix KPI label/count/scroll
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ClientsSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CustomerDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CustomersTable.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/OrderDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/order-detail/OrderNotesSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-site-customers-kpis.ts
Due: prettier --write, eslint --fix

[SI-PROD-001] feat: bulk actions catalogue produits + pagination/tri (draft) (#876)
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueBulkActionsBar.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductCardMobile.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductRow.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/modals/BulkPriceEditDialog.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/modals/BulkStatusDialog.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-bulk-actions.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-bulk-selection.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  docs/scratchpad/dev-plan-2026-05-02-SI-PROD-001.md
  docs/scratchpad/dev-report-2026-05-02-SI-PROD-001.md
Due: prettier --write, eslint --fix

[SI-CLIENT-ORDER-001] feat: clients KPIs/pagination/notes + commandes filtres/timeline/export CSV (draft) (#877)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ClientsSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CustomerDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CustomersTable.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/OrderDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/OrdersSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/order-detail/OrderInternalNotesTimeline.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/order-detail/OrderNotesSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/order-detail/OrderTotalsSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-order-internal-notes.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-site-customers-kpis.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-site-customers.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-update-customer-notes.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/utils/export-orders-csv.ts
  docs/scratchpad/dev-plan-2026-05-02-SI-CLIENT-ORDER-001.md
  docs/scratchpad/dev-report-2026-05-02-SI-CLIENT-ORDER-001.md
Due: prettier --write, eslint --fix

[INFRA-RULES-002] docs: codify multi-agent workflow (worktree, rebase early, no --admin)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/agents/ops-agent.md
  .claude/commands/pr.md
  .claude/rules/autonomy-boundaries.md
  .claude/rules/branch-strategy.md
  .claude/rules/multi-agent-workflow.md
  .claude/rules/workflow.md
  CLAUDE.md
Due: prettier --write

[BO-MKT-002] chore: scaffold task plan
  docs/scratchpad/dev-plan-2026-05-02-BO-MKT-002.md
Due: prettier --write

[BO-MKT-002] feat: Studio Marketing — générateur de prompts Nano Banana
  apps/back-office/next.config.js
  apps/back-office/package.json
  apps/back-office/src/app/(protected)/marketing/prompts/page.tsx
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
  apps/back-office/tsconfig.json
  packages/@verone/marketing/package.json
  packages/@verone/marketing/src/components/PromptBuilder/BrandSelector.tsx
  packages/@verone/marketing/src/components/PromptBuilder/PresetSelector.tsx
  packages/@verone/marketing/src/components/PromptBuilder/ProductInput.tsx
  packages/@verone/marketing/src/components/PromptBuilder/PromptBuilder.tsx
  packages/@verone/marketing/src/components/PromptBuilder/PromptPreview.tsx
  packages/@verone/marketing/src/components/PromptBuilder/index.ts
  packages/@verone/marketing/src/components/index.ts
  packages/@verone/marketing/src/data/brands.ts
  packages/@verone/marketing/src/data/index.ts
  packages/@verone/marketing/src/data/presets.ts
  packages/@verone/marketing/src/index.ts
  packages/@verone/marketing/src/lib/compose-prompt.ts
  packages/@verone/marketing/src/lib/index.ts
  packages/@verone/marketing/src/types.ts
  packages/@verone/marketing/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[BO-MKT-002] chore: address reviewer recos (useEffect deps, brand slug guard, dep cleanup, tsconfig order)
  apps/back-office/tsconfig.json
  packages/@verone/marketing/package.json
  packages/@verone/marketing/src/components/PromptBuilder/BrandSelector.tsx
  packages/@verone/marketing/src/components/PromptBuilder/PromptBuilder.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[INFRA-CLEANUP-001] chore: remove worktree config — back to solo workflow
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/agents/ops-agent.md
  .claude/commands/pr.md
  .claude/rules/autonomy-boundaries.md
  .claude/rules/branch-strategy.md
  .claude/rules/multi-agent-workflow.md
  .claude/rules/no-worktree-solo.md
  .claude/rules/workflow.md
  CLAUDE.md
  docs/scratchpad/archive/2026-05/HOTFIX-001-restore-veronecollections-2026-05-01.md
  docs/scratchpad/archive/2026-05/HOTFIX-003-audit-images-config-2026-05-01.md
  docs/scratchpad/archive/2026-05/INFRA-DNS-MIGRATE-CLOUDFLARE-2026-05-01.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-04-30-BO-VAR-FORM-002.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-01-INFRA-IMG-006.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-01-SI-AI-001.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-02-SI-SEO-001.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-001.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-002.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-003.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-003b.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-DS-001.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-02-SI-PROD-001.md
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
Due: prettier --write

[INFRA-CLEANUP-001] chore: remove worktree config — back to solo workflow (#882)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/agents/ops-agent.md
  .claude/commands/pr.md
  .claude/rules/autonomy-boundaries.md
  .claude/rules/branch-strategy.md
  .claude/rules/multi-agent-workflow.md
  .claude/rules/no-worktree-solo.md
  .claude/rules/workflow.md
  CLAUDE.md
  docs/scratchpad/archive/2026-05/HOTFIX-001-restore-veronecollections-2026-05-01.md
  docs/scratchpad/archive/2026-05/HOTFIX-003-audit-images-config-2026-05-01.md
  docs/scratchpad/archive/2026-05/INFRA-DNS-MIGRATE-CLOUDFLARE-2026-05-01.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-04-30-BO-VAR-FORM-002.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-01-INFRA-IMG-006.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-01-SI-AI-001.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-02-SI-SEO-001.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-001.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-002.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-003.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-BRAND-003b.md
  docs/scratchpad/archive/2026-05/dev-plan-BO-DS-001.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-02-SI-PROD-001.md
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
Due: prettier --write

[INFRA-COMM-001] docs: codify communication style for non-dev end-user
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/agents/ops-agent.md
  .claude/agents/perf-optimizer.md
  .claude/agents/reviewer-agent.md
  .claude/agents/verify-agent.md
  .claude/rules/communication-style.md
  CLAUDE.md
Due: prettier --write

[BO-MKT-002] feat: Studio Marketing — générateur de prompts Nano Banana (draft) (#881)
  apps/back-office/next.config.js
  apps/back-office/package.json
  apps/back-office/src/app/(protected)/marketing/prompts/page.tsx
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
  apps/back-office/tsconfig.json
  docs/scratchpad/dev-plan-2026-05-02-BO-MKT-002.md
  packages/@verone/marketing/package.json
  packages/@verone/marketing/src/components/PromptBuilder/BrandSelector.tsx
  packages/@verone/marketing/src/components/PromptBuilder/PresetSelector.tsx
  packages/@verone/marketing/src/components/PromptBuilder/ProductInput.tsx
  packages/@verone/marketing/src/components/PromptBuilder/PromptBuilder.tsx
  packages/@verone/marketing/src/components/PromptBuilder/PromptPreview.tsx
  packages/@verone/marketing/src/components/PromptBuilder/index.ts
  packages/@verone/marketing/src/components/index.ts
  packages/@verone/marketing/src/data/brands.ts
  packages/@verone/marketing/src/data/index.ts
  packages/@verone/marketing/src/data/presets.ts
  packages/@verone/marketing/src/index.ts
  packages/@verone/marketing/src/lib/compose-prompt.ts
  packages/@verone/marketing/src/lib/index.ts
  packages/@verone/marketing/src/types.ts
  packages/@verone/marketing/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[INFRA-COMM-001] docs: codify communication style for non-dev end-user (#883)
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/agents/ops-agent.md
  .claude/agents/perf-optimizer.md
  .claude/agents/reviewer-agent.md
  .claude/agents/verify-agent.md
  .claude/rules/communication-style.md
  CLAUDE.md
Due: prettier --write

[BO-MKT-001] feat: add media_assets table + mirror triggers + seed
  supabase/migrations/20260502125504_bo_mkt_001_dam_media_assets.sql
Due: none

[BO-MKT-001] chore: regenerate Supabase types after media_assets migration
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-MKT-001] feat: add useMediaAssets hook + types in @verone/products
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-media-assets.ts
Due: prettier --write, eslint --fix

[BO-MKT-001] feat: add MediaLibrary components in @verone/marketing
  packages/@verone/marketing/package.json
  packages/@verone/marketing/src/components/MediaLibrary/MediaAssetCard.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaAssetDetailModal.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaAssetGrid.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaLibraryToolbar.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaLibraryView.tsx
  packages/@verone/marketing/src/components/MediaLibrary/UploadAssetModal.tsx
  packages/@verone/marketing/src/components/MediaLibrary/index.ts
  packages/@verone/marketing/src/components/index.ts
Due: prettier --write, eslint --fix

[BO-MKT-001] feat: add /marketing/bibliotheque page + sidebar nav
  apps/back-office/src/app/(protected)/marketing/bibliotheque/page.tsx
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
Due: prettier --write, eslint --fix

[BO-MKT-001] fix: lockfile sync + drop SECURITY DEFINER from mirror triggers
  pnpm-lock.yaml
  supabase/migrations/20260502125504_bo_mkt_001_dam_media_assets.sql
Due: none

[BO-MKT-001] fix: address reviewer blockers (types drift + injection + 400 lines)
  docs/scratchpad/dev-plan-2026-05-02-BO-MKT-001-dam.md
  docs/scratchpad/dev-report-2026-05-02-BO-MKT-001-dam.md
  docs/scratchpad/next-sprint-BO-MKT-001-prompt.md
  docs/scratchpad/review-report-2026-05-02-BO-MKT-001-dam.md
  packages/@verone/products/src/hooks/use-media-asset-mutations.ts
  packages/@verone/products/src/hooks/use-media-assets.shared.ts
  packages/@verone/products/src/hooks/use-media-assets.ts
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-MKT-001] DAM Phase 1 — bibliothèque centrale d'images (#884)
  apps/back-office/src/app/(protected)/marketing/bibliotheque/page.tsx
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
  docs/scratchpad/dev-plan-2026-05-02-BO-MKT-001-dam.md
  docs/scratchpad/dev-report-2026-05-02-BO-MKT-001-dam.md
  docs/scratchpad/next-sprint-BO-MKT-001-prompt.md
  docs/scratchpad/review-report-2026-05-02-BO-MKT-001-dam.md
  packages/@verone/marketing/package.json
  packages/@verone/marketing/src/components/MediaLibrary/MediaAssetCard.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaAssetDetailModal.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaAssetGrid.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaLibraryToolbar.tsx
  packages/@verone/marketing/src/components/MediaLibrary/MediaLibraryView.tsx
  packages/@verone/marketing/src/components/MediaLibrary/UploadAssetModal.tsx
  packages/@verone/marketing/src/components/MediaLibrary/index.ts
  packages/@verone/marketing/src/components/index.ts
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-media-asset-mutations.ts
  packages/@verone/products/src/hooks/use-media-assets.shared.ts
  packages/@verone/products/src/hooks/use-media-assets.ts
  packages/@verone/types/src/supabase.ts
  pnpm-lock.yaml
  supabase/migrations/20260502125504_bo_mkt_001_dam_media_assets.sql
Due: prettier --write, eslint --fix

[INFRA-LEAN-001] chore: niveau 1 allègement config Claude
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/agents/ops-agent.md
  .claude/commands/pr.md
  .claude/rules/agent-autonomy-external.md
  .claude/rules/branch-strategy.md
  .claude/rules/no-worktree-solo.md
  .claude/rules/playwright-artifacts.md
  .claude/rules/playwright.md
  .claude/rules/workflow.md
  CLAUDE.md
  docs/scratchpad/dev-plan-2026-05-02-INFRA-LEAN-001.md
Due: prettier --write

[INFRA-LEAN-001] chore: suppression autonomy-boundaries.md (ADR-026)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/rules/autonomy-boundaries.md
  .claude/rules/communication-style.md
  .claude/rules/no-worktree-solo.md
  CLAUDE.md
  docs/scratchpad/review-report-2026-05-02-INFRA-LEAN-001.md
Due: prettier --write

[INFRA-LEAN-001] feat: ajout règle anti-paralysie de choix
  .claude/rules/communication-style.md
  CLAUDE.md
Due: prettier --write

[INFRA-LEAN-001] chore: niveau 1 allègement config Claude (sans risque) (#885)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/agents/ops-agent.md
  .claude/commands/pr.md
  .claude/rules/agent-autonomy-external.md
  .claude/rules/autonomy-boundaries.md
  .claude/rules/branch-strategy.md
  .claude/rules/communication-style.md
  .claude/rules/no-worktree-solo.md
  .claude/rules/playwright-artifacts.md
  .claude/rules/playwright.md
  .claude/rules/workflow.md
  CLAUDE.md
  docs/scratchpad/dev-plan-2026-05-02-INFRA-LEAN-001.md
  docs/scratchpad/review-report-2026-05-02-INFRA-LEAN-001.md
Due: prettier --write

[INFRA-LEAN-002] chore: niveau 2 — suppression verify-agent + compaction règles + scratchpad allégé (ADR-027)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/ops-agent.md
  .claude/agents/verify-agent.md
  .claude/commands/README.md
  .claude/rules/communication-style.md
  .claude/rules/data-fetching.md
  .claude/rules/responsive.md
  .claude/rules/workflow.md
  CLAUDE.md
Due: prettier --write

[INFRA-LEAN-002] chore: niveau 2 — suppression verify-agent + compaction règles + scratchpad allégé (ADR-027) (#886)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/ops-agent.md
  .claude/agents/verify-agent.md
  .claude/commands/README.md
  .claude/rules/communication-style.md
  .claude/rules/data-fetching.md
  .claude/rules/responsive.md
  .claude/rules/workflow.md
  CLAUDE.md
Due: prettier --write

[INFRA-RULES-004] chore: ACTIVE.md maintenance rule + cleanup obsolete tasks
  .claude/INDEX.md
  .claude/rules/active-md-maintenance.md
  .claude/work/ACTIVE.md
  CLAUDE.md
Due: prettier --write

[BO-IMG-FIX-001] fix: photos ne s'affichent plus côté navigateur (CloudflareImage fallback)
  packages/@verone/marketing/src/components/MediaLibrary/MediaAssetCard.tsx
  packages/@verone/organisations/src/components/OrganisationLogo.tsx
  packages/@verone/organisations/src/components/display/OrganisationLogo.tsx
  packages/@verone/ui/src/components/ui/cloudflare-image.tsx
  packages/@verone/utils/src/cloudflare/__tests__/images.test.ts
  packages/@verone/utils/src/cloudflare/images.ts
Due: prettier --write, eslint --fix

[BO-CATALOG-LOG-001] fix: log lisible des erreurs PostgrestError dans useCatalogue
  packages/@verone/categories/src/hooks/use-catalogue.ts
Due: prettier --write, eslint --fix
