Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

fix(middleware): Add @supabase/ssr as direct dependency for Vercel Edge Runtime
  apps/back-office/package.json
  packages/@verone/common/src/hooks/use-supabase-query.ts
  packages/@verone/notifications/src/hooks/use-user-activity-tracker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update .deploy-trigger
  .deploy-trigger
Due: none

fix(vercel): Correct Turbo filter to @verone/back-office
  vercel.json
Due: prettier --write

fix(db): Create missing RPC get_dashboard_stock_orders_metrics
  supabase/migrations/20251212_001_create_dashboard_stock_orders_metrics_rpc.sql
Due: none

chore: Trigger Vercel deploy from production-stable
  .deploy-trigger
Due: none

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix(prod): Disable finance modules + create missing /finance page
  apps/back-office/src/app/finance/page.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
  packages/@verone/utils/src/feature-flags.ts
Due: prettier --write, eslint --fix

chore: hard-gates + lazy imports for external integrations
  apps/back-office/src/app/api/cron/sync-abby-queue/route.ts
  apps/back-office/src/app/api/exports/google-merchant-excel/route.ts
  apps/back-office/src/app/api/google-merchant/batch-sync/route.ts
  apps/back-office/src/app/api/google-merchant/sync-product/[id]/route.ts
  apps/back-office/src/app/api/google-merchant/test-connection/route.ts
Due: prettier --write, eslint --fix

fix: prevent edge middleware crash (lazy import + no top-level init)
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

fix(prod): Minimal Edge-safe middleware (no Supabase imports)
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

fix(prod): Remove Edge Middleware causing MIDDLEWARE_INVOCATION_FAILED
  apps/back-office/next.config.js
  apps/back-office/src/middleware.disabled.ts
Due: prettier --write, eslint --fix

chore(security): remove .serena from git tracking
  .serena/.gitignore
  .serena/memories/business-rules-organisations.md
  .serena/memories/business_context.md
  .serena/memories/code_style_conventions.md
  .serena/memories/database-migrations-convention.md
  .serena/memories/mcp-browser-revolution-2025.md
  .serena/memories/monitoring-console-vercel-approach-2025.md
  .serena/memories/project_overview.md
  .serena/memories/sidebar-auth-fix-google-merchant-regression.md
  .serena/memories/suggested_commands.md
  .serena/memories/supabase-polymorphic-relations-pattern.md
  .serena/memories/supabase-workflow-correct.md
  .serena/memories/task_completion_guidelines.md
  .serena/memories/tech_stack.md
  .serena/memories/vercel-deployment-status-2025-10-20.md
  .serena/memories/vercel-deployment-success-2025-10-20.md
  .serena/memories/vercel-github-credentials.md
  .serena/memories/verone-business-application-context.md
  .serena/memories/verone-db-implementation-complete.md
  .serena/project.yml
Due: prettier --write

docs: add repo doctor documentation and diagnostic script
  docs/BRANCHING.md
  docs/DEPLOYMENT.md
  scripts/repo-doctor.sh
Due: prettier --write

chore: add anti-token and anti-secrets checks to repo-doctor
  .env.example
  scripts/repo-doctor.sh
Due: none

fix: improve repo-doctor robustness and reduce false positives
  scripts/repo-doctor.sh
Due: none

docs: add repo doctor documentation and diagnostic script (#13)
  .env.example
  docs/BRANCHING.md
  docs/DEPLOYMENT.md
  scripts/repo-doctor.sh
Due: prettier --write

chore(scripts): reorganize scripts with archive and categories
  docs/guides/03-integrations/README-WEBHOOKS.md
  scripts/README.md
  scripts/_archive/2025-11/apply-migration-individual-customers.mjs
  scripts/_archive/2025-11/apply-po-migration.mjs
  scripts/_archive/2025-11/check-clients-b2b-b2c.mjs
  scripts/_archive/2025-11/create-google-merchant-rpcs.sql
  scripts/_archive/2025-11/create-storage-bucket-logos.ts
  scripts/_archive/2025-11/fix-broken-verone-imports.sh
  scripts/_archive/2025-11/fix-consultation-function.sql
  scripts/_archive/2025-11/fix-google-merchant-rpcs-types-v2.sql
  scripts/_archive/2025-11/fix-google-merchant-rpcs-types.sql
  scripts/_archive/2025-11/fix-hooks-imports-simple.sh
  scripts/_archive/2025-11/fix-hooks-imports.sh
  scripts/_archive/2025-11/fix-obsolete-src-paths.sh
  scripts/_archive/2025-11/investigate-doublon.mjs
  scripts/_archive/2025-11/refonte-workflows-cleanup.mjs
  scripts/_archive/2025-11/restore-missing-components.sh
  scripts/_archive/2025-11/step2-all-variants.mjs
  scripts/_archive/2025-11/step3-movements-vert22.mjs
  scripts/maintenance/build-clean.sh
  scripts/maintenance/cleanup-database-full.sql
  scripts/maintenance/cleanup-database.sql
  scripts/maintenance/cluster-ts-errors.js
  scripts/maintenance/fetch-types-from-dashboard.sh
  scripts/maintenance/generate-types-no-docker.js
  scripts/maintenance/reset-stock-orders.sql
  scripts/maintenance/start-dev-clean.sh
  scripts/monitoring/test-all-pages.mjs
  scripts/monitoring/test-receptions-expeditions.sh
  scripts/users/setup-test-crud-user.ts
Due: prettier --write, eslint --fix

docs: add GitHub rulesets governance documentation
  docs/DEPLOYMENT.md
  docs/governance/GITHUB-RULESETS.md
Due: prettier --write

docs(scripts): add DO NOT RUN warning for archived scripts
  scripts/README.md
Due: prettier --write

chore(scripts): delete one-time scripts, keep via tag
  scripts/README.md
  scripts/_archive/2025-11/apply-migration-individual-customers.mjs
  scripts/_archive/2025-11/apply-po-migration.mjs
  scripts/_archive/2025-11/check-clients-b2b-b2c.mjs
  scripts/_archive/2025-11/create-google-merchant-rpcs.sql
  scripts/_archive/2025-11/create-storage-bucket-logos.ts
  scripts/_archive/2025-11/fix-broken-verone-imports.sh
  scripts/_archive/2025-11/fix-consultation-function.sql
  scripts/_archive/2025-11/fix-google-merchant-rpcs-types-v2.sql
  scripts/_archive/2025-11/fix-google-merchant-rpcs-types.sql
  scripts/_archive/2025-11/fix-hooks-imports-simple.sh
  scripts/_archive/2025-11/fix-hooks-imports.sh
  scripts/_archive/2025-11/fix-obsolete-src-paths.sh
  scripts/_archive/2025-11/investigate-doublon.mjs
  scripts/_archive/2025-11/refonte-workflows-cleanup.mjs
  scripts/_archive/2025-11/restore-missing-components.sh
  scripts/_archive/2025-11/step2-all-variants.mjs
  scripts/_archive/2025-11/step3-movements-vert22.mjs
Due: prettier --write, eslint --fix

chore(scripts): reorganize scripts with archive and categories (#14)
  docs/guides/03-integrations/README-WEBHOOKS.md
  scripts/README.md
  scripts/apply-migration-individual-customers.mjs
  scripts/apply-po-migration.mjs
  scripts/check-clients-b2b-b2c.mjs
  scripts/create-google-merchant-rpcs.sql
  scripts/create-storage-bucket-logos.ts
  scripts/fix-broken-verone-imports.sh
  scripts/fix-consultation-function.sql
  scripts/fix-google-merchant-rpcs-types-v2.sql
  scripts/fix-google-merchant-rpcs-types.sql
  scripts/fix-hooks-imports-simple.sh
  scripts/fix-hooks-imports.sh
  scripts/fix-obsolete-src-paths.sh
  scripts/investigate-doublon.mjs
  scripts/maintenance/build-clean.sh
  scripts/maintenance/cleanup-database-full.sql
  scripts/maintenance/cleanup-database.sql
  scripts/maintenance/cluster-ts-errors.js
  scripts/maintenance/fetch-types-from-dashboard.sh
  scripts/maintenance/generate-types-no-docker.js
  scripts/maintenance/reset-stock-orders.sql
  scripts/maintenance/start-dev-clean.sh
  scripts/monitoring/test-all-pages.mjs
  scripts/monitoring/test-receptions-expeditions.sh
  scripts/refonte-workflows-cleanup.mjs
  scripts/restore-missing-components.sh
  scripts/step2-all-variants.mjs
  scripts/step3-movements-vert22.mjs
  scripts/users/setup-test-crud-user.ts
Due: prettier --write, eslint --fix

docs: add GitHub rulesets governance documentation (#15)
  docs/DEPLOYMENT.md
  docs/governance/GITHUB-RULESETS.md
Due: prettier --write

fix(security): upgrade Next.js to 15.5.9 for CVE-2025-66478
  apps/linkme/package.json
  apps/site-internet/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): add git config for backup tag creation
  .github/workflows/deploy-safety.yml
Due: none

fix(ci): use pnpm instead of npm in deploy-safety workflow
  .github/workflows/deploy-safety.yml
Due: none

fix(ci): migrate all workflows from npm to pnpm
  .github/workflows/audit.yml
  .github/workflows/database-audit.yml
  .github/workflows/deploy-production.yml
  .github/workflows/pr-validation.yml
  .github/workflows/typescript-quality.yml
Due: none

fix(ci): align pnpm version to 10.13.1 in all workflows
  .github/workflows/audit.yml
  .github/workflows/database-audit.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-safety.yml
  .github/workflows/pr-validation.yml
  .github/workflows/typescript-quality.yml
Due: none

fix(types): add styled-jsx type declarations
  apps/back-office/src/styled-jsx.d.ts
Due: prettier --write, eslint --fix

fix(linkme): use path alias @/ instead of ./src/
  apps/linkme/middleware.ts
Due: prettier --write, eslint --fix

fix(ci): simplify Turborepo path validation workflow
  .github/workflows/validate-docs-paths.yml
Due: none

fix(ci): exclude docs from double-path validation
  .github/workflows/validate-docs-paths.yml
Due: none

fix(ci): add Supabase env vars to build and E2E jobs
  .github/workflows/deploy-safety.yml
Due: none

fix(vercel): Add linkme-specific vercel.json to override root config
  apps/linkme/vercel.json
Due: prettier --write

fix(vercel): Add LinkMe build config for Turborepo monorepo
  .github/workflows/audit.yml
  .github/workflows/database-audit.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-safety.yml
  .github/workflows/pr-validation.yml
  .github/workflows/typescript-quality.yml
  .github/workflows/validate-docs-paths.yml
  apps/back-office/src/styled-jsx.d.ts
  apps/linkme/middleware.ts
  apps/linkme/package.json
  apps/linkme/vercel.json
  apps/site-internet/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(docs): align CLAUDE.md branch strategy with canon docs
  CLAUDE.md
Due: prettier --write

docs(audit): add audit pack 2025-12-15
  docs/audit/AUDIT_FINDINGS.md
  docs/audit/AUDIT_SUMMARY.md
  docs/audit/CONTEXT_PACK_FOR_GPT.md
  docs/audit/DB_SCHEMA_SUMMARY.md
  docs/audit/DEPLOYMENT_TRUTH.md
  docs/audit/DOCS_DRIFT_MAP.md
  docs/audit/PR_PLAN.md
  reports/AUDIT-REPO-2025-12-15.md
  reports/README.md
  reports/repo-audit-report.json
  reports/repo-audit-report.md
  scripts/repo-audit.sh
Due: prettier --write

fix(commands): remove Co-Authored-By Claude from senior-stabilization-protocol
  .claude/commands/senior-stabilization-protocol.md
Due: prettier --write

chore(docs): remove obsolete ci-cd docs from Oct 2025
  docs/ci-cd/README.md
  docs/ci-cd/deployment-batch-74d-2025-10-29.md
  docs/ci-cd/rollback-procedures.md
  docs/ci-cd/vercel-deployment-fix-2025-10.md
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
