Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[NO-TASK] chore(gitignore): ignore .claude/ generated files
  .gitignore
Due: none

[NO-TASK] chore(claude): enforce clean structure - move docs to _archive
  .claude/audits/README.md
  docs/_archive/claude/2026-01/execution-pompier-final.md
  docs/_archive/claude/2026-01/governance-final-2026-01-19.md
  docs/_archive/claude/2026-01/livrables-pompier-mode-2026-01-19.md
Due: prettier --write

[NO-TASK] docs(claude): add file generation rules + update hygiene docs
  .claude/README.md
Due: prettier --write

[NO-TASK] chore(workflows): remove repo-hygiene schedule + add dry_run guard
  .github/workflows/repo-hygiene-weekly.yml
Due: none

[NO-TASK] chore: cleanup .claude/ structure + disable auto-PR
  .claude/README.md
  .claude/audits/README.md
  .github/workflows/repo-hygiene-weekly.yml
  .gitignore
  docs/_archive/claude/2026-01/execution-pompier-final.md
  docs/_archive/claude/2026-01/governance-final-2026-01-19.md
  docs/_archive/claude/2026-01/livrables-pompier-mode-2026-01-19.md
Due: prettier --write

[NO-TASK] docs: add PR_PLAYBOOK for manual PR workflow
  .claude/PR_PLAYBOOK.md
  .claude/README.md
  CLAUDE.md
Due: prettier --write

[NO-TASK] chore: reduce .claude/ to canon structure (4 agents + 5 commands)
  .gitignore
  docs/_archive/claude/2026-01/legacy/agents/action.md
  docs/_archive/claude/2026-01/legacy/agents/audit-governor.md
  docs/_archive/claude/2026-01/legacy/agents/data-layer-auditor.md
  docs/_archive/claude/2026-01/legacy/backups/branch-protection-main-20260119-202738.json
  docs/_archive/claude/2026-01/legacy/backups/branch-protection-main-before-single-check-20260119-203843.json
  docs/_archive/claude/2026-01/legacy/backups/ruleset-protect-main-backup-20260119-105606.json
  docs/_archive/claude/2026-01/legacy/backups/rulesets-20260119-202739.json
  docs/_archive/claude/2026-01/legacy/commands/arch.md
  docs/_archive/claude/2026-01/legacy/commands/commit.md
  docs/_archive/claude/2026-01/legacy/commands/senior-stabilization-protocol.md
  docs/_archive/claude/2026-01/legacy/commands/write.md
Due: prettier --write

[NO-TASK] fix: restore optimized statusLine (bun + ccusage@17.2.0)
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: restore status line with robust wrapper script
  .claude/scripts/statusline-fixed.sh
  .claude/settings.json
Due: prettier --write

[NO-TASK] docs/chore: remove claude outputs folders (tolerance zero)
  .claude/README.md
  .claude/audits/README.md
  .gitignore
Due: prettier --write

[NO-TASK] chore: cleanup root + automation (Phase 3 Audit execution)
  .deploy-trigger
  .github/workflows/Untitled
  .gitignore
  .vercel-trigger
  docs/README.md
  docs/apps/linkme/architecture.md
  docs/apps/linkme/audits/globe-3d-2026-01-16.md
  docs/apps/linkme/audits/presentation-figma.md
  docs/apps/linkme/commission-model.md
  docs/apps/linkme/commissions.md
  docs/apps/linkme/workflows.md
  docs/database/inventory.md
  docs/database/source-of-truth.md
  docs/engineering/INDEX.md
  docs/engineering/NORMALIZATION-QUICK-START.md
  docs/engineering/components-inventory.md
  docs/engineering/hooks-inventory.md
  docs/engineering/phase2b-summary.md
  docs/inventory/EXECUTIVE_SUMMARY.md
  docs/inventory/QUESTIONS_DECISIONNELLES.md
  docs/inventory/root-dirs.md
  docs/inventory/root-scripts-audit.md
  docs/inventory/serena-security-audit.md
  docs/runbooks/deployment.md
  package.json
  scripts/maintenance/clean-test-artifacts.sh
  scripts/testing/README.md
  scripts/testing/test-form-api.sh
  tools/scripts/analyze-hooks-components.js
  tools/scripts/extract-table-info.js
  tools/scripts/parse-migrations.sh
Due: prettier --write

[NO-TASK] fix: remove missing stock components export (pre-existing bug)
  packages/@verone/ui/src/index.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: consolidate LinkMe documentation (source de vérité unique)
  docs/README.md
  docs/apps/linkme.md
  docs/apps/linkme/audits/globe-3d-2026-01-16.md
  docs/apps/linkme/commission-model.md
  docs/apps/linkme/commissions.md
  docs/apps/linkme/linkme.md
  docs/apps/linkme/presentation-figma.md
  docs/apps/linkme/workflows.md
Due: prettier --write

[NO-TASK] docs: migrate manifests/ to docs/ (single source of truth)
  apps/back-office/src/app/(protected)/commandes/README.md
  apps/back-office/src/app/(protected)/contacts-organisations/README.md
  apps/back-office/src/app/(protected)/produits/catalogue/README.md
  apps/back-office/src/app/(protected)/stocks/README.md
  docs/README.md
  docs/architecture/database-schema-corrections-v2.md
  docs/architecture/feeds-specifications-facebook.md
  docs/architecture/feeds-specifications-google.md
  docs/architecture/stock-orders-system-architecture.md
  docs/engineering/business-rules/README.md
  docs/engineering/performance/targets.md
  docs/engineering/standards/database/CRITICAL-TABLES-PROTECTION.md
  docs/engineering/standards/ui/DATA-STATUS-BADGE-RULES.md
  docs/features/SYSTEME-EXPEDITIONS-MULTI-METHODES.md
  docs/features/SYSTEME-EXPEDITIONS-MULTI-TRANSPORTEURS-V2.md
  docs/features/SYSTEME-RAPPORTS-STOCK-COMPLET.md
  docs/integrations/google-merchant/setup.md
  docs/prd/current/PRD-ADMIN-PRICING-CURRENT.md
  docs/prd/current/PRD-CATALOGUE-CURRENT.md
  docs/prd/current/PRD-COMMANDES-CURRENT.md
  docs/prd/current/PRD-DASHBOARD-CURRENT.md
  docs/prd/current/PRD-FINANCE-CURRENT.md
  docs/prd/current/PRD-STOCKS-CURRENT.md
  manifests/technical-workflows/mcp-testing-automation-2025.md
  manifests/technical-workflows/memory-bank-organization-2025.md
  packages/@verone/common/src/utils/naming-rules.ts
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
  packages/@verone/utils/src/business-rules/naming-rules.ts
Due: prettier --write, eslint --fix

[NO-TASK] security: add rotation procedure + migrate RLS audit
  docs/database/rls-performance-audit.md
  docs/security/secrets-rotation-procedure.md
Due: prettier --write

[NO-TASK] docs: Phase 3 completion report
  docs/inventory/PHASE3_COMPLETION.md
Due: prettier --write

[NO-TASK] docs: add table vs view audit (DB vs migrations)
  docs/database/table-vs-view-audit-full.json
  docs/database/table-vs-view-audit.json
  docs/database/table-vs-view-audit.md
Due: prettier --write

[LM-ORD-AUDIT] fix: enforce pending_admin_validation invariant on approval
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-order-actions.ts
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
Due: prettier --write, eslint --fix

[LM-ORD-AUDIT] security: add RLS policy and trigger for sales_orders UPDATE
  supabase/migrations/20260120_001_add_update_policy_sales_orders.sql
  supabase/migrations/20260120_002_trigger_enforce_pending_validation.sql
Due: none

[LM-ORD-AUDIT] docs: add test plan for pending_admin_validation invariant
  .tasks/TEST_PLAN_PENDING_VALIDATION.md
Due: prettier --write

[NO-TASK] docs: add drift resolution strategy (no execution)
  docs/database/drift-resolution-strategy.md
Due: prettier --write

[NO-TASK] docs: add artifacts policy + known issues
  docs/engineering/artifacts-policy.md
  docs/engineering/known-issues.md
Due: prettier --write

[NO-TASK] docs: add repo root + scripts audit (FAST, STOP GATE)
  docs/engineering/cleanup-proposal.md
  docs/engineering/repo-root-audit.md
  docs/engineering/scripts-inventory.md
Due: prettier --write

[BO-PROD-500] fix: remove Sentry import from middleware (Edge Runtime crash)
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: audit root non-MD files (13 files, 1 delete)
  docs/engineering/root-nonmd-files-audit.md
Due: prettier --write

[NO-TASK] chore: minimal cleanup (Option A + root audit)
  .gitignore
  PROTECTED_FILES.json
  scripts/claude/statusline-fixed.sh
  scripts/claude/task-completed.sh
Due: prettier --write

[BO-COMPONENTS-001] fix: export StockKPICard from @verone/ui
  docs/engineering/sentry-runtime-policy.md
  packages/@verone/ui/src/components/stock/StockKPICard.tsx
  packages/@verone/ui/src/components/stock/index.ts
  packages/@verone/ui/src/index.ts
Due: prettier --write, eslint --fix

[HOTFIX] Disable Sentry to unblock production (build failures)
  .github/workflows/pr-validation.yml
  apps/back-office/next.config.js
  docs/inventory/manifests-migration-plan.md
  docs/inventory/test-artifacts-cleanup-plan.md
  tools/reports/components-duplicates-only.json
  tools/reports/components-usage.json
  tools/reports/db-inventory.json
  tools/reports/hooks-duplicates-only.json
  tools/reports/hooks-usage.json
  tools/reports/table-vs-view-audit-full.json
  tools/reports/table-vs-view-audit.json
Due: prettier --write

[NO-TASK] feat: CI isolation stricte + reduce redundant checks
  .github/workflows/Untitled
  .github/workflows/quality-gate.yml
  archive/2026-01/github-workflows/cleanup-screenshots.yml
  archive/2026-01/github-workflows/deploy-production.yml
  archive/2026-01/github-workflows/deploy-safety.yml
  archive/2026-01/github-workflows/monitoring-2025.yml
  archive/2026-01/github-workflows/typescript-quality.yml
Due: none

[NO-TASK] security: remove exposed secrets + obsolete script + empty workflow
  .github/workflows/Untitled
  apps/back-office/.env.local.backup-20260114-065620
  apps/linkme/.env.local.backup-20260114-065620
  apps/site-internet/.env.local.backup-20260114-234029
  scripts/claude/install-git-hooks.sh
  scripts/reports/repo-audit-report.md
Due: prettier --write

[NO-TASK] fix: disable ALL auto-PR creation + enforce MANUAL_MODE
  .claude/MANUAL_MODE.md
  .github/DEPLOYMENT_STATUS.md
  .github/workflows/docs-governance.yml
  .github/workflows/repo-hygiene-weekly.yml
Due: prettier --write

[NO-TASK] perf: remove 5 redundant CI workflows (-80% CI time)
  .github/workflows/audit.yml
  .github/workflows/deploy-safety.yml
  .github/workflows/pr-validation.yml
  .github/workflows/typescript-quality.yml
  .github/workflows/validate-docs-paths.yml
Due: none

[NO-TASK] fix: repo-audit bug + statusline wrapper + qonto doc + hygiene
  .claude/scripts/statusline.sh
  .gitignore
  .tasks/plans/README.md
  .tasks/plans/enforce-professional-workflow-2026.md
  archive/2026-01/claude/README.md
  archive/2026-01/claude/agents/action.md
  archive/2026-01/claude/agents/audit-governor.md
  archive/2026-01/claude/agents/data-layer-auditor.md
  archive/2026-01/claude/commands/commit.md
  archive/2026-01/claude/commands/write.md
  docs/architecture/README.md
  docs/integrations/qonto-env-setup.md
  docs/runbooks/incident.md
  scripts/claude/repo-audit.sh
  scripts/reports/repo-audit-report.md
Due: prettier --write

[NO-TASK] docs: restore 3 canon docs from archives
  docs/BRANCHING.md
  docs/DEPLOYMENT.md
  docs/governance/GITHUB-RULESETS.md
Due: prettier --write

[NO-TASK] fix: repo-audit.sh REPO_ROOT path (critical bug)
  scripts/claude/repo-audit.sh
Due: none

[NO-TASK] chore: remove quality-gate workflow (too slow)
  .github/workflows/quality-gate.yml
Due: none

[NO-TASK] perf: remove deploy-production workflow (Vercel handles this)
  .github/workflows/deploy-production.yml
Due: none

[NO-TASK] perf: remove obsolete database-audit workflow (pre-turborepo)
  .github/workflows/database-audit.yml
Due: none

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
