Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-MSG-011] feat: cron Vercel pour renouveler le watch Gmail tous les 6 jours
  apps/back-office/src/app/api/gmail/watch/refresh/route.ts
  vercel.json
Due: prettier --write, eslint --fix

[BO-MSG-009] fix: align FK declarations with drift checker + types byte-for-byte CI
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260506_001_bo_msg_009_email_links.sql
Due: prettier --write, eslint --fix

[BO-MSG] Refonte messagerie complète (10 sprints, 11 commits) (#928)
  apps/back-office/src/app/(protected)/messages/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/edit/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/nouveau/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/ComposeMailModal.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MailsKpiBar.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/compose-helpers.ts
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/types.ts
  apps/back-office/src/app/api/gmail/send/route.ts
  apps/back-office/src/app/api/gmail/watch/init/route.ts
  apps/back-office/src/app/api/gmail/watch/refresh/route.ts
  apps/back-office/src/components/layout/brand-switcher.tsx
  apps/back-office/src/components/messages-tabs-bar.tsx
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/integrations/src/gmail/auth.ts
  packages/@verone/integrations/src/gmail/client.ts
  packages/@verone/integrations/src/gmail/config.ts
  packages/@verone/types/src/email-messages.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260506_001_bo_msg_009_email_links.sql
  supabase/migrations/20260506_002_bo_msg_014_email_templates.sql
  vercel.json
Due: prettier --write, eslint --fix

[BO-MSG-016] fix: page Messagerie cassée par join organisations.name inexistant
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  packages/@verone/types/src/email-messages.ts
Due: prettier --write, eslint --fix

[BO-MSG-017] chore: suppression doublons mail (ComposeMailModal + route gmail/send + page nouveau template)
  apps/back-office/src/app/(protected)/parametres/emails/nouveau/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/ComposeMailModal.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/compose-helpers.ts
  apps/back-office/src/app/api/gmail/send/route.ts
  packages/@verone/integrations/src/gmail/auth.ts
  packages/@verone/integrations/src/gmail/client.ts
  packages/@verone/integrations/src/gmail/config.ts
Due: prettier --write, eslint --fix

[BO-MSG-016 + BO-MSG-017] fix Messagerie + suppression doublons mail (#929)
  apps/back-office/src/app/(protected)/parametres/emails/nouveau/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/ComposeMailModal.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/compose-helpers.ts
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/app/api/gmail/send/route.ts
  packages/@verone/integrations/src/gmail/auth.ts
  packages/@verone/integrations/src/gmail/client.ts
  packages/@verone/integrations/src/gmail/config.ts
  packages/@verone/types/src/email-messages.ts
Due: prettier --write, eslint --fix

[BO-LM-PERF-001] perf: maj locale instantanée des champs missing-info LinkMe
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
Due: prettier --write, eslint --fix

[BO-LM-PERF-001] perf: maj locale instantanée des champs missing-info LinkMe (#930)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore: bump supabase advisors baseline (314 -> 315 SECURITY DEFINER)
  scripts/supabase-advisors-baseline.json
Due: prettier --write

[BO-LM-PERF-002] perf: maj locale instantanée édition step + reprise adresse org
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
Due: prettier --write, eslint --fix

[BO-LM-PERF-002] perf: maj locale instantanée édition step + reprise adresse org (#932)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
Due: prettier --write, eslint --fix

[INFRA-CI-003] perf: refonte E2E 3 niveaux (golden / domaine sharded / e2e-full)
  .github/workflows/quality.yml
  docs/scratchpad/dev-report-2026-05-06-INFRA-CI-003.md
  playwright.config.ts
  tests/e2e/smoke/smoke-golden.spec.ts
  tests/e2e/stocks/inventaire.spec.ts
  tests/e2e/stocks/mouvements.spec.ts
  tests/e2e/workflows/auth-flow.spec.ts
  tests/e2e/workflows/contacts-organisations.spec.ts
  tests/e2e/workflows/dashboard-navigation.spec.ts
  tests/e2e/workflows/finance-flow.spec.ts
  tests/e2e/workflows/linkme-channel.spec.ts
  tests/e2e/workflows/product-management.spec.ts
  tests/e2e/workflows/stock-management.spec.ts
  tests/e2e/workflows/workflow-chaine-commerciale.spec.ts
  tests/e2e/workflows/workflow-shipment-wizard.spec.ts
Due: prettier --write, eslint --fix

[INFRA-CI-003] fix: jobs E2E partagent le build via artifact (évite 5 min de rebuild par job)
  .github/workflows/quality.yml
Due: none

[INFRA-CI-003] fix: job alias E2E Smoke pour compat branch protection
  .github/workflows/quality.yml
Due: none

[INFRA-CI-003] perf: refonte E2E 3 niveaux (golden / domaine sharded / e2e-full) (#934)
  .github/workflows/quality.yml
  docs/scratchpad/dev-report-2026-05-06-INFRA-CI-003.md
  playwright.config.ts
  tests/e2e/smoke/smoke-golden.spec.ts
  tests/e2e/stocks/inventaire.spec.ts
  tests/e2e/stocks/mouvements.spec.ts
  tests/e2e/workflows/auth-flow.spec.ts
  tests/e2e/workflows/contacts-organisations.spec.ts
  tests/e2e/workflows/dashboard-navigation.spec.ts
  tests/e2e/workflows/finance-flow.spec.ts
  tests/e2e/workflows/linkme-channel.spec.ts
  tests/e2e/workflows/product-management.spec.ts
  tests/e2e/workflows/stock-management.spec.ts
  tests/e2e/workflows/workflow-chaine-commerciale.spec.ts
  tests/e2e/workflows/workflow-shipment-wizard.spec.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: aggregate E2E n'échoue plus sur 'skipped' (release PR cas)
  .github/workflows/quality.yml
Due: none

[BO-LM-PERF-003] perf: ShipmentCardsSection en React.memo + props primitives
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/ShipmentCardsSection.tsx
  docs/scratchpad/dev-report-2026-05-06-BO-LM-PERF-003.md
Due: prettier --write, eslint --fix

[BO-LM-PERF-003] perf: ShipmentCardsSection en React.memo + props primitives (#936)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/ShipmentCardsSection.tsx
  docs/scratchpad/dev-report-2026-05-06-BO-LM-PERF-003.md
Due: prettier --write, eslint --fix

[BO-FIN-INVOICE-SELECT-001] fix: boucle infinie modal sélection commande + totaux page commande cohérents avec modal facture
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/LeftColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/left-column/OrderTotalsCard.tsx
  packages/@verone/finance/src/components/order-select/use-order-select.ts
  tests/e2e/smoke/smoke-golden.spec.ts
Due: prettier --write, eslint --fix

[BO-FIN-046] docs: ADR module TVA unique + diagramme dépendances + workflow cascade
  docs/current/WORKFLOWS-CRITIQUES.md
  docs/current/finance/totals-source-of-truth.md
Due: prettier --write

[BO-FIN-046] feat: aligner recalculate_sales_order_totals sur round-per-line
  supabase/migrations/20260506213737_bo_fin_046_align_recalc_so_totals_round_per_line.sql
Due: none

[BO-FIN-046] feat: module finance-totals unique + 35 tests round-per-line
  packages/@verone/finance/package.json
  packages/@verone/finance/src/lib/finance-totals/__tests__/compute.test.ts
  packages/@verone/finance/src/lib/finance-totals/compute.ts
  packages/@verone/finance/src/lib/finance-totals/index.ts
  packages/@verone/finance/src/lib/finance-totals/qonto.ts
  packages/@verone/finance/src/lib/finance-totals/types.ts
Due: prettier --write, eslint --fix

[BO-FIN-046] feat: brancher QuoteTotalsSection + InvoiceTotalsSection sur module unique
  packages/@verone/finance/src/components/InvoiceCreateFromOrderModal/InvoiceTotalsSection.tsx
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/QuoteTotalsSection.tsx
Due: prettier --write, eslint --fix

[BO-FIN-046] feat: brancher persist + build-invoice-items + quotes route.db sur module unique
  apps/back-office/src/app/api/qonto/invoices/_lib/build-invoice-items.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/persist-financial-document.ts
  apps/back-office/src/app/api/qonto/quotes/route.db.ts
Due: prettier --write, eslint --fix

[BO-FIN-046] feat: brancher regenerate-proforma + service route sur module unique
  apps/back-office/src/app/api/qonto/invoices/by-order/[orderId]/regenerate-proforma/_helpers.ts
  apps/back-office/src/app/api/qonto/invoices/service/route.ts
Due: prettier --write, eslint --fix

[BO-FIN-046] fix: supprimer calcul totalHT*1.2 hardcodé dans updateOrderWithItems
  packages/@verone/orders/src/hooks/use-sales-orders-mutations-write.ts
Due: prettier --write, eslint --fix

[BO-FIN-046] feat: brancher useQuoteSubmit standalone sur module unique
  packages/@verone/finance/src/components/QuoteFormModal/use-quote-submit.ts
Due: prettier --write, eslint --fix

[BO-FIN-046] fix: verrouiller frais commande dès facture finalized/sent/paid
  apps/back-office/src/components/orders/FeesSection.tsx
  packages/@verone/orders/src/hooks/index.ts
  packages/@verone/orders/src/hooks/use-has-finalized-invoice.ts
  packages/@verone/orders/src/hooks/use-sales-orders-mutations-write.ts
  packages/@verone/orders/src/validators/order-status.ts
Due: prettier --write, eslint --fix

[BO-FIN-046] feat: badge resync sur /factures + cascade devis-facture
  apps/back-office/src/app/(protected)/factures/components/InvoicesTable.tsx
  apps/back-office/src/app/(protected)/factures/components/types.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/enrich-invoices-list.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/types.ts
  packages/@verone/finance/src/components/DocumentResyncAction/index.tsx
Due: prettier --write, eslint --fix

[BO-FIN-046] feat: NOT NULL tax_rate + formula_version + updated_by audit trail
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260507060000_bo_fin_046_constraints_and_audit.sql
Due: prettier --write, eslint --fix

[BO-FIN-046] fix: SET search_path sur set_updated_by + clarification choix champ status
  packages/@verone/orders/src/hooks/use-has-finalized-invoice.ts
  supabase/migrations/20260506232111_bo_fin_046_fix_set_updated_by_search_path.sql
Due: prettier --write, eslint --fix

[BO-FIN-046] Calcul TVA unique + cohérence totale modification commande (7 étapes) (#939)
  apps/back-office/src/app/(protected)/factures/components/InvoicesTable.tsx
  apps/back-office/src/app/(protected)/factures/components/types.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/build-invoice-items.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/enrich-invoices-list.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/persist-financial-document.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/types.ts
  apps/back-office/src/app/api/qonto/invoices/by-order/[orderId]/regenerate-proforma/_helpers.ts
  apps/back-office/src/app/api/qonto/invoices/service/route.ts
  apps/back-office/src/app/api/qonto/quotes/route.db.ts
  apps/back-office/src/components/orders/FeesSection.tsx
  docs/current/WORKFLOWS-CRITIQUES.md
  docs/current/finance/totals-source-of-truth.md
  packages/@verone/finance/package.json
  packages/@verone/finance/src/components/DocumentResyncAction/index.tsx
  packages/@verone/finance/src/components/InvoiceCreateFromOrderModal/InvoiceTotalsSection.tsx
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/QuoteTotalsSection.tsx
  packages/@verone/finance/src/components/QuoteFormModal/use-quote-submit.ts
  packages/@verone/finance/src/lib/finance-totals/__tests__/compute.test.ts
  packages/@verone/finance/src/lib/finance-totals/compute.ts
  packages/@verone/finance/src/lib/finance-totals/index.ts
  packages/@verone/finance/src/lib/finance-totals/qonto.ts
  packages/@verone/finance/src/lib/finance-totals/types.ts
  packages/@verone/orders/src/hooks/index.ts
  packages/@verone/orders/src/hooks/use-has-finalized-invoice.ts
  packages/@verone/orders/src/hooks/use-sales-orders-mutations-write.ts
  packages/@verone/orders/src/validators/order-status.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260506213737_bo_fin_046_align_recalc_so_totals_round_per_line.sql
  supabase/migrations/20260506232111_bo_fin_046_fix_set_updated_by_search_path.sql
  supabase/migrations/20260507060000_bo_fin_046_constraints_and_audit.sql
Due: prettier --write, eslint --fix

[BO-ORDER-PERF-001] perf: liste commandes — 9 requêtes → 7 + suppression du recalcul stats
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
Due: prettier --write, eslint --fix

[BO-ORDER-PERF-001] fix: supprime calcul totalHT × 1.2 hardcodé dans createOrder
  packages/@verone/orders/src/hooks/use-sales-orders-mutations-write.ts
Due: prettier --write, eslint --fix

[BO-ORDER-PERF-001] perf: liste commandes — 9 requêtes → 7 + cleanup createOrder (#941)
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
  packages/@verone/orders/src/hooks/use-sales-orders-mutations-write.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] perf: consolidation RLS phase 1 — risque zéro
  supabase/migrations/20260507120000_bo_rls_perf_002_consolidate_policies.sql
Due: none

[BO-RLS-PERF-002] docs: règle workflow zéro merge intermédiaire (ADR-028)
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[BO-RLS-PERF-002] fix: faille confidentialité individual_customers (phase 2)
  supabase/migrations/20260507130000_bo_rls_perf_002_phase2_individual_customers_isolation.sql
Due: none

[BO-RLS-PERF-002] perf: consolidation policies affilié + storage (phase 3)
  supabase/migrations/20260507140000_bo_rls_perf_002_phase3_consolidate_affiliate_policies.sql
Due: none

[BO-RLS-PERF-002] perf: retirer chargement images dans liste commandes
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix
