Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-RLS-PERF-002] perf: suppression policies legacy purchase_orders (phase 4)
  supabase/migrations/20260507150000_bo_rls_perf_002_phase4_purchase_orders_legacy.sql
Due: none

[BO-RLS-PERF-002] refactor: factures brouillons liées commande = lecture seule (étapes 1+2)
  apps/back-office/src/app/(protected)/factures/[id]/DocumentDetailHeader.tsx
  apps/back-office/src/app/(protected)/factures/components/InvoiceActions.tsx
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] feat: modal régénération avec récap + diff (étapes 3+4 + bug fix)
  apps/back-office/src/app/(protected)/factures/components/InvoicesTable.tsx
  apps/back-office/src/components/orders/InvoicesSection.tsx
  apps/back-office/src/components/orders/QuotesSection.tsx
  packages/@verone/finance/src/components/DocumentOutOfSyncBadge.tsx
  packages/@verone/finance/src/components/DocumentResyncAction/index.tsx
  packages/@verone/finance/src/components/RegenerateDocumentConfirmModal/index.tsx
Due: prettier --write, eslint --fix

[BO-FIN-FEES-001] fix: inclure les frais HT dans sales_orders.total_ht
  supabase/migrations/20260507160000_bo_fees_in_total_ht_fix.sql
Due: none

Revert "[BO-FIN-FEES-001] fix: inclure les frais HT dans sales_orders.total_ht"
  supabase/migrations/20260507160000_bo_fees_in_total_ht_fix.sql
Due: none

[BO-FIN-FEES-002] fix: garde-fou parsing billing_address + fallback organisation
  apps/back-office/src/app/api/qonto/invoices/_lib/resolve-qonto-client.ts
  apps/back-office/src/app/api/qonto/quotes/route.helpers.ts
Due: prettier --write, eslint --fix

[BO-FIN-FEES-002] feat: protection JSONB + wizard sécurisé + doc R-JSONB (étapes 6+7+8+9)
  .claude/DECISIONS.md
  .claude/rules/database.md
  PROTECTED_FILES.json
  packages/@verone/orders/src/components/modals/sales-order-form/hooks/use-sales-order-submit.ts
  supabase/migrations/20260507170000_bo_fin_fees_002_jsonb_address_constraints.sql
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] feat: oeil sur tous brouillons + badge désynchro commande + UX header
  apps/back-office/src/app/(protected)/factures/[id]/DocumentDetailHeader.tsx
  apps/back-office/src/app/(protected)/factures/components/InvoiceActions.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] fix: neutraliser badge désynchro faux positifs + handoff
  docs/scratchpad/dev-report-2026-05-07-session-handoff.md
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] docs: ajout cause racine SO-00157 dans handoff
  docs/scratchpad/dev-report-2026-05-07-session-handoff.md
Due: prettier --write

[BO-RLS-PERF-002] feat: badge desync devis/facture brouillon au centime pres
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] feat: bouton resync 1 clic + detection orphelins Qonto
  apps/back-office/src/app/api/qonto/quotes/by-order/[orderId]/regenerate/route.ts
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

Revert "[BO-RLS-PERF-002] feat: bouton resync 1 clic + detection orphelins Qonto"
  apps/back-office/src/app/api/qonto/quotes/by-order/[orderId]/regenerate/route.ts
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] feat: bouton synchroniser ouvre modal pre-rempli depuis commande
  packages/@verone/orders/src/components/sales-orders-table/OrderResyncButton.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] fix: normalize country code + restore legal_name (trade) on Qonto quotes
  apps/back-office/src/app/api/qonto/invoices/_lib/resolve-qonto-client.ts
  apps/back-office/src/app/api/qonto/quotes/route.helpers.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] fix: PDF download au lieu d'inline preview
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/back-office/src/app/api/qonto/invoices/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/quotes/[id]/pdf/route.ts
Due: prettier --write, eslint --fix

Revert "[BO-RLS-PERF-002] fix: PDF download au lieu d'inline preview"
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/back-office/src/app/api/qonto/invoices/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/quotes/[id]/pdf/route.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] fix: PDF empty download — restaure pattern blob (regression vs c1206abe dec 2025)
  apps/back-office/src/app/api/qonto/invoices/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/quotes/[id]/pdf/route.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] feat: bouton resync compact + ecart montant en libelle a cote
  packages/@verone/orders/src/components/sales-orders-table/OrderResyncButton.tsx
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] fix: retire critere orphelin Qonto + refetch silencieux apres resync
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-002] perf+sec: consolidation RLS — 3 phases (gain attendu 5-12s/requête + faille corrigée) (#942)
  .claude/DECISIONS.md
  .claude/rules/database.md
  .claude/rules/workflow.md
  PROTECTED_FILES.json
  apps/back-office/src/app/(protected)/factures/[id]/DocumentDetailHeader.tsx
  apps/back-office/src/app/(protected)/factures/components/InvoiceActions.tsx
  apps/back-office/src/app/(protected)/factures/components/InvoicesTable.tsx
  apps/back-office/src/app/api/qonto/invoices/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/invoices/_lib/resolve-qonto-client.ts
  apps/back-office/src/app/api/qonto/quotes/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/quotes/route.helpers.ts
  apps/back-office/src/components/orders/InvoicesSection.tsx
  apps/back-office/src/components/orders/QuotesSection.tsx
  docs/scratchpad/dev-report-2026-05-07-session-handoff.md
  packages/@verone/finance/src/components/DocumentOutOfSyncBadge.tsx
  packages/@verone/finance/src/components/DocumentResyncAction/index.tsx
  packages/@verone/finance/src/components/RegenerateDocumentConfirmModal/index.tsx
  packages/@verone/orders/src/components/modals/sales-order-form/hooks/use-sales-order-submit.ts
  packages/@verone/orders/src/components/sales-orders-table/OrderResyncButton.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
  supabase/migrations/20260507120000_bo_rls_perf_002_consolidate_policies.sql
  supabase/migrations/20260507130000_bo_rls_perf_002_phase2_individual_customers_isolation.sql
  supabase/migrations/20260507140000_bo_rls_perf_002_phase3_consolidate_affiliate_policies.sql
  supabase/migrations/20260507150000_bo_rls_perf_002_phase4_purchase_orders_legacy.sql
  supabase/migrations/20260507170000_bo_fin_fees_002_jsonb_address_constraints.sql
Due: prettier --write, eslint --fix

[BO-MSG-018] feat: messagerie centralisée — HUB unique mails entrants + sortants
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/AddressEditDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/ContactEditDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/HistoryTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/MissingFieldsTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/NotificationsTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/OrderCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/SendInfoRequestDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/WaitingTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/page.tsx
  apps/back-office/src/app/(protected)/messages/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/CommunicationDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MailsKpiBar.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/types.ts
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
  apps/back-office/src/components/messages-tabs-bar.tsx
  docs/scratchpad/dev-plan-2026-05-06-BO-MSG-017-suppression-doublons.md
  packages/@verone/notifications/src/components/widgets/OrderCommunicationsCard.tsx
  packages/@verone/notifications/src/components/widgets/index.ts
  packages/@verone/notifications/src/hooks/index.ts
  packages/@verone/notifications/src/hooks/use-communications.ts
  packages/@verone/notifications/src/hooks/use-unread-mails-count.ts
  supabase/migrations/20260507210000_bo_msg_018_unified_communications_view.sql
Due: prettier --write, eslint --fix

[BO-MSG-018] chore: regen Supabase types pour la vue client_communications_unified
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-MSG-018] feat: sidebar — promotion Messagerie au niveau racine
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
  docs/scratchpad/dev-followup-2026-05-07-BO-MSG-suite.md
Due: prettier --write, eslint --fix

[BO-MSG-018] feat: filtres URL params pour la page Messagerie
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
Due: prettier --write, eslint --fix

[BO-MSG-018] fix: retire eslint-disable inutiles (CI ne flaggue pas ces lignes)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/components/layout/app-header.tsx
Due: prettier --write, eslint --fix

[BO-MSG-018] refactor: extraire helpers MessagerieClient pour respecter max-lines
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieRowHelpers.tsx
Due: prettier --write, eslint --fix

[BO-MSG-018] fix: ajout toAddress dans initialFilters (type MessagerieFilters complet)
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
Due: prettier --write, eslint --fix

[BO-MSG-018] feat: messagerie centralisée — HUB unique tous canaux (#944)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/AddressEditDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/ContactEditDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/HistoryTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/MissingFieldsTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/NotificationsTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/OrderCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/SendInfoRequestDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/WaitingTab.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/page.tsx
  apps/back-office/src/app/(protected)/messages/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/CommunicationDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/EmailDetailDrawer.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MailsKpiBar.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieClient.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/MessagerieRowHelpers.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/page.tsx
  apps/back-office/src/app/(protected)/parametres/messagerie/types.ts
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
  apps/back-office/src/components/messages-tabs-bar.tsx
  docs/scratchpad/dev-followup-2026-05-07-BO-MSG-suite.md
  docs/scratchpad/dev-plan-2026-05-06-BO-MSG-017-suppression-doublons.md
  packages/@verone/notifications/src/components/widgets/OrderCommunicationsCard.tsx
  packages/@verone/notifications/src/components/widgets/index.ts
  packages/@verone/notifications/src/hooks/index.ts
  packages/@verone/notifications/src/hooks/use-communications.ts
  packages/@verone/notifications/src/hooks/use-unread-mails-count.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260507210000_bo_msg_018_unified_communications_view.sql
Due: prettier --write, eslint --fix

[INFRA-CI-GUARD-001] feat: pre-push validation + eslint-disable detection
  .claude/hooks/check-eslint-disable.sh
  .claude/hooks/validate-affected-apps.sh
  .claude/settings.json
  .husky/pre-push
Due: prettier --write

[INFRA-CI-GUARD-001] feat: pre-push validation + eslint-disable detection (#945)
  .claude/hooks/check-eslint-disable.sh
  .claude/hooks/validate-affected-apps.sh
  .claude/settings.json
  .husky/pre-push
Due: prettier --write

[INFRA-CI-TURBO-001] perf: parallel lint+typecheck+build via single turbo run
  .github/workflows/quality.yml
Due: none

[INFRA-CI-TURBO-001] perf: parallel lint+typecheck+build via single turbo run (#946)
  .github/workflows/quality.yml
Due: none

[BO-RLS-PERF-003] perf: cleanup duplicate RLS + wrap volatile fns (4 fixes)
  docs/scratchpad/dev-plan-2026-05-08-BO-RLS-PERF-003.md
  docs/scratchpad/dev-report-2026-05-08-BO-RLS-PERF-003.md
  supabase/migrations/20260508010005_bo_rls_perf_003_cleanup_duplicate_policies.sql
Due: prettier --write

[BO-PERF-QUICKWINS-001] perf: replace select(*) with explicit columns + Promise.all parallelization
  apps/back-office/src/app/(protected)/factures/[id]/use-document-detail.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
  packages/@verone/finance/src/components/order-select/use-order-select.ts
  packages/@verone/finance/src/hooks/pricing/use-channel-pricing.ts
  packages/@verone/finance/src/hooks/pricing/use-customer-pricing.ts
  packages/@verone/finance/src/hooks/use-fixed-assets.ts
  packages/@verone/finance/src/hooks/use-missing-invoices.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
Due: prettier --write, eslint --fix

[BO-RLS-PERF-003] perf: cleanup duplicate RLS + wrap volatile fns (4 fixes) (#947)
  docs/scratchpad/dev-plan-2026-05-08-BO-RLS-PERF-003.md
  docs/scratchpad/dev-report-2026-05-08-BO-RLS-PERF-003.md
  supabase/migrations/20260508010005_bo_rls_perf_003_cleanup_duplicate_policies.sql
Due: prettier --write

[BO-PERF-TANSTACK-001] perf: migrate use-product-detail to useQuery + optimistic useMutation
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
Due: prettier --write, eslint --fix

[BO-PERF-TANSTACK-001] perf: migrate use-document-detail to dual useQuery (document + customer)
  apps/back-office/src/app/(protected)/factures/[id]/use-document-detail.ts
Due: prettier --write, eslint --fix

[BO-PERF-TANSTACK-001] perf: add TanStack cache layer to sales orders fetch + useSalesOrdersQuery
  packages/@verone/orders/src/hooks/index.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
  packages/@verone/orders/src/hooks/use-sales-orders-query.ts
Due: prettier --write, eslint --fix
