Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

Revert "[BO-TEST-001] fix: remove unnecessary type assertion and unused eslint-disable in use-catalogue"
  packages/@verone/categories/src/hooks/use-catalogue.ts
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: remove unused imports and assertions in categories/stock (CI lint)
  packages/@verone/categories/src/hooks/use-catalogue.ts
  packages/@verone/stock/src/hooks/core/use-stock-core.ts
  packages/@verone/stock/src/hooks/use-stock-movements.ts
  packages/@verone/stock/src/hooks/use-stock.ts
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: prettier formatting + alt-text in consultations (CI lint)
  packages/@verone/consultations/src/hooks/use-consultation-items.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: remove unused eslint-disable in finance pricing types (CI lint)
  packages/@verone/finance/src/hooks/pricing/types.ts
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: resolve 39 ESLint errors in @verone/products + consultations PDF
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/products/src/components/modals/ProductDescriptionsModal.tsx
  packages/@verone/products/src/components/sections/CharacteristicsEditSection.tsx
  packages/@verone/products/src/components/wizards/ProductConsultationManager.tsx
  packages/@verone/products/src/components/wizards/consultation-manager/ConsultationOverviewStats.tsx
  packages/@verone/products/src/components/wizards/consultation-manager/ConsultationProductsView.tsx
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: trim unused eslint-disable rules, fix PDF alt-text block scope
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/products/src/components/wizards/ProductConsultationManager.tsx
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: remove 5 unused type imports in orders/LinkMeWorkflow (CI lint)
  packages/@verone/orders/src/components/modals/sales-order-form/LinkMeWorkflow.tsx
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: prettier formatting + unnecessary type assertion in linkme (CI lint)
  apps/linkme/src/app/(main)/mes-produits/components/ProductSalesSection.tsx
  apps/linkme/src/components/selection/SelectionProductsSheet.tsx
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: 17 ESLint errors in back-office (unused imports, assertions, deps, prettier)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-storage-pricing.ts
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationOrderDialog.tsx
  apps/back-office/src/app/(protected)/consultations/create/page.tsx
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductRow.tsx
  apps/back-office/src/app/api/sourcing/import/route.ts
Due: prettier --write, eslint --fix

[BO-TEST-001] refactor: decompose consultations/create page into sub-components (583 → 135 lines)
  apps/back-office/src/app/(protected)/consultations/create/components/StepClient.tsx
  apps/back-office/src/app/(protected)/consultations/create/components/StepConfirmation.tsx
  apps/back-office/src/app/(protected)/consultations/create/components/StepDemande.tsx
  apps/back-office/src/app/(protected)/consultations/create/components/StepIndicator.tsx
  apps/back-office/src/app/(protected)/consultations/create/page.tsx
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: remove illegal type re-export from "use server" file
  apps/back-office/src/app/actions/user-management.ts
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: remove unused UpdateUserProfileData import in user-management
  apps/back-office/src/app/actions/user-management.ts
Due: prettier --write, eslint --fix

[BO-TEST-001] fix: remove illegal re-export from "use server" file
  apps/back-office/src/app/actions/user-management.ts
  apps/back-office/src/components/admin/edit-user-dialog.tsx
  apps/back-office/src/components/admin/reset-password-dialog.tsx
Due: prettier --write, eslint --fix

[BO-PAY-001] refactor: drop legacy manual_payment columns + create v_all_payments view
  .claude/INDEX.md
  .claude/work/ACTIVE.md
  apps/back-office/src/app/(protected)/commandes/fournisseurs/types.ts
  apps/back-office/src/types/supabase.d.ts
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  packages/@verone/orders/src/hooks/purchase-orders/purchase-order-queries.ts
  packages/@verone/types/src/supabase.ts
  scripts/db-schema-snapshot.json
  supabase/migrations/20260416010000_drop_manual_payment_columns.sql
  supabase/migrations/20260416020000_create_v_all_payments_view.sql
Due: prettier --write, eslint --fix

[NO-TASK] feat: inline editing on LinkMe order detail page
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/CommandesClient.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/AddProductToOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/LeftColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/left-column/OrderItemsTable.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrdersTable.tsx
Due: prettier --write, eslint --fix

[NO-TASK] feat: replace Google OAuth redirect with signInWithIdToken
  apps/site-internet/src/app/auth/google-auth-button.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore: Phase 4 — Commands nettoyees (10 → 5)
  .claude/INDEX.md
  .claude/commands/README.md
  .claude/commands/db.md
  .claude/commands/fix-warnings.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/review.md
  .claude/commands/teach.md
Due: prettier --write

[NO-TASK] chore: Phase 3 — Agents recrees (7 → 6, pattern 5 piliers)
  .claude/INDEX.md
  .claude/agents/back-office-expert.md
  .claude/agents/code-reviewer.md
  .claude/agents/database-architect.md
  .claude/agents/dev-agent.md
  .claude/agents/frontend-architect.md
  .claude/agents/linkme-expert.md
  .claude/agents/market-agent.md
  .claude/agents/ops-agent.md
  .claude/agents/perf-optimizer.md
  .claude/agents/reviewer-agent.md
  .claude/agents/site-internet-expert.md
  .claude/agents/verify-agent.md
  .claude/agents/writer-agent.md
Due: prettier --write

[NO-TASK] chore: inventaire pre-refonte v2 configuration Claude Code
  docs/refonte-inventaire.md
Due: prettier --write

[NO-TASK] chore: Phase 2 — Memoire migree et centralisee
  .claude/agent-memory/back-office-expert/MEMORY.md
  .claude/agent-memory/code-reviewer/MEMORY.md
  .claude/agent-memory/database-architect/MEMORY.md
  .claude/agent-memory/frontend-architect/MEMORY.md
  .claude/agent-memory/linkme-expert/MEMORY.md
  .claude/agent-memory/perf-optimizer/MEMORY.md
  .claude/agent-memory/site-internet-expert/MEMORY.md
Due: prettier --write

[NO-TASK] chore: Phase 1 — Rules fusionnees (17 → 5)
  .claude/INDEX.md
  .claude/rules/code-standards.md
  .claude/rules/database.md
  .claude/rules/playwright.md
  .claude/rules/stock-triggers-protected.md
  .claude/rules/workflow.md
Due: prettier --write

[NO-TASK] chore: Phase 5 — CLAUDE.md + INDEX.md + README.md + scratchpad
  .claude/INDEX.md
  .claude/README.md
  CLAUDE.md
  docs/scratchpad/README.md
Due: prettier --write

[NO-TASK] chore: Phase 6 — Nettoyage fichiers orphelins + hooks
  .claude/INDEX.md
  .claude/audits/README.md
  .claude/audits/security-audit-2026-02-04.md
  .claude/guides/cross-app-protection.md
  .claude/patterns/auth-logout.md
  .claude/research/01-orchestration-agent-first.md
  .claude/research/02-strategie-flux-agentiques.md
  .claude/research/03-optimisation-environnement-pro.md
  .claude/research/04-masterclass-7-piliers.md
  .claude/research/05-guide-strategique-agentique.md
  .claude/research/06-turborepo-multi-apps.md
  .claude/research/07-architecture-agentique-verone.md
  .claude/research/08-audit-complet-refonte.md
  .claude/research/INDEX.md
  .claude/rules/backend/api.md
  .claude/rules/database/post-migration.md
  .claude/rules/database/rls-patterns.md
  .claude/rules/database/supabase.md
  .claude/rules/dev/build-commands.md
  .claude/rules/dev/clean-code.md
  .claude/rules/dev/component-safety.md
  .claude/rules/dev/context-loading.md
  .claude/rules/dev/deployment-verification.md
  .claude/rules/dev/git-workflow.md
  .claude/rules/dev/hooks-bloquants.md
  .claude/rules/dev/multi-agent.md
  .claude/rules/dev/playwright-large-pages.md
  .claude/rules/dev/playwright-screenshots.md
  .claude/rules/dev/servers.md
  .claude/rules/dev/stock-triggers-protected.md
  .claude/rules/frontend/async-patterns.md
  .claude/scripts/clarify-before-code.sh
  .claude/skills/rls-patterns/SKILL.md
  .claude/templates/supabase-client-pattern.md
Due: prettier --write

[NO-TASK] chore: corrections post-audit coherence
  .claude/INDEX.md
  .claude/README.md
  .claude/guides/expert-workflow.md
  .claude/settings.json
  CLAUDE.md
  docs/marketing/.gitkeep
Due: prettier --write

[BO-FIN-001] fix: display billing/delivery addresses on devis detail page
  apps/back-office/src/app/(protected)/factures/devis/[id]/DevisContent.tsx
  apps/back-office/src/app/(protected)/factures/devis/[id]/types.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[NO-TASK] chore: pre-commit now runs docs:generate --auto on every commit
  .husky/pre-commit
Due: none

[BO-LME-001] fix: stabilize resetNewCustomerForm with useCallback to stop infinite reset loop
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-new-customer-form.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[NO-TASK] chore: add @protected guards on LinkMe order creation flow
  .claude/rules/code-standards.md
  .claude/settings.json
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-create-linkme-order-form.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-new-customer-form.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-FIN-001] fix: restore original InvoiceCreateServiceModal — revert broken refactor
  .claude/settings.json
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/finance/src/components/InvoiceCreateServiceModal.tsx
  packages/@verone/finance/src/components/InvoiceCreateServiceModal/InvoiceServiceItemsSection.tsx
  packages/@verone/finance/src/components/InvoiceCreateServiceModal/InvoiceServiceOptionsSection.tsx
  packages/@verone/finance/src/components/InvoiceCreateServiceModal/InvoiceServiceSuccessView.tsx
Due: prettier --write, eslint --fix

[BO-FIN-001] fix: add missing billing/shipping address fields to order detail fetch
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
Due: prettier --write, eslint --fix

[BO-LME-002] fix: replace direct status bypass with ShipmentWizard on LinkMe order detail
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-LME-002] fix: replace direct status bypass with ShipmentWizard on LinkMe order detail (#615)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[NO-TASK] chore: resync INDEX-PAGES avec le code reel (165 → 147 pages)
  docs/current/INDEX-PAGES-BACK-OFFICE.md
Due: prettier --write

[BO-DOC-001] docs: ajout WORKFLOWS-CRITIQUES + integration index
  .claude/INDEX.md
  docs/current/WORKFLOWS-CRITIQUES.md
  docs/current/index.md
Due: prettier --write

[BO-DOC-001] docs: ajout WORKFLOWS-CRITIQUES + integration index (#617)
  .claude/INDEX.md
  docs/current/WORKFLOWS-CRITIQUES.md
  docs/current/index.md
Due: prettier --write

[BO-DOC-002] docs: checklist tests 147 pages + regles E2E Playwright
  .claude/rules/playwright.md
  .claude/rules/workflow.md
  docs/current/TESTS-CHECKLIST-PAGES.md
Due: prettier --write

[BO-DOC-002] docs: checklist tests 147 pages + regles E2E Playwright (#618)
  .claude/rules/playwright.md
  .claude/rules/workflow.md
  docs/current/TESTS-CHECKLIST-PAGES.md
Due: prettier --write

[NO-TASK] chore: archive fichiers MD obsoletes de la racine
  .gitignore
  archive/2026-04/README.md
  archive/2026-04/diagnostic-verone.md
  archive/2026-04/export-claude-config-complet.md
  docs/scratchpad/audit-verone-2026-04-16.md
Due: prettier --write
