Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-LINKME-PR-004] docs: principe « une commission ne disparaît jamais »
  docs/current/linkme/business-rules-linkme.md
Due: prettier --write

[BO-LINKME-PR-004] fix: garde-fou anti-surpaiement DB + ERRCODE (post-revue)
  supabase/migrations/20260521150000_bo_linkme_pr_004_overpayment_guard.sql
Due: none

[BO-LINKME-PR-004] fix: corrections post-revue (refacto [id]/page, Zod email, mort-code)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/demandes-paiement/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/demandes-paiement/_components/InvoiceSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/demandes-paiement/_components/RequestInfoCards.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/demandes-paiement/hooks/use-linkme-payments.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-payment-requests-admin.ts
  apps/back-office/src/app/api/emails/payment-request-paid/route.ts
Due: prettier --write, eslint --fix

[BO-LINKME-PR-004] docs: rapport de revue qualité (verdict final PASS)
  docs/scratchpad/review-report-2026-05-21-BO-LINKME-PR-004.md
Due: prettier --write

[BO-SOURCING-PLUGIN-001] fix: plugin Chrome sourcing — CORS, supplier match, marques DB
  apps/back-office/src/app/api/brands/route.ts
  apps/back-office/src/app/api/sourcing/import-supplier/route.ts
  apps/back-office/src/app/api/sourcing/import/route.ts
  chrome-extension/manifest.json
  chrome-extension/popup.html
  chrome-extension/popup.js
  vercel.json
Due: prettier --write, eslint --fix

[BO-SOURCING-PLUGIN-001] refactor: route sourcing/import upload vers Cloudflare Images
  apps/back-office/src/app/api/sourcing/import/route.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-PLUGIN-001] fix: plugin Chrome sourcing — CORS, supplier match, marques DB (#1043)
  apps/back-office/src/app/api/brands/route.ts
  apps/back-office/src/app/api/sourcing/import-supplier/route.ts
  apps/back-office/src/app/api/sourcing/import/route.ts
  chrome-extension/manifest.json
  chrome-extension/popup.html
  chrome-extension/popup.js
  vercel.json
Due: prettier --write, eslint --fix

[BO-SOURCING-PLUGIN-002] feat: login dans le plugin + modal confirmation + onglet Archivés
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingPluginTab.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/plugin/page.tsx
  chrome-extension/manifest.json
  chrome-extension/popup.html
  chrome-extension/popup.js
  packages/@verone/products/src/hooks/sourcing/types.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-fetch.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-PLUGIN-002] feat: login dans le plugin + modal confirmation + onglet Archivés (#1045)
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingPluginTab.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/plugin/page.tsx
  chrome-extension/manifest.json
  chrome-extension/popup.html
  chrome-extension/popup.js
  packages/@verone/products/src/hooks/sourcing/types.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-fetch.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-PLUGIN-003] chore: regenerer le ZIP extension Chrome v1.0.3
  apps/back-office/public/extensions/verone-sourcing-extension.zip
Due: none

[BO-SOURCING-PLUGIN-003] chore: regenerer le ZIP extension Chrome v1.0.3 (#1047)
  apps/back-office/public/extensions/verone-sourcing-extension.zip
Due: none

[BO-SOURCING-PLUGIN-004] fix: RLS bloque les writes + login en première étape (v1.0.4)
  apps/back-office/public/extensions/verone-sourcing-extension.zip
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingPluginTab.tsx
  apps/back-office/src/app/api/brands/route.ts
  apps/back-office/src/app/api/sourcing/import-supplier/route.ts
  apps/back-office/src/app/api/sourcing/import/route.ts
  chrome-extension/manifest.json
  chrome-extension/popup.js
Due: prettier --write, eslint --fix

[BO-SOURCING-PLUGIN-004] fix: RLS bloque les writes + login en première étape (v1.0.4) (#1049)
  apps/back-office/public/extensions/verone-sourcing-extension.zip
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingPluginTab.tsx
  apps/back-office/src/app/api/brands/route.ts
  apps/back-office/src/app/api/sourcing/import-supplier/route.ts
  apps/back-office/src/app/api/sourcing/import/route.ts
  chrome-extension/manifest.json
  chrome-extension/popup.js
Due: prettier --write, eslint --fix

[BO-PDF-SOURCING-001] feat: rapport PDF sourcing + fix UX modal Rapports de Stock
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/components/business/sourcing-report/SourcingReportButton.tsx
  apps/back-office/src/components/business/sourcing-report/SourcingReportPdf.tsx
  apps/back-office/src/components/business/sourcing-report/use-sourcing-report.ts
  docs/scratchpad/dev-report-2026-05-27-audit-pdf-complet.md
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
Due: prettier --write, eslint --fix

[BO-PDF-SOURCING-001] feat: rapport PDF sourcing + fix UX modal Rapports de Stock (#1051)
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/components/business/sourcing-report/SourcingReportButton.tsx
  apps/back-office/src/components/business/sourcing-report/SourcingReportPdf.tsx
  apps/back-office/src/components/business/sourcing-report/use-sourcing-report.ts
  docs/scratchpad/dev-report-2026-05-27-audit-pdf-complet.md
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore: archive auto scratchpad (15 dev-plan/dev-report obsoletes)
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-08-BO-RLS-PERF-003.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-08-marketing-image-generation.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-10-seo-site-backoffice.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-10-site-collections.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-10-site-contact.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-11-site-blog.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-07-session-handoff.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-BO-IMG-CF-002.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-BO-PERF-TANSTACK-001.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-BO-RLS-PERF-003.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-marketing-image-generation.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-09-audit-eslint-ts-ci.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-09-fix-consultations-implicit-any.md
  docs/scratchpad/archive/2026-05/handoff-2026-05-09-BO-PROD-DETAIL-404-bug.md
  docs/scratchpad/archive/2026-05/handoff-2026-05-10-marketing-system.md
  docs/scratchpad/dev-report-2026-05-27-BO-CONSULT-PDF-DUAL-001.md
Due: prettier --write

[BO-CONSULT-PDF-DUAL-001] feat: PDFs consultation 2 versions + branding Vérone
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationModals.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationToolbar.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/consultation-async-handlers.ts
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/use-consultation-detail.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/consultations/src/pdf-templates/ConsultationSummaryPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/finance/src/pdf-templates/shared-styles.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-PDF-DUAL-001] feat: PDFs consultation 2 versions + branding Vérone (#1052)
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationModals.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationToolbar.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/consultation-async-handlers.ts
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/use-consultation-detail.ts
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-08-BO-RLS-PERF-003.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-08-marketing-image-generation.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-10-seo-site-backoffice.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-10-site-collections.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-10-site-contact.md
  docs/scratchpad/archive/2026-05/dev-plan-2026-05-11-site-blog.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-07-session-handoff.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-BO-IMG-CF-002.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-BO-PERF-TANSTACK-001.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-BO-RLS-PERF-003.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-08-marketing-image-generation.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-09-audit-eslint-ts-ci.md
  docs/scratchpad/archive/2026-05/dev-report-2026-05-09-fix-consultations-implicit-any.md
  docs/scratchpad/archive/2026-05/handoff-2026-05-09-BO-PROD-DETAIL-404-bug.md
  docs/scratchpad/archive/2026-05/handoff-2026-05-10-marketing-system.md
  docs/scratchpad/dev-report-2026-05-27-BO-CONSULT-PDF-DUAL-001.md
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/consultations/src/pdf-templates/ConsultationSummaryPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/finance/src/pdf-templates/shared-styles.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-REFONTE-001] feat: refonte page sourcing + fix échantillon + STI po_type
  .claude/rules/database-modeling-patterns.md
  CLAUDE.md
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
  packages/@verone/products/src/hooks/sourcing/use-sourcing-sample-order.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260527120000_bo_sourcing_refonte_001_po_type_and_status_check.sql
Due: prettier --write, eslint --fix

[BO-SOURCING-REFONTE-001] chore: align supabase.ts with CI artifact (graphql_public)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-LIST-001] feat: badge échantillon + filtre Type sur liste PO
  apps/back-office/src/app/(protected)/commandes/fournisseurs/FournisseurMobileCard.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/FournisseursFilters.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/FournisseursTableRow.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/use-fournisseurs-filters.ts
  packages/@verone/orders/src/hooks/purchase-orders/purchase-order-queries.ts
  packages/@verone/orders/src/hooks/purchase-orders/types.ts
  packages/@verone/orders/src/types/advanced-filters.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-REFONTE-001] feat: refonte page sourcing + fix échantillon + STI po_type (#1053)
  .claude/rules/database-modeling-patterns.md
  CLAUDE.md
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
  packages/@verone/products/src/hooks/sourcing/use-sourcing-sample-order.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260527120000_bo_sourcing_refonte_001_po_type_and_status_check.sql
Due: prettier --write, eslint --fix

[BO-SOURCING-LIST-001] feat: badge échantillon + filtre Type sur liste PO (#1054)
  apps/back-office/src/app/(protected)/commandes/fournisseurs/FournisseurMobileCard.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/FournisseursFilters.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/FournisseursTableRow.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/use-fournisseurs-filters.ts
  packages/@verone/orders/src/hooks/purchase-orders/purchase-order-queries.ts
  packages/@verone/orders/src/hooks/purchase-orders/types.ts
  packages/@verone/orders/src/types/advanced-filters.ts
Due: prettier --write, eslint --fix

[BO-PDF-STOCK-BRAND-001] feat: branding Vérone PDFs stock + snapshot date Valorisation
  packages/@verone/finance/src/hooks/use-valorisation-report.ts
  packages/@verone/finance/src/pdf-templates/AgingReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/HistoriqueReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/ValorisationReportPdf.tsx
  packages/@verone/stock/src/components/reports/ValorisationReportView.tsx
Due: prettier --write, eslint --fix

[BO-PDF-STOCK-BRAND-001] feat: branding Vérone PDFs stock + snapshot date Valorisation (#1055)
  packages/@verone/finance/src/hooks/use-valorisation-report.ts
  packages/@verone/finance/src/pdf-templates/AgingReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/HistoriqueReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/ValorisationReportPdf.tsx
  packages/@verone/stock/src/components/reports/ValorisationReportView.tsx
Due: prettier --write, eslint --fix

[BO-UX-CONSULT-DELETED-001] fix: affichage clair quand consultation supprimée
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
Due: prettier --write, eslint --fix

[BO-STOCK-REPORT-ROTATION-001] feat: rapport Rotation des stocks (FSN + capital dormant)
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-rotation-report.ts
  packages/@verone/finance/src/pdf-templates/RotationReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/stock/src/components/modals/ReportConfigModal.tsx
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
  packages/@verone/stock/src/components/reports/RotationReportView.tsx
  packages/@verone/stock/src/components/reports/index.ts
Due: prettier --write, eslint --fix

[BO-UX+ROTATION] feat: UX consultation supprimée + rapport stock Rotation (FSN) (#1056)
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-rotation-report.ts
  packages/@verone/finance/src/pdf-templates/RotationReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/stock/src/components/modals/ReportConfigModal.tsx
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
  packages/@verone/stock/src/components/reports/RotationReportView.tsx
  packages/@verone/stock/src/components/reports/index.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-EDIT-001] refactor: SourcingProductEditCard en accordéon
  packages/@verone/products/src/components/cards/SourcingProductEditCard/index.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-EDIT-001] refactor: SourcingProductEditCard en accordéon (#1057)
  packages/@verone/products/src/components/cards/SourcingProductEditCard/index.tsx
Due: prettier --write, eslint --fix

[BO-STOCK-REPORTS-002] feat: 2 rapports stock — Ruptures + Niveaux (FSN coverage)
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-niveaux-report.ts
  packages/@verone/finance/src/hooks/use-rupture-report.ts
  packages/@verone/finance/src/pdf-templates/NiveauxReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/RuptureReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/stock/src/components/modals/ReportConfigModal.tsx
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
  packages/@verone/stock/src/components/reports/NiveauxReportView.tsx
  packages/@verone/stock/src/components/reports/RuptureReportView.tsx
  packages/@verone/stock/src/components/reports/index.ts
Due: prettier --write, eslint --fix

[BO-STOCK-REPORTS-002] feat: 2 rapports stock — Ruptures + Niveaux (FSN coverage) (#1058)
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-niveaux-report.ts
  packages/@verone/finance/src/hooks/use-rupture-report.ts
  packages/@verone/finance/src/pdf-templates/NiveauxReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/RuptureReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/stock/src/components/modals/ReportConfigModal.tsx
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
  packages/@verone/stock/src/components/reports/NiveauxReportView.tsx
  packages/@verone/stock/src/components/reports/RuptureReportView.tsx
  packages/@verone/stock/src/components/reports/index.ts
Due: prettier --write, eslint --fix

[BO-STOCK-REPORTS-003] feat: rapport Performance Fournisseurs (8/8 stock reports)
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-fournisseurs-report.ts
  packages/@verone/finance/src/pdf-templates/FournisseursReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/stock/src/components/modals/ReportConfigModal.tsx
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
  packages/@verone/stock/src/components/reports/FournisseursReportView.tsx
  packages/@verone/stock/src/components/reports/index.ts
Due: prettier --write, eslint --fix

[BO-STOCK-REPORTS-003] feat: rapport Performance Fournisseurs (8/8 stock reports) (#1059)
  packages/@verone/finance/src/hooks/index.ts
  packages/@verone/finance/src/hooks/use-fournisseurs-report.ts
  packages/@verone/finance/src/pdf-templates/FournisseursReportPdf.tsx
  packages/@verone/finance/src/pdf-templates/index.ts
  packages/@verone/stock/src/components/modals/ReportConfigModal.tsx
  packages/@verone/stock/src/components/modals/StockReportsModal.tsx
  packages/@verone/stock/src/components/reports/FournisseursReportView.tsx
  packages/@verone/stock/src/components/reports/index.ts
Due: prettier --write, eslint --fix

[BO-FIN-INVOICE-VAT-001] fix: facture from-order utilise item.tax_rate via resolveOrderItemTaxRate
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/OrderRightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/utils/fetch-order.ts
  apps/back-office/src/components/business/universal-order-details-modal.tsx
  packages/@verone/finance/src/index.ts
  packages/@verone/finance/src/lib/__tests__/order-item-tax-rate.test.ts
  packages/@verone/finance/src/lib/order-item-tax-rate.ts
Due: prettier --write, eslint --fix

[BO-FIN-INVOICE-VAT-001] fix: facture from-order utilise item.tax_rate via resolveOrderItemTaxRate (#1060)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/OrderRightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/utils/fetch-order.ts
  apps/back-office/src/components/business/universal-order-details-modal.tsx
  packages/@verone/finance/src/index.ts
  packages/@verone/finance/src/lib/__tests__/order-item-tax-rate.test.ts
  packages/@verone/finance/src/lib/order-item-tax-rate.ts
Due: prettier --write, eslint --fix

[BO-FIN-INVOICE-VAT-001] docs: règle R8 finance.md + script test Playwright
  .claude/rules/finance.md
  scripts/test-invoice-vat-so178.mjs
Due: prettier --write

[BO-FIN-INVOICE-VAT-001] docs: règle R8 finance.md + script test Playwright (#1064)
  .claude/rules/finance.md
  scripts/test-invoice-vat-so178.mjs
Due: prettier --write

[BO-CONSULT-CORR-001] fix: typos accents perdus dans wizard consultation
  apps/back-office/src/app/(protected)/consultations/create/components/StepClient.tsx
  apps/back-office/src/app/(protected)/consultations/create/components/StepConfirmation.tsx
  apps/back-office/src/app/(protected)/consultations/create/components/StepDemande.tsx
Due: prettier --write, eslint --fix
