Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[NO-TASK] docs: audit descriptions multicanal + best practices + Stitch inventory (rebased) (#748)
  docs/scratchpad/audit-descriptions-multicanal-2026-04-20.md
  docs/scratchpad/audit-descriptions-multicanal-best-practices-2026-04-20.md
  docs/scratchpad/stitch/INVENTORY-2026-04-21.md
  docs/scratchpad/stitch/stitch-caracteristiques-v1-2026-04-21.png
  docs/scratchpad/stitch/stitch-caracteristiques-v2-2026-04-21.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3-2026-04-22.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3b-2026-04-22.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3c-2026-04-22.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3d-2026-04-22.png
  docs/scratchpad/stitch/stitch-descriptions-v1a-2026-04-23.png
  docs/scratchpad/stitch/stitch-descriptions-v1b-2026-04-23.png
  docs/scratchpad/stitch/stitch-images-v1-existant-2026-04-22.png
  docs/scratchpad/stitch/stitch-images-v1.png
  docs/scratchpad/stitch/stitch-images-v2-2026-04-22.png
  docs/scratchpad/stitch/stitch-publication-v1.png
  docs/scratchpad/stitch/stitch-publication-v2.png
  docs/scratchpad/stitch/stitch-publication-v2a-2026-04-23.png
  docs/scratchpad/stitch/stitch-publication-v2b-2026-04-23.png
  docs/scratchpad/stitch/stitch-publication-v3.png
  docs/scratchpad/stitch/stitch-stock-v1-2026-04-22.png
  docs/scratchpad/stitch/stitch-stock-v2-2026-04-22.png
  docs/scratchpad/stitch/stitch-stock-v3-2026-04-22.png
  docs/scratchpad/stitch/stitch-stock-v4-2026-04-22.png
  docs/scratchpad/stitch/stitch-tarification-v2-a-2026-04-21.png
  docs/scratchpad/stitch/stitch-tarification-v2-b-2026-04-21.png
  docs/scratchpad/stitch/stitch-tarification-v2-c-2026-04-21.png
  docs/scratchpad/stitch/stitch-tarification-v2-panel.png
  docs/scratchpad/stitch/stitch-tarification-v3-dashboard.png
  docs/scratchpad/stitch/stitch-tarification-v4-aligne-general-2026-04-22.png
Due: prettier --write

[INFRA-HARDENING-002] docs: audit couverture smoke (sous-sprint A)
  docs/scratchpad/audit-smoke-coverage-2026-04-24.md
Due: prettier --write

[INFRA-HARDENING-002] feat: 7 smoke specs thématiques + 53 tests (sous-sprint B+C)
  .github/workflows/quality.yml
  tests/e2e/smoke/smoke-all-modules.spec.ts
  tests/e2e/smoke/smoke-canaux.spec.ts
  tests/e2e/smoke/smoke-commandes.spec.ts
  tests/e2e/smoke/smoke-contacts.spec.ts
  tests/e2e/smoke/smoke-finance.spec.ts
  tests/e2e/smoke/smoke-linkme.spec.ts
  tests/e2e/smoke/smoke-produits.spec.ts
  tests/e2e/smoke/smoke-stock.spec.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-002] feat: retrofit FK migrations + db-drift-check CI (sous-sprint D)
  .github/workflows/quality.yml
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  scripts/db-drift-check.py
  supabase/migrations/20260424_001_retrofit_legacy_fk_declarations.sql
Due: prettier --write

[INFRA-HARDENING-002] feat: apply retrofit migration + promote drift check to blocking + weekly cron
  .github/workflows/db-drift-cron.yml
  .github/workflows/quality.yml
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  scripts/db-drift-check.py
  scripts/db-schema-snapshot.json
  supabase/migrations/20260424_001_retrofit_legacy_fk_declarations.sql
Due: prettier --write

[INFRA-HARDENING-002] E2E smoke exhaustifs + drift DB nettoyé (4 sous-sprints) (#750)
  .github/workflows/db-drift-cron.yml
  .github/workflows/quality.yml
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  docs/scratchpad/audit-smoke-coverage-2026-04-24.md
  scripts/db-drift-check.py
  scripts/db-schema-snapshot.json
  supabase/migrations/20260424_001_retrofit_legacy_fk_declarations.sql
  tests/e2e/smoke/smoke-all-modules.spec.ts
  tests/e2e/smoke/smoke-canaux.spec.ts
  tests/e2e/smoke/smoke-commandes.spec.ts
  tests/e2e/smoke/smoke-contacts.spec.ts
  tests/e2e/smoke/smoke-finance.spec.ts
  tests/e2e/smoke/smoke-linkme.spec.ts
  tests/e2e/smoke/smoke-produits.spec.ts
  tests/e2e/smoke/smoke-stock.spec.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-003] feat: fix smoke paths-filter + types drift gate + advisors info
  .github/workflows/quality.yml
  scripts/supabase-advisors-baseline.json
  scripts/supabase-advisors-check.py
Due: prettier --write

[INFRA-HARDENING-003] feat: fix smoke paths-filter + types drift gate + advisors info (#751)
  .github/workflows/quality.yml
  scripts/supabase-advisors-baseline.json
  scripts/supabase-advisors-check.py
Due: prettier --write

[INFRA-HARDENING-004] feat: Dependabot + auto-release staging→main + ADR-019
  .claude/DECISIONS.md
  .github/dependabot.yml
  .github/workflows/auto-release-staging-to-main.yml
Due: prettier --write

[INFRA-HARDENING-004] fix: correct Supabase advisors endpoint + User-Agent
  scripts/supabase-advisors-check.py
Due: none

[INFRA-HARDENING-004] Dependabot + auto-release staging→main hebdo (#752)
  .claude/DECISIONS.md
  .github/dependabot.yml
  .github/workflows/auto-release-staging-to-main.yml
  scripts/supabase-advisors-check.py
Due: prettier --write

[INFRA-HARDENING-005] fix: regen supabase types + robust smoke-produits selector
  packages/@verone/types/src/supabase.ts
  tests/e2e/smoke/smoke-produits.spec.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-005] fix: prettier-format generated types before diff
  .github/workflows/quality.yml
Due: none

[INFRA-HARDENING-005] feat: smoke tests — assertions contenu (pas juste URL)
  tests/e2e/smoke/smoke-commandes.spec.ts
  tests/e2e/smoke/smoke-linkme.spec.ts
  tests/e2e/smoke/smoke-produits.spec.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-005] fix: install all deps for prettier to find @verone/prettier-config
  .github/workflows/quality.yml
Due: none

[INFRA-HARDENING-005] fix: types drift + smoke-produits selector (#754)
  .github/workflows/quality.yml
  packages/@verone/types/src/supabase.ts
  tests/e2e/smoke/smoke-commandes.spec.ts
  tests/e2e/smoke/smoke-linkme.spec.ts
  tests/e2e/smoke/smoke-produits.spec.ts
Due: prettier --write, eslint --fix

[RELEASE] staging → main — série INFRA-HARDENING complète (3 PRs) (#753)
  .claude/DECISIONS.md
  .github/dependabot.yml
  .github/workflows/auto-release-staging-to-main.yml
  .github/workflows/db-drift-cron.yml
  .github/workflows/quality.yml
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  docs/scratchpad/audit-smoke-coverage-2026-04-24.md
  packages/@verone/types/src/supabase.ts
  scripts/db-drift-check.py
  scripts/db-schema-snapshot.json
  scripts/supabase-advisors-baseline.json
  scripts/supabase-advisors-check.py
  supabase/migrations/20260424_001_retrofit_legacy_fk_declarations.sql
  tests/e2e/smoke/smoke-all-modules.spec.ts
  tests/e2e/smoke/smoke-canaux.spec.ts
  tests/e2e/smoke/smoke-commandes.spec.ts
  tests/e2e/smoke/smoke-contacts.spec.ts
  tests/e2e/smoke/smoke-finance.spec.ts
  tests/e2e/smoke/smoke-linkme.spec.ts
  tests/e2e/smoke/smoke-produits.spec.ts
  tests/e2e/smoke/smoke-stock.spec.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: ADR-020 finalize INFRA-HARDENING series + branch protection
  .claude/DECISIONS.md
Due: prettier --write

[NO-TASK] docs: ADR-020 finalize INFRA-HARDENING series + branch protection (#757)
  .claude/DECISIONS.md
Due: prettier --write

[BO-UI-PROD-FIX-001] fix: revert descriptions + publication tabs to pre-96da0ade4 version
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-descriptions-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-UI-PROD-FIX-001] fix: revert descriptions + publication tabs to pre-96da0ade4 version (#759)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-descriptions-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[RELEASE] staging → main — fix SSR product detail 404 (#760)
  .claude/DECISIONS.md
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-descriptions-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-UI-PROD-CHAR-002] fix: AttributeSelect button-in-button hydration error
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_characteristics-blocks/AttributeSelect.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-UI-PROD-CHAR-002] fix: AttributeSelect button-in-button hydration error (#761)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_characteristics-blocks/AttributeSelect.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-UI-PROD-PRICING-002] feat: ChannelPricingDetailed — auto-min + verrou override
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_pricing-blocks/ChannelPricingDetailed.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[LM-CAT-DETAIL-001] feat: page detail produit catalogue LinkMe app
  apps/linkme/src/app/(main)/catalogue/[id]/page.tsx
  docs/current/INDEX-LINKME-APP.md
Due: prettier --write, eslint --fix

[INFRA-DOC-META-001] docs: Meta Commerce — état des lieux + setup + usage
  docs/current/integrations/meta-commerce/README.md
  docs/current/integrations/meta-commerce/SETUP.md
  docs/current/integrations/meta-commerce/USAGE.md
Due: prettier --write

[SI-PIXEL-001] fix: Meta Pixel content_ids = SKU au lieu d'UUID
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/app/checkout/success/page.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/components/analytics/MetaPixel.tsx
  apps/site-internet/src/contexts/CartContext.tsx
  docs/current/INDEX-SITE-INTERNET-APP.md
Due: prettier --write, eslint --fix

[INFRA-DOC-META-001] docs: USAGE Meta — état réel page FB + actions Romeo
  docs/current/integrations/meta-commerce/USAGE.md
Due: prettier --write

[INFRA-MG-001] feat: cleanup Meta+Google — hooks HTTP + routes manquantes + cron + doc
  apps/back-office/src/app/api/cron/meta-commerce-sync/route.ts
  apps/back-office/src/app/api/meta-commerce/products/[id]/metadata/route.ts
  apps/back-office/src/app/api/meta-commerce/products/[id]/price/route.ts
  apps/back-office/src/app/api/meta-commerce/products/batch-add/route.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  docs/current/integrations/google-merchant/USAGE.md
  packages/@verone/channels/src/hooks/meta/use-remove-from-meta.ts
  packages/@verone/channels/src/hooks/meta/use-toggle-meta-visibility.ts
  vercel.json
Due: prettier --write, eslint --fix

[SI-PIXEL-001] fix: Meta Pixel content_ids = SKU au lieu d'UUID (#766)
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/app/checkout/success/page.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/components/analytics/MetaPixel.tsx
  apps/site-internet/src/contexts/CartContext.tsx
  docs/current/INDEX-SITE-INTERNET-APP.md
Due: prettier --write, eslint --fix

[INFRA-DOC-META-001] docs: Meta Commerce — état des lieux + setup + usage (#765)
  docs/current/integrations/meta-commerce/README.md
  docs/current/integrations/meta-commerce/SETUP.md
  docs/current/integrations/meta-commerce/USAGE.md
Due: prettier --write

[LM-CAT-DETAIL-001] feat: page detail produit catalogue LinkMe app (#764)
  apps/linkme/src/app/(main)/catalogue/[id]/page.tsx
  docs/current/INDEX-LINKME-APP.md
Due: prettier --write, eslint --fix

[BO-API-PUB-001] fix: use-google-merchant-config — ajout 'use client' directive
  packages/@verone/channels/src/hooks/use-google-merchant-config.ts
Due: prettier --write, eslint --fix

[BO-UI-PROD-PRICING-002] feat: ChannelPricingDetailed — auto-min + verrou override (#763)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_pricing-blocks/ChannelPricingDetailed.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[INFRA-MG-001] feat: cleanup Meta+Google — hooks HTTP + routes manquantes + cron + doc (#767)
  apps/back-office/src/app/api/cron/meta-commerce-sync/route.ts
  apps/back-office/src/app/api/meta-commerce/products/[id]/metadata/route.ts
  apps/back-office/src/app/api/meta-commerce/products/[id]/price/route.ts
  apps/back-office/src/app/api/meta-commerce/products/batch-add/route.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/integrations/google-merchant/USAGE.md
  packages/@verone/channels/src/hooks/meta/use-remove-from-meta.ts
  packages/@verone/channels/src/hooks/meta/use-toggle-meta-visibility.ts
  vercel.json
Due: prettier --write, eslint --fix

[INFRA-MG-002] fix: Meta cron daily (Hobby Vercel limit = 1/jour)
  vercel.json
Due: prettier --write

[INFRA-CI-001] fix: regen INDEX docs en post-merge staging (au lieu de pre-commit)
  .github/workflows/regen-docs-index.yml
  .husky/pre-commit
Due: none
