Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-AUDIT-004] docs: corriger une conclusion fausse — bank-matching.ts est du code mort
  .claude/DECISIONS.md
  docs/audit-2026-07-30/ECRITURES-DB-IMPOSSIBLES.md
  docs/audit-2026-07-30/FINDINGS.md
Due: prettier --write

[INFRA-HOOK-001] fix: un-ignore the tracked logs API route so pre-commit can stage it
  .claude/DECISIONS.md
  .gitignore
Due: prettier --write

[BO-SEC-002] fix: stop tracking the published client list csv
  docs/assets/Clients Pro – Liste.csv
Due: none

[BO-SEC-002] fix: stop tracking the published client list csv (#1141)
  docs/assets/Clients Pro – Liste.csv
Due: none

[INFRA-HOOK-001] fix: un-ignore the tracked logs API route so pre-commit can stage it (#1140)
  .claude/DECISIONS.md
  .gitignore
Due: prettier --write

[BO-SEC-003] fix: close SECURITY DEFINER functions to anonymous callers
  supabase/migrations/20260731075651_bo_audit_003_guard_reset_finance_auto_data.sql
  supabase/migrations/20260911213000_bo_audit_sec_s1_lot1_revoke_public_dangerous_functions.sql
  supabase/migrations/20260911230000_bo_audit_sec_s1_lot2_role_guard.sql
  supabase/migrations/20260912000000_bo_audit_sec_s1_lot3_revoke_unused_definer_functions.sql
  supabase/migrations/20260912010000_bo_audit_sec_s1_lot4_revoke_public_keep_authenticated.sql
  supabase/migrations/20260912020000_bo_audit_sec_s1_lot5_revoke_trigger_functions.sql
  supabase/migrations/20260912030000_bo_audit_sec_s1_lot6_default_privileges.sql
Due: none

[BO-SEC-003] docs: R-GRANT rule, ADR-039 and S1 security report
  .claude/DECISIONS.md
  .claude/rules/database.md
  docs/scratchpad/dev-report-2026-09-11-S1-fonctions-anon-etape1.md
Due: prettier --write

[BO-SEC-003] fix: block pull requests that reopen SECURITY DEFINER functions
  .github/workflows/quality.yml
  scripts/supabase-advisors-baseline.json
  scripts/supabase-advisors-check.py
Due: prettier --write

[BO-SEC-003] chore: align supabase types with the live want-it-now columns
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: stop announcing a successful validation when it is refused
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: write an accepted status when a supplier quote is received
  packages/@verone/products/src/components/sourcing/notebook/SourcingCandidateSuppliers.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: stop reloading consultation suggestions in a loop
  packages/@verone/consultations/src/components/suggestions/ConsultationSuggestions.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: save a sourcing section only once
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: open the real supplier page from the sourcing list
  apps/back-office/next.config.js
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: open archived sourcing products and allow restoring them
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductList.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductRow.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/page.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
  packages/@verone/products/src/hooks/sourcing/index.ts
  packages/@verone/products/src/hooks/sourcing/types.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-fetch.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-mutations.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: correct sourcing texts, default currency and estimated price
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/SourcingConsultationsSection.tsx
  packages/@verone/products/src/components/sourcing/notebook/SourcingCandidateSuppliers.tsx
  packages/@verone/products/src/components/sourcing/notebook/SourcingPriceHistory.tsx
  packages/@verone/products/src/components/sourcing/notebook/SourcingStageGuide.tsx
  packages/@verone/products/src/hooks/sourcing/use-sourcing-fetch.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-P3A-001] fix: remove the unreachable catch around sourcing validation
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
Due: prettier --write, eslint --fix

[BO-PERF-S3-001] perf: convert useSidebarCounts to TanStack Query, drop 5 polling channels
  packages/@verone/notifications/package.json
  packages/@verone/notifications/src/hooks/use-debounce-invalidate.ts
  packages/@verone/notifications/src/hooks/use-sidebar-counts.ts
Due: prettier --write, eslint --fix

[BO-PERF-S3-001] perf: convert useUnreadMailsCount to TanStack Query, drop setInterval
  packages/@verone/notifications/src/hooks/use-unread-mails-count.ts
Due: prettier --write, eslint --fix

[BO-PERF-S3-001] perf: convert all individual count hooks to TanStack Query, drop polling
  packages/@verone/notifications/src/hooks/use-consultations-count.ts
  packages/@verone/notifications/src/hooks/use-expeditions-pending-count.ts
  packages/@verone/notifications/src/hooks/use-form-submissions-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-approvals-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-missing-info-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-pending-count.ts
  packages/@verone/notifications/src/hooks/use-media-assets-pending-count.ts
  packages/@verone/notifications/src/hooks/use-orders-pending-count.ts
  packages/@verone/notifications/src/hooks/use-products-incomplete-count.ts
  packages/@verone/notifications/src/hooks/use-stock-alerts-count.ts
  packages/@verone/notifications/src/hooks/use-transactions-unreconciled-count.ts
Due: prettier --write, eslint --fix

[BO-PERF-S3-001] chore: record the query library peer dependency in the lockfile
  pnpm-lock.yaml
Due: none

[BO-PERF-S3-001] fix: surface count query errors and log failed refreshes
  packages/@verone/notifications/src/hooks/use-consultations-count.ts
  packages/@verone/notifications/src/hooks/use-debounce-invalidate.ts
  packages/@verone/notifications/src/hooks/use-expeditions-pending-count.ts
  packages/@verone/notifications/src/hooks/use-form-submissions-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-approvals-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-missing-info-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-pending-count.ts
  packages/@verone/notifications/src/hooks/use-orders-pending-count.ts
  packages/@verone/notifications/src/hooks/use-products-incomplete-count.ts
  packages/@verone/notifications/src/hooks/use-stock-alerts-count.ts
  packages/@verone/notifications/src/hooks/use-transactions-unreconciled-count.ts
Due: prettier --write, eslint --fix

[BO-PERF-S3-001] fix: refresh menu badges after successful mutations
  apps/back-office/src/app/(protected)/canaux-vente/linkme/approbations/hooks/use-delete-order.ts
  apps/back-office/src/app/(protected)/consultations/create/use-create-consultation.ts
  apps/back-office/src/app/(protected)/prises-contact/[id]/hooks.ts
  packages/@verone/consultations/package.json
  packages/@verone/consultations/src/hooks/use-consultations.ts
  packages/@verone/finance/src/components/RapprochementModal/use-rapprochement-actions.ts
  packages/@verone/finance/src/components/quick-classification/use-quick-classification-submit.ts
  packages/@verone/finance/src/hooks/unified-transactions/use-transaction-actions.ts
  packages/@verone/notifications/src/hooks/use-consultations-count.ts
  packages/@verone/notifications/src/hooks/use-form-submissions-count.ts
  packages/@verone/notifications/src/hooks/use-linkme-missing-info-count.ts
  packages/@verone/notifications/src/hooks/use-sidebar-counts.ts
  packages/@verone/notifications/src/hooks/use-transactions-unreconciled-count.ts
  packages/@verone/orders/src/hooks/linkme/linkme-order-actions/use-request-info.ts
  packages/@verone/products/package.json
  packages/@verone/products/src/hooks/sourcing/use-sourcing-create-update.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-mutations.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-notebook.ts
  packages/@verone/products/src/hooks/sourcing/use-sourcing-sample-order.ts
  packages/@verone/utils/package.json
  packages/@verone/utils/src/query/__tests__/menu-count-keys.test.ts
  packages/@verone/utils/src/query/index.ts
  packages/@verone/utils/src/query/menu-count-keys.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] feat: pure consultation economics with unit tests
  packages/@verone/consultations/src/index.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.test.ts
  packages/@verone/consultations/src/lib/consultation-economics.ts
  packages/@verone/consultations/src/lib/index.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] fix: single source for consultation lines, no rejected lines ordered, no cost price as selling price, shipping as line total
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationOrderDialog.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/use-consultation-detail.ts
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
  packages/@verone/consultations/src/hooks/consultations-types.ts
  packages/@verone/consultations/src/hooks/use-consultation-items.ts
  packages/@verone/consultations/src/hooks/use-consultations.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] refactor: single association helper, move useConsultationItems, library economics in KPIs
  apps/back-office/src/app/(protected)/consultations/create/use-create-consultation.ts
  apps/back-office/src/app/(protected)/produits/sourcing/produits/[id]/page.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/hooks/index.ts
  packages/@verone/consultations/src/hooks/use-consultation-items.ts
  packages/@verone/consultations/src/hooks/use-consultations.ts
  packages/@verone/products/src/components/sourcing/SourcingProductModal.tsx
  packages/@verone/products/src/components/sourcing/SourcingQuickForm/hooks.ts
  packages/@verone/utils/src/consultations/associate-product.ts
  packages/@verone/utils/src/index.ts
Due: prettier --write, eslint --fix

[BO-PERF-S3-001] perf: refresh notification bell on navigation instead of a failing realtime channel
  packages/@verone/notifications/src/hooks/use-database-notifications/use-database-notifications.ts
  packages/@verone/notifications/src/hooks/use-database-notifications/use-notification-realtime.ts
  packages/@verone/notifications/src/hooks/use-database-notifications/use-notification-refresh.ts
Due: prettier --write, eslint --fix

[BO-PERF-S3-001] chore: declare next as peer dependency of notifications
  packages/@verone/notifications/package.json
  pnpm-lock.yaml
Due: prettier --write

[BO-SOURCING-P3B-001] fix: hide delete for products that have been used
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueGridView.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductList.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductRow.tsx
  apps/back-office/src/hooks/__tests__/product-history.test.ts
  apps/back-office/src/hooks/product-history.ts
  apps/back-office/src/hooks/use-products-with-history.ts
Due: prettier --write, eslint --fix

[BO-SOURCING-P3B-001] chore: restrict-on-delete migration (applied 2026-09-12)
  supabase/migrations/20260912050000_bo_sourcing_p3b_restrict_product_delete.sql
Due: none

[BO-SOURCING-P3B-001] fix: clear message when the database refuses a product deletion
  apps/back-office/src/hooks/use-products-with-history.ts
  packages/@verone/products/src/hooks/use-products.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] fix: exclude rejected and unpriced lines from PDFs and quotes
  apps/back-office/src/app/(protected)/consultations/[consultationId]/consultation-async-handlers.ts
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/use-consultation-detail.ts
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
  packages/@verone/consultations/src/lib/__tests__/consultation-order-guards.test.ts
  packages/@verone/consultations/src/lib/consultation-order-guards.ts
  packages/@verone/consultations/src/lib/index.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/consultations/src/pdf-templates/ConsultationSummaryPdf.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-P3B-001] perf: memoize archived product ids passed to the history hook
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueGridView.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/SourcingProductList.tsx
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] refactor: table, order dialog and both PDFs use the economics function
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationOrderDialog.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.test.ts
  packages/@verone/consultations/src/lib/consultation-economics.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/consultations/src/pdf-templates/ConsultationSummaryPdf.tsx
Due: prettier --write, eslint --fix

[BO-SOURCING-P3B-001] fix: accept schema-qualified references in the FK drift parser
  scripts/db-drift-check.py
Due: none

[BO-SOURCING-P3B-001] chore: regenerate supabase types from the live schema
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] refactor: purchase and sales amounts come from the economics function
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationOrderDialog.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/consultation-async-handlers.ts
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.test.ts
  packages/@verone/consultations/src/lib/consultation-economics.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] refactor: split oversized files under 400 lines
  packages/@verone/consultations/src/components/interfaces/ConsultationProductRow.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationRowActions.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationSampleCell.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationStatusCell.tsx
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.amounts.test.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.free-sample.test.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.guards.test.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.nominal.test.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.pricing.test.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.test-utils.ts
  packages/@verone/consultations/src/lib/__tests__/consultation-economics.test.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/consultations/src/pdf-templates/ConsultationSummaryPdf.tsx
  packages/@verone/consultations/src/pdf-templates/consultation-margin-report-pdf-styles.ts
  packages/@verone/consultations/src/pdf-templates/consultation-summary-pdf-styles.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-P2-001] chore: remove dead consultations code
  apps/back-office/src/components/business/consultation-order-interface.tsx
  apps/back-office/src/components/business/consultation-photos-modal.tsx
  packages/@verone/consultations/src/components/associations/ConsultationProductAssociation.tsx
  packages/@verone/consultations/src/components/associations/index.ts
  packages/@verone/consultations/src/hooks/consultation-types.ts
  packages/@verone/consultations/src/hooks/use-consultations-list.ts
  packages/@verone/consultations/src/hooks/use-consultations.ts
  packages/@verone/consultations/src/index.ts
  packages/@verone/consultations/src/pdf-templates/QuoteSummaryPdf.tsx
  packages/@verone/consultations/src/pdf-templates/index.ts
  packages/@verone/products/src/components/wizards/ProductConsultationManager.tsx
  packages/@verone/products/src/components/wizards/index.ts
Due: prettier --write, eslint --fix
