Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/hooks/use-*.ts": [
    "node scripts/validation/check-duplicate-hooks.ts"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(types): GROUPE 13b - Add explicit types to price-lists destructured vars (2 id errors)
  src/hooks/use-price-lists.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 13c - Add explicit type to bank-reconciliation payment var (1 id error)
  src/hooks/use-bank-reconciliation.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 14 - Add cost_price to products SELECT query (830→825, -5 errors)
  src/hooks/use-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 15 - Fix Recharts TooltipProps payload typing (825→821, -4)
  src/components/business/products-chart.tsx
  src/components/business/purchase-orders-chart.tsx
  src/components/business/revenue-chart.tsx
  src/components/business/stock-movements-chart.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 16 - Add variant_attributes to products SELECT query (821→820, -1)
  src/hooks/use-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 17a - Fix PurchaseOrderForReception interface (820→817, -3)
  src/hooks/use-purchase-receptions.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 17b - Fix supplier interface catalogue pages (817→815, -2)
  src/app/produits/catalogue/[productId]/page.tsx
  src/app/produits/catalogue/nouveau/page.tsx
  src/app/produits/catalogue/page.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 17c+d - Add missing fields to Zod schema + regenerate types (815→811, -4)
  src/components/business/unified-organisation-form.tsx
  src/types/supabase.ts
Due: eslint --fix, prettier --write

fix(types): GROUPE 18 - Replace non-existent parent_id with correct DB columns (811→808, -3)
  src/app/produits/catalogue/categories/[categoryId]/page.tsx
  src/hooks/use-categories.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 19 - Add missing setData to useBaseHook return (808→806, -2)
  src/hooks/use-base-hook.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 20+25a - Fix Design System color properties (806→800, -6)
  src/components/business/notifications-dropdown.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 21 - Add badge property to all cards for type homogenization (800→797, -3)
  src/app/produits/catalogue/dashboard/page.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 22 - Use SubcategoryWithDetails for products_count access (797→795, -2)
  src/app/produits/catalogue/categories/[categoryId]/page.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 23 - Add supplier relation to productsFetcher for supplier_name access (795→794, -1)
  src/hooks/use-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 25b - Create CategoryWithCount type for subcategory_count access (794→793, -1)
  src/app/produits/catalogue/families/[familyId]/page.tsx
  src/hooks/use-categories.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 26 - Add hoverColor property to all button variants for type homogenization (793→791, -2)
  src/components/ui/button.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 27 - Cast report to any in loadReports for DB field access (791→779, -12)
  src/hooks/use-error-reporting.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 28 - Cast item:any in price list items mapping
  src/hooks/use-price-lists.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 29 - Fix product_id access in collection/stock hooks
  src/hooks/use-collection-products.ts
  src/hooks/use-stock-dashboard.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 30 - Fix SelectQueryError 'id' access in 3 hooks
  src/hooks/use-organisations.ts
  src/hooks/use-products.ts
  src/hooks/use-sales-shipments.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 31 - Fix quantity field name in stock movements analytics
  src/hooks/use-dashboard-analytics.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 32 - Fix product_images access in reservations & order modal
  src/components/business/order-detail-modal.tsx
  src/hooks/use-stock-reservations.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 33 - Fix missing properties and type mismatches
  src/components/business/unified-organisation-form.tsx
  src/hooks/use-consultations.ts
  src/hooks/use-shipments.ts
  src/hooks/use-stock-dashboard.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 34 - Fix currency/amount/alert_status property access - 6 erreurs résolues
  src/components/business/price-list-item-form-modal.tsx
  src/hooks/use-bank-reconciliation.ts
  src/hooks/use-stock-dashboard.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 35 - Fix 21 erreurs TS2322 dans [productId]/page.tsx - 19 erreurs résolues
  src/app/produits/catalogue/[productId]/page.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 36 - Fix form modals null/undefined mismatch - 106 erreurs résolues
  src/components/business/customer-form-modal.tsx
  src/components/business/partner-form-modal.tsx
  src/components/business/supplier-form-modal.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 37 - Fix sourcing validation page variant types - 3 erreurs résolues
  src/app/produits/sourcing/validation/page.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 40 - Fix Alert/Badge/ButtonV2 variant="danger" → variant="destructive" - 11 erreurs résolues
  src/components/business/collection-image-upload.tsx
  src/components/business/consultation-order-interface.tsx
  src/components/business/consultation-photos-modal.tsx
  src/components/business/consultation-product-association.tsx
  src/components/business/primary-image-upload.tsx
  src/components/business/product-characteristics-modal.tsx
  src/components/business/product-descriptions-modal.tsx
  src/components/business/product-image-management.tsx
  src/components/business/product-photos-modal.tsx
  src/components/business/sales-order-form-modal.tsx
  src/components/forms/ImageUploadV2.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 41 - Fix ButtonV2 variant type 'danger' → 'destructive' - 23 erreurs résolues (554→548)
  src/components/ui/button.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 42 - Replace variant="danger" by variant="destructive" - 17 errors fixed
  src/app/consultations/[consultationId]/page.tsx
  src/app/contacts-organisations/customers/[customerId]/page.tsx
  src/app/contacts-organisations/customers/page.tsx
  src/app/contacts-organisations/partners/[partnerId]/page.tsx
  src/app/contacts-organisations/partners/page.tsx
  src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  src/app/contacts-organisations/suppliers/page.tsx
  src/app/produits/catalogue/variantes/page.tsx
  src/components/admin/delete-user-dialog.tsx
  src/components/business/cancel-movement-modal.tsx
  src/components/business/catalogue-error-integration.tsx
  src/components/business/confirm-delete-modal.tsx
  src/components/business/confirm-delete-organisation-modal.tsx
  src/components/business/dashboard-error-integration.tsx
  src/components/business/draggable-product-grid.tsx
  src/components/business/error-report-modal.tsx
  src/components/business/image-upload.tsx
  src/components/business/logo-upload-button.tsx
  src/components/business/movement-details-modal.tsx
  src/components/business/movements-stats.tsx
  src/components/business/movements-table.tsx
  src/components/business/organisation-card.tsx
  src/components/business/organisation-list-view.tsx
  src/components/business/product-card.tsx
  src/components/business/product-stock-history-modal.tsx
  src/components/business/sales-order-shipment-form.tsx
  src/components/business/sample-validation-simple.tsx
  src/components/business/stocks-error-integration.tsx
  src/components/business/wizard-sections/images-section.tsx
  src/components/forms/CategoryForm.tsx
  src/components/forms/FamilyForm.tsx
  src/components/forms/ImageUpload.tsx
  src/components/forms/QuickVariantForm.tsx
  src/components/forms/SubcategoryForm.tsx
  src/components/testing/error-analytics-dashboard.tsx
  src/components/ui/modern-action-button.tsx
  src/components/ui/verone-card.tsx
  src/stories/1-ui-base/Badges/Badge.stories.tsx
  src/stories/1-ui-base/Buttons/Button.stories.tsx
  src/stories/_templates/variants-story.template.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 43 - Fix logger.error() parameter order - 33 erreurs résolues
  src/hooks/use-price-lists.ts
  src/hooks/use-pricing.ts
  src/lib/google-merchant/product-mapper.ts
  src/lib/google-merchant/sync-client.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): use-price-lists.ts - Type assertions Supabase + gcTime - 21 erreurs résolues
  src/hooks/use-price-lists.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): use-pricing.ts - Type assertions RPC + gcTime - 17 erreurs résolues
  src/hooks/use-pricing.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

docs(audit): Audit TypeScript complet + Plan correction family-based
  TS_ERRORS_PLAN.md
  docs/audits/2025-10/RAPPORT-AUDIT-TYPESCRIPT-COMPLET-2025-10-28.md
  error-clusters.json
  execution-plan.json
Due: prettier --write

fix(types): FAMILLE 1 Batch 1 - Corriger 27 erreurs TS2345 dans hooks (459→432)
  src/hooks/metrics/use-revenue-metrics.ts
  src/hooks/use-base-hook.ts
  src/hooks/use-catalogue.ts
  src/hooks/use-contacts.ts
  src/hooks/use-financial-documents.ts
  src/hooks/use-movements-history.ts
  src/hooks/use-organisations.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): FAMILLE 1 Batch 2 - Corriger 15 erreurs TS2345 dans pages (432→417)
  src/app/produits/catalogue/[productId]/page.tsx
  src/app/produits/catalogue/categories/[categoryId]/page.tsx
  src/app/produits/catalogue/collections/[collectionId]/page.tsx
  src/app/produits/catalogue/families/[familyId]/page.tsx
  src/app/produits/catalogue/page.tsx
  src/app/produits/catalogue/variantes/[groupId]/page.tsx
  src/app/profile/page.tsx
  src/app/stocks/inventaire/page.tsx
  src/app/stocks/produits/page.tsx
Due: eslint --fix, prettier --write

fix(types): BATCH 3A - Fix TS2345 in 30 components - 48 erreurs résolues (417→369)
  src/components/business/category-selector.tsx
  src/components/business/collection-edit-modal.tsx
  src/components/business/collection-products-modal.tsx
  src/components/business/contact-edit-section.tsx
  src/components/business/contact-form-modal.tsx
  src/components/business/customer-selector.tsx
  src/components/business/invoices-list.tsx
  src/components/business/movements-filters.tsx
  src/components/business/organisation-card.tsx
  src/components/business/organisation-contacts-manager.tsx
  src/components/business/organisation-list-view.tsx
  src/components/business/primary-image-upload.tsx
  src/components/business/product-creation-modal.tsx
  src/components/business/product-image-management.tsx
  src/components/business/product-photos-modal.tsx
  src/components/business/product-selector-modal.tsx
  src/components/business/relations-edit-section.tsx
  src/components/business/sales-order-form-modal.tsx
  src/components/business/sample-order-validation.tsx
  src/components/business/shipping-manager-modal.tsx
  src/components/business/smart-suggestions-panel.tsx
  src/components/business/stock-reports-modal.tsx
  src/components/business/unified-organisation-form.tsx
  src/components/business/variant-siblings.tsx
  src/components/forms/AddProductsToGroupModal.tsx
  src/components/forms/ProductSelector.tsx
  src/components/forms/SubcategoryForm.tsx
  src/components/forms/VariantGroupForm.tsx
  src/components/forms/expense-form.tsx
  src/components/forms/stock-adjustment-form.tsx
Due: eslint --fix, prettier --write

fix(types): BATCH 3B - Eliminate FAMILLE 1 (TS2345) - 58 errors fixed
  src/hooks/use-bank-reconciliation.ts
  src/hooks/use-categories.ts
  src/hooks/use-collections.ts
  src/hooks/use-consultation-images.ts
  src/hooks/use-consultations.ts
  src/hooks/use-financial-payments.ts
  src/hooks/use-image-upload.ts
  src/hooks/use-mcp-resolution.ts
  src/hooks/use-notifications.ts
  src/hooks/use-product-colors.ts
  src/hooks/use-product-images.ts
  src/hooks/use-product-packages.ts
  src/hooks/use-product-primary-image.ts
  src/hooks/use-product-variants.ts
  src/hooks/use-products.ts
  src/hooks/use-purchase-orders.ts
  src/hooks/use-purchase-receptions.ts
  src/hooks/use-real-dashboard-metrics.ts
  src/hooks/use-sales-dashboard.ts
  src/hooks/use-sales-orders.ts
  src/hooks/use-sales-shipments.ts
  src/hooks/use-shipments.ts
  src/hooks/use-sourcing-products.ts
  src/hooks/use-stock-alerts-count.ts
  src/hooks/use-stock-inventory.ts
  src/hooks/use-stock-movements.ts
  src/hooks/use-stock-optimized.ts
  src/hooks/use-supabase-query.ts
  src/hooks/use-suppliers.ts
  src/hooks/use-treasury-stats.ts
  src/hooks/use-user-activity-tracker.ts
  src/hooks/use-variant-groups.ts
  src/lib/abby/sync-processor.ts
  src/lib/google-merchant/auth.ts
  src/lib/google-merchant/sync-client.ts
  src/lib/middleware/api-security.ts
  src/lib/middleware/logging.ts
  src/lib/monitoring/mcp-error-checker.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts
