Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[BO-LAYOUT-001] fix: add viewport export for Next.js 15 (#53)
  apps/back-office/src/app/layout.tsx
  turbo.json
Due: prettier --write, eslint --fix

[BO-LAYOUT-003] fix: desktop UI compression caused by PublicLayout flex wrapper
  apps/back-office/src/app/globals.css
  apps/back-office/src/components/layout/public-layout.tsx
  apps/back-office/tests/desktop-layout-guard.spec.ts
  scripts/guard-no-global-zoom.sh
Due: prettier --write, eslint --fix

[BO-LAYOUT-003] fix: desktop UI compression caused by PublicLayout flex wrapper (#54)
  apps/back-office/src/app/globals.css
  apps/back-office/src/components/layout/public-layout.tsx
  apps/back-office/tests/desktop-layout-guard.spec.ts
  scripts/guard-no-global-zoom.sh
Due: prettier --write, eslint --fix

[BO-PARAMS-001] feat: add Email Templates & Webhooks management UI
  apps/back-office/src/app/parametres/emails/[slug]/edit/page.tsx
  apps/back-office/src/app/parametres/emails/[slug]/preview/page.tsx
  apps/back-office/src/app/parametres/emails/page.tsx
  apps/back-office/src/app/parametres/webhooks/[id]/edit/page.tsx
  apps/back-office/src/app/parametres/webhooks/new/page.tsx
  apps/back-office/src/app/parametres/webhooks/page.tsx
  apps/back-office/src/types/supabase.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260117_email_templates_system.sql
  supabase/migrations/20260117_webhook_management_system.sql
Due: prettier --write, eslint --fix

[BO-INT-001] fix: add Qonto env vars documentation for production
  .tasks/BO-INT-001.md
  apps/back-office/.env.example
  docs/integrations/vercel-env-qonto-setup.md
Due: prettier --write

[BO-PARAMS-002] feat: add Settings navigation to sidebar with Playwright tests
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/back-office/tests/parametres-navigation.spec.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: add Claude Autonomy guidelines to CLAUDE.md and memory
  .claude/memories/claude-autonomy-guidelines-2026-01-17.md
  CLAUDE.md
Due: prettier --write

[NO-TASK] docs: refactor CLAUDE.md with professional workflows 2026
  CLAUDE.md
Due: prettier --write

[NO-TASK] docs: add workflow enforcement plan and tooling
  .claude/WORKFLOW-CHECKLIST.md
  .claude/plans/enforce-professional-workflow-2026.md
  .claude/scripts/validate-pr-ready.sh
Due: prettier --write

[NO-TASK] docs: add transfer instructions for workflow enforcement plan
  .claude/TRANSFER-INSTRUCTIONS.md
Due: prettier --write

[NO-TASK] feat: add Git hooks installation script and update workflow plan
  .claude/plans/enforce-professional-workflow-2026.md
  .claude/scripts/install-git-hooks.sh
Due: prettier --write

[BO-DASH-002] step 2: fix chart-catalog useCashFlowForecast reference + add stocks.trend
  .claude/memories/middleware-investigation-2026-01-16.md
  .claude/memories/vercel-warnings-audit-2026-01-16.md
  .github/workflows/Untitled
  apps/back-office/diagnostic-production.png
  apps/back-office/src/app/(protected)/dashboard/lib/chart-catalog.ts
  apps/back-office/test-results/.last-run.json
  apps/back-office/test-results/tests-verify-fix-local-Ver-0d5bc--show-normal-desktop-layout/error-context.md
  apps/back-office/tests/verify-fix-local.spec.ts
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
Due: prettier --write, eslint --fix

[BO-INT-001] docs: add Qonto environment variables setup guide for Vercel
  QONTO_ENV_SETUP.md
Due: prettier --write

[BO-INT-002] fix: add Sentry + Qonto env vars, fix Tailwind pattern
  .vercel-trigger
  apps/back-office/tailwind.config.js
Due: none

[NO-TASK] chore: update gitignore for Playwright MCP screenshots
  .gitignore
  .playwright-mcp/README.md
Due: prettier --write

[NO-TASK] docs: add Playwright MCP optimal configuration guide
  .claude/mcp-playwright-config.md
Due: prettier --write

[NO-TASK] feat: add automated screenshot cleanup workflow
  .github/workflows/cleanup-screenshots.yml
Due: none

[BO-OPS-ENV-002] fix: harden Qonto auth config + explicit errors (Option B)
  apps/back-office/src/app/api/qonto/balance/route.ts
  packages/@verone/integrations/src/qonto/client.ts
  packages/@verone/integrations/src/qonto/errors.ts
Due: prettier --write, eslint --fix

[BO-OPS-ENV-002] fix: harden Qonto auth config (PRODUCTION)
  .claude/mcp-playwright-config.md
  .github/workflows/cleanup-screenshots.yml
  .gitignore
  .playwright-mcp/README.md
  .vercel-trigger
  apps/back-office/src/app/api/qonto/balance/route.ts
  apps/back-office/tailwind.config.js
  packages/@verone/integrations/src/qonto/client.ts
  packages/@verone/integrations/src/qonto/errors.ts
Due: prettier --write, eslint --fix

[BO-OPS-CSP-001] fix: add worker-src to CSP for Sentry
  apps/back-office/src/lib/security/headers.ts
Due: prettier --write, eslint --fix

[BO-OPS-AUTH-002] feat: add middleware for auth + RSC handling
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: align MCP Playwright config with official Claude Code docs
  .claude/mcp-playwright-config.md
  .claude/settings.json
  .mcp.json
Due: prettier --write

[NO-TASK] docs: enrich agent documentation and clarify commands
  .claude/README.md
Due: prettier --write

[BO-PROD-404-001] fix: force dynamic rendering for protected routes
  apps/back-office/src/app/(protected)/layout.tsx
Due: prettier --write, eslint --fix

[BO-OPS-001] fix: resolve CSP violation and RSC 404 warnings (#60)
  .claude/README.md
  .claude/mcp-playwright-config.md
  .claude/settings.json
  .mcp.json
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/lib/security/headers.ts
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: restore working Claude Code configuration from 170aecf0
  .claude/commands/dev.md
  .claude/commands/read1.md
  .claude/commands/read2.md
  .claude/commands/update-docs.md
  .claude/contexts/README.md
  .claude/contexts/design-system.md
  .claude/contexts/monorepo.md
  .claude/scripts/agent-finished.sh
  .claude/scripts/auth-setup.ts
  .claude/scripts/git-hooks/check-env-changes.sh
  .claude/scripts/handoff-export.sh
  .claude/scripts/hook-post-file.ts
  .claude/scripts/plan-sync.js
  .claude/scripts/validate-command.js
  .claude/scripts/validation-required.sh
  .claude/settings.json
Due: prettier --write, eslint --fix

[BO-DASH-404-001] fix: force dynamic rendering for protected routes
  apps/back-office/src/app/(protected)/layout.tsx
Due: prettier --write, eslint --fix

[BO-DASH-404-001] fix: use headers() to prevent build-time auth check
  apps/back-office/src/app/(protected)/layout.tsx
Due: prettier --write, eslint --fix

[BO-DASH-404-001] fix: convert dashboard page to Server Component
  apps/back-office/src/app/(protected)/dashboard/page.tsx
Due: prettier --write, eslint --fix

[BO-DASH-404-001] test: add Playwright anti-regression test for dashboard 404
  apps/back-office/e2e/dashboard-404-fix.spec.ts
Due: prettier --write, eslint --fix

[BO-DASH-404-001] fix: rename /dashboard to /accueil + add redirect
  apps/back-office/next.config.js
  apps/back-office/src/app/(protected)/accueil/components/charts/abc-analysis-chart.tsx
  apps/back-office/src/app/(protected)/accueil/components/charts/aging-report-chart.tsx
  apps/back-office/src/app/(protected)/accueil/components/charts/channel-pie-chart.tsx
  apps/back-office/src/app/(protected)/accueil/components/charts/chart-card.tsx
  apps/back-office/src/app/(protected)/accueil/components/charts/chart-selector-modal.tsx
  apps/back-office/src/app/(protected)/accueil/components/charts/index.ts
  apps/back-office/src/app/(protected)/accueil/components/charts/revenue-chart.tsx
  apps/back-office/src/app/(protected)/accueil/components/charts/treasury-chart.tsx
  apps/back-office/src/app/(protected)/accueil/components/configurable-dashboard.tsx
  apps/back-office/src/app/(protected)/accueil/components/configurable-kpi-card.tsx
  apps/back-office/src/app/(protected)/accueil/components/dashboard-tabs.tsx
  apps/back-office/src/app/(protected)/accueil/components/index.ts
  apps/back-office/src/app/(protected)/accueil/components/kpi-grid.tsx
  apps/back-office/src/app/(protected)/accueil/components/kpi-selector-modal.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/index.ts
  apps/back-office/src/app/(protected)/accueil/components/widgets/recent-activity-widget.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/recent-orders-widget.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/stock-alerts-widget.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/stock-movements-widget.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/top-products-widget.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/unpaid-invoices-widget.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/widget-card.tsx
  apps/back-office/src/app/(protected)/accueil/components/widgets/widget-selector-modal.tsx
  apps/back-office/src/app/(protected)/accueil/hooks/index.ts
  apps/back-office/src/app/(protected)/accueil/hooks/use-dashboard-preferences.ts
  apps/back-office/src/app/(protected)/accueil/lib/chart-catalog.ts
  apps/back-office/src/app/(protected)/accueil/lib/index.ts
  apps/back-office/src/app/(protected)/accueil/lib/kpi-catalog.ts
  apps/back-office/src/app/(protected)/accueil/lib/role-presets.ts
  apps/back-office/src/app/(protected)/accueil/lib/widget-catalog.ts
  apps/back-office/src/app/(protected)/accueil/page.tsx
  apps/back-office/src/app/(protected)/accueil/page.tsx.backup
  apps/back-office/src/app/(protected)/dashboard/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: restore complete Claude Code configuration from 915d42aa
  .claude/settings.json
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
