Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

fix(stock): Trigger respecte affects_forecast pour stock_real
  supabase/migrations/20251127_003_fix_stock_movement_trigger_affects_forecast.sql
Due: none

feat(shipments): Système expéditions SO complet + corrections triggers stock
  apps/back-office/src/app/commandes/clients/[id]/page.tsx
  apps/back-office/src/app/commandes/clients/page.tsx
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/stocks/alertes/page.tsx
  apps/back-office/src/app/stocks/expeditions/page.tsx
  apps/back-office/src/app/stocks/page.tsx
  apps/back-office/src/app/stocks/receptions/page.tsx
  packages/@verone/orders/src/actions/sales-shipments.ts
  packages/@verone/orders/src/components/forms/PurchaseOrderReceptionForm.tsx
  packages/@verone/orders/src/components/forms/SalesOrderShipmentForm.tsx
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderFormModal.tsx
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/components/modals/SalesOrderShipmentModal.tsx
  packages/@verone/orders/src/components/modals/UniversalOrderDetailsModal.tsx
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/components/sections/index.ts
  packages/@verone/orders/src/components/shipments/index.ts
  packages/@verone/orders/src/components/tables/EditableOrderItemRow.tsx
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
  packages/@verone/orders/src/hooks/use-purchase-receptions.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
  packages/@verone/stock/src/components/modals/MovementDetailsModal.tsx
  packages/@verone/stock/src/components/tables/MovementsTable.tsx
  packages/@verone/stock/src/hooks/use-movements-history.ts
  packages/@verone/stock/src/hooks/use-stock-alerts.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20251128_001_trigger_so_devalidation_stock_rollback.sql
  supabase/migrations/20251128_008_fix_po_validation_clear_draft_fields.sql
  supabase/migrations/20251128_009_audit_disabled_triggers_cleanup.sql
  supabase/migrations/20251128_010_prevent_direct_cancellation.sql
  supabase/migrations/20251128_011_fix_track_product_added_to_draft.sql
  supabase/migrations/20251128_012_harmonize_po_so_triggers.sql
  supabase/migrations/20251128_013_stock_alerts_unified_view.sql
  supabase/migrations/20251128_014_fix_stock_alerts_view_previsionnel_logic.sql
  supabase/migrations/20251128_015_fix_shipment_movements_uuid_cast.sql
Due: prettier --write, eslint --fix

fix(triggers): Suppression trigger doublon expéditions SO
  supabase/migrations/20251128_016_remove_duplicate_shipment_trigger.sql
Due: none

feat(ui): Ajout raccourcis navigation stocks
  apps/back-office/src/app/commandes/clients/page.tsx
  apps/back-office/src/app/commandes/fournisseurs/page.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
Due: prettier --write, eslint --fix

fix(triggers): Correction rollback SO annulée depuis draft
  supabase/migrations/20251128_017_fix_so_cancellation_rollback_trigger.sql
  supabase/migrations/20251128_018_reset_corrupted_forecasted_out.sql
Due: none

feat(triggers): Alignement notifications SO avec PO existants
  supabase/migrations/20251128_019_so_notifications_alignment.sql
Due: none

feat(enseignes): Module complet gestion enseignes avec OrganisationSelectorModal
  apps/back-office/src/app/contacts-organisations/enseignes/[id]/page.tsx
  apps/back-office/src/app/contacts-organisations/enseignes/page.tsx
  packages/@verone/organisations/src/components/modals/OrganisationSelectorModal.tsx
  packages/@verone/organisations/src/components/modals/index.ts
  packages/@verone/organisations/src/components/sections/EnseigneDetailHeader.tsx
  packages/@verone/organisations/src/components/sections/EnseigneGeographySection.tsx
  packages/@verone/organisations/src/components/sections/EnseigneKPIGrid.tsx
  packages/@verone/organisations/src/components/sections/EnseigneOrganisationsTable.tsx
  packages/@verone/organisations/src/components/sections/index.ts
  packages/@verone/organisations/src/hooks/index.ts
  packages/@verone/organisations/src/hooks/use-enseigne-stats.ts
  packages/@verone/organisations/src/hooks/use-enseignes.ts
Due: prettier --write, eslint --fix

feat(ui): Navigation sidebar Contacts & Clients structurée
  apps/back-office/src/app/contacts-organisations/particuliers/page.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
Due: prettier --write, eslint --fix

fix(ui): Correction sidebar - suppression liens erronés
  apps/back-office/src/components/layout/app-sidebar.tsx
Due: prettier --write, eslint --fix

feat(contacts): Ajout page Clients Particuliers + correction sidebar
  apps/back-office/src/app/contacts-organisations/clients-particuliers/page.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
  packages/@verone/orders/src/components/modals/index.ts
Due: prettier --write, eslint --fix

fix(ui): Uniformisation boutons CRUD pattern IconButton 32x32px
  apps/back-office/src/app/contacts-organisations/clients-particuliers/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/contacts-organisations/enseignes/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/page.tsx
Due: prettier --write, eslint --fix

feat(linkme): CMS utilisateurs multi-app + migration user_app_roles
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/back-office/src/app/canaux-vente/linkme/catalogue/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/AffiliatesSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CommissionsSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/DashboardSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/EnseignesSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionsSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UserCreateModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UsersSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/enseignes/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-catalog.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-enseignes.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-users.ts
  apps/back-office/src/app/canaux-vente/linkme/utilisateurs/page.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/linkme/src/app/page.tsx
  apps/linkme/src/lib/hooks/use-linkme-public.ts
  packages/@verone/common/src/hooks/use-logo-upload.ts
  packages/@verone/customers/src/components/modals/CustomerFormModal.tsx
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/UniversalOrderDetailsModal.tsx
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/organisations/src/components/buttons/EnseigneLogoUploadButton.tsx
  packages/@verone/organisations/src/components/buttons/LogoUploadButton.tsx
  packages/@verone/organisations/src/components/modals/AssignOrganisationsModal.tsx
  packages/@verone/organisations/src/components/modals/OrganisationSelectorModal.tsx
  packages/@verone/organisations/src/hooks/use-enseigne-stats.ts
  packages/@verone/organisations/src/hooks/use-enseignes.ts
  supabase/migrations/20251201_001_create_user_app_roles.sql
  supabase/migrations/20251201_002_migrate_existing_users.sql
Due: prettier --write, eslint --fix

feat(linkme): Auth E2E complet + migration contacts polymorphique
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/linkme/middleware.ts
  apps/linkme/package.json
  apps/linkme/src/app/api/create-order/route.ts
  apps/linkme/src/app/api/webhook/revolut/route.ts
  apps/linkme/src/app/dashboard/page.tsx
  apps/linkme/src/app/login/page.tsx
  apps/linkme/src/components/auth/UserMenu.tsx
  apps/linkme/src/components/layout/Header.tsx
  apps/linkme/src/components/providers/Providers.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/lib/supabase-server.ts
  docs/audits/2025-12/ANALYSE-LINKME-MVP-BUBBLE-2025-12-01.md
  packages/@verone/types/src/supabase.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(linkme): Page détail produit catalogue + unification channel_pricing
  apps/back-office/src/app/canaux-vente/linkme/catalogue/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductDetailHeader.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductInfoCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductPricingCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductStatsCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/index.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-catalog.ts
  apps/back-office/src/app/canaux-vente/linkme/types.ts
Due: prettier --write, eslint --fix

feat(linkme): Section Fournisseurs Partenaires + auto-ajout trigger
  apps/back-office/src/app/canaux-vente/linkme/catalogue/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/catalogue/fournisseurs/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductDetailHeader.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-suppliers.ts
Due: prettier --write, eslint --fix

fix(types): Régénération types Supabase + retrait as any
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-suppliers.ts
  apps/back-office/src/types/supabase.ts
Due: prettier --write, eslint --fix

feat(linkme): Amélioration hook use-linkme-users
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-users.ts
Due: prettier --write, eslint --fix

feat(products): Composant ClientOrEnseigneSelector + amélioration sourcing
  packages/@verone/products/src/components/sourcing/ClientOrEnseigneSelector.tsx
  packages/@verone/products/src/components/sourcing/SourcingQuickForm.tsx
  packages/@verone/products/src/components/sourcing/index.ts
  packages/@verone/products/src/hooks/use-sourcing-products.ts
Due: prettier --write, eslint --fix

feat(enseignes): Amélioration page détail enseigne
  apps/back-office/src/app/contacts-organisations/enseignes/[id]/page.tsx
Due: prettier --write, eslint --fix

refactor: Suppression composants shipment et lib Packlink obsolètes
  apps/back-office/src/app/contacts-organisations/particuliers/page.tsx
  apps/back-office/src/components/business/sales-order-shipment-form.tsx
  apps/back-office/src/components/business/sales-order-shipment-modal.tsx
  apps/back-office/src/lib/packlink/client.ts
  apps/back-office/src/lib/packlink/errors.ts
  apps/back-office/src/lib/packlink/index.ts
  apps/back-office/src/lib/packlink/rate-limiter.ts
  apps/back-office/src/lib/packlink/types.ts
  apps/back-office/src/lib/packlink/validation.ts
  apps/back-office/src/lib/packlink/webhooks.ts
  packages/@verone/orders/src/components/forms/ManualShipmentForm.tsx
  packages/@verone/orders/src/components/modals/CreateManualShipmentModal.tsx
  packages/@verone/orders/src/components/modals/CreateShipmentModal.tsx
  packages/@verone/orders/src/components/modals/ShipmentRecapModal.tsx
  packages/@verone/orders/src/components/modals/ShippingManagerModal.tsx
  packages/@verone/orders/src/components/sections/ShipmentCardOld.tsx
  packages/@verone/orders/src/components/sections/ShipmentsSection.tsx
  packages/@verone/orders/src/components/sections/ShipmentsSectionSimple.tsx
  packages/@verone/orders/src/components/shipments/PackagesBuilder.tsx
  packages/@verone/orders/src/components/shipments/PickupPointSelector.tsx
  packages/@verone/orders/src/components/shipments/ServiceSelector.tsx
  packages/@verone/orders/src/components/shipments/ShipmentCard.tsx
  packages/@verone/orders/src/components/shipments/ShipmentStatusBadge.tsx
Due: prettier --write, eslint --fix

feat(db): Migrations RLS sales_order_items + enseigne_id products
  supabase/migrations/20251127_004_fix_rls_sales_order_items_insert.sql
  supabase/migrations/20251201_001_add_enseigne_id_to_products.sql
Due: none

docs: Audits orders/stock lifecycle et notifications
  docs/audits/2025-11/AUDIT-COMPLETE-ORDERS-STOCK-LIFECYCLE-2025-11-28.md
  docs/audits/2025-11/EXPLORATION-NOTIFICATIONS-SYSTEM-2025-11-27.md
Due: prettier --write

chore: Fichiers de travail et pages test
  .claude/plans/authentication-audit-complete-2025-12-01.md
  .claude/plans/purchase-order-fulfillment-analysis-2025-11-27.md
  .storybook/resumesession.md
  apps/back-office/src/app/test-client-enseigne-selector-simple/page.tsx
  apps/back-office/src/app/test-client-enseigne-selector/page.tsx
Due: prettier --write, eslint --fix

chore: Exclusion dossier .aim du suivi git
  .aim/verone-knowledge-graph.json
  .gitignore
Due: prettier --write

feat(sourcing): Badge sourcing et onglets produits clients/enseignes
  apps/back-office/src/app/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/enseignes/[id]/page.tsx
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/produits/sourcing/produits/[id]/page.tsx
Due: prettier --write, eslint --fix

feat(catalogue): Badge sourcing cliquable avec lien vers enseigne/client
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

fix(stock): Recalcul stock_real = sum(stock_movements)
  supabase/migrations/20251202_005_recalculate_stock_real_from_movements.sql
Due: none

feat(linkme): Page Vedettes produits + réorganisation sidebar
  apps/back-office/src/app/canaux-vente/linkme/catalogue/vedettes/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
Due: prettier --write, eslint --fix

feat(linkme): Section Canaux de Vente sur pages organisations CRM
  apps/back-office/package.json
  apps/back-office/src/app/canaux-vente/linkme/catalogue/configuration/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-catalog.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-selections.ts
  apps/back-office/src/app/canaux-vente/linkme/organisations/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/enseignes/[id]/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/[partnerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(linkme): Refonte front-end catalogue et sélections
  apps/linkme/src/app/catalogue/page.tsx
  apps/linkme/src/app/ma-selection/page.tsx
  apps/linkme/src/app/page.tsx
  apps/linkme/src/components/layout/Header.tsx
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  apps/linkme/src/lib/hooks/use-linkme-public.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
Due: prettier --write, eslint --fix

chore(mcp): Optimisation MCP servers (12 → 3)
  .claude/settings.json
  .mcp.json
  CLAUDE.md
Due: prettier --write

feat(linkme): Gestion complète des utilisateurs avec modals et APIs
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/back-office/src/app/api/linkme/users/reset-password/route.ts
  apps/back-office/src/app/api/linkme/users/update-email/route.ts
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeDeleteUserDialog.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeResetPasswordDialog.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UserConfigModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UserCreateModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UserEditModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UserViewModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UsersSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-users.ts
  apps/back-office/src/app/canaux-vente/linkme/types.ts
  apps/back-office/src/app/canaux-vente/linkme/utilisateurs/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/utilisateurs/page.tsx
Due: prettier --write, eslint --fix

fix(linkme): Correction ajout produits aux sélections pour org_independante
  .claude/agents/database-architect.md
  .claude/agents/frontend-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/agents/verone-orchestrator.md
  apps/back-office/src/app/api/linkme/selections/add-item/route.ts
  apps/back-office/src/app/api/linkme/selections/create/route.ts
  apps/back-office/src/app/api/linkme/selections/delete/route.ts
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/back-office/src/app/canaux-vente/linkme/apporteurs/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/EnseignesSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductMarginEditor.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductPricingCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionsSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/enseignes/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-enseignes.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-margin-calculator.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-users.ts
  apps/back-office/src/app/canaux-vente/linkme/organisations/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/selections/new/page.tsx
  apps/linkme/src/app/catalogue/page.tsx
  apps/linkme/src/app/dashboard/page.tsx
  apps/linkme/src/components/auth/UserMenu.tsx
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
  packages/@verone/organisations/src/components/sections/EnseigneDetailHeader.tsx
  supabase/migrations/20251204_001_add_org_independante_role.sql
  supabase/migrations/20251205_001_add_default_margin_rate.sql
  supabase/migrations/20251205_002_rls_linkme_selections.sql
Due: prettier --write, eslint --fix

feat(linkme): Modal édition marge avec indicateurs zones
  apps/back-office/src/app/canaux-vente/linkme/catalogue/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/MarginSlider.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/UserCreateModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-catalog.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-users.ts
  apps/back-office/src/app/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/types.ts
  apps/linkme/src/app/catalogue/page.tsx
  apps/linkme/src/app/ma-selection/page.tsx
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/components/selection/EditMarginModal.tsx
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
Due: prettier --write, eslint --fix

feat(linkme): Unification modaux VIEW/EDIT produits sélections
  apps/back-office/src/app/canaux-vente/linkme/catalogue/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/catalogue/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/ProductPricingCard.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionsSection.tsx
  apps/back-office/src/app/canaux-vente/linkme/enseignes/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-catalog.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-selections.ts
  apps/back-office/src/app/canaux-vente/linkme/organisations/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/types.ts
  apps/back-office/src/app/canaux-vente/linkme/utilisateurs/[id]/page.tsx
  apps/back-office/src/app/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/types/supabase.ts
  apps/linkme/src/app/catalogue/page.tsx
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20251206_001_extend_product_exclusivity_trigger.sql
  supabase/migrations/20251206_002_add_sourcing_products_to_channel_pricing.sql
  supabase/migrations/20251206_003_remove_status_visibility_selections.sql
  supabase/migrations/20251206_004_soft_delete_selection_items.sql
  supabase/migrations/20251206_005_cleanup_selection_items.sql
Due: prettier --write, eslint --fix

fix(orders): Restaurer boutons workflow pour commandes LinkMe/Site Internet
  apps/back-office/src/app/commandes/clients/page.tsx
Due: prettier --write, eslint --fix

fix(stock): Restaurer getSeverityColor() avec logique validated (ee935049)
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
Due: prettier --write, eslint --fix

feat(linkme): Support clients org_independante + fix TVA/TTC calculs
  .github/CODEOWNERS
  apps/back-office/src/app/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-affiliates.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-enseigne-customers.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-selections.ts
  apps/back-office/src/app/commandes/clients/page.tsx
  apps/back-office/src/app/stocks/alertes/page.tsx
  apps/back-office/src/app/stocks/page.tsx
  apps/back-office/src/types/supabase.ts
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/PurchaseOrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/hooks/linkme/index.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-affiliates.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-enseignes.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-selections.ts
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
  packages/@verone/stock/src/hooks/use-stock-alerts.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20251207162500_fix_sales_orders_insert_policy.sql
  supabase/migrations/20251207163500_fix_rls_circular_dependency.sql
  supabase/migrations/20251207170000_add_organisation_id_to_individual_customers.sql
Due: prettier --write, eslint --fix
