Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[LM-AUTH-001] fix: isolation stricte authentification LinkMe (#129)
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

[LM-DEBUG-001] fix: improve logging + profil role check
  apps/linkme/src/app/(main)/layout.tsx
  apps/linkme/src/app/(main)/profil/page.tsx
  apps/linkme/src/hooks/use-linkme-orders.ts
Due: prettier --write, eslint --fix

[LM-DEBUG-001] fix: remove INFO logs to comply with ESLint
  apps/linkme/src/app/(main)/layout.tsx
  apps/linkme/src/app/(main)/profil/page.tsx
  apps/linkme/src/hooks/use-linkme-orders.ts
Due: prettier --write, eslint --fix

[LM-DEBUG-001] fix: éviter flash visuel sidebar RBAC lors navigations
  apps/linkme/src/components/layout/AppSidebar.tsx
Due: prettier --write, eslint --fix

[LM-CONTACTS-001] feat: page Contacts standalone + refonte menu profil
  .claude/audits/contacts-page-test-report-2026-02-04.md
  apps/linkme/src/app/(main)/contacts/page.tsx
  apps/linkme/src/components/auth/UserMenu.tsx
  apps/linkme/src/config/route-permissions.ts
Due: prettier --write, eslint --fix

[LM-CONTACTS-001] refactor: refonte design moderne page Contact
  .github/BRANCH_PROTECTION.md
  apps/linkme/src/app/(marketing)/contact/ContactForm.tsx
Due: prettier --write, eslint --fix

[LM-DEBUG-001] fix: correct 25 ESLint warnings + fix pre-push hooks
  .husky/pre-push
  apps/back-office/package.json
  apps/back-office/src/app/(protected)/avoirs/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/AffiliatesSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-organisation-addresses-bo.ts
  apps/back-office/src/app/(protected)/contacts-organisations/customers/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/partners/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/suppliers/page.tsx
  apps/back-office/src/app/(protected)/finance/transactions/page.tsx
  apps/back-office/src/app/(protected)/organisation/components/partners-tab.tsx
  apps/back-office/src/app/(protected)/stocks/analytics/page.tsx
  apps/back-office/src/app/(protected)/stocks/expeditions/page.tsx
  apps/back-office/src/app/(protected)/stocks/receptions/page.tsx
  apps/back-office/src/app/api/exports/google-merchant-excel/route.ts
  apps/back-office/src/components/forms/simple-product-form.tsx
  apps/back-office/src/components/providers/activity-tracker-provider.tsx
  apps/linkme/package.json
  apps/linkme/src/app/(main)/ma-selection/[id]/page.tsx
  apps/linkme/src/components/OrderFormUnified.tsx
  apps/linkme/src/components/layout/AppSidebar.tsx
  apps/linkme/src/components/orders/steps/contacts/DeliverySection.tsx
  apps/linkme/src/components/ui/ImageSphere.tsx
  apps/linkme/src/components/ui/SphereImageGrid.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
  apps/site-internet/package.json
Due: prettier --write, eslint --fix

[NO-TASK] fix: boucle infinie AuthWrapper useEffect deps
  apps/back-office/src/components/layout/auth-wrapper.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: eliminate infinite re-render loops in ActivityTracker + validate-env
  apps/back-office/src/components/providers/activity-tracker-provider.tsx
  packages/@verone/notifications/src/hooks/use-user-activity-tracker.ts
  scripts/validate-env.sh
Due: prettier --write, eslint --fix

[LM-PERF-001] chore: optimize playwright MCP context (229MB → 158MB)
  .playwright-mcp/README.md
  package.json
  scripts/playwright-cleanup.sh
Due: prettier --write

[LM-PERF-001] chore: optimize playwright MCP context (229MB → 158MB)
  .playwright-mcp/.playwright-mcp/aout-2022-facture.png
  .playwright-mcp/.playwright-mcp/audamex-accueil.png
  .playwright-mcp/.playwright-mcp/commandes-page1.txt
  .playwright-mcp/.playwright-mcp/juin-2022-interface.png
  .playwright-mcp/.playwright-mcp/juin-2023-factures.png
  .playwright-mcp/.playwright-mcp/page5.txt
  .playwright-mcp/79eaf6a0-fc58-11ee-9484-0242ac13000a.pdf
  .playwright-mcp/ec0b004a-fc58-11ee-89e0-0242ac13000a.pdf
  scripts/playwright-cleanup.sh
Due: none

[BO-ORD-001] fix: stabilize React hooks to prevent cascade re-renders
  apps/back-office/src/app/(protected)/commandes/page.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: CLAUDE.md v12 refactoring + cleanup obsolete files
  .claude/audits/.gitignore
  .claude/audits/EXECUTIVE-SUMMARY-2026-02-01.md
  .claude/audits/contacts-page-test-report-2026-02-04.md
  .claude/audits/eslint-correction-guide.md
  .claude/audits/eslint-critical-files-2026-02-01.md
  .claude/audits/eslint-fix-session-2026-02-01.md
  .claude/audits/eslint-progress-baseline.json
  .claude/audits/eslint-warnings-by-rule-2026-02-01.md
  .claude/audits/eslint-warnings-detailed-2026-02-01.md
  .claude/audits/protection-main-audit-2026-01-21.md
  .claude/audits/protection-main-implementation-2026-01-21.md
  .claude/audits/protection-main-simplified-2026-01-21.md
  .claude/rules/frontend/async-patterns.md
  .claude/scripts/confirm-docs-read.sh
  .claude/scripts/eslint-track-progress.sh
  .claude/scripts/session-token-report.sh
  .claude/scripts/statusline-static-backup.sh
  .claude/scripts/statusline.sh
  .claude/scripts/validate-critical-files.sh
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

[BO-ORD-001] fix: stabilize React hooks with useRef to prevent infinite render loops
  apps/back-office/src/components/layout/auth-wrapper.tsx
  apps/back-office/src/components/providers/activity-tracker-provider.tsx
  packages/@verone/common/src/hooks/use-supabase-query.ts
  packages/@verone/notifications/src/hooks/use-user-activity-tracker.ts
Due: prettier --write, eslint --fix

[BO-LINK-001] fix: force Vercel rebuild for LinkMe routes 404
  apps/back-office/.vercel-trigger
Due: none

[BO-LINK-001] fix: force Vercel rebuild for LinkMe routes 404 (#134)
  apps/back-office/.vercel-trigger
Due: none

[BO-LINK-002] fix: disable standalone output to fix LinkMe routes 404
  apps/back-office/next.config.js
Due: none

[BO-LINK-002] fix: disable standalone output to fix LinkMe routes 404 (#135)
  apps/back-office/next.config.js
Due: none

[BO-LINK-003] fix: add dynamic directives to LinkMe complex pages
  apps/back-office/next.config.js
  apps/back-office/src/app/(protected)/canaux-vente/linkme/approbations/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/utilisateurs/page.tsx
Due: prettier --write, eslint --fix

[BO-LINK-003] fix: add dynamic directives to fix LinkMe routes 404 (#136)
  apps/back-office/next.config.js
  apps/back-office/src/app/(protected)/canaux-vente/linkme/approbations/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/utilisateurs/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove invalid TransactionsPageLegacy export for Next.js 15
  apps/back-office/src/app/(protected)/finance/transactions/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] feat: add validate-local-as-vercel script to prevent build failures
  scripts/validate-local-as-vercel.sh
Due: none

[BO-LINK-004] fix: remove invalid TransactionsPageLegacy export for Next.js 15 (#137)
  apps/back-office/src/app/(protected)/finance/transactions/page.tsx
  scripts/validate-local-as-vercel.sh
Due: prettier --write, eslint --fix

[NO-TASK] feat: enable production source maps for debugging
  apps/back-office/next.config.js
Due: none

[BO-FACT-001] fix: rollback standalone mode to fix factures ERR_REQUIRE_ESM
  apps/back-office/next.config.js
Due: none

[BO-FACT-001] fix: rollback standalone mode to fix factures ERR_REQUIRE_ESM (#139)
  apps/back-office/next.config.js
Due: none

[BO-FACT-002] fix: use validateRequestBodyNoSanitize to avoid ERR_REQUIRE_ESM in Qonto API
  apps/back-office/src/app/api/qonto/invoices/route.ts
  packages/@verone/utils/src/validation/api-schemas.ts
  packages/@verone/utils/src/validation/index.ts
Due: prettier --write, eslint --fix

[BO-FACT-002] fix: use validateRequestBodyNoSanitize to avoid ERR_REQUIRE_ESM in Qonto API (#140)
  apps/back-office/src/app/api/qonto/invoices/route.ts
  packages/@verone/utils/src/validation/api-schemas.ts
  packages/@verone/utils/src/validation/index.ts
Due: prettier --write, eslint --fix

[BO-FACT-003] fix: stop exporting validateRequestBody to avoid DOMPurify bundle
  packages/@verone/utils/src/validation/index.ts
Due: prettier --write, eslint --fix

[BO-QONTO-001] fix: restore Qonto documentation deleted by error
  docs/integrations/qonto/audit-critique-regles.md
  docs/integrations/qonto/auth-deprecated.md
  docs/integrations/qonto/regle-jamais-finaliser.md
  docs/integrations/qonto/roadmap-documents.md
  docs/integrations/qonto/setup-complet.md
  docs/integrations/qonto/vercel-env-setup.md
Due: prettier --write

[BO-QONTO-001] fix: restore simple validation from 73f16fbb to avoid ERR_REQUIRE_ESM
  apps/back-office/src/app/api/qonto/invoices/route.ts
Due: prettier --write, eslint --fix

[BO-QONTO-001] Fix: restore simple validation to fix ERR_REQUIRE_ESM production error (#141)
  apps/back-office/src/app/api/qonto/invoices/route.ts
  docs/integrations/qonto/audit-critique-regles.md
  docs/integrations/qonto/auth-deprecated.md
  docs/integrations/qonto/regle-jamais-finaliser.md
  docs/integrations/qonto/roadmap-documents.md
  docs/integrations/qonto/setup-complet.md
  docs/integrations/qonto/vercel-env-setup.md
  packages/@verone/utils/src/validation/index.ts
Due: prettier --write, eslint --fix

[BO-VERCEL-001] fix: add missing env vars to turbo globalEnv
  turbo.json
Due: prettier --write

[BO-VERCEL-002] fix: allow build scripts for esbuild and sharp
  .npmrc
Due: none

[BO-VERCEL-001] Fix: Vercel build warnings (Turbo env vars + pnpm scripts) (#142)
  .npmrc
  turbo.json
Due: prettier --write

[BO-PROD-001] fix: infinite loops in product detail page and archived tab
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: infinite loops in product detail page and archived tab (#143)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
Due: prettier --write, eslint --fix

[DB-RLS-001] feat: consolidate RLS to single auth system (user_app_roles only)
  supabase/migrations/20260206101127_consolidate_rls_single_auth_system.sql
Due: none

[DB-RLS-001] fix: remove unused imports and format code
  apps/back-office/src/app/(protected)/admin/activite-utilisateurs/page.tsx
  apps/back-office/src/app/(protected)/admin/users/[id]/page.tsx
  apps/back-office/src/app/api/admin/users/route.ts
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/lib/guards/require-backoffice-admin.ts
  packages/@verone/admin/src/actions/user-management.ts
  packages/@verone/dashboard/src/hooks/metrics/use-user-metrics.ts
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
