Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[LM-STATS-004] feat: product sales detail modal with year filter and sort fix
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductSalesDetailModal.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/TopFiltersBar.tsx
  apps/linkme/src/app/(main)/statistiques/produits/page.tsx
  apps/linkme/src/components/analytics/ProductStatsTable.tsx
  apps/linkme/src/lib/hooks/use-all-products-stats.ts
  apps/linkme/src/lib/hooks/use-product-sales-detail.ts
Due: prettier --write, eslint --fix

[BO-ADMIN-001] fix: migrate getCurrentUserRole and getUsersWithProfiles to user_app_roles
  apps/back-office/src/app/(protected)/admin/users/[id]/page.tsx
  apps/back-office/src/app/(protected)/admin/users/page.tsx
  packages/@verone/ui/src/components/ui/role-badge.tsx
Due: prettier --write, eslint --fix

[BO-ADMIN-002] fix: user creation, role update and deletion bugs
  apps/back-office/src/app/actions/user-management.ts
  apps/back-office/src/components/admin/create-user-dialog.tsx
Due: prettier --write, eslint --fix

[BO-ADMIN-003] fix: propagate real Supabase error + phone sanitization + constraint migration
  apps/back-office/src/app/actions/user-management.ts
  supabase/migrations/20260210_001_fix_valid_backoffice_role_constraint.sql
Due: prettier --write, eslint --fix

[BO-ADMIN-004] fix: read user display data from profile instead of user_metadata
  apps/back-office/src/components/admin/user-management-table.tsx
Due: prettier --write, eslint --fix

[LM-STATS] feat: page stats produits avec modal detail et filtres (#175)
  apps/back-office/src/app/(protected)/admin/users/[id]/page.tsx
  apps/back-office/src/app/(protected)/admin/users/page.tsx
  apps/back-office/src/app/actions/user-management.ts
  apps/back-office/src/components/admin/create-user-dialog.tsx
  apps/back-office/src/components/admin/user-management-table.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductSalesDetailModal.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductStatsCharts.tsx
  apps/linkme/src/app/(main)/statistiques/produits/page.tsx
  apps/linkme/src/components/analytics/ProductStatsTable.tsx
  apps/linkme/src/components/layout/AppSidebar.tsx
  apps/linkme/src/lib/hooks/use-all-products-stats.ts
  apps/linkme/src/lib/hooks/use-product-sales-detail.ts
  packages/@verone/ui/src/components/ui/role-badge.tsx
  supabase/migrations/20260210_001_fix_valid_backoffice_role_constraint.sql
Due: prettier --write, eslint --fix

[DB-CLEANUP-001] docs: restore critical documentation deleted during HARD DELETE
  docs/archives/exploration-2025-11/exploration-stock-movements-manual-vs-automatic.md
  docs/archives/exploration-2025-11/stock-alerts-system-exploration.md
  docs/business-rules/06-stocks/alertes/guide-configuration-seuils.md
  docs/business-rules/06-stocks/alertes/stock-alert-tracking-system.md
  docs/business-rules/06-stocks/backorders/BACKORDERS-POLICY.md
  docs/business-rules/06-stocks/movements/real-vs-forecast-separation.md
  docs/business-rules/06-stocks/movements/stock-traceability-rules.md
  docs/business-rules/07-commandes/clients/address-autofill-orders.md
  docs/business-rules/07-commandes/clients/sales-order-cancellation-workflow.md
  docs/business-rules/07-commandes/expeditions/COMMANDES-WORKFLOW-VALIDATION-EXPEDITION.md
  docs/business-rules/07-commandes/fournisseurs/PURCHASE-ORDER-WORKFLOW-COMPLET.md
  docs/business-rules/07-commandes/notifications-workflow.md
  docs/database/migrations/20251031_channel_tracking_stocks.md
  docs/database/triggers-hooks.md
  docs/database/triggers.md
  docs/metrics/database-triggers.md
  docs/workflows/orders-lifecycle.md
  docs/workflows/stock-movements.md
Due: prettier --write

[DB-CLEANUP-001] feat: migrate 99 imported orders to delivered status
  docs/database/audit-commissions-linkme-2026-02-10.md
  supabase/migrations/20260210_003_fix_delivered_status_imported_orders.sql
Due: prettier --write

[DB-CLEANUP-001] fix: uniformize commission status payable→validated + fix UI bug
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  docs/database/audit-impact-uniformisation-payable-2026-02-10.md
  supabase/migrations/20260210_004_uniformize_commission_status.sql
Due: prettier --write, eslint --fix

[DB-CLEANUP-001] fix: correct delivered status + uniformize commission statuses (#176)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  docs/archives/exploration-2025-11/exploration-stock-movements-manual-vs-automatic.md
  docs/archives/exploration-2025-11/stock-alerts-system-exploration.md
  docs/business-rules/06-stocks/alertes/guide-configuration-seuils.md
  docs/business-rules/06-stocks/alertes/stock-alert-tracking-system.md
  docs/business-rules/06-stocks/backorders/BACKORDERS-POLICY.md
  docs/business-rules/06-stocks/movements/real-vs-forecast-separation.md
  docs/business-rules/06-stocks/movements/stock-traceability-rules.md
  docs/business-rules/07-commandes/clients/address-autofill-orders.md
  docs/business-rules/07-commandes/clients/sales-order-cancellation-workflow.md
  docs/business-rules/07-commandes/expeditions/COMMANDES-WORKFLOW-VALIDATION-EXPEDITION.md
  docs/business-rules/07-commandes/fournisseurs/PURCHASE-ORDER-WORKFLOW-COMPLET.md
  docs/business-rules/07-commandes/notifications-workflow.md
  docs/database/audit-commissions-linkme-2026-02-10.md
  docs/database/audit-impact-uniformisation-payable-2026-02-10.md
  docs/database/migrations/20251031_channel_tracking_stocks.md
  docs/database/triggers-hooks.md
  docs/database/triggers.md
  docs/metrics/database-triggers.md
  docs/workflows/orders-lifecycle.md
  docs/workflows/stock-movements.md
  supabase/migrations/20260210_003_fix_delivered_status_imported_orders.sql
  supabase/migrations/20260210_004_uniformize_commission_status.sql
Due: prettier --write, eslint --fix

[BO-PAYMENT-001] fix: add getUserSafe helper to silence dev console errors
  apps/back-office/src/components/layout/app-header.tsx
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/supabase/client.ts
Due: prettier --write, eslint --fix

[BO-PAYMENT-001] refactor: migrate payment_status to payment_status_v2
  supabase/migrations/20260211_001_remove_obsolete_payment_status.sql
Due: none

[BO-PAYMENT-001] refactor: migrate code to use payment_status_v2
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
Due: prettier --write, eslint --fix

[BO-PAYMENT-001] fix: migrate commissions page to payment_status_v2
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
Due: prettier --write, eslint --fix

[BO-PAYMENT-001] fix: configure CI scope for active apps only (BO + LinkMe)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  package.json
Due: prettier --write

[BO-PAYMENT-001] fix: configure Playwright for local testing + disable CI E2E
  .github/workflows/ci.yml
  playwright.config.ts
Due: prettier --write, eslint --fix

[BO-PAYMENT-001] fix: use 'pnpm turbo' instead of 'turbo' in CI workflows
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

[BO-PAYMENT-001] Fix console error + migrate payment_status → payment_status_v2
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-orders.ts
  apps/back-office/src/components/layout/app-header.tsx
  package.json
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/supabase/client.ts
  playwright.config.ts
  supabase/migrations/20260211_001_remove_obsolete_payment_status.sql
Due: prettier --write, eslint --fix

Revert "[BO-PAYMENT-001] Fix console error + migrate payment_status → payment_status_v2"
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-orders.ts
  apps/back-office/src/components/layout/app-header.tsx
  package.json
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/supabase/client.ts
  playwright.config.ts
  supabase/migrations/20260211_001_remove_obsolete_payment_status.sql
Due: prettier --write, eslint --fix

Revert "[BO-PAYMENT-001] Fix console error + migrate payment_status → payment_status_v2" (#178)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-orders.ts
  apps/back-office/src/components/layout/app-header.tsx
  package.json
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/supabase/client.ts
  playwright.config.ts
  supabase/migrations/20260211_001_remove_obsolete_payment_status.sql
Due: prettier --write, eslint --fix

[BO-PAYMENT-001] fix: migrate payment_status → payment_status_v2 (clean) (#179)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-orders.ts
  apps/back-office/src/components/layout/app-header.tsx
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/supabase/client.ts
  supabase/migrations/20260211_001_remove_obsolete_payment_status.sql
Due: prettier --write, eslint --fix

[BO-FILTERS-006] fix: link organisations missing enseigne_id
  supabase/migrations/20260211173519_fix_organisations_missing_enseigne_id.sql
Due: none

[BO-FILTERS-006] feat: advanced filters modals for sales and purchase orders
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/components/modals/AdvancedPurchaseFiltersModal.tsx
  packages/@verone/orders/src/components/modals/AdvancedSalesFiltersModal.tsx
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/index.ts
  packages/@verone/orders/src/types/advanced-filters.ts
Due: prettier --write, eslint --fix

[BO-FILTERS-006] feat: replace modal filters with inline filter chips
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/commandes/clients/page.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/components/modals/AdvancedPurchaseFiltersModal.tsx
  packages/@verone/orders/src/components/modals/AdvancedSalesFiltersModal.tsx
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/types/advanced-filters.ts
Due: prettier --write, eslint --fix

[BO-FILTERS-006] refactor: replace filter chips with compact dropdowns
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
Due: prettier --write, eslint --fix

[BO-FILTERS-006] fix: filter by order_date instead of created_at
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
Due: prettier --write, eslint --fix

[BO-FILTERS-006] refactor: unify statuses (delivered→shipped) + fix commission trigger
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/(protected)/commandes/page.tsx
  apps/back-office/src/app/actions/sales-orders.ts
  apps/back-office/src/app/api/sales-orders/[id]/close/route.ts
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/sections/OrganisationSalesOrdersSection.tsx
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/orders/src/validators/order-status.ts
  supabase/migrations/20260211_002_unify_statuses_and_commission_trigger.sql
Due: prettier --write, eslint --fix

[BO-FILTERS-006] refactor: cleanup remaining delivered/closed references in 5 files
  packages/@verone/orders/src/components/modals/UniversalOrderDetailsModal.tsx
  packages/@verone/orders/src/components/sections/CustomerSamplesSection.tsx
  packages/@verone/orders/src/hooks/use-orders-status.ts
  packages/@verone/orders/src/lib/linkme-orders.ts
  packages/@verone/orders/src/utils/pdf-utils.ts
Due: prettier --write, eslint --fix

[BO-FILTERS-006] fix: notify_payment_received trigger referenced deleted payment_status column
  supabase/migrations/20260211_003_fix_notify_payment_received_trigger.sql
Due: none

[BO-FILTERS-006] fix: add missing currentYear dependency to useMemo
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
Due: prettier --write, eslint --fix

[BO-FILTERS-006] feat: add filterYear property to advanced filter types
  packages/@verone/orders/src/types/advanced-filters.ts
Due: prettier --write, eslint --fix

[BO-FILTERS-006] fix: inject Supabase env vars in CI + disable broken E2E job
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

[BO-FILTERS-006] feat: advanced filters + unify statuses (delivered→shipped) (#180)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/commandes/clients/page.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/(protected)/commandes/page.tsx
  apps/back-office/src/app/actions/sales-orders.ts
  apps/back-office/src/app/api/sales-orders/[id]/close/route.ts
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/UniversalOrderDetailsModal.tsx
  packages/@verone/orders/src/components/sections/CustomerSamplesSection.tsx
  packages/@verone/orders/src/components/sections/OrganisationSalesOrdersSection.tsx
  packages/@verone/orders/src/hooks/use-orders-status.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/orders/src/index.ts
  packages/@verone/orders/src/lib/linkme-orders.ts
  packages/@verone/orders/src/types/advanced-filters.ts
  packages/@verone/orders/src/utils/pdf-utils.ts
  packages/@verone/orders/src/validators/order-status.ts
  supabase/migrations/20260211173519_fix_organisations_missing_enseigne_id.sql
  supabase/migrations/20260211_002_unify_statuses_and_commission_trigger.sql
  supabase/migrations/20260211_003_fix_notify_payment_received_trigger.sql
Due: prettier --write, eslint --fix

[BO-AUTH] Fix cross-app login crash (#172)
  .claude/guides/cross-app-protection.md
  apps/back-office/src/app/unauthorized/layout.tsx
  apps/back-office/src/app/unauthorized/page.tsx
  apps/back-office/src/components/layout/auth-wrapper.tsx
  apps/back-office/src/middleware.ts
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
Due: prettier --write, eslint --fix

[LM-AUTH] Apply cross-app protection pattern to LinkMe (#173)
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/back-office/src/app/actions/user-management.ts
  apps/linkme/src/app/unauthorized/page.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/middleware.ts
  supabase/migrations/20260209000001_allow_negative_amounts_for_credit_notes.sql
  supabase/migrations/20260209000002_allow_negative_quantities_for_returns.sql
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove broken E2E job and add Supabase env vars to CI build
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

[NO-TASK] fix: align pnpm version in ci.yml with package.json (9 → 10.13.1)
  .github/workflows/ci.yml
Due: none

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
