Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[NO-TASK] fix: remove ccusage to resolve memory leak (116% CPU + 5.7GB RAM)
  .claude/scripts/statusline.sh
Due: none

[NO-TASK] chore: remove Chrome DevTools MCP (unused)
  CLAUDE.md
  docs/archive/2026-01/chrome-devtools-mcp/README.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-browser-revolution-2025.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-chrome-devtools-playwright-cohabitation.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-chrome-devtools-reference.md
Due: prettier --write

[NO-TASK] perf: optimize Turborepo worker limits
  scripts/turbo-cleanup.sh
  turbo.json
Due: prettier --write

[NO-TASK] perf: add Turborepo maintenance script
  turbo.json
Due: prettier --write

[NO-TASK] feat: add continuous monitoring system
  package.json
  scripts/monitor-health.sh
Due: prettier --write

[BO-PROD-001] fix: resolve ambiguous Supabase relationship for organisations
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] perf: add Turborepo cleanup script
  scripts/turbo-cleanup.sh
Due: none

[BO-PROD-001] fix: resolve ambiguous Supabase relationship for organisations (#108)
  .claude/scripts/statusline.sh
  CLAUDE.md
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  apps/linkme/src/components/RequireRole.tsx
  apps/linkme/src/components/layout/AppSidebar.tsx
  apps/linkme/src/config/route-permissions.ts
  apps/linkme/src/hooks/use-permissions.ts
  apps/linkme/src/lib/rbac/index.ts
  apps/linkme/src/middleware.ts
  docs/archive/2026-01/chrome-devtools-mcp/README.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-browser-revolution-2025.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-chrome-devtools-playwright-cohabitation.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-chrome-devtools-reference.md
  package.json
  scripts/monitor-health.sh
  scripts/turbo-cleanup.sh
  turbo.json
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: resolve Supabase ambiguous relationship error
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] feat: simplify statusline (remove ccusage and CPU/RAM)
  .claude/scripts/statusline.sh
  docs/current/node-processes-monitoring.md
Due: prettier --write

[BO-QONTO-001] fix: restore || operator for empty strings → undefined conversion
  ANALYSE_COMPLETE_STOCKS_2022-2025.md
  FACTURES_WEBLY_2022-2023_EXTRACTION.md
  LISTE_COMPLETE_FACTURES_2022-2023.txt
  RAPPORT_VENTES_FACTURES_LINKME_2024.md
  RAPPORT_VENTES_FACTURES_LINKME_COMPLET.md
  RAPPORT_VENTES_PRODUITS_LINKME_2024.md
  RAPPORT_VENTES_PRODUITS_LINKME_COMPLET.md
  RAPPORT_VENTES_WEBLY_2022-2023_COMPLET.md
  RAPPORT_VERONE_2024_EXTRACTION.md
  RECAP_FACTURES_WEBLY_2022-2023.md
  apps/back-office/src/app/(protected)/factures/[id]/edit/page.tsx
  apps/back-office/src/app/api/qonto/invoices/route.ts
  apps/back-office/src/app/api/qonto/quotes/from-invoice/[invoiceId]/route.ts
  apps/back-office/src/app/api/qonto/quotes/route.ts
Due: prettier --write, eslint --fix

[BO-UI-001] feat: add ownership type badge on customer detail page
  apps/back-office/src/app/(protected)/contacts-organisations/customers/[customerId]/page.tsx
Due: prettier --write, eslint --fix

[BO-FORM-001] feat: add business_name and siren fields to customer form
  packages/@verone/customers/src/components/modals/CustomerFormModal.tsx
Due: prettier --write, eslint --fix

[BO-FORM-002] feat: make commercial conditions read-only for succursales
  packages/@verone/organisations/src/components/sections/CommercialEditSection.tsx
Due: prettier --write, eslint --fix

[BO-FORM + BO-QONTO-001] feat: formulaire client + fix Qonto || operator
  .claude/scripts/statusline.sh
  ANALYSE_COMPLETE_STOCKS_2022-2025.md
  FACTURES_WEBLY_2022-2023_EXTRACTION.md
  LISTE_COMPLETE_FACTURES_2022-2023.txt
  RAPPORT_VENTES_FACTURES_LINKME_2024.md
  RAPPORT_VENTES_FACTURES_LINKME_COMPLET.md
  RAPPORT_VENTES_PRODUITS_LINKME_2024.md
  RAPPORT_VENTES_PRODUITS_LINKME_COMPLET.md
  RAPPORT_VENTES_WEBLY_2022-2023_COMPLET.md
  RAPPORT_VERONE_2024_EXTRACTION.md
  RECAP_FACTURES_WEBLY_2022-2023.md
  apps/back-office/src/app/(protected)/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/(protected)/factures/[id]/edit/page.tsx
  apps/back-office/src/app/api/qonto/invoices/route.ts
  apps/back-office/src/app/api/qonto/quotes/from-invoice/[invoiceId]/route.ts
  apps/back-office/src/app/api/qonto/quotes/route.ts
  docs/current/node-processes-monitoring.md
  packages/@verone/customers/src/components/modals/CustomerFormModal.tsx
  packages/@verone/organisations/src/components/sections/CommercialEditSection.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore: remove chrome-devtools MCP documentation
  docs/archive/2026-01/chrome-devtools-mcp/README.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-browser-revolution-2025.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-chrome-devtools-playwright-cohabitation.md
  docs/archive/2026-01/chrome-devtools-mcp/mcp-chrome-devtools-reference.md
Due: prettier --write

[BO-DOC-001] feat: fix workflow checklist cohérence
  .claude/work/dashboard-perf-test.png
  docs/claude/WORKFLOW-CHECKLIST.md
Due: prettier --write

[BO-DOC-001] feat: link workflow checklist in CLAUDE.md
  CLAUDE.md
Due: prettier --write

[BO-DOC-001] chore: remove 14 temporary files from root
  .claude/rules/dev/git-workflow.md
  RAPPORT_FINAL_VERONE_2022-2024.md
  RAPPORT_VENTES_FACTURES_VERONE_2022-2025.md
  RAPPORT_VENTES_PRODUITS_VERONE_2022-2025.md
  docs/current/git-hooks-turbo-filters-analysis.md
Due: prettier --write

[BO-DOC-001] chore: restructure .claude folder (remove non-standard dirs)
  .claude/plans/distributed-exploring-waffle.md
  .claude/work/ACTIVE.md
  docs/claude/archive/env.md
  docs/claude/archive/git-workflow.md
  docs/claude/archive/incident-prevention.md
Due: prettier --write

[BO-DOC-001] chore: remove obsolete Python scripts
  scripts/fix-async-batch3.py
  scripts/parse-eslint-errors.py
Due: none

[BO-DOC-001] chore: migrate .tasks to .plans and archive old tasks
  .plans/README.md
  .plans/batch1-linkme-hooks-checklist.md
  .plans/enforce-professional-workflow-2026.md
  docs/archive/tasks-2026-01/BO-INT-001.md
  docs/archive/tasks-2026-01/ESLINT-2026-SUMMARY.md
  docs/archive/tasks-2026-01/INDEX.md
  docs/archive/tasks-2026-01/LM-ORD-010.md
  docs/archive/tasks-2026-01/PHASE1-QUICKSTART.md
  docs/archive/tasks-2026-01/TEMPLATE.md
  docs/archive/tasks-2026-01/generate-index.sh
Due: prettier --write

[BO-DOC-001] docs: add complete scripts/commands documentation + update CLAUDE.md
  .plans/README.md
  CLAUDE.md
  docs/claude/SCRIPTS-AND-COMMANDS.md
Due: prettier --write

[BO-DOC-001] docs: add complete restructuration report
  docs/claude/RESTRUCTURATION-2026-01-30.md
Due: prettier --write

[NO-TASK] docs: add build-commands rule (always use --filter)
  .claude/rules/dev/build-commands.md
Due: prettier --write

[BO-CUST-112] fix: add ownership_type fields to useOrganisation + display badges on customer cards
  apps/back-office/src/app/(protected)/contacts-organisations/customers/page.tsx
  packages/@verone/organisations/src/hooks/use-organisations.ts
Due: prettier --write, eslint --fix

[BO-DOC-001] docs: add selective build rules + helper script
  CLAUDE.md
  scripts/build-current.sh
Due: prettier --write

[BO-DOC-001] perf: optimize git hooks (pre-push 5-8min → 30-60s)
  .github/workflows/lint.yml
  .husky/pre-push
  docs/claude/git-workflow-optimized.md
  docs/current/git-hooks-optimization-report.md
Due: prettier --write

[BO-DOC-001] docs: add git hooks optimization quickstart
  docs/current/QUICKSTART-GIT-HOOKS.md
Due: prettier --write

[BO-BUILD-001] fix: eliminate 5 build/deployment warnings
  apps/back-office/src/components/layout/app-sidebar.tsx
  docs/claude/decisions/remove-sentry-env-vars.md
  docs/current/turborepo-remote-cache.md
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

[NO-TASK] fix: eliminate Docker dependency (replace --local with --linked)
  .claude/rules/database/rls-patterns.md
  .husky/pre-commit
  package.json
  supabase/migrations/20260130_001_fix_payment_requests_rls_staff.sql
  supabase/migrations/20260130_002_fix_affiliates_rls_staff.sql
  supabase/migrations/20260130_003_fix_selections_rls_staff.sql
  supabase/migrations/20260130_004_fix_catalog_showcase_rls_staff.sql
  supabase/migrations/20260130_005_fix_expenses_rls_staff.sql
  tools/scripts/audit-database.js
Due: prettier --write

[NO-TASK] docs: update all --local refs to --linked
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/README.md
  docs/architecture/notifications-et-approbations.md
  docs/current/database.md
  docs/current/finance/invoice-workflow-implementation.md
  docs/current/index.md
  docs/current/linkme/routes-index.md
  docs/workflows/typescript-types-generation.md
Due: prettier --write

[NO-TASK] chore: regenerate TypeScript types (via MCP cloud)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-PERF-001] fix: eliminate 3 E2E test issues + 37 ESLint warnings
  .playwright-mcp/.playwright-mcp/aout-2022-facture.png
  .playwright-mcp/.playwright-mcp/audamex-accueil.png
  .playwright-mcp/.playwright-mcp/juin-2022-interface.png
  .playwright-mcp/.playwright-mcp/juin-2023-factures.png
  .playwright-mcp/79eaf6a0-fc58-11ee-9484-0242ac13000a.pdf
  .playwright-mcp/ec0b004a-fc58-11ee-89e0-0242ac13000a.pdf
  .playwright-mcp/facture-220001-preview.md
  RAPPORT_FINAL_VERONE_2022-2024.md
  RAPPORT_VENTES_CONSOLIDEE_VERONE_2022-2025.md
  RAPPORT_VENTES_FACTURES_DETAILS_VERONE_2022-2025.md
  RAPPORT_VENTES_FACTURES_VERONE_2022-2025.md
  RAPPORT_VENTES_PRODUITS_VERONE_2022-2025.md
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  packages/@verone/categories/src/hooks/use-catalogue.ts
  packages/@verone/notifications/src/hooks/use-linkme-pending-count.ts
  packages/@verone/notifications/src/hooks/use-orders-pending-count.ts
  packages/@verone/notifications/src/hooks/use-products-incomplete-count.ts
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/utils/src/supabase/client.ts
  supabase/migrations/20260130194508_add_products_performance_indexes.sql
Due: prettier --write, eslint --fix

[BO-PERF-001] fix: TypeScript errors in createProduct/updateProduct
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  packages/@verone/categories/src/hooks/use-catalogue.ts
Due: prettier --write, eslint --fix

[BO-LINT-001] fix: 14 warnings in stocks/alertes/page.tsx (nullish-coalescing + exhaustive-deps)
  apps/back-office/src/app/(protected)/stocks/alertes/page.tsx
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
