Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[BO-PERF-TANSTACK-001] perf: migrate use-factures-fetch to useQuery (bonus sprint)
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-fetch.ts
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-page.ts
Due: prettier --write, eslint --fix

[BO-PERF-TANSTACK-001] docs: dev report sprint TanStack migration
  docs/scratchpad/dev-report-2026-05-08-BO-PERF-TANSTACK-001.md
Due: prettier --write

[BO-PERF-COMPLETE-001] perf: quick wins + TanStack Query migration (étapes 2+3) (#950)
  apps/back-office/src/app/(protected)/factures/[id]/use-document-detail.ts
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-fetch.ts
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
  docs/scratchpad/dev-report-2026-05-08-BO-PERF-TANSTACK-001.md
  packages/@verone/finance/src/components/order-select/use-order-select.ts
  packages/@verone/finance/src/hooks/pricing/use-channel-pricing.ts
  packages/@verone/finance/src/hooks/pricing/use-customer-pricing.ts
  packages/@verone/finance/src/hooks/use-fixed-assets.ts
  packages/@verone/finance/src/hooks/use-missing-invoices.ts
  packages/@verone/orders/src/hooks/index.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
  packages/@verone/orders/src/hooks/use-sales-orders-query.ts
Due: prettier --write, eslint --fix

Revert "[RELEASE] staging → main (6 commits) (#951)"
  apps/back-office/src/app/(protected)/factures/[id]/use-document-detail.ts
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-fetch.ts
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
  docs/scratchpad/dev-report-2026-05-08-BO-PERF-TANSTACK-001.md
  packages/@verone/finance/src/components/order-select/use-order-select.ts
  packages/@verone/finance/src/hooks/pricing/use-channel-pricing.ts
  packages/@verone/finance/src/hooks/pricing/use-customer-pricing.ts
  packages/@verone/finance/src/hooks/use-fixed-assets.ts
  packages/@verone/finance/src/hooks/use-missing-invoices.ts
  packages/@verone/orders/src/hooks/index.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
  packages/@verone/orders/src/hooks/use-sales-orders-query.ts
Due: prettier --write, eslint --fix

[BO-HOTFIX-ROLLBACK-002] fix: rollback RLS PERF-002/003 + clean double-fetch on validation
  packages/@verone/orders/src/components/sales-orders-table/hooks/use-sales-order-actions.ts
  packages/@verone/orders/src/components/sales-orders-table/hooks/use-sales-orders-success-handlers.ts
  supabase/migrations/20260508060000_rollback_bo_rls_perf_002_003.sql
Due: prettier --write, eslint --fix

[BO-HOTFIX-ROLLBACK-002] perf: parallelize products + product_images on order detail
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/use-fetch-order.ts
Due: prettier --write, eslint --fix

[HOTFIX] Revert PR #951 — back-office down (splash bloqué) (#952)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/use-fetch-order.ts
  packages/@verone/orders/src/components/sales-orders-table/hooks/use-sales-order-actions.ts
  packages/@verone/orders/src/components/sales-orders-table/hooks/use-sales-orders-success-handlers.ts
  supabase/migrations/20260508060000_rollback_bo_rls_perf_002_003.sql
Due: prettier --write, eslint --fix

[BO-IMG-CF-002] feat: bascule complète URLs images Supabase → Cloudflare
  docs/scratchpad/dev-report-2026-05-08-BO-IMG-CF-002.md
  packages/@verone/products/src/hooks/use-product-images.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/utils/src/upload/smart-upload.ts
  supabase/migrations/20260508120000_bo_img_cf_002_bascule_urls_supabase_vers_cloudflare.sql
Due: prettier --write, eslint --fix

[BO-IMG-CF-002] chore: regenerate Supabase types via CI artifact (drift fix)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-IMG-CF-002] feat: bascule complète URLs images Supabase → Cloudflare (#954)
  docs/scratchpad/dev-report-2026-05-08-BO-IMG-CF-002.md
  packages/@verone/products/src/hooks/use-product-images.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/utils/src/upload/smart-upload.ts
  supabase/migrations/20260508120000_bo_img_cf_002_bascule_urls_supabase_vers_cloudflare.sql
Due: prettier --write, eslint --fix

[BO-BRAND-CLEANUP-001] feat: retire selecteur marque global du header + drop active_brand_id
  apps/back-office/src/app/(protected)/produits/catalogue/_components/ProductBrandChips.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/components/layout/brand-switcher.tsx
  apps/back-office/src/hooks/use-active-brand.ts
  apps/back-office/src/hooks/use-brands.ts
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260508140000_bo_brand_cleanup_001_drop_active_brand_id.sql
Due: prettier --write, eslint --fix

[BO-BRAND-CLEANUP-001] fix: nav LinkMe accessible au clic + sous-pages completes
  apps/back-office/src/components/layout/channel-tabs.tsx
Due: prettier --write, eslint --fix

[BO-BRAND-CLEANUP-001] feat: supprime page Centre de messagerie LinkMe
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/page.tsx
Due: prettier --write, eslint --fix

[BO-BRAND-CLEANUP-001] fix: types Supabase byte-for-byte conformes CI (graphql_public)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BRAND-CLEANUP-001] Retire selecteur marque global + nav LinkMe + supprime page Messages LinkMe (#956)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/LinkMeSidebar.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_components/ProductBrandChips.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/components/layout/brand-switcher.tsx
  apps/back-office/src/components/layout/channel-tabs.tsx
  apps/back-office/src/hooks/use-active-brand.ts
  apps/back-office/src/hooks/use-brands.ts
  apps/back-office/src/types/supabase.d.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260508140000_bo_brand_cleanup_001_drop_active_brand_id.sql
Due: prettier --write, eslint --fix

[INFRA-AGENT-COHERENCE-001] feat: lifecycle memoires/regles + hook anti-duplication PR + ACTIVE template
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/hooks/check-pr-duplication.sh
  .claude/rules/memory-lifecycle.md
  .claude/settings.json
  .claude/work/ACTIVE.md.template
  .gitignore
  CLAUDE.md
Due: prettier --write

[INFRA-AGENT-COHERENCE-001] feat: lifecycle memoires/regles + hook anti-duplication PR + ACTIVE template (#957)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/hooks/check-pr-duplication.sh
  .claude/rules/memory-lifecycle.md
  .claude/settings.json
  .claude/work/ACTIVE.md.template
  .gitignore
  CLAUDE.md
Due: prettier --write

[BO-MKT-002] feat: extend media_assets for AI image generation
  apps/back-office/.env.example
  docs/scratchpad/dev-plan-2026-05-08-marketing-image-generation.md
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260508180000_bo_mkt_002_marketing_image_generation.sql
Due: prettier --write, eslint --fix

[BO-MKT-002] feat: add Gemini integration module (types, errors, client, tests)
  packages/@verone/integrations/package.json
  packages/@verone/integrations/src/gemini/__tests__/client.test.ts
  packages/@verone/integrations/src/gemini/client.ts
  packages/@verone/integrations/src/gemini/errors.ts
  packages/@verone/integrations/src/gemini/index.ts
  packages/@verone/integrations/src/gemini/types.ts
  packages/@verone/integrations/tsconfig.json
Due: prettier --write, eslint --fix

[BO-MKT-002] feat: add LinkMe brand, L1-L5 presets, TargetChannel types, composePromptWithSources
  packages/@verone/marketing/package.json
  packages/@verone/marketing/src/data/brands.ts
  packages/@verone/marketing/src/data/presets.ts
  packages/@verone/marketing/src/lib/__tests__/compose-prompt.test.ts
  packages/@verone/marketing/src/lib/compose-prompt.ts
  packages/@verone/marketing/src/types.ts
  packages/@verone/marketing/tsconfig.json
Due: prettier --write, eslint --fix

[BO-MKT-002] feat: add POST /api/marketing/images/generate route + useGenerateMarketingImage hook
  apps/back-office/src/app/api/marketing/images/generate/route.ts
  packages/@verone/marketing/src/hooks/index.ts
  packages/@verone/marketing/src/hooks/use-generate-marketing-image.ts
  packages/@verone/marketing/src/index.ts
Due: prettier --write, eslint --fix

[BO-MKT-002] feat: add MarketingStudio UI + renovate /marketing/prompts + E2E tests
  apps/back-office/src/app/(protected)/marketing/prompts/page.tsx
  packages/@verone/marketing/src/components/MarketingStudio/ChannelSelector.tsx
  packages/@verone/marketing/src/components/MarketingStudio/GenerationResultCard.tsx
  packages/@verone/marketing/src/components/MarketingStudio/MarketingStudio.tsx
  packages/@verone/marketing/src/components/MarketingStudio/MediaPickerModal.tsx
  packages/@verone/marketing/src/components/MarketingStudio/SourceImagesSection.tsx
  packages/@verone/marketing/src/components/MarketingStudio/index.ts
  packages/@verone/marketing/src/components/index.ts
  tests/e2e/marketing-studio-generate.spec.ts
Due: prettier --write, eslint --fix

[BO-MKT-002] chore: sync pnpm-lock.yaml after package.json deps additions
  pnpm-lock.yaml
Due: none

[BO-MKT-002] fix: align Supabase types with CI-generated (graphql_public schema)
  docs/scratchpad/dev-report-2026-05-08-marketing-image-generation.md
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-MKT-002] fix: address reviewer-agent CRITICALs and warnings
  apps/back-office/src/app/api/marketing/images/generate/route-helpers.ts
  apps/back-office/src/app/api/marketing/images/generate/route.ts
  packages/@verone/integrations/src/gemini/client.ts
  packages/@verone/marketing/src/components/MarketingStudio/MarketingStudio.tsx
  packages/@verone/marketing/src/components/MarketingStudio/SourceImagesSection.tsx
Due: prettier --write, eslint --fix

[BO-MKT-002] docs: add reviewer fixes addendum to dev report
  docs/scratchpad/dev-report-2026-05-08-marketing-image-generation.md
Due: prettier --write

[BO-MKT-002] Studio Marketing IA — generation images via Gemini (#958)
  apps/back-office/.env.example
  apps/back-office/src/app/(protected)/marketing/prompts/page.tsx
  apps/back-office/src/app/api/marketing/images/generate/route-helpers.ts
  apps/back-office/src/app/api/marketing/images/generate/route.ts
  docs/scratchpad/dev-plan-2026-05-08-marketing-image-generation.md
  docs/scratchpad/dev-report-2026-05-08-marketing-image-generation.md
  packages/@verone/integrations/package.json
  packages/@verone/integrations/src/gemini/__tests__/client.test.ts
  packages/@verone/integrations/src/gemini/client.ts
  packages/@verone/integrations/src/gemini/errors.ts
  packages/@verone/integrations/src/gemini/index.ts
  packages/@verone/integrations/src/gemini/types.ts
  packages/@verone/integrations/tsconfig.json
  packages/@verone/marketing/package.json
  packages/@verone/marketing/src/components/MarketingStudio/ChannelSelector.tsx
  packages/@verone/marketing/src/components/MarketingStudio/GenerationResultCard.tsx
  packages/@verone/marketing/src/components/MarketingStudio/MarketingStudio.tsx
  packages/@verone/marketing/src/components/MarketingStudio/MediaPickerModal.tsx
  packages/@verone/marketing/src/components/MarketingStudio/SourceImagesSection.tsx
  packages/@verone/marketing/src/components/MarketingStudio/index.ts
  packages/@verone/marketing/src/components/index.ts
  packages/@verone/marketing/src/data/brands.ts
  packages/@verone/marketing/src/data/presets.ts
  packages/@verone/marketing/src/hooks/index.ts
  packages/@verone/marketing/src/hooks/use-generate-marketing-image.ts
  packages/@verone/marketing/src/index.ts
  packages/@verone/marketing/src/lib/__tests__/compose-prompt.test.ts
  packages/@verone/marketing/src/lib/compose-prompt.ts
  packages/@verone/marketing/src/types.ts
  packages/@verone/marketing/tsconfig.json
  packages/@verone/types/src/supabase.ts
  pnpm-lock.yaml
  supabase/migrations/20260508180000_bo_mkt_002_marketing_image_generation.sql
  tests/e2e/marketing-studio-generate.spec.ts
Due: prettier --write, eslint --fix

[BO-HOTFIX-PRODUCT-DETAIL-001] fix: restore use-product-detail.tsx to 6b8ab0b8
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
Due: prettier --write, eslint --fix

[BO-HOTFIX-PRODUCT-DETAIL-001] fix: restore use-product-detail.tsx to 6b8ab0b8 (#960)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/hooks/use-product-detail.tsx
Due: prettier --write, eslint --fix

[BO-INFRA-GMAIL-ENV-001] fix: add Gmail env vars to turbo.json globalEnv
  turbo.json
Due: prettier --write

[BO-PRODUCT-DETAIL-MIN-001] chore: minimal page.tsx to isolate manifest issue
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[BO-INFRA-GMAIL-ENV-001] fix: add Gmail env vars to turbo.json globalEnv (#962)
  turbo.json
Due: prettier --write

[BO-INFRA-VERCEL-FORCE-001] chore: cache-bust on [productId]/page.tsx to force Vercel rebuild
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[BO-INFRA-VERCEL-FORCE-001] chore: cache-bust on [productId]/page.tsx to force Vercel rebuild (#965)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[BO-INFRA-DX-001] chore: vagues 2+3 — turbo cache scoping, workflow merge, push rule
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/agents/dev-agent.md
  .claude/commands/pr.md
  .claude/rules/no-worktree-solo.md
  .claude/rules/workflow.md
  .gitignore
  CLAUDE.md
  turbo.json
Due: prettier --write

[BO-INFRA-DX-002] feat: auto-merge by default on every PR (CI green = merge)
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[BO-INFRA-DX-002] feat: auto-merge by default on every PR (CI green = merge) (#969)
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
