Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[DB-ARCH-001] docs: add comprehensive architecture analysis
  docs/analysis/user-app-roles-architecture-analysis.md
Due: prettier --write

[BO-ADMIN-001] fix: remove obsolete user_profiles.role references
  apps/back-office/src/components/admin/edit-user-dialog.tsx
  packages/@verone/admin/src/actions/user-management.ts
Due: prettier --write, eslint --fix

[NO-TASK] feat: implement Git Worktrees for multi-session isolation
  .claude/settings.json
  CLAUDE.md
  docs/workflows/SESSION-DECISION.md
  docs/workflows/WORKTREES-IMPLEMENTATION-REPORT.md
  docs/workflows/WORKTREES-QUICKSTART.md
  scripts/worktree-cleanup.sh
  scripts/worktree-create.sh
  scripts/worktree-status.sh
Due: prettier --write

[BO-ORD-002] chore: regenerate Supabase types to resolve merge conflicts
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: temporary workaround for UserProfile role column removal
  packages/@verone/utils/src/upload/supabase-utils.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: remove role column references from dashboard metrics
  packages/@verone/dashboard/src/hooks/metrics/use-user-metrics.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: migrate user-management actions to use user_app_roles
  packages/@verone/admin/src/actions/user-management.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: allow null email in IIndividualCustomer interface
  packages/@verone/finance/src/components/OrganisationLinkingModal.tsx
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: temporary workaround for get_linkme_orders RPC signature change
  apps/linkme/src/hooks/use-linkme-orders.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: migrate admin users API to use user_app_roles
  apps/back-office/src/app/api/admin/users/route.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: complete migration from role column to user_app_roles
  apps/back-office/src/app/(protected)/admin/users/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/profile/page.tsx
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/lib/guards/require-backoffice-admin.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: replace any with unknown in use-linkme-orders
  apps/linkme/src/hooks/use-linkme-orders.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: prettier formatting in linkme users create route
  apps/back-office/src/app/api/linkme/users/create/route.ts
Due: prettier --write, eslint --fix

[BO-ORD-002] fix: migrate to user_app_roles and regenerate Supabase types (#146)
  .claude/settings.json
  .gitignore
  CLAUDE.md
  apps/back-office/src/app/(protected)/admin/users/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/page.tsx
  apps/back-office/src/app/(protected)/commandes/fournisseurs/page.tsx
  apps/back-office/src/app/(protected)/profile/page.tsx
  apps/back-office/src/app/api/admin/users/route.ts
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/lib/guards/require-backoffice-admin.ts
  apps/linkme/src/hooks/use-linkme-orders.ts
  docs/workflows/SESSION-DECISION.md
  docs/workflows/WORKTREES-IMPLEMENTATION-REPORT.md
  docs/workflows/WORKTREES-QUICKSTART.md
  packages/@verone/admin/src/actions/user-management.ts
  packages/@verone/dashboard/src/hooks/metrics/use-user-metrics.ts
  packages/@verone/finance/src/components/OrganisationLinkingModal.tsx
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/utils/src/upload/supabase-utils.ts
  scripts/worktree-cleanup.sh
  scripts/worktree-create.sh
  scripts/worktree-status.sh
Due: prettier --write, eslint --fix

[BO-CONFIG-001] fix: block ALL write operations on main (Edit/Write/MCP apply_migration)
  .claude/settings.json
Due: prettier --write

[BO-CONFIG-001] fix: block ALL write operations on main (Edit/Write/MCP apply_migration) (#147)
  .claude/settings.json
Due: prettier --write

[BO-DATABASE-001] feat: add owner role system and modern RLS helpers
  supabase/migrations/20260206224500_fix_owner_role_system.sql
Due: none

[BO-CONFIG-002] feat: add Git hooks to block work on main everywhere
  .git-hooks-template/post-checkout
  .git-hooks-template/pre-commit
  scripts/install-git-hooks.sh
  scripts/install-hooks-all-worktrees.sh
  scripts/worktree-create.sh
Due: none

[BO-CONFIG-002] feat: refactor worktree-status to identify active session
  scripts/worktree-status.sh
Due: none

[NO-TASK] perf: skip full type-check in pre-commit for packages/ changes
  scripts/type-check-precommit.sh
Due: none

[NO-TASK] perf: skip full type-check in pre-commit for packages/ changes (#150)
  scripts/type-check-precommit.sh
Due: none

[BO-CONFIG-002] feat: add worktree guard hooks to prevent context errors
  .husky/pre-commit
  .husky/pre-push
  .husky/worktree-guard.sh
  docs/workflows/WORKTREE-CONTEXT-MANAGEMENT.md
  scripts/worktree-context-display.sh
Due: prettier --write

[BO-LINT-001] fix: extend ESLint gradual migration to all packages
  eslint.config.mjs
  packages/@verone/customers/src/components/sections/ContactDetailsEditSection.tsx
  packages/@verone/customers/src/components/sections/ContactEditSection.tsx
  packages/@verone/finance/src/components/InvoiceDetailModal.tsx
  packages/@verone/logistics/src/index.ts
Due: prettier --write, eslint --fix

[BO-LINT-001] fix: extend ESLint gradual migration to all packages (#152)
  eslint.config.mjs
  packages/@verone/customers/src/components/sections/ContactDetailsEditSection.tsx
  packages/@verone/customers/src/components/sections/ContactEditSection.tsx
  packages/@verone/finance/src/components/InvoiceDetailModal.tsx
  packages/@verone/logistics/src/index.ts
Due: prettier --write, eslint --fix

[BO-DATABASE-001] feat: add owner role system and modern RLS helpers (#148)
  supabase/migrations/20260206224500_fix_owner_role_system.sql
Due: none

[BO-DATABASE-002] fix: resolve CHANNEL_ERROR on Realtime sales_orders subscription
  packages/@verone/notifications/src/hooks/use-linkme-pending-count.ts
  supabase/migrations/20260208_001_fix_realtime_sales_orders_replica_identity.sql
Due: prettier --write, eslint --fix

[NO-TASK] chore: remove tracked debug/temp files from root
  .gitignore
  Untitled
  knip-report.json
Due: prettier --write

[NO-TASK] fix: add statusline debug wrapper for ccusage compatibility
  .claude/scripts/statusline-debug.sh
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: remove parentheses from MCP permission entries in settings.json
  .claude/settings.json
Due: prettier --write

[NO-TASK] fix: add order_date field to purchase orders queries
  packages/@verone/orders/src/hooks/use-purchase-orders.ts
Due: prettier --write, eslint --fix

[BO-PROD-001] feat: align characteristics display with edit modal and extend completion calculation
  packages/@verone/products/src/components/images/ProductFixedCharacteristics.tsx
  packages/@verone/products/src/components/sections/ProductInfoSection.tsx
  packages/@verone/products/src/components/sections/SupplierEditSection.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: correct Supabase relation syntax for supplier
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: use trade_name/legal_name instead of non-existent name property
  packages/@verone/products/src/components/sections/SupplierEditSection.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] feat: enforce app isolation middleware for all 3 apps
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/app/login/page.tsx
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
  apps/site-internet/middleware.ts
  apps/site-internet/src/lib/supabase/middleware.ts
  packages/@verone/utils/package.json
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/middleware/app-isolation.ts
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
  supabase/migrations/20260208_003_cleanup_orphan_accounts.sql
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: resolve login spinner bug with page transition redirect
  apps/back-office/src/app/page.tsx
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: resolve console error "unexpected response from server"
  apps/back-office/src/components/layout/app-header.tsx
Due: prettier --write, eslint --fix

[BO-PROD-001] fix: replace router.push with window.location.href in logout
  .claude/patterns/auth-logout.md
  apps/back-office/src/components/layout/app-header.tsx
Due: prettier --write, eslint --fix

[NO-TASK] feat: organize Playwright MCP screenshots in dedicated directory
  .claude/scripts/validate-playwright-screenshot.sh
  .claude/settings.json
  .gitignore
  .playwright-mcp/README.md
  .playwright-mcp/screenshots/.gitkeep
  CLAUDE.md
  package.json
  scripts/clean-screenshots.sh
Due: prettier --write
