Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[INFRA-DOC-014] refactor: improve scratchpad hygiene (Phase A)
  docs/current/automation-roadmap.md
  docs/current/responsive/pilot-v2-template.md
  docs/scratchpad/README.md
  docs/scratchpad/audit-2026-04-23-scratchpad-hygiene-proposal.md
  docs/scratchpad/stitch/stitch-redesign-site-internet-prompt-2026-04-17.md
  docs/scratchpad/stitch/stitch-redesign-tarification-tab-2026-04-20.md
Due: prettier --write

[INFRA-DOC-014] feat: extend cleanup-scratchpad + auto-invoke hook + ADR-014 (Phase B)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/playbooks/migrate-page-responsive.md
  .claude/scripts/cleanup-scratchpad.sh
  .claude/settings.json
  .gitignore
Due: prettier --write

[INFRA-DOC-014] fix: read date from filename, not filesystem mtime
  .claude/scripts/cleanup-scratchpad.sh
Due: none

[INFRA-DOC-014] refactor: scratchpad hygiene + auto-cleanup + ADR-014 (#736)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/playbooks/migrate-page-responsive.md
  .claude/scripts/cleanup-scratchpad.sh
  .claude/settings.json
  .gitignore
  docs/current/automation-roadmap.md
  docs/current/responsive/pilot-v2-template.md
  docs/scratchpad/README.md
  docs/scratchpad/audit-2026-04-23-scratchpad-hygiene-proposal.md
  docs/scratchpad/stitch/stitch-redesign-site-internet-prompt-2026-04-17.md
  docs/scratchpad/stitch/stitch-redesign-tarification-tab-2026-04-20.md
Due: prettier --write

[BO-SHIP-INSURANCE-001] fix: honor insurance opt-out in Packlink shipment wizard
  docs/scratchpad/test-packlink-insurance-fix.mjs
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[BO-SHIP-INSURANCE-001] feat: force explicit insurance choice before next step
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepCarrierSelection.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepDropoffs.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPackageInfo.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPayment.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/WizardSummaryPanel.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[BO-SHIP-INSURANCE-001] fix: honor insurance opt-out in Packlink wizard (#737)
  docs/scratchpad/test-packlink-insurance-fix.mjs
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepCarrierSelection.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepDropoffs.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPackageInfo.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPayment.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/WizardSummaryPanel.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-DRAFT-001] fix: use POST /v1/drafts to eliminate forced insurance
  apps/back-office/src/app/api/packlink/shipment/route.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
  packages/@verone/common/src/lib/packlink/client.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-DRAFT-001] fix: use POST /v1/drafts to eliminate forced insurance
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/playbooks/migrate-page-responsive.md
  .claude/rules/agent-autonomy-external.md
  .claude/scripts/cleanup-scratchpad.sh
  .claude/settings.json
  .gitignore
  CLAUDE.md
  apps/back-office/src/app/api/packlink/shipment/route.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/automation-roadmap.md
  docs/current/responsive/pilot-v2-template.md
  docs/scratchpad/README.md
  docs/scratchpad/audit-2026-04-23-scratchpad-hygiene-proposal.md
  docs/scratchpad/stitch/stitch-redesign-site-internet-prompt-2026-04-17.md
  docs/scratchpad/stitch/stitch-redesign-tarification-tab-2026-04-20.md
  docs/scratchpad/test-packlink-insurance-fix.mjs
  packages/@verone/common/src/lib/packlink/client.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepCarrierSelection.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepDropoffs.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPackageInfo.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPayment.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/WizardSummaryPanel.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-FIX-001] fix: revert Packlink shipment to createShipment (POST /v1/shipments)
  apps/back-office/src/app/api/packlink/shipment/route.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-FIX-001] fix: revert Packlink shipment to createShipment (POST /v1/shipments) (#741)
  apps/back-office/src/app/api/packlink/shipment/route.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-FIX-001] docs: update master doc with correct API key and warehouse
  docs/scratchpad/packlink-api-master-doc.md
Due: prettier --write

[BO-UI-PROD-PUB-001] feat: redesign Publication tab (Audit & Distribution design)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/DescriptionsCompletionCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/MarketingContentCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/SeoCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/TechnicalDescriptionCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationChannels.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationChecklist.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationScoreCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-descriptions-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-UI-PROD-PUB-001] fix: stub publish button as always-disabled pending real action
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationScoreCard.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-UI-PROD-DESC-PUB-001] feat: Descriptions + Publication tabs — product detail redesign
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/DescriptionsCompletionCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/MarketingContentCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/SeoCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/TechnicalDescriptionCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationChannels.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationChecklist.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationScoreCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-descriptions-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/scratchpad/packlink-api-master-doc.md
Due: prettier --write, eslint --fix

[BO-FIN-040] fix: SIRET regression + maison-mère auto + demander compléments details
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/index.tsx
  packages/@verone/finance/src/components/order-select/use-order-select.ts
Due: prettier --write, eslint --fix

[BO-FIN-041] fix: SIRET enseigne_id propagation + delete cancelled order + Fragment key
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/OrderRightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/components/orders/PaymentSection.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/QuoteItemsTable.tsx
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
  packages/@verone/orders/src/hooks/use-sales-orders-mutations.ts
Due: prettier --write, eslint --fix

[BO-FIN-040/041] fix: 3 régressions devis/commande — SIRET propagation + delete cancelled + Fragment key (#743)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/OrderRightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/components/orders/PaymentSection.tsx
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/QuoteItemsTable.tsx
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/index.tsx
  packages/@verone/finance/src/components/order-select/use-order-select.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch.ts
  packages/@verone/orders/src/hooks/use-sales-orders-mutations.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-001] feat: scripts/db-drift-check.py + ADR-018
  .claude/DECISIONS.md
  scripts/db-drift-check.py
Due: prettier --write

[INFRA-HARDENING-001] feat: E2E smoke CI gate + runtime guards vs régressions
  .claude/DECISIONS.md
  .github/workflows/quality.yml
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/index.tsx
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/quote-input-guards.ts
  tests/auth.setup.ts
  tests/e2e/smoke/smoke-critical-workflows.spec.ts
  tests/e2e/smoke/smoke-finance-modals.spec.ts
  tests/fixtures/base.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-001] feat: migration rétroactive RESTRICT sur financial_documents.sales_order_id (ADR-018)
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  supabase/migrations/20260504_enforce_financial_documents_sales_order_restrict.sql
Due: prettier --write

[INFRA-HARDENING-001] fix: smoke tests CI — remplacer networkidle par domcontentloaded + settle
  playwright.config.ts
  tests/auth.setup.ts
  tests/e2e/smoke/smoke-critical-workflows.spec.ts
  tests/e2e/smoke/smoke-finance-modals.spec.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-001] docs: interdire browser_resize au-delà du viewport 1440x900 (MCP)
  .claude/rules/playwright.md
Due: prettier --write

[INFRA-HARDENING-001] fix: ignorer 'Failed to load resource' dans smoke tests
  tests/fixtures/base.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-001] fix: ignorer 'TypeError: Failed to fetch' + assertions URL-based
  tests/e2e/smoke/smoke-finance-modals.spec.ts
  tests/fixtures/base.ts
Due: prettier --write, eslint --fix

[INFRA-HARDENING-001] feat: E2E smoke CI gate + runtime guards vs régressions (#744)
  .claude/DECISIONS.md
  .claude/rules/playwright.md
  .github/workflows/quality.yml
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/index.tsx
  packages/@verone/finance/src/components/QuoteCreateFromOrderModal/quote-input-guards.ts
  playwright.config.ts
  scripts/db-drift-check.py
  supabase/migrations/20260504_enforce_financial_documents_sales_order_restrict.sql
  tests/auth.setup.ts
  tests/e2e/smoke/smoke-critical-workflows.spec.ts
  tests/e2e/smoke/smoke-finance-modals.spec.ts
  tests/fixtures/base.ts
Due: prettier --write, eslint --fix

[BO-FIN-UX-001] feat: modal suppression commande liste les dépendances
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderConfirmDialogs.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderModals.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrdersTable.tsx
  packages/@verone/orders/src/components/sales-orders-table/hooks/use-sales-orders-modals.ts
Due: prettier --write, eslint --fix

[BO-FIN-UX-001] fix: missing-fields lit les FK contacts + recipients prend resp/billing/delivery
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/ApprovalActionDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/utils/order-missing-fields.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
Due: prettier --write, eslint --fix

[BO-FIN-UX-001] feat: badge retard livraison dans liste commandes clients
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-URL-001] fix: redirect to ready-to-purchase instead of shipment detail page
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepSuccess.tsx
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentHistoryCard.tsx
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentStatusCard.tsx
Due: prettier --write, eslint --fix

[BO-FIN-UX-001] feat: UX finance — delete deps modal + missing-fields FK + email selector + overdue alert (#745)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/ApprovalActionDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/utils/order-missing-fields.ts
  docs/current/INDEX-BACK-OFFICE-APP.md
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderConfirmDialogs.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderModals.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderTableRow.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrdersTable.tsx
  packages/@verone/orders/src/components/sales-orders-table/hooks/use-sales-orders-modals.ts
  packages/@verone/orders/src/hooks/types/sales-order.types.ts
  packages/@verone/orders/src/hooks/use-sales-orders-fetch-list.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-URL-001] feat: add Addresses step (sender + contact selector) to ShipmentWizard
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepAddresses.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/index.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/types.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/use-shipment-detail.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-URL-001] fix + feat: Packlink URL redirect + Addresses step in wizard
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepAddresses.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepSuccess.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/index.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentHistoryCard.tsx
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentStatusCard.tsx
  packages/@verone/orders/src/hooks/use-sales-shipments/types.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/use-shipment-detail.ts
Due: prettier --write, eslint --fix

[BO-FIN-UX-002] feat: hard-delete devis/factures brouillon sur suppression commande
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderConfirmDialogs.tsx
  packages/@verone/orders/src/hooks/use-sales-orders-mutations.ts
Due: prettier --write, eslint --fix

[BO-FIN-UX-002] feat: hard-delete devis/factures brouillon sur suppression commande (#747)
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderConfirmDialogs.tsx
  packages/@verone/orders/src/hooks/use-sales-orders-mutations.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: audit descriptions multi-canal (aucune modif code)
  docs/scratchpad/audit-descriptions-multicanal-2026-04-20.md
Due: prettier --write

[NO-TASK] docs: best practices multi-canal (PIM + Google + Meta + Etsy + LBC)
  docs/scratchpad/audit-descriptions-multicanal-best-practices-2026-04-20.md
Due: prettier --write

[NO-TASK] docs: Stitch inventory — 3 Tarification + 3 Publication + 1 Images variants
  docs/scratchpad/stitch/INVENTORY-2026-04-21.md
  docs/scratchpad/stitch/stitch-caracteristiques-v1-2026-04-21.png
  docs/scratchpad/stitch/stitch-caracteristiques-v2-2026-04-21.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3-2026-04-22.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3b-2026-04-22.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3c-2026-04-22.png
  docs/scratchpad/stitch/stitch-caracteristiques-v3d-2026-04-22.png
  docs/scratchpad/stitch/stitch-descriptions-v1a-2026-04-23.png
  docs/scratchpad/stitch/stitch-descriptions-v1b-2026-04-23.png
  docs/scratchpad/stitch/stitch-images-v1-existant-2026-04-22.png
  docs/scratchpad/stitch/stitch-images-v1.png
  docs/scratchpad/stitch/stitch-images-v2-2026-04-22.png
  docs/scratchpad/stitch/stitch-publication-v1.png
  docs/scratchpad/stitch/stitch-publication-v2.png
  docs/scratchpad/stitch/stitch-publication-v2a-2026-04-23.png
  docs/scratchpad/stitch/stitch-publication-v2b-2026-04-23.png
  docs/scratchpad/stitch/stitch-publication-v3.png
  docs/scratchpad/stitch/stitch-stock-v1-2026-04-22.png
  docs/scratchpad/stitch/stitch-stock-v2-2026-04-22.png
  docs/scratchpad/stitch/stitch-stock-v3-2026-04-22.png
  docs/scratchpad/stitch/stitch-stock-v4-2026-04-22.png
  docs/scratchpad/stitch/stitch-tarification-v2-a-2026-04-21.png
  docs/scratchpad/stitch/stitch-tarification-v2-b-2026-04-21.png
  docs/scratchpad/stitch/stitch-tarification-v2-c-2026-04-21.png
  docs/scratchpad/stitch/stitch-tarification-v2-panel.png
  docs/scratchpad/stitch/stitch-tarification-v3-dashboard.png
  docs/scratchpad/stitch/stitch-tarification-v4-aligne-general-2026-04-22.png
Due: prettier --write
