Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

chore(plan): sync
  .claude/work/ACTIVE.md
Due: prettier --write

[LM-ORD-007] fix(linkme): resolve anonymous order creation RLS blocking
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
  supabase/migrations/20260115_009_fix_public_order_rls.sql
Due: prettier --write, eslint --fix

[LM-ORD-007] fix(linkme): update owner_type constraint to accept 'succursale'
  supabase/migrations/20260115_010_fix_owner_type_constraint.sql
Due: none

[LM-ORD-009] feat(linkme): refactor order form workflow to 6 steps (Phase 1-3 + partial Phase 4)
  .claude/work/ACTIVE.md
  .claude/work/PLAN-LM-ORD-009-COMPLETE.md
  apps/linkme/src/components/OrderFormUnified.tsx
  apps/linkme/src/lib/hooks/use-enseigne-id.ts
  apps/linkme/src/lib/hooks/use-enseigne-parent-organisation.ts
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
  supabase/migrations/20260115_001_add_delivery_fields_linkme.sql
  supabase/migrations/20260115_002_linkme_delivery_forms_bucket.sql
  supabase/migrations/20260115_003_update_rpc_linkme_order_delivery.sql
Due: prettier --write, eslint --fix

[LM-ORD-009] feat(linkme): add OpeningStep3Responsable with contact selection
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

[LM-ORD-009] feat(linkme): add OpeningStep5Delivery and refactor billing step (Phase 4 partial)
  .claude/archive/plans-2026-01/ACTIVE-backup-20260114-103957.md
  .claude/archive/plans-2026-01/active-2026-01-15.md
  .claude/temp/AUDIT-REGRESSION-2026-01-14.md
  .claude/temp/add-geoapify-key.sh
  .claude/work/AUDIT-CONSOLIDÉ-LM-ORD-009.md
  .claude/work/AUDIT-LM-ORD-005.md
  .claude/work/AUDIT-LM-ORD-009.md
  .claude/work/BUG-LM-ORD-006-INCOMPLETE.md
  .claude/work/PLAN-COMPLET-2026-01-14.md
  .claude/work/PLAN-LM-ORD-006-PRODUCT-SELECTION-UX.md
  .claude/work/RAPPORT-TESTS-2026-01-15.md
  .claude/work/UX-NOTES-ANALYSIS.md
  Untitled
  apps/back-office/.env.example
  apps/back-office/.env.local.backup-20260114-065620
  apps/back-office/src/types/supabase.d.ts
  apps/back-office/src/types/supabase.d.ts.map
  apps/back-office/src/types/supabase.js
  apps/linkme/.env.local.backup-20260114-065620
  apps/linkme/src/components/OrderFormUnified.tsx.backup
  apps/linkme/src/components/organisations/OrganisationActionsBar.tsx
  apps/linkme/src/components/organisations/OrganisationFilterTabs.tsx
  apps/site-internet/.env.local.backup-20260114-234029
  docs/integrations/resend-dns-setup.md
Due: prettier --write, eslint --fix

[LM-ORD-009] refactor(linkme): rename steps to 6-step workflow (Phase 4 complete)
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

[LM-ORD-009] feat(linkme): implement 6-step validation workflow (Phase 5 complete)
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

[LM-ORD-009] feat(linkme): update confirmation modal with 6-section layout (Phase 6 complete)
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

[LM-ORD-009] feat(linkme): implement 8-parameter RPC submission (Phase 7 complete)
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
Due: prettier --write, eslint --fix

[LM-ORD-009] docs(linkme): document CreateOrderModal migration to OrderFormUnified (Phase 8)
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-ORD-009] test(linkme): add comprehensive test plan and E2E tests for 6-step workflow (Phase 9)
  .claude/work/LM-ORD-009-TESTS-PLAN.md
  apps/linkme/e2e/order-form-unified.spec.ts
Due: prettier --write, eslint --fix

[LM-ORD-009] test(linkme): add Tests 4 & 6 (P1 scenarios - new contact + custom billing)
  apps/linkme/e2e/order-form-unified.spec.ts
Due: prettier --write, eslint --fix

[LM-ORD-009] docs: add final completion report for Phases 1-9
  .claude/work/RAPPORT-FINAL-LM-ORD-009.md
Due: prettier --write

[LM-ORD-009] chore(plan): mark task as completed (Phases 1-9 done)
  .claude/work/ACTIVE.md
Due: prettier --write

chore(plan): update ACTIVE.md with LM-ORD-009 completion details
  .claude/work/ACTIVE.md
Due: prettier --write

[LM-ORG-005] feat(linkme): refonte modal organisations avec édition section par section
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
Due: prettier --write, eslint --fix

[NO-TASK] docs: add PR split plan and automation script
  .claude/scripts/split-pr37.sh
  .claude/work/PLAN-DECOUPAGE-PR37.md
Due: prettier --write

[NO-TASK] feat: add smart PR split scripts with auto conflict resolution
  .claude/scripts/auto-resolve-conflicts.sh
  .claude/scripts/split-pr37-smart.sh
Due: none

[LM-ORD-010] fix(linkme): resolve AuthContext error in public selection form
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/linkme/src/components/OrderFormUnified.tsx
  apps/linkme/src/lib/hooks/use-enseigne-id-from-affiliate.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: snapshot avant refonte config claude
  .claude/work/DEPLOYMENT-REPORT-2026-01-15.md
  .claude/work/PLAN-FIX-ACTIVE-MD.md
  .claude/work/SENTRY-AUDIT-2026-01-15.md
Due: prettier --write

[NO-TASK] feat(sentry): configuration Sentry Pro 2026
  apps/back-office/sentry.edge.config.ts
  apps/back-office/sentry.server.config.ts
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/components/providers/sentry-user-provider.tsx
  apps/linkme/sentry.edge.config.ts
  apps/linkme/sentry.server.config.ts
  apps/linkme/src/components/SentryUserContext.tsx
  apps/linkme/src/components/providers/Providers.tsx
  docs/integrations/sentry-alerts-github.md
  docs/integrations/sentry-runbook.md
  docs/integrations/sentry-validation-checklist.md
Due: prettier --write, eslint --fix

[NO-TASK] docs(sentry): add completion report with all DSN configured
  docs/integrations/sentry-configuration-complete.md
Due: prettier --write

[NO-TASK] chore: nettoyage final config claude (agents, contexts, reports obsolètes)
  .claude/agents/action.md
  .claude/agents/audit-governor.md
  .claude/agents/data-layer-auditor.md
  .claude/agents/database-architect.md
  .claude/agents/frontend-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/agents/verone-orchestrator.md
  .claude/contexts/README.md
  .claude/contexts/design-system.md
  .claude/contexts/monorepo.md
  .claude/reports/repo-audit-report.md
  .claude/work/SENTRY-PRO-SUMMARY.md
Due: prettier --write

[NO-TASK] feat: refonte complète config claude selon standards anthropic
  .claude/work/DEPLOYMENT-REPORT-2026-01-15.md
  .claude/work/PLAN-FIX-ACTIVE-MD.md
  .claude/work/SENTRY-AUDIT-2026-01-15.md
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
