Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[NO-TASK] fix: restore Claude Code config from 915d42aa
  .claude/commands/dev.md
  .claude/commands/read1.md
  .claude/commands/read2.md
  .claude/commands/update-docs.md
  .claude/scripts/agent-finished.sh
  .claude/scripts/check-db-type-alignment.ts
  .claude/scripts/handoff-export.sh
  .claude/scripts/hook-post-file.ts
  .claude/scripts/plan-sync.js
  .claude/scripts/session-token-report.sh
  .claude/scripts/validate-command.js
  .claude/scripts/validation-required.sh
Due: prettier --write, eslint --fix

[NO-TASK] fix: optimize Google Fonts for CI/CD
  .github/workflows/deploy-production.yml
  .github/workflows/pr-validation.yml
  apps/back-office/next.config.js
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/components/layout/public-layout.tsx
  apps/back-office/src/lib/fonts.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: secure and clean MCP configuration
  .claude/contexts/README.md
  .claude/contexts/design-system.md
  .claude/contexts/monorepo.md
  .claude/mcp-playwright-config.md
  .claude/scripts/auth-setup.ts
  .claude/scripts/check-db-type-alignment.ts
  .claude/scripts/git-hooks/check-env-changes.sh
  .claude/scripts/session-token-report.sh
  .claude/settings.local.json.example
  .gitignore
  .mcp.json.template
Due: prettier --write, eslint --fix

[NO-TASK] feat: optimize Vercel deployments with smart filtering
  apps/back-office/scripts/should-deploy.sh
  apps/linkme/scripts/should-deploy.sh
  apps/linkme/vercel.json
  vercel.json
Due: prettier --write

[NO-TASK] fix: resolve status line issue with fallback script
  .claude/scripts/statusline-fixed.sh
  .claude/settings.json
Due: prettier --write

[NO-TASK] rollback: restore stable state from 27ae2201 (post-Qonto fix)
  .claude/README.md
  .claude/mcp-playwright-config.md
  .claude/settings.json
  .mcp.json
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/2e814d9900536401_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/367aa41d0b4f8638_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/7f3141bd5f787654_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/84f1de34c1dd7894_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/9dc38d9a5806edea_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/b2e2917fc22453c5_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/c39103373625c9de_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/ecc14abc20214621_0
  .playwright-mcp/profiles/lane-1/Default/TransportSecurity
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/lib/security/headers.ts
Due: prettier --write, eslint --fix

[NO-TASK] rollback: restore stable state from 27ae2201 (post-Qonto fix) (#64)
  .claude/README.md
  .claude/mcp-playwright-config.md
  .claude/settings.json
  .mcp.json
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/2e814d9900536401_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/367aa41d0b4f8638_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/7f3141bd5f787654_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/84f1de34c1dd7894_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/9dc38d9a5806edea_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/b2e2917fc22453c5_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/c39103373625c9de_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/ecc14abc20214621_0
  .playwright-mcp/profiles/lane-1/Default/TransportSecurity
  apps/back-office/src/app/(protected)/layout.tsx
  apps/back-office/src/lib/security/headers.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: repo hygiene - remove hooks, untrack playwright cache
  .claude/settings.json
  .gitignore
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/2e814d9900536401_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/367aa41d0b4f8638_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/7f3141bd5f787654_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/84f1de34c1dd7894_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/9dc38d9a5806edea_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/b2e2917fc22453c5_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/c39103373625c9de_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/ecc14abc20214621_0
  .playwright-mcp/profiles/lane-1/Default/TransportSecurity
Due: prettier --write

[NO-TASK] chore: repo hygiene - remove hooks, untrack playwright cache (#65)
  .claude/settings.json
  .gitignore
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/2e814d9900536401_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/367aa41d0b4f8638_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/7f3141bd5f787654_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/84f1de34c1dd7894_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/9dc38d9a5806edea_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/b2e2917fc22453c5_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/c39103373625c9de_0
  .playwright-mcp/profiles/lane-1/Default/Cache/Cache_Data/ecc14abc20214621_0
  .playwright-mcp/profiles/lane-1/Default/TransportSecurity
Due: prettier --write

[NO-TASK] chore: cleanup .claude/ - archive history, remove obsolete scripts
  .claude/scripts/auto-resolve-conflicts.sh
  .claude/scripts/session-token-report.sh
  .claude/scripts/token-cost-calculator.sh
  Untitled
  docs/archive/2026-01/README-claude-archive.md
  docs/archive/2026-01/SENTRY-PRO-SUMMARY.md
  docs/archive/2026-01/TRANSFER-INSTRUCTIONS.md
  docs/archive/2026-01/middleware-investigation-2026-01-16.md
  docs/archive/2026-01/vercel-warnings-audit-2026-01-16.md
Due: prettier --write

[NO-TASK] fix: database-audit workflow always reports check (no path filter)
  .github/workflows/database-audit.yml
Due: none

[NO-TASK] chore: repo cleanup PR1 - .claude/ hygiene (#66)
  .claude/scripts/auto-resolve-conflicts.sh
  .claude/scripts/session-token-report.sh
  .claude/scripts/token-cost-calculator.sh
  .github/workflows/database-audit.yml
  Untitled
  docs/archive/2026-01/README-claude-archive.md
  docs/archive/2026-01/SENTRY-PRO-SUMMARY.md
  docs/archive/2026-01/TRANSFER-INSTRUCTIONS.md
  docs/archive/2026-01/middleware-investigation-2026-01-16.md
  docs/archive/2026-01/vercel-warnings-audit-2026-01-16.md
Due: prettier --write

[NO-TASK] docs: add repository hygiene guide
  docs/current/00-repo-hygiene.md
Due: prettier --write

[NO-TASK] docs: add repository hygiene guide (#67)
  docs/current/00-repo-hygiene.md
Due: prettier --write

[BO-DASH-404] fix: restore dynamic rendering for protected routes
  apps/back-office/src/app/(protected)/layout.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: add .eslintignore for sentry configs and .d.ts files
  apps/back-office/.eslintignore
Due: none

[NO-TASK] fix: auto-fix ESLint errors (self-closing-comp, type imports)
  apps/back-office/src/app/(protected)/organisation/components/contacts-tab.tsx
  apps/back-office/src/app/(protected)/organisation/components/customers-tab.tsx
  apps/back-office/src/app/(protected)/organisation/components/partners-tab.tsx
  apps/back-office/src/app/(protected)/organisation/components/suppliers-tab.tsx
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/edit/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/preview/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/page.tsx
  apps/back-office/src/app/(protected)/parametres/webhooks/[id]/edit/page.tsx
  apps/back-office/src/app/(protected)/parametres/webhooks/new/page.tsx
  apps/back-office/src/app/(protected)/parametres/webhooks/page.tsx
  apps/back-office/src/components/form-submission-messages.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore(ci): unblock PR gates (preview optional + console check resilient)
  .claude/scripts/auth-setup.ts
  .github/workflows/deploy-safety.yml
  .github/workflows/pr-validation.yml
Due: prettier --write, eslint --fix

[NO-TASK] fix: ESLint config for sentry and .d.ts files (#69)
  .claude/scripts/auth-setup.ts
  .github/workflows/deploy-safety.yml
  .github/workflows/pr-validation.yml
  apps/back-office/.eslintignore
  apps/back-office/src/app/(protected)/organisation/components/contacts-tab.tsx
  apps/back-office/src/app/(protected)/organisation/components/customers-tab.tsx
  apps/back-office/src/app/(protected)/organisation/components/partners-tab.tsx
  apps/back-office/src/app/(protected)/organisation/components/suppliers-tab.tsx
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/edit/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/[slug]/preview/page.tsx
  apps/back-office/src/app/(protected)/parametres/emails/page.tsx
  apps/back-office/src/app/(protected)/parametres/webhooks/[id]/edit/page.tsx
  apps/back-office/src/app/(protected)/parametres/webhooks/new/page.tsx
  apps/back-office/src/app/(protected)/parametres/webhooks/page.tsx
  apps/back-office/src/components/form-submission-messages.tsx
Due: prettier --write, eslint --fix

[BO-DASH-404] chore: trigger Vercel build
  docs/claude/WORKFLOW-CHECKLIST.md
  docs/claude/mcp-playwright-config.md
  scripts/claude/auth-setup.ts
  scripts/claude/check-console-errors.ts
  scripts/claude/check-db-type-alignment.ts
  scripts/claude/install-git-hooks.sh
  scripts/claude/repo-audit.sh
  scripts/claude/repo-doctor.sh
  scripts/claude/statusline-fixed.sh
  scripts/claude/task-completed.sh
  scripts/claude/validate-pr-ready.sh
Due: prettier --write, eslint --fix

[BO-DASH-404] fix: restore dynamic rendering for /dashboard (#68)
  apps/back-office/src/app/(protected)/layout.tsx
  docs/claude/WORKFLOW-CHECKLIST.md
  docs/claude/mcp-playwright-config.md
  scripts/claude/auth-setup.ts
  scripts/claude/check-console-errors.ts
  scripts/claude/check-db-type-alignment.ts
  scripts/claude/install-git-hooks.sh
  scripts/claude/repo-audit.sh
  scripts/claude/repo-doctor.sh
  scripts/claude/statusline-fixed.sh
  scripts/claude/task-completed.sh
  scripts/claude/validate-pr-ready.sh
Due: prettier --write, eslint --fix

[NO-TASK] chore: Claude minimal portable kit + weekly hygiene automation
  .claude/README.md
  .github/workflows/repo-hygiene-weekly.yml
  .gitignore
  .tasks/plans/README.md
  .tasks/plans/enforce-professional-workflow-2026.md
  archive/2026-01/claude/README.md
  archive/2026-01/claude/agents/action.md
  archive/2026-01/claude/agents/audit-governor.md
  archive/2026-01/claude/agents/data-layer-auditor.md
  archive/2026-01/claude/commands/commit.md
  archive/2026-01/claude/commands/write.md
  archive/2026-01/claude/memories/claude-autonomy-guidelines-2026-01-17.md
  docs/architecture/README.md
  docs/runbooks/incident.md
  scripts/maintenance/repo-hygiene.sh
Due: prettier --write

[NO-TASK] fix: Claude compat wrappers + hygiene workflow
  .claude/README.md
  .claude/scripts/session-token-report.sh
  .claude/scripts/task-completed.sh
  .github/workflows/repo-hygiene-weekly.yml
  scripts/maintenance/repo-hygiene.sh
Due: prettier --write

[BO-DASH-404] fix: add try-catch to middleware to prevent MIDDLEWARE_INVOCATION_FAILED
  .github/workflows/Untitled
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: rationalize GitHub workflows governance
  .github/workflows/cleanup-screenshots.yml
  .github/workflows/github-hygiene-weekly.yml
  .github/workflows/monitoring.yml
  .github/workflows/typescript-quality.yml
Due: none

[NO-TASK] fix(middleware): fail-closed error handling + env validation
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix(middleware): fail-closed error handling + env validation (#74)
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] hotfix: remove Sentry import from middleware (Edge Runtime crash)
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[BO-DASH-404] fix: add try-catch to middleware to prevent MIDDLEWARE_INVOCATION_FAILED
  .github/workflows/Untitled
Due: none

[NO-TASK] chore: disable autonomy and auto-PR workflows
  .claude/MANUAL_MODE.md
  .claude/README.md
  .github/workflows/docs-governance.yml
  CLAUDE.md
  archive/claude/claude-autonomy-guidelines-2026-01-17.md
Due: prettier --write

[NO-TASK] chore: quality gate unique + stop auto-PR
  .claude/GOVERNANCE-FINAL-2026-01-19.md
  .github/workflows/audit.yml
  .github/workflows/cleanup-screenshots.yml
  .github/workflows/database-audit.yml
  .github/workflows/monitoring-2025.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quality-gate.yml
  .github/workflows/typescript-quality.yml
Due: prettier --write

[NO-TASK] chore: disable autonomy and auto-PR workflows
  .claude/MANUAL_MODE.md
  .github/workflows/docs-governance.yml
  CLAUDE.md
  archive/claude/claude-autonomy-guidelines-2026-01-17.md
Due: prettier --write

[NO-TASK] chore: quality gate unique + stop auto-PR (POMPIER MODE) (#76)
  .claude/GOVERNANCE-FINAL-2026-01-19.md
  .claude/MANUAL_MODE.md
  .github/workflows/audit.yml
  .github/workflows/cleanup-screenshots.yml
  .github/workflows/database-audit.yml
  .github/workflows/docs-governance.yml
  .github/workflows/monitoring-2025.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quality-gate.yml
  .github/workflows/typescript-quality.yml
  CLAUDE.md
  archive/claude/claude-autonomy-guidelines-2026-01-17.md
Due: prettier --write
