Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[LINKME-AUTH] fix: middleware - 1 instance Supabase au lieu de 3
  apps/linkme/src/lib/supabase-server.ts
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[LINKME-AUTH] fix: nettoyer cookies obsolètes sb-linkme-auth
  apps/linkme/src/components/providers/Providers.tsx
  apps/linkme/src/lib/cleanup-legacy-cookies.ts
Due: prettier --write, eslint --fix

[LINKME-ORDERS] feat: create useParentOrganisationAddresses hook
  apps/linkme/src/lib/hooks/use-parent-organisation-addresses.ts
Due: prettier --write, eslint --fix

[LINKME-ORDERS] feat: add parent_address mode and replaceExistingAddress field
  apps/linkme/src/components/orders/schemas/order-form.schema.ts
Due: prettier --write, eslint --fix

[LINKME-ORDERS] feat: add badge prop to AddressCard component
  apps/linkme/src/components/orders/steps/contacts/AddressCard.tsx
Due: prettier --write, eslint --fix

[LINKME-ORDERS] feat: refactor BillingStep with split-screen layout
  apps/linkme/src/components/orders/steps/BillingStep.tsx
Due: prettier --write, eslint --fix

[LINKME-ORDERS] feat: refonte UX BillingStep auto-remplissage et sauvegarde
  apps/linkme/src/components/orders/schemas/order-form.schema.ts
  apps/linkme/src/components/orders/steps/BillingStep.tsx
  apps/linkme/src/lib/hooks/use-update-organisation-address.ts
Due: prettier --write, eslint --fix

[LINKME-ORDERS] feat: ownership_type obligatoire et persisté en BD
  apps/linkme/src/components/orders/schemas/order-form.schema.ts
  apps/linkme/src/components/orders/steps/RestaurantStep.tsx
  apps/linkme/src/lib/hooks/use-update-organisation-ownership-type.ts
Due: prettier --write, eslint --fix

[NO-TASK] docs: harmoniser interdiction lancement serveurs dev
  .claude/MANUAL_MODE.md
  CLAUDE.md
Due: prettier --write

[LINKME-AUTH] fix: vérifier rôle LinkMe avant redirection dashboard
  apps/back-office/instrumentation-client.ts
  apps/back-office/instrumentation.ts
  apps/back-office/src/app/api/csp-report/route.ts
  apps/back-office/src/app/api/qonto/invoices/route.ts
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/lib/security/headers.ts
  apps/back-office/src/middleware.ts
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/middleware.ts
  packages/@verone/customers/src/hooks/use-customers.ts
  packages/@verone/utils/package.json
  packages/@verone/utils/src/hooks/index.ts
  packages/@verone/utils/src/hooks/use-current-user.ts
  packages/@verone/utils/src/security/index.ts
  packages/@verone/utils/src/security/rate-limit.ts
  packages/@verone/utils/src/validation/api-schemas.ts
  packages/@verone/utils/src/validation/index.ts
  turbo.json
Due: prettier --write, eslint --fix

[NO-TASK] docs: interdire Playwright/Chrome sur ports de dev
  .claude/MANUAL_MODE.md
Due: prettier --write

[LINKME-ORDERS] feat: refonte ShippingStep avec layout split-screen
  apps/linkme/src/components/orders/steps/ShippingStep.tsx
Due: prettier --write, eslint --fix

[NO-TASK] docs: add anti-blocking rule for long commands
  CLAUDE.md
Due: prettier --write

[LINKME-DASHBOARD] perf: migrate to useAffiliateDashboard RPC
  apps/linkme/src/app/(main)/dashboard/page.tsx
Due: prettier --write, eslint --fix

[LINKME-DASHBOARD] fix: apply critical DB migrations to fix infinite loading
  supabase/migrations/20260124_000_fix_v_linkme_users_id.sql
  supabase/migrations/20260124_001_rpc_get_affiliate_dashboard_data.sql
  supabase/migrations/20260124_002_fix_rpc_isrevendeur.sql
Due: none

[LINKME-DASHBOARD] fix: add missing useAffiliateDashboard hook file
  apps/linkme/src/lib/hooks/use-affiliate-dashboard.ts
Due: prettier --write, eslint --fix

[LINKME-DASHBOARD] perf: optimize loading with preconnect and cache tuning
  apps/linkme/src/app/layout.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
Due: prettier --write, eslint --fix

[LINKME-MARKETING] fix: rename migration to avoid numbering conflict
  supabase/migrations/20260124_003_performance_indexes.sql
Due: none

[LINKME-ORDER-FORM] refactor: ShippingStep - réutilisation AddressCard et suppression "Même que responsable"
  apps/linkme/src/components/orders/OrderStepper.tsx
  apps/linkme/src/components/orders/steps/ShippingStep.tsx
Due: prettier --write, eslint --fix

[LINKME-AUTH] fix: clear corrupted session when user not found in v_linkme_users
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

[LINKME-UI] fix: resolve Next.js Image warning for logo aspect ratio
  apps/linkme/src/components/layout/MinimalHeader.tsx
Due: prettier --write, eslint --fix

[LINKME-TEST] docs: add manual testing report with MCP Chrome DevTools
  docs/tests/rapport-tests-manuels-linkme.md
Due: prettier --write

[SUPABASE] perf: optimize get_linkme_orders RPC - fix BUG-004 timeout
  supabase/migrations/20260125_003_optimize_linkme_orders_performance.sql
Due: none

[BACK-OFFICE] fix: add fallback to get_linkme_orders for order detail page - fix BUG-005
  apps/back-office/src/app/(protected)/commandes/clients/[id]/page.tsx
Due: prettier --write, eslint --fix

[DOCS] test: add final bug fixes report
  docs/tests/rapport-tests-finaux-bugs-corriges.md
Due: prettier --write

[NO-TASK] docs: add comprehensive credentials & migrations documentation
  .claude/env.md
  CLAUDE.md
Due: prettier --write

[LINKME-ORDERS] feat(db): apply critical RLS and performance migrations
  supabase/migrations/20260124_001_fix_rls_linkme_organisation_creation.sql
  supabase/migrations/20260124_002_seed_linkme_test_selection.sql
  supabase/migrations/20260124_003_seed_franchise_test_data.sql
  supabase/migrations/20260125_001_fix_order_number_generation.sql
  supabase/migrations/20260125_002_fix_linkme_critical_bugs.sql
Due: none

[BACK-OFFICE] fix: correct middleware redirect path from /auth/login to /login
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[BACK-OFFICE] fix: externalize jsdom to fix build error
  apps/back-office/next.config.js
Due: none

[BO-WORKFLOW-001] feat: restauration hooks de protection et workflow strict
  .claude/scripts/validate-critical-files.sh
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

[BO-DOCS-001] refactor: restructure documentation & secure credentials
  .claude/docs/git-workflow.md
  .claude/env.md
  .claude/memories/INDEX.md
  .claude/memories/agents-restauration-2026-01-16.md
  .claude/memories/statusline-fix-solution-hybride-2026-01.md
  CLAUDE.md
Due: prettier --write

[BO-DOCS-002] restore: 3 critical architecture files + enrich statusline memory
  docs/archive/2026-01/architecture/linkme-architecture-final-2025-12.md
  docs/archive/2026-01/architecture/products-central-architecture-2025-12.md
  docs/archive/2026-01/database/database-schema-critical-mappings-2025-12.md
Due: prettier --write

[BO-DOCS-003] feat: audit systeme Claude - index memories + agents enrichis
  .claude/agents/database-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/agents/verone-orchestrator.md
  .claude/commands/README.md
  .claude/docs/incident-prevention.md
  CLAUDE.md
Due: prettier --write

[BO-AUDIT-001] fix: audit 24h - RLS pattern + dependencies + logging
  apps/linkme/src/contexts/AuthContext.tsx
  package.json
  pnpm-lock.yaml
  supabase/migrations/20260126_001_fix_rls_pattern_staff.sql
Due: prettier --write, eslint --fix

[BO-AUDIT-002] fix: add root path to public routes in middleware
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

fix: résoudre erreurs TypeScript post-merge
  apps/back-office/src/app/(protected)/dashboard/lib/static-kpis.ts
  apps/linkme/src/lib/supabase-server.ts
Due: prettier --write, eslint --fix

fix: restaurer serverExternalPackages pour jsdom (perdu au merge)
  apps/back-office/next.config.js
Due: none

[LINKME-AUTH] rollback: restaurer middleware et AuthContext stables
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix
