Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-PRICING-GOV-001] feat: coefficient hierarchy family > category > subcategory
  apps/back-office/src/app/(protected)/produits/catalogue/_lib/catalogue-pricing-view.ts
  docs/scratchpad/dev-plan-2026-09-17-BO-PRICING-GOV-001-etude.md
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
  packages/@verone/categories/src/hooks/use-families.ts
  packages/@verone/products/src/utils/__tests__/pricing-governance.test.ts
  packages/@verone/products/src/utils/pricing-governance.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260917239000_bo_pricing_gov_001_coefficients_hierarchie.sql
Due: prettier --write, eslint --fix

[BO-PRICING-GOV-001] feat: purchase, landed cost, site price and real margin on the catalogue line
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductCardMobile.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductRow.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_components/CataloguePricingCells.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_lib/catalogue-pricing-view.ts
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
  packages/@verone/channels/src/hooks/index.ts
  packages/@verone/channels/src/hooks/use-channel-prices-batch.ts
  packages/@verone/products/src/utils/index.ts
Due: prettier --write, eslint --fix

[BO-PRICING-GOV-001] chore: seed the 42 subcategory coefficients from their parent
  supabase/migrations/20260917240000_bo_pricing_gov_001_seed_subcategory_coefficients.sql
Due: none

[BO-PRICING-GOV-001] feat: same price verdict in the grid view, and a margin sort that matches
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ProductsTable.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueGridView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/products/src/components/pricing/PricingValues.tsx
Due: prettier --write, eslint --fix

[BO-PRICING-GOV-001] feat: cost, site price and real margin on the Site Internet list
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ProductsTable.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_components/CataloguePricingCells.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_lib/catalogue-pricing-view.ts
  packages/@verone/products/src/components/pricing/PricingValues.tsx
  packages/@verone/products/src/components/pricing/index.ts
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-product-cost-basis-batch.ts
  packages/@verone/products/src/utils/index.ts
  packages/@verone/products/src/utils/pricing-view.ts
Due: prettier --write, eslint --fix

[INFRA-CI-BUILD-001] fix: split the quality check so it fits its 20-minute budget
  .claude/DECISIONS.md
  .github/workflows/quality.yml
Due: prettier --write

[BO-PROD-DETAIL-404-006] test: catch a route that is built but never deployed
  .github/workflows/routes-guard.yml
  apps/back-office/src/app/(protected)/produits/page.tsx
  scripts/check-deployed-routes.mjs
  tests/e2e/smoke/smoke-produits.spec.ts
Due: prettier --write, eslint --fix

[BO-PROD-DETAIL-404-006] fix: lazy-load the product sheet tabs so the route ships
  .claude/DECISIONS.md
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/page.tsx
Due: prettier --write, eslint --fix

[INFRA-CI-BUILD-001] fix: split the quality check so it fits its 20-minute budget (#1177)
  .claude/DECISIONS.md
  .github/workflows/quality.yml
Due: prettier --write

[BO-CONSULT-CURRENCY-002] fix: supplier fees show the currency they were entered in
  packages/@verone/consultations/src/components/interfaces/ConsultationSupplierCostsCard.tsx
  packages/@verone/utils/src/currency/currency.test.ts
  packages/@verone/utils/src/currency/index.ts
Due: prettier --write, eslint --fix

[BO-CONSULT-CURRENCY-002] fix: supplier fees show the currency they were entered in (#1178)
  packages/@verone/consultations/src/components/interfaces/ConsultationSupplierCostsCard.tsx
  packages/@verone/utils/src/currency/currency.test.ts
  packages/@verone/utils/src/currency/index.ts
Due: prettier --write, eslint --fix

[BO-PROD-DETAIL-404-006] fix: la fiche produit repart en production (compilée mais jamais déployée) (#1179)
  .claude/DECISIONS.md
  .github/workflows/routes-guard.yml
  apps/back-office/src/app/(protected)/produits/catalogue/detail/[id]/page.tsx
  apps/back-office/src/app/(protected)/produits/page.tsx
  scripts/check-deployed-routes.mjs
  tests/e2e/smoke/smoke-produits.spec.ts
Due: prettier --write, eslint --fix

[INFRA-CI-MINUTES-001] chore: halve the Actions bill now that the repo is private
  .claude/DECISIONS.md
  .github/dependabot.yml
  .github/workflows/quality.yml
  .github/workflows/routes-guard.yml
  scripts/check-deployed-routes.mjs
Due: prettier --write

[INFRA-CI-MINUTES-001] chore: halve the Actions bill now that the repo is private (#1181)
  .claude/DECISIONS.md
  .github/dependabot.yml
  .github/workflows/quality.yml
  .github/workflows/routes-guard.yml
  scripts/check-deployed-routes.mjs
Due: prettier --write

[INFRA-BRANCH-PROT-001] chore: branch protection back while the repo is public
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[INFRA-BRANCH-PROT-001] chore: branch protection back while the repo is public (#1183)
  .claude/DECISIONS.md
  .claude/rules/workflow.md
Due: prettier --write

[SI-MAINT-001] feat: close the public shop behind a one-variable switch
  apps/site-internet/.env.example
  apps/site-internet/src/lib/__tests__/maintenance.test.ts
  apps/site-internet/src/lib/maintenance.ts
  apps/site-internet/src/middleware.ts
  turbo.json
Due: prettier --write, eslint --fix

[BO-SEC-GUARD-001] fix: lock the API read doors that answered without a login
  apps/back-office/src/app/api/exports/google-merchant-excel/route.ts
  apps/back-office/src/app/api/packlink/shipments/pending/route.ts
  apps/back-office/src/app/api/qonto/debug-counts/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/route.ts
  apps/back-office/src/app/api/qonto/invoices/route.ts
  apps/back-office/src/app/api/qonto/quotes/by-order/[orderId]/route.ts
  apps/back-office/src/app/api/qonto/quotes/route.ts
  apps/back-office/src/app/api/sales-orders/[id]/customer-address/route.ts
  docs/current/index.md
  docs/current/security/api-routes-guards.md
  docs/scratchpad/audit-2026-09-18/ACTIVE-avant-plan-audit-2026-09-18.md
  docs/scratchpad/audit-2026-09-18/AUDIT-COMPLET-2026-09-18.md
  docs/scratchpad/audit-2026-09-18/INCIDENT-2026-09-17-ecran-erreur.md
  docs/scratchpad/audit-2026-09-18/PROMPT-A-COLLER-2026-09-18.md
  docs/scratchpad/audit-2026-09-18/README.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-1-observabilite.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-2-base-saturation.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-3-securite-routes.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-4-environnement-sauvegardes.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-5-tests.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-6-bugs-fonctionnels.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-7-maintenabilite.md
Due: prettier --write, eslint --fix

[BO-OBS-001] feat: see what breaks in users' browsers, and give them a way out
  apps/back-office/.env.example
  apps/back-office/next.config.js
  apps/back-office/package.json
  apps/back-office/src/app/api/logs/route.ts
  apps/back-office/src/app/error.tsx
  apps/back-office/src/app/global-error.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/components/errors/ModuleErrorBoundary.tsx
  apps/back-office/src/components/providers/console-error-tracker-provider.tsx
  apps/back-office/src/components/providers/error-boundary.tsx
  apps/back-office/src/components/providers/posthog-provider.tsx
  apps/back-office/src/lib/observability/__tests__/posthog.test.ts
  apps/back-office/src/lib/observability/posthog.ts
  apps/back-office/src/lib/security/headers.ts
  apps/linkme/.env.example
  apps/linkme/next.config.js
  apps/linkme/package.json
  apps/linkme/src/app/error.tsx
  apps/linkme/src/app/global-error.tsx
  apps/linkme/src/app/layout.tsx
  apps/linkme/src/components/providers/PostHogProvider.tsx
  apps/linkme/src/lib/observability/posthog.ts
  packages/@verone/utils/src/monitoring/console-error-tracker.ts
  packages/@verone/utils/src/monitoring/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[INFRA-RULES-046] docs: write down which door gets which lock
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/rules/api-guards.md
  CLAUDE.md
Due: prettier --write

[BO-OBS-001] docs: session report — what was locked, what was seen, what was left open
  docs/scratchpad/dev-report-2026-09-18-BO-OBS-001.md
Due: prettier --write

[BO-OBS-001] fix: actually declare the PostHog variables in turbo.json
  turbo.json
Due: prettier --write

[SI-MAINT-001] Fermer provisoirement la boutique en ligne (#1185)
  apps/site-internet/.env.example
  apps/site-internet/src/lib/__tests__/maintenance.test.ts
  apps/site-internet/src/lib/maintenance.ts
  apps/site-internet/src/middleware.ts
  turbo.json
Due: prettier --write, eslint --fix

[BO-SEC-GUARD-001] fix: lock the API read doors that answered without a login (#1186)
  apps/back-office/src/app/api/exports/google-merchant-excel/route.ts
  apps/back-office/src/app/api/packlink/shipments/pending/route.ts
  apps/back-office/src/app/api/qonto/debug-counts/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/route.ts
  apps/back-office/src/app/api/qonto/invoices/route.ts
  apps/back-office/src/app/api/qonto/quotes/by-order/[orderId]/route.ts
  apps/back-office/src/app/api/qonto/quotes/route.ts
  apps/back-office/src/app/api/sales-orders/[id]/customer-address/route.ts
  docs/current/index.md
  docs/current/security/api-routes-guards.md
  docs/scratchpad/audit-2026-09-18/ACTIVE-avant-plan-audit-2026-09-18.md
  docs/scratchpad/audit-2026-09-18/AUDIT-COMPLET-2026-09-18.md
  docs/scratchpad/audit-2026-09-18/INCIDENT-2026-09-17-ecran-erreur.md
  docs/scratchpad/audit-2026-09-18/PROMPT-A-COLLER-2026-09-18.md
  docs/scratchpad/audit-2026-09-18/README.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-1-observabilite.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-2-base-saturation.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-3-securite-routes.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-4-environnement-sauvegardes.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-5-tests.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-6-bugs-fonctionnels.md
  docs/scratchpad/audit-2026-09-18/prompt-lot-7-maintenabilite.md
Due: prettier --write, eslint --fix

[INFRA-RULES-046] docs: write down which door gets which lock (#1188)
  .claude/DECISIONS.md
  .claude/INDEX.md
  .claude/rules/api-guards.md
  CLAUDE.md
Due: prettier --write

[BO-OBS-001] Voir ce qui casse chez les utilisateurs, et leur donner une sortie (#1187)
  apps/back-office/.env.example
  apps/back-office/next.config.js
  apps/back-office/package.json
  apps/back-office/src/app/api/logs/route.ts
  apps/back-office/src/app/error.tsx
  apps/back-office/src/app/global-error.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/components/errors/ModuleErrorBoundary.tsx
  apps/back-office/src/components/providers/console-error-tracker-provider.tsx
  apps/back-office/src/components/providers/error-boundary.tsx
  apps/back-office/src/components/providers/posthog-provider.tsx
  apps/back-office/src/lib/observability/__tests__/posthog.test.ts
  apps/back-office/src/lib/observability/posthog.ts
  apps/back-office/src/lib/security/headers.ts
  apps/linkme/.env.example
  apps/linkme/next.config.js
  apps/linkme/package.json
  apps/linkme/src/app/error.tsx
  apps/linkme/src/app/global-error.tsx
  apps/linkme/src/app/layout.tsx
  apps/linkme/src/components/providers/PostHogProvider.tsx
  apps/linkme/src/lib/observability/posthog.ts
  docs/scratchpad/dev-report-2026-09-18-BO-OBS-001.md
  packages/@verone/utils/src/monitoring/console-error-tracker.ts
  packages/@verone/utils/src/monitoring/index.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

[BO-OBS-002] fix: the replay must show what happened BEFORE the crash
  apps/back-office/src/lib/observability/posthog.ts
  apps/linkme/src/lib/observability/posthog.ts
Due: prettier --write, eslint --fix

[BO-OBS-002] fix: the replay must show what happened BEFORE the crash (#1190)
  apps/back-office/src/lib/observability/posthog.ts
  apps/linkme/src/lib/observability/posthog.ts
Due: prettier --write, eslint --fix

[BO-OBS-002] docs: production evidence — before/after, and the defect found while testing
  docs/scratchpad/dev-report-2026-09-18-BO-OBS-001.md
Due: prettier --write

[BO-OBS-003] fix: the replay was showing customer names and amounts in clear
  apps/back-office/src/lib/observability/__tests__/posthog.test.ts
  apps/back-office/src/lib/observability/posthog.ts
  apps/linkme/src/lib/observability/posthog.ts
Due: prettier --write, eslint --fix

[BO-OBS-003] fix: the replay was showing customer names and amounts in clear (#1192)
  apps/back-office/src/lib/observability/__tests__/posthog.test.ts
  apps/back-office/src/lib/observability/posthog.ts
  apps/linkme/src/lib/observability/posthog.ts
Due: prettier --write, eslint --fix

[BO-OBS-003] docs: the notice Roméo has to send his two employees
  docs/scratchpad/message-salariees-enregistrement-sessions.md
Due: prettier --write

[BO-OBS-003] docs: the masking, verified with my own eyes on a real replay
  docs/scratchpad/dev-report-2026-09-18-BO-OBS-001.md
Due: prettier --write

[NO-TASK] docs: two ready-to-paste prompts for Thursday 24 September
  docs/scratchpad/prompts-2026-09-24/README.md
  docs/scratchpad/prompts-2026-09-24/prompt-1-rouvrir-la-boutique.md
  docs/scratchpad/prompts-2026-09-24/prompt-2-fermer-les-portes-decriture.md
Due: prettier --write

[SI-CHECKOUT-PRICE-001] fix: the price charged now comes from the database, never from the browser
  apps/site-internet/src/app/api/checkout/helpers/create-order.ts
  apps/site-internet/src/app/api/checkout/helpers/types.ts
  apps/site-internet/src/app/api/checkout/route.ts
  apps/site-internet/src/app/api/contact/route.ts
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/lib/__tests__/rate-limit.test.ts
  apps/site-internet/src/lib/__tests__/resolve-cart.test.ts
  apps/site-internet/src/lib/checkout/catalog-prices.ts
  apps/site-internet/src/lib/checkout/resolve-cart.ts
  apps/site-internet/src/lib/rate-limit.ts
  docs/scratchpad/dev-report-2026-09-19-SI-CHECKOUT-PRICE-001.md
Due: prettier --write, eslint --fix

[BO-SEC-MW-001] feat: the back-office API now refuses by default
  apps/back-office/src/app/api/cron/meta-commerce-sync/route.ts
  apps/back-office/src/app/api/cron/sync-comptabilite/route.ts
  apps/back-office/src/app/api/emails/linkme-info-request/route.ts
  apps/back-office/src/app/api/emails/linkme-order-approved/route.ts
  apps/back-office/src/app/api/emails/linkme-order-rejected/route.ts
  apps/back-office/src/app/api/emails/linkme-step4-confirmed/route.ts
  apps/back-office/src/app/api/emails/send-consultation/route.ts
  apps/back-office/src/app/api/emails/send-document/route.ts
  apps/back-office/src/app/api/emails/send-order-documents/route.ts
  apps/back-office/src/app/api/form-submissions/[id]/messages/route.ts
  apps/back-office/src/app/api/gmail/inbound/route.ts
  apps/back-office/src/app/api/meta-commerce/sync-statuses/route.ts
  apps/back-office/src/app/api/packlink/shipments/sync/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/cancel/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/delete/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/sync-to-order/route.ts
  apps/back-office/src/app/api/qonto/quotes/[id]/convert/route.ts
  apps/back-office/src/app/api/qonto/quotes/from-invoice/[invoiceId]/route.ts
  apps/back-office/src/app/api/qonto/quotes/service/route.ts
  apps/back-office/src/app/api/qonto/sync-invoices/route.ts
  apps/back-office/src/app/api/qonto/sync/route.ts
  apps/back-office/src/app/api/quotes/[id]/finalize/route.ts
  apps/back-office/src/app/api/quotes/[id]/link-qonto/route.ts
  apps/back-office/src/app/api/quotes/[id]/push-to-qonto/route.ts
  apps/back-office/src/app/api/webhooks/packlink/route.ts
  apps/back-office/src/lib/__tests__/public-api-routes.test.ts
  apps/back-office/src/lib/__tests__/require-cron-secret.test.ts
  apps/back-office/src/lib/guards/require-cron-secret.ts
  apps/back-office/src/lib/security/public-api-routes.ts
  apps/back-office/src/middleware.ts
  apps/linkme/src/app/api/webhook/revolut/route.ts
  docs/current/security/api-routes-guards.md
  docs/scratchpad/dev-report-2026-09-19-BO-SEC-MW-001.md
Due: prettier --write, eslint --fix

[BO-SEC-MW-001] fix: the Packlink callback is no longer taken at its word
  apps/back-office/src/app/api/emails/linkme-info-completed/route.ts
  apps/back-office/src/app/api/emails/linkme-step4-confirmed/route.ts
  apps/back-office/src/app/api/webhooks/packlink/route.ts
  apps/back-office/src/lib/__tests__/public-api-routes.test.ts
  apps/linkme/src/app/api/complete-info/[token]/submit/route.ts
  docs/current/security/api-routes-guards.md
  docs/scratchpad/dev-report-2026-09-19-BO-SEC-MW-001.md
Due: prettier --write, eslint --fix

[SI-CHECKOUT-PRICE-001] fix: the price charged now comes from the database, never from the browser (#1194)
  apps/site-internet/src/app/api/checkout/helpers/create-order.ts
  apps/site-internet/src/app/api/checkout/helpers/types.ts
  apps/site-internet/src/app/api/checkout/route.ts
  apps/site-internet/src/app/api/contact/route.ts
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/lib/__tests__/rate-limit.test.ts
  apps/site-internet/src/lib/__tests__/resolve-cart.test.ts
  apps/site-internet/src/lib/checkout/catalog-prices.ts
  apps/site-internet/src/lib/checkout/resolve-cart.ts
  apps/site-internet/src/lib/rate-limit.ts
  docs/scratchpad/dev-report-2026-09-19-SI-CHECKOUT-PRICE-001.md
Due: prettier --write, eslint --fix

[BO-SEC-MW-001] feat: les portes de données du back-office refusent par défaut (#1195)
  apps/back-office/src/app/api/cron/meta-commerce-sync/route.ts
  apps/back-office/src/app/api/cron/sync-comptabilite/route.ts
  apps/back-office/src/app/api/emails/linkme-info-completed/route.ts
  apps/back-office/src/app/api/emails/linkme-info-request/route.ts
  apps/back-office/src/app/api/emails/linkme-order-approved/route.ts
  apps/back-office/src/app/api/emails/linkme-order-rejected/route.ts
  apps/back-office/src/app/api/emails/linkme-step4-confirmed/route.ts
  apps/back-office/src/app/api/emails/send-consultation/route.ts
  apps/back-office/src/app/api/emails/send-document/route.ts
  apps/back-office/src/app/api/emails/send-order-documents/route.ts
  apps/back-office/src/app/api/form-submissions/[id]/messages/route.ts
  apps/back-office/src/app/api/gmail/inbound/route.ts
  apps/back-office/src/app/api/meta-commerce/sync-statuses/route.ts
  apps/back-office/src/app/api/packlink/shipments/sync/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/cancel/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/delete/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/sync-to-order/route.ts
  apps/back-office/src/app/api/qonto/quotes/[id]/convert/route.ts
  apps/back-office/src/app/api/qonto/quotes/from-invoice/[invoiceId]/route.ts
  apps/back-office/src/app/api/qonto/quotes/service/route.ts
  apps/back-office/src/app/api/qonto/sync-invoices/route.ts
  apps/back-office/src/app/api/qonto/sync/route.ts
  apps/back-office/src/app/api/quotes/[id]/finalize/route.ts
  apps/back-office/src/app/api/quotes/[id]/link-qonto/route.ts
  apps/back-office/src/app/api/quotes/[id]/push-to-qonto/route.ts
  apps/back-office/src/app/api/webhooks/packlink/route.ts
  apps/back-office/src/lib/__tests__/public-api-routes.test.ts
  apps/back-office/src/lib/__tests__/require-cron-secret.test.ts
  apps/back-office/src/lib/guards/require-cron-secret.ts
  apps/back-office/src/lib/security/public-api-routes.ts
  apps/back-office/src/middleware.ts
  apps/linkme/src/app/api/complete-info/[token]/submit/route.ts
  apps/linkme/src/app/api/webhook/revolut/route.ts
  docs/current/security/api-routes-guards.md
  docs/scratchpad/dev-report-2026-09-19-BO-SEC-MW-001.md
Due: prettier --write, eslint --fix
