Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[SI-SHIP-001] feat: configurable shipping fees (back-office → Stripe → site-internet)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ConfigurationSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ShippingConfigCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/types.ts
  apps/site-internet/src/app/api/checkout/route.ts
  apps/site-internet/src/app/api/shipping-config/route.ts
  apps/site-internet/src/app/api/webhooks/stripe/route.ts
  apps/site-internet/src/app/checkout/page.tsx
Due: prettier --write, eslint --fix

[SI-DEPLOY-003] fix: TS build errors in @verone/utils breaking Vercel deploy
  packages/@verone/utils/src/middleware/api-security.ts
  packages/@verone/utils/src/middleware/logging.ts
Due: prettier --write, eslint --fix

[SI-DEPLOY-003] chore: bump site-internet version to trigger Vercel deploy
  apps/site-internet/package.json
Due: prettier --write

[SI-DEPLOY-003] chore: trigger Vercel deploy for site-internet
  apps/site-internet/package.json
Due: prettier --write

[SI-DEPLOY-003] fix: remove turbo-ignore to unblock Vercel deploys
  apps/site-internet/vercel.json
Due: prettier --write

[SI-DEPLOY-003] fix: change abandoned-cart cron to daily for Hobby plan
  apps/site-internet/vercel.json
Due: prettier --write

[SI-DEPLOY-003] fix: change abandoned-cart cron to daily for Hobby plan (#320)
  apps/site-internet/vercel.json
Due: prettier --write

[LM-PRICE-001] fix: switch from taux de marque to additive margin model
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-orders.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/types.ts
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/linkme/src/app/(main)/aide/selections/page.tsx
  apps/linkme/src/components/landing/PricingModels.tsx
  apps/linkme/src/components/selection/ProductDetailSheet.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
  packages/@verone/finance/src/components/QuoteFormModal.tsx
  packages/@verone/utils/src/linkme/__tests__/margin-calculation.test.ts
  packages/@verone/utils/src/linkme/margin-calculation.ts
Due: prettier --write, eslint --fix

[LM-PRICE-001] feat: allow 2 decimal places for margin rate in LinkMe
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/components/selection/EditMarginModal.tsx
Due: prettier --write, eslint --fix

[LM-PRICE-001] docs: update all LinkMe docs from taux de marque to taux de marge additif
  docs/current/linkme/GLOSSAIRE-CHAMPS-PRIX.md
  docs/current/linkme/GUIDE-COMPLET-LINKME.md
  docs/current/linkme/commission-reference.md
  docs/current/serena/linkme-commissions.md
  docs/linkme/margin-calculation.md
Due: prettier --write

[LM-PRICE-001] fix: display all margin rates with 2 decimal places across LinkMe
  apps/linkme/src/app/(main)/commandes/[id]/modifier/AddProductDialog.tsx
  apps/linkme/src/app/(main)/commandes/[id]/modifier/EditOrderPage.tsx
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/app/(main)/commandes/components/OrderDetailModal.tsx
  apps/linkme/src/app/(main)/ma-selection/[id]/produits/page.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductStatsCharts.tsx
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/components/commissions/CommissionDetailContent.tsx
  apps/linkme/src/components/landing/PricingModels.tsx
  apps/linkme/src/components/orders/steps/CartStep.tsx
  apps/linkme/src/components/orders/steps/ProductsStep.tsx
  apps/linkme/src/components/selection/EditMarginModal.tsx
  apps/linkme/src/components/selection/ProductDetailSheet.tsx
  apps/linkme/src/components/selection/SelectionProductsSheet.tsx
Due: prettier --write, eslint --fix

[LM-PRICE-001] fix: resolve linkme_display_number for BO-created LinkMe orders
  supabase/migrations/20260319100000_fix_linkme_display_number_trigger.sql
Due: none

[LM-PRICE-001] chore: add margin model migration, perf audit doc and optimizer memory
  .claude/agent-memory/perf-optimizer/MEMORY.md
  docs/current/perf/audit-pricing-commissions-linkme-2026-03-18.md
  supabase/migrations/20260318200000_switch_to_additive_margin_model.sql
Due: prettier --write

[BO-LINT-001] fix: ESLint fixes on approbations, order hooks and linkme actions
  apps/back-office/src/app/(protected)/canaux-vente/linkme/approbations/ApprobationsClient.tsx
  apps/linkme/src/lib/hooks/use-affiliate-orders.ts
  apps/linkme/src/lib/hooks/use-order-form.ts
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-order-actions.ts
Due: prettier --write, eslint --fix

[SI-SHIP-001] feat: configurable shipping fees (back-office → Stripe)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ConfigurationSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ShippingConfigCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/types.ts
  apps/site-internet/src/app/api/checkout/route.ts
  apps/site-internet/src/app/api/shipping-config/route.ts
  apps/site-internet/src/app/api/webhooks/stripe/route.ts
  apps/site-internet/src/app/checkout/page.tsx
Due: prettier --write, eslint --fix

[LM-PRICE-001] fix: switch to additive margin model + fix LinkMe display numbers
  .claude/agent-memory/perf-optimizer/MEMORY.md
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-orders.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/types.ts
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/linkme/src/app/(main)/aide/selections/page.tsx
  apps/linkme/src/app/(main)/commandes/[id]/modifier/AddProductDialog.tsx
  apps/linkme/src/app/(main)/commandes/[id]/modifier/EditOrderPage.tsx
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/app/(main)/commandes/components/OrderDetailModal.tsx
  apps/linkme/src/app/(main)/ma-selection/[id]/produits/page.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductStatsCharts.tsx
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/components/commissions/CommissionDetailContent.tsx
  apps/linkme/src/components/landing/PricingModels.tsx
  apps/linkme/src/components/orders/steps/CartStep.tsx
  apps/linkme/src/components/orders/steps/ProductsStep.tsx
  apps/linkme/src/components/selection/EditMarginModal.tsx
  apps/linkme/src/components/selection/ProductDetailSheet.tsx
  apps/linkme/src/components/selection/SelectionProductsSheet.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
  docs/current/linkme/GLOSSAIRE-CHAMPS-PRIX.md
  docs/current/linkme/GUIDE-COMPLET-LINKME.md
  docs/current/linkme/commission-reference.md
  docs/current/perf/audit-pricing-commissions-linkme-2026-03-18.md
  docs/current/serena/linkme-commissions.md
  docs/linkme/margin-calculation.md
  packages/@verone/finance/src/components/QuoteFormModal.tsx
  packages/@verone/utils/src/linkme/__tests__/margin-calculation.test.ts
  packages/@verone/utils/src/linkme/margin-calculation.ts
  supabase/migrations/20260318200000_switch_to_additive_margin_model.sql
  supabase/migrations/20260319100000_fix_linkme_display_number_trigger.sql
Due: prettier --write, eslint --fix

[BO-LINT-001] fix: ESLint fixes on approbations and order hooks
  apps/back-office/src/app/(protected)/canaux-vente/linkme/approbations/ApprobationsClient.tsx
  apps/linkme/src/lib/hooks/use-affiliate-orders.ts
  apps/linkme/src/lib/hooks/use-order-form.ts
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-order-actions.ts
Due: prettier --write, eslint --fix

[LM-PERF-001] feat: optimize commandes page + fix affiliate margin display
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/lib/hooks/use-user-selection.ts
  packages/@verone/orders/src/hooks/use-monthly-kpis.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260319120000_linkme_number_on_validation_only.sql
  supabase/migrations/20260319130000_perf_kpi_rpc_and_indexes.sql
  supabase/migrations/20260319140000_enrich_linkme_order_items_view.sql
Due: prettier --write, eslint --fix

[LM-PERF-001] perf: server-side filtering for commissions + analytics + catalog limit
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/lib/hooks/use-affiliate-commissions.ts
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
Due: prettier --write, eslint --fix

[LM-PERF-001] perf: commission counts server-side + remove select(*) + cache fixes
  apps/linkme/src/app/(main)/ma-selection/page.tsx
  apps/linkme/src/app/api/complete-info/[token]/route.ts
  apps/linkme/src/app/api/complete-info/[token]/submit/route.ts
  apps/linkme/src/app/api/page-config/[pageId]/route.ts
  apps/linkme/src/lib/hooks/use-affiliate-commissions.ts
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
Due: prettier --write, eslint --fix

[BO-BUILD-001] fix: resolve 4 build errors blocking Vercel deploy
  apps/back-office/src/app/(protected)/canaux-vente/linkme/approbations/ApprobationsClient.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CMSSection.tsx
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BUILD-001] fix: resolve 4 build errors blocking Vercel deploy (#325)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/approbations/ApprobationsClient.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CMSSection.tsx
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[LM-ORD-010] fix: only show step4 waiting message when token exists
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: add send documents button to details page + timeline integration
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/api/emails/send-order-documents/route.ts
  packages/@verone/orders/src/hooks/linkme/use-order-history.ts
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: add action buttons to order detail header
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: send order documents by email from LinkMe order detail
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/api/emails/send-order-documents/route.ts
  packages/@verone/orders/src/components/modals/SendOrderDocumentsModal.tsx
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260319200000_create_order_emails.sql
Due: prettier --write, eslint --fix

[LM-COMM-002] fix: correct margin in ACTUAL CreateLinkMeOrderModal (back-office copy)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-COMM-002] fix: add HT label to marge affilié
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-COMM-002] fix: correct margin calculation in CreateLinkMeOrderModal
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-COMM-002] fix: rename misleading "Bénéfice net" to "CA net Verone"
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: resolve Vercel build warnings
  .npmrc
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/back-office/tailwind.config.js
  packages/@verone/ui/src/components/ui/switch.tsx
  turbo.json
Due: prettier --write, eslint --fix

[LM-ORD-010] fix: replace direct status change with shipment modal
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
Due: prettier --write, eslint --fix

[LM-COMM-002] fix: switch to additive margin model in order form + add user product support
  docs/current/linkme/GLOSSAIRE-CHAMPS-PRIX.md
  docs/current/linkme/GUIDE-COMPLET-LINKME.md
  docs/current/linkme/commission-reference.md
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
Due: prettier --write, eslint --fix

[LM-COMM-002] fix: dynamic margin rate calculation across all LinkMe pages
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/components/CommissionDetailContent.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-COMM-002] fix: display real margin rate calculated from order prices
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: add quote (devis) button in PaymentSection
  apps/back-office/src/components/orders/PaymentSection.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010] feat: add PaymentSection (devis + facture) to UniversalOrderDetailsModal
  apps/back-office/src/components/business/universal-order-details-modal.tsx
  packages/@verone/orders/src/components/modals/UniversalOrderDetailsModal.tsx
Due: prettier --write, eslint --fix

[LM-ORD-010 + LM-COMM-002] feat: envoi documents email + correction commissions LinkMe (#326)
  .npmrc
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/components/CommissionDetailContent.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/CreateLinkMeOrderModal.tsx
  apps/back-office/src/app/api/emails/send-order-documents/route.ts
  apps/back-office/src/components/business/universal-order-details-modal.tsx
  apps/back-office/src/components/layout/app-sidebar.tsx
  apps/back-office/src/components/orders/PaymentSection.tsx
  apps/back-office/tailwind.config.js
  docs/current/linkme/GLOSSAIRE-CHAMPS-PRIX.md
  docs/current/linkme/GUIDE-COMPLET-LINKME.md
  docs/current/linkme/commission-reference.md
  packages/@verone/orders/src/components/modals/CreateLinkMeOrderModal.tsx
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/components/modals/SendOrderDocumentsModal.tsx
  packages/@verone/orders/src/components/modals/UniversalOrderDetailsModal.tsx
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/hooks/linkme/use-order-history.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/ui/src/components/ui/switch.tsx
  supabase/migrations/20260319200000_create_order_emails.sql
  turbo.json
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
