Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

fix(agents): update MCP tool names and add session isolation note
  .claude/agents/frontend-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/commands/senior-stabilization-protocol.md
Due: prettier --write

chore: cleanup obsolete references (playwright tools, husky, lint-staged)
  .claude/commands/commit.md
  .lintstagedrc.json
  apps/back-office/src/lib/mcp/playwright-integration.ts
  manifests/technical-workflows/mcp-testing-automation-2025.md
  package.json
  packages/@verone/utils/src/monitoring/mcp-error-checker.ts
Due: prettier --write, eslint --fix

perf: fix TanStack Query polling in background tabs
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-dashboard.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-order-actions.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-organisation-approvals.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-payment-requests-admin.ts
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-product-approvals.ts
  apps/back-office/src/app/canaux-vente/site-internet/hooks/use-vercel-analytics.ts
  apps/back-office/src/hooks/use-archive-notifications.ts
Due: prettier --write, eslint --fix

security: fix Supabase Security Advisor errors
  supabase/migrations/20260111_001_fix_exposed_auth_views.sql
  supabase/migrations/20260111_002_fix_security_definer_views.sql
  supabase/migrations/20260111_003_fix_function_search_path.sql
Due: none

perf: add RLS optimization indexes for performance
  supabase/migrations/20260111_004_optimize_rls_performance.sql
Due: none

security: fix Supabase Security Advisor errors (phase 2)
  supabase/migrations/20260111_005_fix_remaining_security_errors.sql
  supabase/migrations/20260111_006_recreate_views_fixed.sql
Due: none

fix(perf): optimize React hooks for performance
  packages/@verone/notifications/src/hooks/use-user-activity-tracker.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-affiliates.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-enseignes.ts
  packages/@verone/orders/src/hooks/linkme/use-linkme-selections.ts
  packages/@verone/organisations/src/hooks/use-organisation-tab-counts.ts
Due: prettier --write, eslint --fix

fix(perf): eliminate multiple GoTrueClient instances
  apps/back-office/src/hooks/base/use-supabase-mutation.ts
  apps/back-office/src/hooks/base/use-supabase-query.ts
  packages/@verone/common/src/hooks/use-supabase-query-builder.ts
  packages/@verone/common/src/hooks/use-supabase-query.ts
  packages/@verone/utils/src/supabase/client.ts
Due: prettier --write, eslint --fix

feat(perf): add useCurrentUser hook for auth caching
  packages/@verone/common/src/hooks/index.ts
  packages/@verone/common/src/hooks/use-current-user.ts
Due: prettier --write, eslint --fix

fix(deps): align @supabase/ssr to single version 0.8.0
  apps/back-office/package.json
  apps/site-internet/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

perf(orders): fix N+1 queries in useSalesDashboard with JOINs
  packages/@verone/orders/src/hooks/use-sales-dashboard.ts
Due: prettier --write, eslint --fix

perf(orders): fix N+1 queries in useSalesDashboard
  packages/@verone/orders/src/hooks/use-sales-dashboard.ts
Due: prettier --write, eslint --fix

fix(db): resolve Supabase Security + Performance Advisor issues
  apps/site-internet/src/hooks/use-categories.ts
  packages/@verone/dashboard/src/hooks/metrics/use-activity-metrics.ts
  packages/@verone/dashboard/src/hooks/metrics/use-product-metrics.ts
  packages/@verone/dashboard/src/hooks/metrics/use-user-metrics.ts
  packages/@verone/products/src/hooks/use-product-colors.ts
  packages/@verone/testing/src/hooks/use-test-persistence.ts
  supabase/migrations/20260111_007_set_security_invoker_views.sql
  supabase/migrations/20260111_008_fix_rls_initplan_performance.sql
Due: prettier --write, eslint --fix

perf(db): optimize remaining 139 RLS policies with initplan pattern
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-order-actions.ts
  apps/back-office/src/app/produits/page.tsx
  supabase/migrations/20260111_009_fix_remaining_rls_performance.sql
Due: prettier --write, eslint --fix

feat(linkme): improve CreateOrderModal with contacts workflow
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/components/ContactsSection.tsx
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
Due: prettier --write, eslint --fix

perf(db): remove duplicate indexes and RLS policies
  supabase/migrations/20260111_010_consolidate_rls_and_indexes.sql
  supabase/migrations/20260111_011_remove_duplicate_policies.sql
Due: none

fix(db): restore LinkMe auth after RLS consolidation
  supabase/migrations/20260111_012_fix_linkme_users_app_metadata.sql
  supabase/migrations/20260111_013_fix_linkme_affiliates_rls.sql
Due: none

fix(linkme): add status filters to Commandes tab in approbations
  apps/back-office/src/app/canaux-vente/linkme/approbations/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-order-actions.ts
Due: prettier --write, eslint --fix

revert: supprimer migrations RLS cassées 001-011
  supabase/migrations/20260111_001_fix_exposed_auth_views.sql
  supabase/migrations/20260111_002_fix_security_definer_views.sql
  supabase/migrations/20260111_003_fix_function_search_path.sql
  supabase/migrations/20260111_004_optimize_rls_performance.sql
  supabase/migrations/20260111_005_fix_remaining_security_errors.sql
  supabase/migrations/20260111_006_recreate_views_fixed.sql
  supabase/migrations/20260111_007_set_security_invoker_views.sql
  supabase/migrations/20260111_008_fix_rls_initplan_performance.sql
  supabase/migrations/20260111_009_fix_remaining_rls_performance.sql
  supabase/migrations/20260111_010_consolidate_rls_and_indexes.sql
  supabase/migrations/20260111_011_remove_duplicate_policies.sql
Due: none

perf(db): optimize RLS helper functions and consolidate policies
  supabase/migrations/20260111_014_optimize_performance_advisor.sql
Due: none

fix: resolve 5 audit errors from back-office testing
  apps/back-office/src/app/canaux-vente/linkme/components/SelectionsSection.tsx
  apps/back-office/src/app/produits/catalogue/dashboard/page.tsx
  packages/@verone/finance/src/hooks/use-matching-rules.ts
  packages/@verone/suppliers/src/components/badges/SupplierSegmentBadge.tsx
  supabase/migrations/20260111_014_create_customer_samples_view.sql
Due: prettier --write, eslint --fix

feat(linkme): enhance order form with SIRET, billing address and confirmation modal
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

fix(linkme): KPI audit fixes and remove FeaturedCarousel
  apps/linkme/src/app/(main)/catalogue/components/FeaturedCarousel.tsx
  apps/linkme/src/app/(main)/catalogue/components/ProductCard.tsx
  apps/linkme/src/app/(main)/catalogue/components/index.ts
  apps/linkme/src/app/(main)/catalogue/page.tsx
  apps/linkme/src/app/(main)/dashboard/page.tsx
  apps/linkme/src/app/(main)/mes-produits/page.tsx
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/types/analytics.ts
Due: prettier --write, eslint --fix

fix(back-office): enhance commission display for LinkMe orders
  apps/back-office/src/app/canaux-vente/linkme/catalogue/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/hooks/use-linkme-catalog.ts
  apps/back-office/src/app/canaux-vente/linkme/selections/[id]/page.tsx
  apps/back-office/src/app/canaux-vente/linkme/types.ts
Due: prettier --write, eslint --fix

feat(ownership): unify ownership_type across LinkMe and back-office
  apps/back-office/src/app/contacts-organisations/customers/page.tsx
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/OrderFormUnified.tsx
  apps/linkme/src/components/checkout/EnseigneStepper.tsx
  apps/linkme/src/components/network/SearchFilterBar.tsx
  apps/linkme/src/components/organisations/EditOrganisationModal.tsx
  apps/linkme/src/components/organisations/OrganisationCard.tsx
  apps/linkme/src/lib/hooks/use-enseigne-organisations.ts
  packages/@verone/customers/src/components/modals/CustomerFormModal.tsx
  packages/@verone/organisations/src/hooks/use-organisations.ts
  supabase/migrations/20260111_001_fix_ownership_type_mapping.sql
  supabase/migrations/20260111_002_simplify_ownership_type_rpc.sql
Due: prettier --write, eslint --fix

feat(linkme): add AddressAutocomplete component and refactor forms
  apps/linkme/src/app/(main)/analytics/page.tsx
  apps/linkme/src/app/(main)/catalogue/components/CategoryDropdown.tsx
  apps/linkme/src/app/(main)/checkout/page.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/page.tsx
  apps/linkme/src/app/(main)/statistiques/page.tsx
  apps/linkme/src/app/(main)/statistiques/produits/page.tsx
  apps/linkme/src/app/(public)/delivery-info/[token]/page.tsx
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/components/layout/AppSidebar.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/lib/hooks/use-affiliate-products.ts
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
  packages/@verone/common/src/components/address/AddressEditSection.tsx
  packages/@verone/orders/src/components/modals/create-organisation-modal.tsx
  packages/@verone/ui/src/components/ui/address-autocomplete.tsx
  packages/@verone/ui/src/components/ui/index.ts
Due: prettier --write, eslint --fix

chore(back-office): minor fixes and documentation updates
  apps/back-office/src/app/contacts-organisations/customers/[customerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/partners/[partnerId]/page.tsx
  apps/back-office/src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  apps/back-office/src/lib/security/headers.ts
  docs/audit-backoffice-2026-01-11/01-dashboard-accueil.md
  docs/audit-backoffice-2026-01-11/02-admin.md
  docs/audit-backoffice-2026-01-11/03-produits.md
  docs/audit-backoffice-2026-01-11/04-commandes.md
  docs/audit-backoffice-2026-01-11/05-stocks.md
  docs/audit-backoffice-2026-01-11/06-livraisons.md
  docs/audit-backoffice-2026-01-11/07-factures-documents.md
  docs/audit-backoffice-2026-01-11/08-finance.md
  docs/audit-backoffice-2026-01-11/09-contacts-organisations.md
  docs/audit-backoffice-2026-01-11/10-consultations.md
  docs/audit-backoffice-2026-01-11/11-canaux-vente.md
  docs/audit-backoffice-2026-01-11/12-ventes.md
  docs/audit-backoffice-2026-01-11/rapport-final-audit.md
  docs/current/serena/linkme-commissions.md
Due: prettier --write, eslint --fix

feat(linkme): add draft order editing functionality
  apps/linkme/src/app/(main)/commandes/components/EditOrderModal.tsx
  apps/linkme/src/app/(main)/commandes/page.tsx
  apps/linkme/src/lib/hooks/use-update-draft-order.ts
Due: prettier --write, eslint --fix

feat(dashboard): add configurable dashboard with KPIs and role presets
  apps/back-office/src/app/dashboard/components/configurable-dashboard.tsx
  apps/back-office/src/app/dashboard/components/configurable-kpi-card.tsx
  apps/back-office/src/app/dashboard/components/dashboard-tabs.tsx
  apps/back-office/src/app/dashboard/components/index.ts
  apps/back-office/src/app/dashboard/components/kpi-grid.tsx
  apps/back-office/src/app/dashboard/hooks/index.ts
  apps/back-office/src/app/dashboard/hooks/use-dashboard-preferences.ts
  apps/back-office/src/app/dashboard/lib/index.ts
  apps/back-office/src/app/dashboard/lib/kpi-catalog.ts
  apps/back-office/src/app/dashboard/lib/role-presets.ts
  apps/back-office/src/app/dashboard/page.tsx
  apps/back-office/src/types/supabase.ts
  apps/linkme/package.json
  apps/linkme/src/app/(main)/reseau/page.tsx
  apps/linkme/src/components/organisations/EditOrganisationModal.tsx
  apps/linkme/src/components/shared/LeafletMapView.tsx
  apps/linkme/src/lib/hooks/use-enseigne-organisations.ts
  packages/@verone/types/src/supabase.ts
  pnpm-lock.yaml
  supabase/migrations/20260112_001_create_user_dashboard_preferences.sql
Due: prettier --write, eslint --fix

feat(organisations): add GPS coordinates to address section
  apps/back-office/src/app/dashboard/hooks/use-dashboard-preferences.ts
  apps/back-office/src/types/supabase.ts
  packages/@verone/common/src/components/address/AddressEditSection.tsx
Due: prettier --write, eslint --fix

feat(linkme): migrate to MapLibre GL and add Toaster
  apps/linkme/package.json
  apps/linkme/src/app/(main)/reseau/page.tsx
  apps/linkme/src/components/providers/Providers.tsx
  apps/linkme/src/components/shared/MapLibreMapView.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(dashboard): connect KPIs to real data and fix trends
  apps/back-office/src/app/dashboard/components/configurable-kpi-card.tsx
  apps/back-office/src/app/dashboard/components/kpi-grid.tsx
  apps/back-office/src/app/factures/page.tsx
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/utils/src/supabase.ts
  packages/@verone/utils/src/supabase/types.ts
Due: prettier --write, eslint --fix

feat(linkme): add OrganisationDetailSheet and improve map zoom
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/app/(main)/reseau/page.tsx
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/components/organisations/index.ts
  apps/linkme/src/components/shared/MapLibreMapView.tsx
  apps/linkme/src/lib/hooks/use-organisation-detail.ts
Due: prettier --write, eslint --fix

chore: fix linting and type exports
  packages/@verone/integrations/src/google-merchant/product-mapper.ts
  packages/@verone/types/src/index.ts
  packages/@verone/utils/src/utils/organisation-helpers.ts
Due: prettier --write, eslint --fix

feat(dashboard): add 6-column layout and KPI selector modal
  apps/back-office/src/app/dashboard/components/configurable-dashboard.tsx
  apps/back-office/src/app/dashboard/components/index.ts
  apps/back-office/src/app/dashboard/components/kpi-grid.tsx
  apps/back-office/src/app/dashboard/components/kpi-selector-modal.tsx
Due: prettier --write, eslint --fix

feat(dashboard): implement Dashboard V2 with widgets and charts
  apps/back-office/src/app/dashboard/components/charts/abc-analysis-chart.tsx
  apps/back-office/src/app/dashboard/components/charts/aging-report-chart.tsx
  apps/back-office/src/app/dashboard/components/charts/channel-pie-chart.tsx
  apps/back-office/src/app/dashboard/components/charts/chart-card.tsx
  apps/back-office/src/app/dashboard/components/charts/chart-selector-modal.tsx
  apps/back-office/src/app/dashboard/components/charts/index.ts
  apps/back-office/src/app/dashboard/components/charts/revenue-chart.tsx
  apps/back-office/src/app/dashboard/components/charts/treasury-chart.tsx
  apps/back-office/src/app/dashboard/components/configurable-dashboard.tsx
  apps/back-office/src/app/dashboard/components/widgets/index.ts
  apps/back-office/src/app/dashboard/components/widgets/recent-activity-widget.tsx
  apps/back-office/src/app/dashboard/components/widgets/recent-orders-widget.tsx
  apps/back-office/src/app/dashboard/components/widgets/stock-alerts-widget.tsx
  apps/back-office/src/app/dashboard/components/widgets/stock-movements-widget.tsx
  apps/back-office/src/app/dashboard/components/widgets/top-products-widget.tsx
  apps/back-office/src/app/dashboard/components/widgets/unpaid-invoices-widget.tsx
  apps/back-office/src/app/dashboard/components/widgets/widget-card.tsx
  apps/back-office/src/app/dashboard/components/widgets/widget-selector-modal.tsx
  apps/back-office/src/app/dashboard/lib/chart-catalog.ts
  apps/back-office/src/app/dashboard/lib/index.ts
  apps/back-office/src/app/dashboard/lib/widget-catalog.ts
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
  supabase/migrations/20260112_001_fix_stock_value_column.sql
Due: prettier --write, eslint --fix

fix(linkme): search contacts by enseigne_id for enseigne-linked orgs
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
Due: prettier --write, eslint --fix

feat(linkme): refactor public selection into tabbed pages
  apps/linkme/src/app/(public)/s/[id]/SelectionLayoutClient.tsx
  apps/linkme/src/app/(public)/s/[id]/catalogue/page.tsx
  apps/linkme/src/app/(public)/s/[id]/contact/page.tsx
  apps/linkme/src/app/(public)/s/[id]/faq/page.tsx
  apps/linkme/src/app/(public)/s/[id]/layout.tsx
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/contexts/PublicSelectionContext.tsx
Due: prettier --write, eslint --fix

fix(linkme): multiple bug fixes and notifications system
  apps/linkme/src/app/(main)/commandes/components/OrderDetailModal.tsx
  apps/linkme/src/app/(main)/commissions/page.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/layout/ActionsRequiredDropdown.tsx
  apps/linkme/src/components/layout/MinimalHeader.tsx
  apps/linkme/src/components/organisations/OrganisationCard.tsx
  apps/linkme/src/lib/hooks/use-affiliate-commissions.ts
  apps/linkme/src/lib/hooks/use-incomplete-items.ts
Due: prettier --write, eslint --fix

feat(linkme): add quick edit modals and improve notifications
  apps/back-office/src/app/dashboard/components/configurable-dashboard.tsx
  apps/back-office/src/app/dashboard/lib/kpi-catalog.ts
  apps/linkme/src/app/(main)/commissions/page.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/layout/ActionsRequiredDropdown.tsx
  apps/linkme/src/components/organisations/OrganisationCard.tsx
  apps/linkme/src/components/organisations/QuickEditBillingAddressModal.tsx
  apps/linkme/src/components/organisations/QuickEditOwnershipTypeModal.tsx
  apps/linkme/src/components/organisations/QuickEditShippingAddressModal.tsx
  apps/linkme/src/components/organisations/index.ts
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
