Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[SI-AMB-ARCH-001] docs: ADR-021 ambassador program architecture decisions
  .claude/DECISIONS.md
  docs/scratchpad/audit-2026-04-26-ambassadeurs-architecture.md
  docs/scratchpad/audit-2026-04-26-site-internet-finalisation.md
  docs/scratchpad/audit-2026-04-26-site-internet-visuel-prod.md
Due: prettier --write

[BO-CHAN-SITE-404] fix: force Vercel rebuild of /canaux-vente/site-internet
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/page.tsx
Due: prettier --write, eslint --fix

[SI-AMB-ARCH-001] docs: ADR-021 ambassador program architecture decisions (#798)
  .claude/DECISIONS.md
  docs/scratchpad/audit-2026-04-26-ambassadeurs-architecture.md
  docs/scratchpad/audit-2026-04-26-site-internet-finalisation.md
  docs/scratchpad/audit-2026-04-26-site-internet-visuel-prod.md
Due: prettier --write

[BO-CHAN-SITE-404] fix: force Vercel rebuild of /canaux-vente/site-internet (#799)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/page.tsx
Due: prettier --write, eslint --fix

[SI-AMB-REFACTO-001] feat: unify ambassador model with individual_customers (ADR-021 D1)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-ambassadors.ts
  apps/back-office/src/app/api/ambassadors/create-auth/route.ts
  apps/site-internet/src/app/ambassadeur/page.tsx
  apps/site-internet/src/app/api/checkout/helpers/create-order.ts
  apps/site-internet/src/app/api/cron/validate-ambassador-primes/route.ts
  supabase/migrations/20260507_unify_ambassador_to_individual_customer.sql
Due: prettier --write, eslint --fix

[SI-AMB-REFACTO-001] chore: regenerate Supabase types after ambassador migration
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[SI-AMB-REFACTO-001] chore: add graphql_public schema to types (CI drift fix)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[SI-AMB-REFACTO-001] fix: French accents on ambassador page (audit Bug 7)
  apps/site-internet/src/app/ambassadeur/page.tsx
Due: prettier --write, eslint --fix

[SI-AMB-REFACTO-001] feat: unify ambassador model with individual_customers (ADR-021 D1) (#801)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-ambassadors.ts
  apps/back-office/src/app/api/ambassadors/create-auth/route.ts
  apps/site-internet/src/app/ambassadeur/page.tsx
  apps/site-internet/src/app/api/checkout/helpers/create-order.ts
  apps/site-internet/src/app/api/cron/validate-ambassador-primes/route.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260507_unify_ambassador_to_individual_customer.sql
Due: prettier --write, eslint --fix

[SI-AMB-E2E-001] test: smoke E2E ambassador system (PR 0.5)
  tests/e2e/smoke/smoke-ambassador.spec.ts
Due: prettier --write, eslint --fix

[SI-AMB-LINK-001] feat: referral link tracking without code + ambassador gain email (ADR-021 D4 + D6)
  apps/site-internet/src/app/api/checkout/helpers/create-order.ts
  apps/site-internet/src/app/api/checkout/route.ts
  apps/site-internet/src/app/api/emails/ambassador-gain/route.ts
  apps/site-internet/src/app/api/webhooks/stripe/route.ts
Due: prettier --write, eslint --fix

[SI-AMB-LINK-001] feat: referral link tracking without code + ambassador gain email (ADR-021 D4 + D6) (#802)
  apps/site-internet/src/app/api/checkout/helpers/create-order.ts
  apps/site-internet/src/app/api/checkout/route.ts
  apps/site-internet/src/app/api/emails/ambassador-gain/route.ts
  apps/site-internet/src/app/api/webhooks/stripe/route.ts
Due: prettier --write, eslint --fix

[SI-RPC-COLL-001] fix: get_site_internet_collections RPC (Bug 6 + cost_price leak)
  supabase/migrations/20260508_fix_get_site_internet_collections.sql
Due: none

[SI-AMB-E2E-001] test: smoke E2E ambassador system (PR 0.5) (#809)
  tests/e2e/smoke/smoke-ambassador.spec.ts
Due: prettier --write, eslint --fix

[SI-RPC-COLL-001] fix: get_site_internet_collections RPC (Bug 6 + cost_price leak) (#810)
  supabase/migrations/20260508_fix_get_site_internet_collections.sql
Due: none

[INFRA-DRIFT-001] fix: explicit FK declaration for ambassador customer_id (CI drift)
  supabase/migrations/20260509_declare_ambassador_customer_fks.sql
Due: none

[INFRA-DRIFT-001] fix: explicit FK declaration for ambassador customer_id (CI drift) (#811)
  supabase/migrations/20260509_declare_ambassador_customer_fks.sql
Due: none

[SI-AMB-UI-001] feat: ambassador UI unification (ADR-021 D7 + D8)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ActivateExistingForm.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CreateAmbassadorModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-ambassadors.ts
  apps/site-internet/src/app/compte/ambassadeur/AmbassadorSettingsClient.tsx
  apps/site-internet/src/app/compte/ambassadeur/page.tsx
  apps/site-internet/src/app/compte/page.tsx
Due: prettier --write, eslint --fix

[SI-AMB-PAYOUT-001] feat: ambassador payout workflow BO (ADR-021 D9 + D12)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/MarkPaidModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/PayoutTable.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/payouts-csv-export.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-pending-payouts.ts
  apps/back-office/src/app/api/ambassadors/[id]/mark-paid/route.ts
  apps/site-internet/src/app/api/emails/ambassador-prime-paid/route.ts
Due: prettier --write, eslint --fix

[SI-UI-FIX-001] fix: 2 site UI bugs from 2026-04-26 audit (Bug 1 + Bug 8)
  apps/site-internet/src/app/catalogue/page.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductSidebar.tsx
Due: prettier --write, eslint --fix

[SI-CATALOGUE-UI-001] fix: catalogue card bg + zoom (Romeo audit 2026-04-26)
  apps/site-internet/src/components/ui/CardProductLuxury.tsx
Due: prettier --write, eslint --fix

[BO-CHAN-OOM-001] fix: lazy-load heavy modals to fix Vercel build OOM (Bug 0)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ProductsModals.tsx
Due: prettier --write, eslint --fix

[SI-AMB-UI-001] feat: ambassador UI unification (ADR-021 D7 + D8) (#803)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ActivateExistingForm.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/CreateAmbassadorModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-ambassadors.ts
  apps/site-internet/src/app/compte/ambassadeur/AmbassadorSettingsClient.tsx
  apps/site-internet/src/app/compte/ambassadeur/page.tsx
  apps/site-internet/src/app/compte/page.tsx
Due: prettier --write, eslint --fix

[SI-AMB-PAYOUT-001] feat: ambassador payout workflow (ADR-021 D9 + D12) (#804)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/MarkPaidModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/PayoutTable.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/ambassadeurs/paiements/payouts-csv-export.ts
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/hooks/use-pending-payouts.ts
  apps/back-office/src/app/api/ambassadors/[id]/mark-paid/route.ts
  apps/site-internet/src/app/api/emails/ambassador-prime-paid/route.ts
Due: prettier --write, eslint --fix

[SI-CATALOGUE-UI-001] fix: catalogue card bg + zoom (Romeo audit 2026-04-26) (#806)
  apps/site-internet/src/components/ui/CardProductLuxury.tsx
Due: prettier --write, eslint --fix

[SI-UI-FIX-001] fix: 2 site UI bugs from 2026-04-26 audit (Bug 1 + Bug 8) (#805)
  apps/site-internet/src/app/catalogue/page.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductSidebar.tsx
Due: prettier --write, eslint --fix

[BO-CHAN-OOM-001] fix: lazy-load heavy modals to fix Vercel build OOM (Bug 0) (#808)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/ProductsModals.tsx
Due: prettier --write, eslint --fix

[BO-CONSULT-FIX-001] fix: consultation quote totals, fees order, email & unvalidate
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationToolbar.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/use-consultation-detail.ts
  apps/back-office/src/app/(protected)/factures/devis/[id]/DevisDialogs.tsx
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/back-office/src/app/api/qonto/quotes/route.helpers.ts
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/hooks/use-consultations.ts
  packages/@verone/finance/src/components/SendDocumentEmailModal.tsx
  packages/@verone/finance/src/components/send-document-helpers.ts
Due: prettier --write, eslint --fix

[INFRA-LOCAL-001] chore: gitignore .claude/local/ for personal runbooks
  .gitignore
Due: none

[BO-CHAN-OOM-002] fix: lazy-load all 13 sections of site-internet page (Bug 0)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/page.tsx
Due: prettier --write, eslint --fix

[BO-CONSULT-FIX-001] fix: consultation quote totals, fees order, email & unvalidate (#813)
  .gitignore
  apps/back-office/src/app/(protected)/consultations/[consultationId]/ConsultationToolbar.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/page.tsx
  apps/back-office/src/app/(protected)/consultations/[consultationId]/use-consultation-detail.ts
  apps/back-office/src/app/(protected)/factures/devis/[id]/DevisDialogs.tsx
  apps/back-office/src/app/(protected)/factures/devis/[id]/page.tsx
  apps/back-office/src/app/api/qonto/quotes/route.helpers.ts
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/hooks/use-consultations.ts
  packages/@verone/finance/src/components/SendDocumentEmailModal.tsx
  packages/@verone/finance/src/components/send-document-helpers.ts
Due: prettier --write, eslint --fix

[BO-CHAN-OOM-002] fix: lazy-load all 13 sections of site-internet page (Bug 0) (#814)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/page.tsx
Due: prettier --write, eslint --fix

[BO-CONSULT-FIX-002] fix: line margin uses shipping_cost as line total + show subtotals
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
Due: prettier --write, eslint --fix

[BO-CONSULT-FIX-002] feat: selling_shipping_cost + sample button + PDF margin sync
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
  packages/@verone/consultations/src/hooks/consultations-types.ts
  packages/@verone/consultations/src/hooks/use-consultation-items.ts
  packages/@verone/consultations/src/hooks/use-consultations.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260427170219_add_consultation_products_selling_shipping_cost.sql
Due: prettier --write, eslint --fix

[BO-CONSULT-FIX-002] fix: line margin uses shipping_cost as line total + show subtotals (#816)
  packages/@verone/consultations/src/components/interfaces/ConsultationOrderInterface.tsx
  packages/@verone/consultations/src/components/interfaces/ConsultationProductsTable.tsx
  packages/@verone/consultations/src/hooks/consultations-types.ts
  packages/@verone/consultations/src/hooks/use-consultation-items.ts
  packages/@verone/consultations/src/hooks/use-consultations.ts
  packages/@verone/consultations/src/pdf-templates/ConsultationMarginReportPdf.tsx
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260427170219_add_consultation_products_selling_shipping_cost.sql
Due: prettier --write, eslint --fix

[INFRA-PERF-001] docs: data-fetching rule + BO audit
  .claude/INDEX.md
  .claude/agent-memory/perf-optimizer/MEMORY.md
  .claude/rules/data-fetching.md
  CLAUDE.md
  docs/scratchpad/audit-2026-04-27-data-fetching-bo.md
Due: prettier --write

[BO-PERF-001] fix: 3 useEffect loops on archives/tabs (variantes + factures + expeditions)
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/use-variantes-page.ts
  apps/back-office/src/app/(protected)/stocks/expeditions/page.tsx
Due: prettier --write, eslint --fix

[BO-PERF-001] fix: 3 useEffect loops on archives/tabs (variantes + factures + expeditions) + data-fetching rule (#817)
  .claude/INDEX.md
  .claude/agent-memory/perf-optimizer/MEMORY.md
  .claude/rules/data-fetching.md
  CLAUDE.md
  apps/back-office/src/app/(protected)/factures/hooks/use-factures-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/use-variantes-page.ts
  apps/back-office/src/app/(protected)/stocks/expeditions/page.tsx
  docs/scratchpad/audit-2026-04-27-data-fetching-bo.md
Due: prettier --write, eslint --fix

[BO-VAR-FORM-001] feat: matrix product picker + hierarchy category selector in step 1
  docs/scratchpad/dev-report-2026-04-27-BO-VAR-FORM-001.md
  packages/@verone/products/src/components/wizards/VariantGroupCreationWizard.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep1Basic.tsx
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
