Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[INFRA-CI-001] fix: jeton Supabase pour la generation de types (drift)
  .github/workflows/quality.yml
Due: none

[INFRA-CI-001] fix: jeton Supabase pour la generation de types (drift) (#1086)
  .github/workflows/quality.yml
Due: none

[INFRA-CI-002] chore: aligner supabase.ts sur la generation CLI (retrait graphql_public)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[INFRA-CI-002] chore: aligner supabase.ts sur la génération CLI (graphql_public) (#1087)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[SI-CONTACT-001] feat: notifier l'équipe Vérone à chaque message de contact
  apps/site-internet/.env.example
  apps/site-internet/src/app/api/contact/route.ts
  apps/site-internet/src/app/api/emails/_shared/notify-whatsapp.ts
  apps/site-internet/src/app/api/emails/contact-admin-notification/route.ts
Due: prettier --write, eslint --fix

[SI-CONTACT-001] feat: notifier l'équipe Vérone à chaque message de contact (#1090)
  apps/site-internet/.env.example
  apps/site-internet/src/app/api/contact/route.ts
  apps/site-internet/src/app/api/emails/_shared/notify-whatsapp.ts
  apps/site-internet/src/app/api/emails/contact-admin-notification/route.ts
Due: prettier --write, eslint --fix

[SI-CONTACT-002] chore: retirer la notification WhatsApp en veille (contact)
  apps/linkme/.env.example
  apps/linkme/src/app/api/contact/unified/route.ts
  apps/site-internet/.env.example
  apps/site-internet/src/app/api/contact/route.ts
  apps/site-internet/src/app/api/emails/_shared/notify-whatsapp.ts
Due: prettier --write, eslint --fix

[SI-CONTACT-002] chore: retirer la notification WhatsApp en veille (contact) (#1091)
  apps/linkme/.env.example
  apps/linkme/src/app/api/contact/unified/route.ts
  apps/site-internet/.env.example
  apps/site-internet/src/app/api/contact/route.ts
  apps/site-internet/src/app/api/emails/_shared/notify-whatsapp.ts
Due: prettier --write, eslint --fix

[BO-COMPTA-001] fix: cohérence Bibliothèque (achats/ventes homogènes + filtre avoirs)
  packages/@verone/finance/src/hooks/use-library-documents.ts
  supabase/migrations/20260618100000_bo_compta_001_library_coherence.sql
Due: prettier --write, eslint --fix

[BO-COMPTA-001] feat: suivi transféré au comptable (colonnes tracking)
  supabase/migrations/20260618101000_bo_compta_001_accountant_transfer_tracking.sql
Due: none

[BO-COMPTA-001] fix: cohérence rapprochement (justif optionnelle 455 + contrainte intégrité)
  supabase/migrations/20260618102000_bo_compta_001_reconciliation_coherence.sql
Due: none

[BO-COMPTA-001] feat: routes API sync Qonto attachments + envoi comptable Welyb
  apps/back-office/.env.example
  apps/back-office/src/app/api/finance/send-to-accountant/route.ts
  apps/back-office/src/app/api/finance/sync-qonto-attachments/route.ts
  docs/scratchpad/dev-report-2026-06-18-BO-COMPTA-001-routes.md
Due: prettier --write, eslint --fix

[BO-COMPTA-001] feat: synchronisation comptable automatique quotidienne (cron)
  apps/back-office/src/app/api/cron/sync-comptabilite/route.ts
  apps/back-office/src/app/api/finance/sync-qonto-attachments/_lib/sync-attachments.ts
  apps/back-office/src/app/api/finance/sync-qonto-attachments/route.ts
  vercel.json
Due: prettier --write, eslint --fix

[BO-COMPTA-001] feat: écran de clôture comptable (cockpit Welyb)
  apps/back-office/src/app/(protected)/finance/cloture/_components/cloture-counters.tsx
  apps/back-office/src/app/(protected)/finance/cloture/_components/cloture-global-actions.tsx
  apps/back-office/src/app/(protected)/finance/cloture/_components/cloture-row-signals.tsx
  apps/back-office/src/app/(protected)/finance/cloture/_components/cloture-table.tsx
  apps/back-office/src/app/(protected)/finance/cloture/_components/cloture-upload-dialog.tsx
  apps/back-office/src/app/(protected)/finance/cloture/_components/cloture-vat-pcg-dialog.tsx
  apps/back-office/src/app/(protected)/finance/cloture/_components/welyb-plan-dialog.tsx
  apps/back-office/src/app/(protected)/finance/cloture/page.tsx
  apps/back-office/src/app/(protected)/finance/cloture/types.ts
  apps/back-office/src/app/(protected)/finance/cloture/use-cloture-data.ts
  apps/back-office/src/components/layout/app-sidebar/sidebar-nav-items.ts
Due: prettier --write, eslint --fix

[BO-COMPTA-001] docs: comptabilité bibliothèque, récup Qonto, transfert Welyb
  docs/current/finance/comptabilite-bibliotheque-et-transfert.md
Due: prettier --write

[BO-COMPTA-001] fix: brancher les adresses Welyb par défaut (préparation d'envoi ne plante plus)
  apps/back-office/src/app/api/finance/send-to-accountant/route.ts
Due: prettier --write, eslint --fix

[BO-COMPTA-001] refactor: promote shared comptable components to _shared-comptable (no behavior change)
  apps/back-office/src/app/(protected)/finance/_shared-comptable/cloture-counters.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/cloture-global-actions.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/cloture-row-signals.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/cloture-upload-dialog.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/cloture-vat-pcg-dialog.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/types.ts
  apps/back-office/src/app/(protected)/finance/_shared-comptable/use-cloture-data.ts
  apps/back-office/src/app/(protected)/finance/_shared-comptable/welyb-plan-dialog.tsx
  apps/back-office/src/app/(protected)/finance/cloture/_components/cloture-table.tsx
  apps/back-office/src/app/(protected)/finance/cloture/page.tsx
Due: prettier --write, eslint --fix

[BO-COMPTA-001] feat: cockpit comptable sur Finance/Bibliothèque (statuts, dépôt pièce, TVA/PCG, Welyb, synchro Qonto réparée)
  apps/back-office/src/app/(protected)/finance/_shared-comptable/card-signal-badge.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/use-cloture-data.ts
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/document-card.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/document-list.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/library-header.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/library-toolbar.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/missing-documents-section.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/page.tsx
Due: prettier --write, eslint --fix

[BO-COMPTA-001] docs: dev-report cockpit Bibliothèque + vérif Playwright
  docs/scratchpad/dev-report-2026-06-24-BO-COMPTA-001-bibliotheque-cockpit.md
Due: prettier --write

[BO-COMPTA-002] fix: journal envoi Welyb (CHECK document_emails) + affichage statut transféré (JWT session) + priorité pastille Envoyé
  apps/back-office/src/app/(protected)/finance/_shared-comptable/card-signal-badge.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/use-cloture-data.ts
  supabase/migrations/20260625120000_bo_compta_002_document_emails_batch_type.sql
Due: prettier --write, eslint --fix

[BO-COMPTA-002] docs: rapport test envoi réel Welyb + anti-double-envoi
  docs/scratchpad/dev-report-2026-06-25-BO-COMPTA-002-test-envoi-welyb.md
Due: prettier --write

[BO-COMPTA-003] feat: envoi réel Welyb depuis l'écran + dépôt = rapprochement immédiat
  apps/back-office/src/app/(protected)/finance/_shared-comptable/cloture-global-actions.tsx
  apps/back-office/src/app/(protected)/finance/_shared-comptable/types.ts
  apps/back-office/src/app/(protected)/finance/_shared-comptable/welyb-plan-dialog.tsx
  apps/back-office/src/app/api/finance/send-to-accountant/route.ts
  apps/back-office/src/app/api/qonto/attachments/upload/route.ts
  docs/scratchpad/dev-plan-2026-06-27-BO-COMPTA-003-flux-2025-fixes.md
  docs/scratchpad/dev-report-2026-06-25-BO-COMPTA-002-test-envoi-welyb.md
  docs/scratchpad/dev-report-2026-06-26-BO-COMPTA-audit-transfert-2025.md
Due: prettier --write, eslint --fix

[BO-COMPTA-003] docs: maj plan de reprise — FIX1 vérifié écran, FIX2 à tester avec Roméo
  docs/scratchpad/dev-plan-2026-06-27-BO-COMPTA-003-flux-2025-fixes.md
Due: prettier --write

[BO-COMPTA-003] docs: trace envoi réel Welyb Achats 2025 (37 pièces, 2 lots, delivered)
  docs/scratchpad/trace-2026-06-27-envoi-welyb-achats-2025.md
Due: prettier --write

[BO-COMPTA-003] fix: borne fin d'année envoi Welyb (.lt year+1) + trace envoi 9 achats 2025
  apps/back-office/src/app/api/finance/send-to-accountant/route.ts
  docs/scratchpad/trace-2026-06-29-envoi-welyb-achats-2025-complement.md
Due: prettier --write, eslint --fix

[BO-COMPTA-003] chore: régénération types Supabase (drift) — colonnes transferred_to_accountant_*
  docs/scratchpad/dev-plan-2026-06-27-BO-COMPTA-003-flux-2025-fixes.md
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-COMPTA-003] fix: vignettes — afficher les justificatifs image (reçus photo)
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/document-card.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/document-modal.tsx
  apps/back-office/src/app/(protected)/finance/bibliotheque/_components/pdf-preview.tsx
Due: prettier --write, eslint --fix

[BO-COMPTA-003] docs: maj plan — vignettes, types, jeton CI faits
  docs/scratchpad/dev-plan-2026-06-27-BO-COMPTA-003-flux-2025-fixes.md
Due: prettier --write

[BO-COMPTA-003] chore: types Supabase byte-for-byte conformes CI (artefact drift)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[SITE-RECTIF-001] fix: corrections pré-promotion veronecollections.fr
  RECTIV.MD
  apps/site-internet/src/app/api/emails/delivery-confirmation/route.ts
  apps/site-internet/src/app/api/emails/win-back/route.ts
  apps/site-internet/src/app/checkout/components/CheckoutShippingForm.tsx
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/app/collections/[slug]/layout.tsx
  apps/site-internet/src/app/confidentialite/page.tsx
  apps/site-internet/src/app/cookies/page.tsx
  apps/site-internet/src/app/journal/[slug]/page.tsx
  apps/site-internet/src/app/layout.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductAccordions.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductCrossSell.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductSidebar.tsx
  apps/site-internet/src/app/produit/[id]/layout.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/app/robots.ts
  apps/site-internet/src/app/sitemap.ts
  apps/site-internet/src/components/home/HeroSection.tsx
  apps/site-internet/src/components/journal/ArticleShareBar.tsx
  apps/site-internet/src/components/seo/JsonLdArticle.tsx
  apps/site-internet/src/components/seo/JsonLdBreadcrumbList.tsx
  apps/site-internet/src/components/seo/JsonLdOrganization.tsx
  apps/site-internet/src/components/seo/JsonLdProduct.tsx
  docs/scratchpad/dev-report-2026-07-01-SITE-RECTIF-001.md
  supabase/migrations/20260701100000_site_rectif_001_product_description.sql
  supabase/migrations/20260701101000_site_rectif_001_content.sql
Due: prettier --write, eslint --fix

[SITE-RECTIF-001] fix: corrections pré-promotion veronecollections.fr (#1097)
  RECTIV.MD
  apps/site-internet/src/app/api/emails/delivery-confirmation/route.ts
  apps/site-internet/src/app/api/emails/win-back/route.ts
  apps/site-internet/src/app/checkout/components/CheckoutShippingForm.tsx
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/app/collections/[slug]/layout.tsx
  apps/site-internet/src/app/confidentialite/page.tsx
  apps/site-internet/src/app/cookies/page.tsx
  apps/site-internet/src/app/journal/[slug]/page.tsx
  apps/site-internet/src/app/layout.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductAccordions.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductCrossSell.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductSidebar.tsx
  apps/site-internet/src/app/produit/[id]/layout.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/app/robots.ts
  apps/site-internet/src/app/sitemap.ts
  apps/site-internet/src/components/home/HeroSection.tsx
  apps/site-internet/src/components/journal/ArticleShareBar.tsx
  apps/site-internet/src/components/seo/JsonLdArticle.tsx
  apps/site-internet/src/components/seo/JsonLdBreadcrumbList.tsx
  apps/site-internet/src/components/seo/JsonLdOrganization.tsx
  apps/site-internet/src/components/seo/JsonLdProduct.tsx
  docs/scratchpad/dev-report-2026-07-01-SITE-RECTIF-001.md
  supabase/migrations/20260701100000_site_rectif_001_product_description.sql
  supabase/migrations/20260701101000_site_rectif_001_content.sql
Due: prettier --write, eslint --fix

[SITE-UI-001] fix: replace PNG logo with font-bodoni wordmark in header and mobile nav
  RECTIV.MD
  apps/site-internet/src/components/layout/Header.tsx
  apps/site-internet/src/components/layout/MobileNav.tsx
  docs/scratchpad/prompt-claude-code-logo-site-internet.md
Due: prettier --write, eslint --fix

[SITE-UI-001] fix: replace PNG logo with font-bodoni wordmark in header and mobile nav (#1098)
  RECTIV.MD
  apps/site-internet/src/components/layout/Header.tsx
  apps/site-internet/src/components/layout/MobileNav.tsx
  docs/scratchpad/prompt-claude-code-logo-site-internet.md
Due: prettier --write, eslint --fix

[SITE-CLEANUP-001] chore: retirer RECTIV.MD (suivi consolidé dans ACTIVE.md)
  RECTIV.MD
Due: none

[SITE-CLEANUP-001] chore: retirer RECTIV.MD (suivi consolidé dans ACTIVE.md) (#1099)
  RECTIV.MD
Due: none

[SITE-UI-002] fix: wordmark Balgin PNG partout (header, mobile nav, footer)
  apps/site-internet/public/logo-verone-clean.png
  apps/site-internet/src/components/layout/Footer.tsx
  apps/site-internet/src/components/layout/Header.tsx
  apps/site-internet/src/components/layout/MobileNav.tsx
  docs/scratchpad/dev-report-2026-07-01-SITE-RECTIF-001.md
  docs/scratchpad/prompt-claude-code-logo-site-internet.md
Due: prettier --write, eslint --fix

[SITE-UI-002] fix: wordmark Balgin PNG partout (header, mobile nav, footer) (#1100)
  apps/site-internet/public/logo-verone-clean.png
  apps/site-internet/src/components/layout/Footer.tsx
  apps/site-internet/src/components/layout/Header.tsx
  apps/site-internet/src/components/layout/MobileNav.tsx
  docs/scratchpad/dev-report-2026-07-01-SITE-RECTIF-001.md
  docs/scratchpad/prompt-claude-code-logo-site-internet.md
Due: prettier --write, eslint --fix

[SITE-UI-003] fix: revalidate content pages so CMS edits go live
  apps/site-internet/src/app/cgv/page.tsx
  apps/site-internet/src/app/faq/page.tsx
  apps/site-internet/src/app/livraison/page.tsx
  apps/site-internet/src/app/mentions-legales/page.tsx
  apps/site-internet/src/app/page.tsx
  apps/site-internet/src/app/retours/page.tsx
Due: prettier --write, eslint --fix
