Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/hooks/use-*.ts": [
    "node scripts/validation/check-duplicate-hooks.ts"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: Protect Phase 1 validated code
  .github/CODEOWNERS
  PROTECTED_FILES.json
  docs/modules/organisations/README.md
Due: prettier --write

perf: Atteindre 100% SLO ActivityStats (<500ms via RPC)
  docs/database/SCHEMA-REFERENCE.md
  docs/database/functions-rpc.md
  docs/database/migrations/README.md
  docs/database/pricing-architecture.md
  docs/database/triggers.md
  src/hooks/use-user-activity-tracker.ts
  supabase/migrations/20251025_004_rpc_activity_stats.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix: Corrections TypeScript prioritaires (-4 erreurs)
  RAPPORT-ERREURS-TYPESCRIPT-2025-10-25.md
  src/app/canaux-vente/google-merchant/page.tsx
  src/app/factures/[id]/page.tsx
  src/lib/google-merchant/product-mapper.ts
Due: eslint --fix, prettier --write

fix(types): Align database.ts with PostgreSQL schema (-52 TypeScript errors)
  src/app/api/packlink/create-shipment/route.ts
  src/app/commandes/fournisseurs/page.tsx
  src/app/consultations/[consultationId]/page.tsx
  src/app/consultations/create/page.tsx
  src/app/finance/depenses/[id]/page.tsx
  src/app/notifications/page.tsx
  src/components/business/address-input.tsx
  src/components/business/client-assignment-selector.tsx
  src/components/business/confirm-delete-organisation-modal.tsx
  src/components/business/contact-edit-section.tsx
  src/components/business/organisation-card.tsx
  src/components/business/organisation-list-view.tsx
  src/hooks/use-customers.ts
  src/hooks/use-financial-documents.ts
  src/hooks/use-purchase-orders.ts
  src/hooks/use-sales-shipments.ts
  src/lib/utils/organisation-helpers.ts
  src/types/database.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(routes): Correct navigation URLs for Collections & Variantes pages
  src/app/produits/catalogue/collections/page.tsx
  src/app/produits/catalogue/variantes/page.tsx
  src/components/layout/app-sidebar.tsx
Due: eslint --fix, prettier --write

chore(cleanup): Complete Sentry removal - Zero traces remaining
  .claude/settings.json
  .claude/workflows/agent-orchestration-matrix.md
  .env.example
  .github/VERCEL_FIX_GUIDE.md
  .github/workflows/deploy-production.yml
  .github/workflows/monitoring-2025.yml
  .serena/memories/mcp-playwright-browser-sentry-workflow-2025-final.md
  .serena/memories/mcp-playwright-sentry-workflow-2025.md
  .serena/memories/sentry-mcp-fix-2025-session.md
  .serena/memories/sentry-mcp-oauth-config-success-2025.md
  .serena/memories/sentry-mcp-remote-config-fix-2025.md
  RAPPORT-AUDIT-COMPLET-2025-10-25.md
  audit-results-temp.txt
  docs/monitoring/SENTRY-ANALYSIS-RECOMMENDATIONS-2025.md
  next.config.js
  scripts/test-all-pages.mjs
  src/app/api/webhooks/qonto/route.ts
  src/app/produits/catalogue/collections/page.tsx
  src/app/produits/catalogue/variantes/page.tsx
  src/components/business/category-filter-combobox.tsx
  src/components/layout/page-header.tsx
  src/hooks/use-sentry-status.ts
  src/lib/mcp/playwright-integration.ts
  src/lib/security/headers.js
  src/lib/security/headers.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

refactor(monitoring): Nettoyage propre des références Sentry
  src/lib/upload/image-optimization.ts
  src/lib/upload/upload-performance-monitor.ts
Due: eslint --fix, prettier --write

fix(variant-groups): Affichage complet catégorisation et fournisseur
  src/app/produits/catalogue/variantes/[groupId]/page.tsx
  src/components/business/variant-group-edit-modal.tsx
  src/components/forms/VariantGroupForm.tsx
  src/hooks/use-variant-groups.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

docs(monitoring): Mise à jour documentation approche Vercel + Console (sans Sentry)
  .claude/agents/verone-code-reviewer.md
  .claude/agents/verone-debugger.md
  .claude/agents/verone-performance-optimizer.md
  .claude/agents/verone-security-auditor.md
  .claude/security/yolo-mode-secure.md
  .claude/workflows/agent-orchestration-matrix.md
  .serena/memories/monitoring-console-vercel-approach-2025.md
Due: prettier --write

fix(sourcing): Ajout modal QuickSourcing + trigger statut sourcing
  src/app/produits/sourcing/produits/page.tsx
  src/components/business/quick-sourcing-modal.tsx
  supabase/migrations/20251026_fix_sourcing_product_status.sql
Due: eslint --fix, prettier --write

docs(produits): Documentation complète module Produits - 21 fichiers (~6500 lignes)
  docs/modules/produits/README.md
  docs/modules/produits/catalogue/README.md
  docs/modules/produits/catalogue/components.md
  docs/modules/produits/catalogue/hooks.md
  docs/modules/produits/catalogue/workflows.md
  docs/modules/produits/categories/README.md
  docs/modules/produits/categories/hooks.md
  docs/modules/produits/collections/README.md
  docs/modules/produits/collections/components.md
  docs/modules/produits/collections/hooks.md
  docs/modules/produits/conditionnements/README.md
  docs/modules/produits/conditionnements/hooks.md
  docs/modules/produits/images/README.md
  docs/modules/produits/images/hooks.md
  docs/modules/produits/sourcing/README.md
  docs/modules/produits/sourcing/components.md
  docs/modules/produits/sourcing/hooks.md
  docs/modules/produits/sourcing/workflows.md
  docs/modules/produits/variantes/README.md
  docs/modules/produits/variantes/components.md
  docs/modules/produits/variantes/hooks.md
Due: prettier --write

fix(types): Correction de 7 erreurs TypeScript dans pages testées
  src/app/actions/consultations.ts
  src/app/actions/purchase-orders.ts
  src/app/commandes/expeditions/page.tsx
  src/app/commandes/fournisseurs/page.tsx
  src/app/consultations/create/page.tsx
  src/app/contacts-organisations/customers/[customerId]/page.tsx
  src/app/contacts-organisations/partners/[partnerId]/page.tsx
  src/app/contacts-organisations/suppliers/[supplierId]/page.tsx
  src/app/stocks/page.tsx
  src/app/tresorerie/page.tsx
  src/hooks/use-consultations.ts
  src/hooks/use-purchase-orders.ts
  src/types/database.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): Correction de 9 erreurs TypeScript simples (Batch 3)
  src/app/produits/catalogue/archived/page.tsx
  src/app/produits/sourcing/validation/page.tsx
  src/app/stocks/alertes/page.tsx
Due: eslint --fix, prettier --write

fix(types): Correction de 6 erreurs TypeScript avec suggestions (Batch 4)
  src/app/produits/catalogue/page.tsx
  src/app/stocks/mouvements/page.tsx
  src/components/business/stocks-error-integration.tsx
  src/components/ui/calendar.tsx
Due: eslint --fix, prettier --write

fix(types): Correction de 9 erreurs Parameter any implicites (Batch 5)
  src/components/business/channel-selector.tsx
  src/components/business/price-list-item-form-modal.tsx
  src/components/business/unified-description-edit-section.tsx
  src/components/testing/error-analytics-dashboard.tsx
Due: eslint --fix, prettier --write

fix(types): Correction de 10 erreurs Parameter any implicites (Batch 6)
  src/components/business/error-reporting-dashboard.tsx
  src/components/testing/error-detection-panel.tsx
Due: eslint --fix, prettier --write

fix(types): Correction de 6 erreurs mixtes (Batch 7)
  src/components/business/complete-product-wizard.tsx
  src/components/ui/command-palette.tsx
  src/hooks/use-error-reporting.ts
  src/lib/ai/business-predictions.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): Correction de 5 erreurs propriétés invalides (Batch 8)
  src/app/canaux-vente/google-merchant/page.tsx
  src/components/business/add-product-modal.tsx
  src/components/business/consultation-order-interface.tsx
  src/components/business/error-report-modal.tsx
  src/components/business/financial-payment-form.tsx
Due: eslint --fix, prettier --write

fix(types): Correction erreur logger.error avec string au lieu de Error object
  src/app/canaux-vente/google-merchant/page.tsx
Due: eslint --fix, prettier --write

docs(typescript): Workflow professionnel 2025 + agent + 3 commandes slash
  .claude/agents/verone-typescript-fixer.md
  .claude/commands/README.md
  .claude/commands/typescript-cluster.md
  .claude/commands/typescript-fix.md
  .claude/commands/typescript-status.md
  CLAUDE.md
Due: prettier --write

refactor(commands): Simplification 14→7 commandes pour utilisateur novice
  .claude/commands/README.md
  .claude/commands/audit-module.md
  .claude/commands/check-errors.md
  .claude/commands/context-update.md
  .claude/commands/feature-start.md
  .claude/commands/plan.md
  .claude/commands/session-summary.md
  .claude/commands/ship.md
  .claude/commands/test-critical.md
Due: prettier --write

feat(typescript): Phase 1 Setup - Clustering automatique 975 erreurs
  .github/workflows/typescript-quality.yml
  TS_ERRORS_PLAN.md
  error-clusters.json
  scripts/cluster-ts-errors.js
Due: prettier --write

fix(types): [TS7006] Implicit any parameters - 16 erreurs résolues (975→959)
  TS_ERRORS_PLAN.md
  src/components/testing/error-detection-panel.tsx
  src/hooks/use-archived-products.ts
  src/hooks/use-error-reporting-integration.ts
  src/hooks/use-smart-suggestions.ts
  src/lib/validation/form-security.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): [TS2339-room_category] Retirer room_category obsolète de Collection - 20 erreurs résolues (959→939)
  src/app/produits/catalogue/collections/page.tsx
  src/components/business/collection-edit-modal.tsx
  src/hooks/use-smart-suggestions.ts
  src/types/collections.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): [TS2339-variant-group] Ajouter common_dimensions et common_weight à VariantGroup - 20 erreurs résolues (939→919)
  src/types/variant-groups.ts
Due: eslint --fix, prettier --write

fix(types): Ajouter propriété 'name' calculée à Organisation (GROUPE 3)
  src/hooks/use-organisations.ts
  src/hooks/use-sales-orders.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): Ajouter propriétés stock/images/supplier_name à Product (GROUPE 4)
  src/hooks/use-catalogue.ts
  src/hooks/use-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(ts): GROUPE 5 - Formulaires organisation name→legal_name (-10 erreurs)
  src/components/business/create-organisation-modal.tsx
  src/components/business/customer-form-modal.tsx
  src/components/business/partner-form-modal.tsx
  src/components/business/supplier-form-modal.tsx
Due: eslint --fix, prettier --write

fix(ts): GROUPE 6 - Relations organisations + SelectQueryErrors (-7 erreurs)
  src/components/business/universal-order-details-modal.tsx
  src/hooks/metrics/use-order-metrics.ts
  src/hooks/use-sales-orders.ts
  src/hooks/use-sales-shipments.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(ts): GROUPE 6b - SelectQueryErrors 'name' restants (-5 erreurs)
  src/hooks/use-bank-reconciliation.ts
  src/hooks/use-sales-dashboard.ts
  src/hooks/use-stock-dashboard.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 7 - Replace price_ht with minimumSellingPrice (883→874, -9)
  src/app/produits/catalogue/stocks/page.tsx
  src/components/business/sales-order-form-modal.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 8a - Add missing fields to Organisation type (38→4 org fields errors)
  src/components/business/unified-organisation-form.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 8b - Add website to SourcingProduct.supplier type (870→866, -4)
  src/hooks/use-sourcing-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 9a - Return VariantGroup instead of boolean (866→863, -4 id errors)
  src/hooks/use-variant-groups.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 9 - Type error catch blocks avec 'error: any' (863→854, -9 'message' errors)
  src/components/business/contacts-management-section.tsx
  src/components/forms/CategoryForm.tsx
  src/components/forms/FamilyForm.tsx
  src/components/forms/ImageUpload.tsx
  src/components/forms/SubcategoryForm.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 10 - Type explicite fetchOrder avec organisations (854→836, -18)
  src/hooks/use-sales-orders.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): GROUPE 12 - Ajouter postal_code/city/region à Organisation (836→834)
  src/components/business/unified-organisation-form.tsx
Due: eslint --fix, prettier --write

fix(types): GROUPE 13a - Add .single() to variant-groups queries (834→830, -4)
  src/hooks/use-variant-groups.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts
