Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-ORD-003] fix: link individual customers to their sales orders
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  supabase/migrations/20260218120000_fix_sales_orders_individual_customer_links.sql
Due: prettier --write, eslint --fix

[BO-ORD-004] fix: add missing order items and shipping costs
  supabase/migrations/20260218130000_fix_missing_order_items_and_shipping.sql
Due: none

[BO-STK-001] fix: stock alerts using obsolete stock_quantity column
  supabase/migrations/20260218170000_fix_stock_alerts_use_stock_real.sql
Due: none

[BO-STK-002] fix: backfill stock costs and fix reception trigger
  supabase/migrations/20260218180000_backfill_stock_costs_and_fix_trigger.sql
Due: none

[BO-PRICING-001] feat: add NET cost prices to product detail and fix nullable customer_id types
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-order-actions.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  apps/back-office/src/app/api/sales-orders/[id]/customer-address/route.ts
  packages/@verone/common/src/components/pricing/SupplierVsPricingEditSection.tsx
  packages/@verone/dashboard/src/hooks/metrics/use-order-metrics.ts
  packages/@verone/finance/src/components/OrderSelectModal.tsx
  packages/@verone/finance/src/hooks/use-bank-reconciliation.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260218200000_add_cost_net_columns.sql
Due: prettier --write, eslint --fix

[BO-STK-003] fix: create stock OUT movements for 7 shipped individual sales orders
  supabase/migrations/20260218210000_create_stock_out_individual_sales.sql
Due: none

[BO-PROFIT-001] feat: add product profitability accordion to product detail page
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
  packages/@verone/products/src/components/sections/ProductProfitabilitySection.tsx
  packages/@verone/products/src/components/sections/index.ts
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-product-profitability.ts
Due: prettier --write, eslint --fix

[BO-ZEN-001] feat: cleanup Zentrada data and enter invoice 323060
  supabase/migrations/20260218160000_zentrada_invoice_323060.sql
Due: none

[BO-STK-001] chore: add auto_sync_stock_status migration file
  supabase/migrations/20260218140000_auto_sync_stock_status.sql
Due: none

[NO-TASK] fix: resolve merge type errors (pending_approval, order fields)
  packages/@verone/orders/src/components/SalesOrdersTable.tsx
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  packages/@verone/orders/src/hooks/use-sales-orders.ts
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-FIN-001] fix: restore treasury page at /finance/tresorerie (#198)
  apps/back-office/next.config.js
  apps/back-office/src/app/(protected)/finance/tresorerie/page.tsx
  apps/back-office/src/app/(protected)/tresorerie/page.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] docs: consolidate LinkMe documentation into single source of truth
  docs/archive/2026-02/audit-commissions-linkme-2026-02-10.md
  docs/archive/2026-02/linkme-analyse1.md
  docs/archive/2026-02/linkme-analyse2.md
  docs/archive/2026-02/linkme-analyse3.md
  docs/archive/2026-02/rapport-tests-manuels-linkme.md
  docs/critical/linkme-public-selection-routing.md
  docs/current/business-rules-linkme.md
  docs/current/linkme-storage.md
  docs/current/linkme-traffic-lights.md
  docs/current/linkme-webhooks.md
  docs/current/linkme/GUIDE-COMPLET-LINKME.md
  docs/current/serena/INDEX.md
  docs/current/serena/linkme-architecture.md
  docs/current/serena/linkme-commissions.md
  docs/linkme-affiliate-products-commission.md
  docs/linkme-invoice-verification-workflow.md
Due: prettier --write

[LM-DOC-001] feat: add toast confirmations on Quick-Complete inline edits
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: replace EnseigneGeographySection with EnseigneMapSection
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] docs: add rule "no selection = no order" + B&W incident
  docs/current/business-rules-linkme.md
  docs/current/serena/linkme-commissions.md
Due: prettier --write

[LM-DOC-001] fix: validate logo_url before using in Image component
  apps/linkme/src/components/shared/MapPopupCard.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: catalogue page refactor + OrgBrowseModal + MapSection + supabase types
  apps/back-office/package.json
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/ProductDetailHeader.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/globals.css
  apps/back-office/src/lib/security/headers.ts
  packages/@verone/categories/src/hooks/use-catalogue.ts
  packages/@verone/organisations/src/components/modals/OrgBrowseModal.tsx
  packages/@verone/organisations/src/components/modals/index.ts
  packages/@verone/organisations/src/components/sections/EnseigneDetailHeader.tsx
  packages/@verone/organisations/src/components/sections/EnseigneMapSection.tsx
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/types/src/supabase.ts
  pnpm-lock.yaml
  supabase/migrations/20260219110000_add_has_images_column.sql
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: add EnseigneMapSection with MapLibre interactive map
  packages/@verone/organisations/package.json
  packages/@verone/organisations/src/components/sections/EnseigneMapSection.tsx
  packages/@verone/organisations/src/components/sections/index.ts
  packages/@verone/organisations/src/hooks/index.ts
  packages/@verone/organisations/src/hooks/use-enseigne-map-data.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: add Quick-Complete inline editing on incomplete product cards
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/products/src/components/cards/index.ts
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: reclassify 24 service providers as partner + fill trade_name
  packages/@verone/finance/src/components/OrganisationLinkingModal.tsx
  packages/@verone/finance/src/components/RuleModal.tsx
  supabase/migrations/20260219100000_reclassify_suppliers_to_partners.sql
  supabase/migrations/20260219100100_search_orgs_multi_type.sql
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: fix KPI CA=0 bug + add year filter + entity documentation
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/page.tsx
  docs/current/02-architecture.md
  docs/current/back-office-entities-index.md
  packages/@verone/organisations/src/components/sections/EnseigneKPIGrid.tsx
  packages/@verone/organisations/src/hooks/use-enseigne-stats.ts
Due: prettier --write, eslint --fix

[LM-DOC-001] chore: audit Qonto integration + restore docs + fix technical debt
  apps/back-office/src/app/api/qonto/credit-notes/[id]/finalize/route.ts
  apps/back-office/src/app/api/qonto/credit-notes/[id]/pdf/route.ts
  apps/back-office/src/app/api/qonto/credit-notes/[id]/route.ts
  apps/back-office/src/app/api/qonto/credit-notes/[id]/send/route.ts
  apps/back-office/src/app/api/qonto/credit-notes/route.ts
  docs/integrations/qonto/GUIDE-COMPLET-API-QONTO.md
  docs/integrations/qonto/archive/INDEX.md
  docs/integrations/qonto/archive/finance-v2/FINANCE_V2.md
  docs/integrations/qonto/archive/finance-v2/FINANCE_V2_DB_MAPPING.md
  docs/integrations/qonto/archive/finance-v2/FINANCE_V2_OPERATIONS.md
  docs/integrations/qonto/archive/finance-v2/FINANCE_V2_RELEASE_NOTES.md
  docs/integrations/qonto/archive/finance-v2/FINANCE_V2_RESTORE.md
  docs/integrations/qonto/archive/finance-v2/FINANCE_V2_VALIDATION_CHECKLIST.md
  docs/integrations/qonto/archive/finance-v2/README_FINANCE.md
  docs/integrations/qonto/archive/finance-v2/pcg-categories-reference.md
  docs/integrations/qonto/archive/finance-v2/qonto-auth.md
  docs/integrations/qonto/archive/guides/QONTO-API-CONFIGURATION-COMPLETE.md
  docs/integrations/qonto/archive/linkme-invoice-verification-workflow.md
  docs/integrations/qonto/archive/serena-snapshots/facturation-qonto-audit-critique-2026-01.md
  docs/integrations/qonto/archive/serena-snapshots/qonto-documents-roadmap-2026-01.md
  docs/integrations/qonto/archive/serena-snapshots/qonto-invoices-never-finalize-2026-01-07.md
  packages/@verone/integrations/src/qonto/client.ts
  packages/@verone/integrations/src/qonto/errors.ts
Due: prettier --write, eslint --fix

Revert "[LM-DOC-001] fix: correct Qonto API types for invoice/credit-note/quote items"
  apps/back-office/src/app/api/qonto/credit-notes/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/convert-to-quote/route.ts
  packages/@verone/integrations/src/qonto/types.ts
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: replace basic AlertDialog with CreditNoteCreateModal for credit note creation
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: refonte UI page facture détail + fix affichage
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: corrections données facture détail sans toucher au layout
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
  packages/@verone/ui-business/src/components/finance/StatusPill.tsx
Due: prettier --write, eslint --fix

Revert "[LM-DOC-001] feat: refonte UI page facture détail + fix affichage"
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: translate Qonto statuses + replace broken credit note creation with info modal
  apps/back-office/src/app/(protected)/factures/qonto/page.tsx
  apps/back-office/src/app/api/qonto/credit-notes/[id]/finalize/route.ts
  apps/back-office/src/app/api/qonto/credit-notes/route.ts
  packages/@verone/finance/src/components/CreditNoteCreateModal.tsx
  packages/@verone/integrations/src/qonto/client.ts
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: expose real API errors for credit notes + reduce Realtime log noise
  apps/back-office/src/app/(protected)/factures/[id]/page.tsx
  packages/@verone/notifications/src/hooks/use-linkme-pending-count.ts
  packages/@verone/notifications/src/hooks/use-orders-pending-count.ts
  packages/@verone/notifications/src/hooks/use-products-incomplete-count.ts
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: correct Qonto API types for invoice/credit-note/quote items
  apps/back-office/src/app/api/qonto/credit-notes/route.ts
  apps/back-office/src/app/api/qonto/invoices/[id]/convert-to-quote/route.ts
  packages/@verone/integrations/src/qonto/types.ts
Due: prettier --write, eslint --fix

[LM-DOC-001] feat: partial payment display + invoice guard + LinkMe PaymentSection
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/page.tsx
  apps/back-office/src/app/(protected)/commandes/clients/[id]/page.tsx
  packages/@verone/finance/src/components/RapprochementModal.tsx
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: OrderDetailModal - addresses, shipping status, remove duplicate buttons
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: keep photo modal open after each upload
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: guard rpcResult undefined + expand input widths in SalesOrderFormModal
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
Due: prettier --write, eslint --fix

[LM-DOC-001] fix: free-typing QuantityInput in UniversalProductSelectorV2
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2.tsx
Due: prettier --write, eslint --fix
