Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[BO-VAR-FORM-002] docs: dev plan — enrich matrix product auto-fill
  docs/scratchpad/dev-plan-2026-04-30-BO-VAR-FORM-002.md
Due: prettier --write

[BO-VAR-FORM-002] fix: remove unsupported variant_type options (size, pattern)
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/[groupId]/components/VariantGroupInfoCard.tsx
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] feat: edit modal supports common material and color
  packages/@verone/products/src/components/modals/VariantGroupEditModal.tsx
  packages/@verone/products/src/components/modals/variant-group-edit/VariantGroupCommonPropsSection.tsx
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] feat: common material and color (variant_type-aware)
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/[groupId]/components/VariantGroupInfoCard.tsx
  packages/@verone/products/src/components/modals/VariantAddProductModal.tsx
  packages/@verone/products/src/components/wizards/VariantGroupCreationWizard.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep1Basic.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep3Supplier.tsx
  packages/@verone/products/src/hooks/types/variant-group.types.ts
  packages/@verone/products/src/hooks/use-variant-group-crud.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/types/src/variant-groups.ts
  supabase/migrations/20260430_add_common_material_and_color_to_variant_groups.sql
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] fix: reviewer findings (touch target + text size + has_common_weight respect)
  docs/scratchpad/dev-report-2026-04-30-BO-VAR-FORM-002.md
  packages/@verone/products/src/components/wizards/VariantGroupCreationWizard.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep1Basic.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep3Supplier.tsx
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] docs: dev report sprint A+B+C
  docs/scratchpad/dev-report-2026-04-30-BO-VAR-FORM-002.md
Due: prettier --write

[BO-VAR-FORM-002] fix: select common_material/common_color in list+archive hooks
  packages/@verone/products/src/hooks/use-variant-group-archive.ts
  packages/@verone/products/src/hooks/use-variant-groups.ts
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] feat: prefill search + exclude products already in variant group
  packages/@verone/products/src/components/modals/VariantAddProductModal.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/index.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/types.ts
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/useProductSearch.ts
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] fix: attach matrix product to variant group on creation
  packages/@verone/products/src/components/wizards/VariantGroupCreationWizard.tsx
  packages/@verone/products/src/hooks/use-variant-group-crud.ts
  packages/@verone/types/src/variant-groups.ts
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] docs: dev report sprint 2
  docs/scratchpad/dev-report-2026-04-30-BO-VAR-FORM-002.md
Due: prettier --write

[BO-VAR-FORM-002] feat: enrich matrix product auto-fill (weight, dimensions, style, rooms, cost_price, supplier)
  packages/@verone/products/src/components/wizards/VariantGroupCreationWizard.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep1Basic.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep3Supplier.tsx
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] feat: propagate common_material/common_color to products
  packages/@verone/products/src/hooks/use-variant-group-crud.ts
  packages/@verone/products/src/hooks/use-variant-products.ts
  packages/@verone/products/src/hooks/utils/variant-group-propagation.ts
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] feat: opt-in checkbox to include common material/color in product name
  packages/@verone/products/src/components/modals/VariantAddProductModal.tsx
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] fix: actually call addProductToVariantGroup in onSubmit
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/VariantesModals.tsx
Due: prettier --write, eslint --fix

[BO-VAR-CACHE-001] fix: refresh archived list synchronously after archive/unarchive/delete
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/use-variantes-page.ts
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] chore: align supabase.ts with staging (post-#865 manufacturer rename)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-VAR-CACHE-001] fix: refresh archived list synchronously after archive/unarchive/delete (#866)
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/use-variantes-page.ts
Due: prettier --write, eslint --fix

[BO-VAR-FORM-002] feat: enrich matrix product auto-fill (weight/dimensions/style/rooms/supplier/cost) [DRAFT] (#861)
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/VariantesModals.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/[groupId]/components/VariantGroupInfoCard.tsx
  docs/scratchpad/dev-plan-2026-04-30-BO-VAR-FORM-002.md
  docs/scratchpad/dev-report-2026-04-30-BO-VAR-FORM-002.md
  packages/@verone/products/src/components/modals/VariantAddProductModal.tsx
  packages/@verone/products/src/components/modals/VariantGroupEditModal.tsx
  packages/@verone/products/src/components/modals/variant-group-edit/VariantGroupCommonPropsSection.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/index.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/types.ts
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/useProductSearch.ts
  packages/@verone/products/src/components/wizards/VariantGroupCreationWizard.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep1Basic.tsx
  packages/@verone/products/src/components/wizards/variant-group-creation/WizardStep3Supplier.tsx
  packages/@verone/products/src/hooks/types/variant-group.types.ts
  packages/@verone/products/src/hooks/use-variant-group-archive.ts
  packages/@verone/products/src/hooks/use-variant-group-crud.ts
  packages/@verone/products/src/hooks/use-variant-groups.ts
  packages/@verone/products/src/hooks/use-variant-products.ts
  packages/@verone/products/src/hooks/utils/variant-group-propagation.ts
  packages/@verone/types/src/variant-groups.ts
  supabase/migrations/20260430_add_common_material_and_color_to_variant_groups.sql
Due: prettier --write, eslint --fix

[BO-VAR-NAME-PATTERN-001] feat: configurable position of common material/color in product name
  packages/@verone/products/src/components/modals/VariantAddProductModal.tsx
  packages/@verone/products/src/components/modals/VariantGroupEditModal.tsx
  packages/@verone/products/src/components/modals/variant-group-edit/VariantGroupCommonPropsSection.tsx
  packages/@verone/products/src/hooks/types/variant-group.types.ts
  packages/@verone/products/src/hooks/use-variant-group-archive.ts
  packages/@verone/products/src/hooks/use-variant-group-crud.ts
  packages/@verone/products/src/hooks/use-variant-groups.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/types/src/variant-groups.ts
  supabase/migrations/20260430_add_name_position_to_variant_groups.sql
Due: prettier --write, eslint --fix

[BO-VAR-NAME-PATTERN-001] chore: align supabase.ts with CI artifact (graphql_public block)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-VAR-NAME-PATTERN-001] feat: configurable position of common material/color in product name (#867)
  packages/@verone/products/src/components/modals/VariantAddProductModal.tsx
  packages/@verone/products/src/components/modals/VariantGroupEditModal.tsx
  packages/@verone/products/src/components/modals/variant-group-edit/VariantGroupCommonPropsSection.tsx
  packages/@verone/products/src/hooks/types/variant-group.types.ts
  packages/@verone/products/src/hooks/use-variant-group-archive.ts
  packages/@verone/products/src/hooks/use-variant-group-crud.ts
  packages/@verone/products/src/hooks/use-variant-groups.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/types/src/variant-groups.ts
  supabase/migrations/20260430_add_name_position_to_variant_groups.sql
Due: prettier --write, eslint --fix

[BO-BRAND-002] feat: SQL migration create brands + brand_ids + active_brand_id
  supabase/migrations/20260501000000_create_brands_and_brand_ids.sql
Due: none

[BO-BRAND-002] chore: scaffold internal brands sprint plan
  docs/scratchpad/dev-plan-BO-BRAND-002.md
Due: prettier --write

[BO-BRAND-002] chore: regenerate Supabase types after brands migration
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BRAND-002] feat: BrandSwitcher header + useActiveBrand hook
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/components/layout/brand-switcher.tsx
  apps/back-office/src/hooks/use-active-brand.ts
Due: prettier --write, eslint --fix

[BO-BRAND-002] feat: parametres/marques CRUD page + BrandsMultiSelect + BrandChip
  apps/back-office/src/app/(protected)/parametres/marques/_components/BrandEditModal.tsx
  apps/back-office/src/app/(protected)/parametres/marques/_components/BrandsManagementTable.tsx
  apps/back-office/src/app/(protected)/parametres/marques/page.tsx
  packages/@verone/products/src/components/badges/BrandChip.tsx
  packages/@verone/products/src/components/badges/index.ts
  packages/@verone/products/src/components/forms/BrandsMultiSelect.tsx
  packages/@verone/products/src/components/forms/index.ts
  packages/@verone/products/src/index.ts
Due: prettier --write, eslint --fix

[BO-BRAND-002] chore: align supabase.ts with CI byte-for-byte (drift fix)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BRAND-002] feat: integrate BrandsMultiSelect in product create + edit
  packages/@verone/products/src/components/modals/ProductCreationModal.tsx
  packages/@verone/products/src/components/sections/ProductEditMode/ProductEditManagementColumn.tsx
  packages/@verone/products/src/components/sections/ProductEditMode/hooks.ts
  packages/@verone/products/src/components/sections/ProductEditMode/types.ts
Due: prettier --write, eslint --fix

[BO-BRAND-002] feat: brand chips + brand filter on catalogue list
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductCardMobile.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_components/ProductBrandChips.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/types.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-saved-views.ts
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
Due: prettier --write, eslint --fix

[BO-BRAND-002] feat: internal brands table + UI BrandSwitcher (draft) (#868)
  apps/back-office/src/app/(protected)/parametres/marques/_components/BrandEditModal.tsx
  apps/back-office/src/app/(protected)/parametres/marques/_components/BrandsManagementTable.tsx
  apps/back-office/src/app/(protected)/parametres/marques/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductCardMobile.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/_components/ProductBrandChips.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/types.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-saved-views.ts
  apps/back-office/src/components/layout/app-header.tsx
  apps/back-office/src/components/layout/brand-switcher.tsx
  apps/back-office/src/hooks/use-active-brand.ts
  docs/scratchpad/dev-plan-BO-BRAND-002.md
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
  packages/@verone/products/src/components/badges/BrandChip.tsx
  packages/@verone/products/src/components/badges/index.ts
  packages/@verone/products/src/components/forms/BrandsMultiSelect.tsx
  packages/@verone/products/src/components/forms/index.ts
  packages/@verone/products/src/components/modals/ProductCreationModal.tsx
  packages/@verone/products/src/components/sections/ProductEditMode/ProductEditManagementColumn.tsx
  packages/@verone/products/src/components/sections/ProductEditMode/hooks.ts
  packages/@verone/products/src/components/sections/ProductEditMode/types.ts
  packages/@verone/products/src/index.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260501000000_create_brands_and_brand_ids.sql
Due: prettier --write, eslint --fix

[BO-BRAND-003] chore: scaffold channels by brand sprint plan
  docs/scratchpad/dev-plan-BO-BRAND-003.md
Due: prettier --write

[BO-BRAND-003] feat: add brand_id to sales_channels + 3 site_* channels
  supabase/migrations/20260501010000_add_brand_id_to_sales_channels.sql
Due: none

[BO-BRAND-003] feat: add is_published_on_channel to channel_pricing
  supabase/migrations/20260501020000_add_is_published_on_channel.sql
Due: none

[BO-BRAND-003] chore: regenerate Supabase types after channels migration
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BRAND-003] chore: align supabase.ts with CI byte-for-byte (drift fix)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BRAND-003] feat: channels by brand (DB only, draft) (#869)
  docs/scratchpad/dev-plan-BO-BRAND-003.md
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260501010000_add_brand_id_to_sales_channels.sql
  supabase/migrations/20260501020000_add_is_published_on_channel.sql
Due: prettier --write, eslint --fix

[INFRA-RULES-003] chore: scaffold INFRA-RULES-003 plan
  docs/scratchpad/dev-plan-INFRA-RULES-003.md
Due: prettier --write

[INFRA-RULES-003] chore: extend commit-msg regex to allow letter suffix
  .husky/commit-msg
Due: none

[INFRA-RULES-003] chore: extend commit-msg regex for letter suffix (#871)
  .husky/commit-msg
  docs/scratchpad/dev-plan-INFRA-RULES-003.md
Due: prettier --write

[BO-BRAND-003b] chore: scaffold dev-plan v3 (scope reduced post Romeo audit)
  docs/scratchpad/dev-plan-BO-BRAND-003b.md
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
