Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[BO-BRAND-003b] chore: extend CHANNEL_IDS with site_boemia/site_solar/site_flos
  packages/@verone/channels/src/constants/channel-ids.ts
Due: prettier --write, eslint --fix

[BO-BRAND-003b] feat: useProductChannelPublication hook in @verone/channels
  packages/@verone/channels/package.json
  packages/@verone/channels/src/hooks/index.ts
  packages/@verone/channels/src/hooks/use-product-channel-publication.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[BO-BRAND-003b] feat: /api/channel-pricing/toggle-publication route
  apps/back-office/src/app/api/channel-pricing/toggle-publication/route.ts
Due: prettier --write, eslint --fix

[BO-BRAND-004] feat: display brand badges on product detail rail
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_dashboard-blocks/GeneralRail.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-characteristics-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-general-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-images-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-pricing-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-stock-dashboard.tsx
  docs/scratchpad/dev-plan-BO-BRAND-004.md
  packages/@verone/products/src/components/badges/BrandBadgeList.tsx
  packages/@verone/products/src/components/badges/index.ts
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-brands.ts
Due: prettier --write, eslint --fix

[BO-BRAND-003b] feat: channel publication infrastructure (hook + API route) (#870)
  apps/back-office/src/app/api/channel-pricing/toggle-publication/route.ts
  docs/scratchpad/dev-plan-BO-BRAND-003b.md
  packages/@verone/channels/package.json
  packages/@verone/channels/src/constants/channel-ids.ts
  packages/@verone/channels/src/hooks/index.ts
  packages/@verone/channels/src/hooks/use-product-channel-publication.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[BO-BRAND-004] feat: display brand badges on product detail rail (#872)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_dashboard-blocks/GeneralRail.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-characteristics-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-general-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-images-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-pricing-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-stock-dashboard.tsx
  docs/scratchpad/dev-plan-BO-BRAND-004.md
  packages/@verone/products/src/components/badges/BrandBadgeList.tsx
  packages/@verone/products/src/components/badges/index.ts
  packages/@verone/products/src/hooks/index.ts
  packages/@verone/products/src/hooks/use-brands.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-006] chore: scaffold dev-plan + audit fichiers
  docs/scratchpad/dev-plan-2026-05-01-INFRA-IMG-006.md
Due: prettier --write

[INFRA-IMG-006] feat: add cloudflare_image_id to linkme hooks and types
  apps/linkme/src/app/(main)/catalogue/[id]/page.tsx
  apps/linkme/src/hooks/use-linkme-orders.helpers.ts
  apps/linkme/src/hooks/use-linkme-orders.ts
  apps/linkme/src/hooks/use-linkme-orders.types.ts
  apps/linkme/src/lib/hooks/use-affiliate-analytics.ts
  apps/linkme/src/lib/hooks/use-affiliate-orders.ts
  apps/linkme/src/lib/hooks/use-affiliate-products.ts
  apps/linkme/src/lib/hooks/use-all-products-stats.ts
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  apps/linkme/src/lib/hooks/use-linkme-public.ts
  apps/linkme/src/lib/hooks/use-product-sales-detail.ts
  apps/linkme/src/lib/hooks/use-selection-items.ts
  apps/linkme/src/lib/hooks/use-selection-top-products.ts
  apps/linkme/src/lib/hooks/use-storage-requests.ts
  apps/linkme/src/types/analytics.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-006] feat: route linkme components via CloudflareImage
  apps/linkme/src/app/(main)/[affiliateSlug]/[selectionSlug]/page.tsx
  apps/linkme/src/app/(main)/cart/page.tsx
  apps/linkme/src/app/(main)/catalogue/[id]/page.tsx
  apps/linkme/src/app/(main)/catalogue/components/ProductCard.tsx
  apps/linkme/src/app/(main)/checkout/components/OrderSummary.tsx
  apps/linkme/src/app/(main)/commandes/CommandeOrderRow.tsx
  apps/linkme/src/app/(main)/commandes/[id]/modifier/AddProductDialog.tsx
  apps/linkme/src/app/(main)/commandes/[id]/modifier/components/ProductsSection.tsx
  apps/linkme/src/app/(main)/commandes/components/OrderItemsTable.tsx
  apps/linkme/src/app/(main)/dashboard/DashboardTopProducts.tsx
  apps/linkme/src/app/(main)/mes-produits/components/ProductDetailSheet.tsx
  apps/linkme/src/app/(main)/mes-produits/page.tsx
  apps/linkme/src/app/(main)/statistiques/produits/components/ProductSalesDetailModal.tsx
  apps/linkme/src/app/(main)/stockage/components/StorageProductsTab.tsx
  apps/linkme/src/app/(main)/stockage/components/StorageRequestsTab.tsx
  apps/linkme/src/components/analytics/ProductStatsTable.tsx
  apps/linkme/src/components/analytics/TopProductsTable.tsx
  apps/linkme/src/components/cart/CartDrawer.tsx
  apps/linkme/src/components/catalogue/AddToSelectionModal.tsx
  apps/linkme/src/components/orders/steps/products/ProductCard.tsx
  apps/linkme/src/components/selection/EditMarginModal.tsx
  apps/linkme/src/components/selection/ProductDetailSheet.tsx
  apps/linkme/src/components/selection/SelectionProductGrid.tsx
  apps/linkme/src/components/selection/selection-catalog/SelectionProductRow.tsx
  apps/linkme/src/components/storage/StorageProductCard.tsx
  apps/linkme/src/types/index.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-006] feat: route site-internet components via CloudflareImage
  apps/site-internet/src/app/catalogue/page.tsx
  apps/site-internet/src/app/checkout/components/CheckoutOrderSummary.tsx
  apps/site-internet/src/app/checkout/page.tsx
  apps/site-internet/src/app/collections/[slug]/page.tsx
  apps/site-internet/src/app/panier/page.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductCrossSell.tsx
  apps/site-internet/src/app/produit/[id]/components/ProductSidebar.tsx
  apps/site-internet/src/app/produit/[id]/components/VariantsSection.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/components/SearchOverlay.tsx
  apps/site-internet/src/components/ui/CardProductLuxury.tsx
  apps/site-internet/src/contexts/CartContext.tsx
  apps/site-internet/src/hooks/use-catalogue-products.ts
  apps/site-internet/tsconfig.json
Due: prettier --write, eslint --fix

[INFRA-IMG-006] chore: add primary_cloudflare_image_id to get_site_internet_products RPC + regen types
  apps/site-internet/src/app/produit/[id]/components/VariantsSection.tsx
  apps/site-internet/src/hooks/use-catalogue-products.ts
  docs/scratchpad/CUSTOM-DOMAIN-blocage-2026-05-01.md
  docs/scratchpad/dev-report-2026-05-01-INFRA-IMG-006.md
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260501030000_add_primary_cloudflare_image_id_to_get_site_internet_products.sql
Due: prettier --write, eslint --fix

[INFRA-IMG-006] chore: align supabase types with CI generator (drift fix)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-006] fix: route ProductSidebar variants thumbnails via Cloudflare
  apps/site-internet/src/app/produit/[id]/components/ProductSidebar.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
Due: prettier --write, eslint --fix

[SI-AI-001] chore: scaffold sprint + add marketing fields migration
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
  supabase/migrations/20260501120000_si_ai_001_marketing_fields.sql
Due: prettier --write

[SI-AI-001] docs: bilan final 200/200 — batches 11-18 complets
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
Due: prettier --write

[SI-AI-001] docs: checkpoint 150/200 — batches 11-15 (fauteuils, lampes, miroirs, suspensions, décoration)
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
Due: prettier --write

[SI-AI-001] docs: checkpoint 100/200 — batches 7-10 (tables, lampes, lampadaires, vases)
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
Due: prettier --write

[SI-AI-001] chore: regenerate Supabase types after marketing fields migration
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[SI-AI-001] docs: checkpoint 60/200 — templates consolidés + bilan détaillé
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
Due: prettier --write

[SI-AI-001] chore: fix Supabase types drift via CI artifact
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[SI-AI-001] feat: AI batch marketing content — checkpoint 60/200 (Phase 1 done) (#874)
  docs/scratchpad/dev-plan-2026-05-01-SI-AI-001.md
  supabase/migrations/20260501120000_si_ai_001_marketing_fields.sql
Due: prettier --write

[SI-SEO-001] chore: scaffold task plan + audit existant
  docs/scratchpad/dev-plan-2026-05-02-SI-SEO-001.md
Due: prettier --write

[SI-SEO-001] feat: JSON-LD BreadcrumbList sur pages produit + collection
  apps/site-internet/src/app/collections/[slug]/page.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/components/seo/JsonLdBreadcrumbList.tsx
Due: prettier --write, eslint --fix

[SI-SEO-001] feat: bouton Dupliquer produit (page détail catalogue BO)
  apps/back-office/src/app/(protected)/produits/actions/duplicate-product.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-detail-header.tsx
Due: prettier --write, eslint --fix

[SI-SEO-001] feat: quick wins SEO (BreadcrumbList + Dupliquer produit) (draft) (#875)
  apps/back-office/src/app/(protected)/produits/actions/duplicate-product.ts
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-detail-header.tsx
  apps/site-internet/src/app/collections/[slug]/page.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/components/seo/JsonLdBreadcrumbList.tsx
  docs/scratchpad/dev-plan-2026-05-02-SI-SEO-001.md
Due: prettier --write, eslint --fix

[BO-BRAND-005] chore: scaffold task plan for RPC brand_slug param
  docs/scratchpad/dev-plan-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
Due: prettier --write

[BO-BRAND-005] feat: RPC get_site_internet_products supports brand_slug param
  supabase/migrations/20260502000000_get_site_internet_products_brand_slug.sql
Due: none

[BO-BRAND-005] chore: regenerate Supabase types (get_site_internet_products Args: never → p_brand_slug)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[BO-BRAND-005] feat: pass 'verone' brand_slug from apps/site-internet hooks
  apps/site-internet/src/app/api/feeds/products.xml/route.ts
  apps/site-internet/src/app/compte/favoris/page.tsx
  apps/site-internet/src/app/produit/[id]/components/VariantsSection.tsx
  apps/site-internet/src/app/produit/[id]/layout.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/app/sitemap.ts
  apps/site-internet/src/hooks/use-catalogue-products.ts
  apps/site-internet/src/hooks/use-collection-products.ts
  apps/site-internet/src/hooks/use-product-detail.ts
Due: prettier --write, eslint --fix

[BO-BRAND-005] docs: add dev-report sprint
  docs/scratchpad/dev-report-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
Due: prettier --write

[BO-BRAND-005] chore: align Supabase types with CI-generated format
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[INFRA-CI-001] ci: E2E Smoke non-blocking + cache Playwright browsers
  .github/workflows/quality.yml
Due: none

[BO-BRAND-005] feat: RPC get_site_internet_products supports brand_slug param (draft) (#878)
  apps/site-internet/src/app/api/feeds/products.xml/route.ts
  apps/site-internet/src/app/compte/favoris/page.tsx
  apps/site-internet/src/app/produit/[id]/components/VariantsSection.tsx
  apps/site-internet/src/app/produit/[id]/layout.tsx
  apps/site-internet/src/app/produit/[id]/page.tsx
  apps/site-internet/src/app/sitemap.ts
  apps/site-internet/src/hooks/use-catalogue-products.ts
  apps/site-internet/src/hooks/use-collection-products.ts
  apps/site-internet/src/hooks/use-product-detail.ts
  docs/scratchpad/dev-plan-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
  docs/scratchpad/dev-report-2026-05-02-BO-BRAND-005-rpc-brand-slug.md
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260502000000_get_site_internet_products_brand_slug.sql
Due: prettier --write, eslint --fix

[INFRA-CI-001] ci: E2E Smoke non-blocking + cache Playwright browsers (#879)
  .github/workflows/quality.yml
Due: none

[INFRA-CI-002] ci: types drift reports success when no migration touched
  .github/workflows/quality.yml
  docs/scratchpad/dev-report-2026-05-02-INFRA-CI-002.md
Due: prettier --write

[INFRA-CI-002] ci: types drift reports success when no migration touched (#880)
  .github/workflows/quality.yml
  docs/scratchpad/dev-report-2026-05-02-INFRA-CI-002.md
Due: prettier --write

[SI-PROD-001] chore: dev report
  docs/scratchpad/dev-report-2026-05-02-SI-PROD-001.md
Due: prettier --write

[SI-PROD-001] chore: scaffold task plan + audit existing catalogue features
  docs/scratchpad/dev-plan-2026-05-02-SI-PROD-001.md
Due: prettier --write

[SI-PROD-001] feat: bulk actions catalogue produits + extraction ProductRow
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueBulkActionsBar.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductCardMobile.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductRow.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/modals/BulkPriceEditDialog.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/modals/BulkStatusDialog.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-bulk-actions.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-bulk-selection.ts
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
