Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-FORM-001] fix(emails): make email sending gracefully optional when RESEND_API_KEY is not configured
  apps/linkme/src/app/api/emails/form-confirmation/route.ts
  apps/linkme/src/app/api/emails/form-notification/route.ts
Due: prettier --write, eslint --fix

[BO-FORM-001] docs(linkme): add Resend email configuration guide
  apps/linkme/RESEND_SETUP.md
Due: prettier --write

chore(plan): sync
  .claude/archive/plans-2026-01/active-2026-01-14.md
  .claude/work/ACTIVE.md
Due: prettier --write

[BO-FORM-001] feat(forms): implement notification emails settings page - Phase 6
  apps/back-office/src/app/parametres/notifications/actions.ts
  apps/back-office/src/app/parametres/notifications/page.tsx
  apps/linkme/.env.example
Due: prettier --write, eslint --fix

[LM-ADDR-001] feat(linkme): integrate AddressAutocomplete with geolocation in CreateOrderModal
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-ADDR-001] feat(linkme): integrate AddressAutocomplete with geolocation in OrderFormUnified
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

[LM-ADDR-001] feat(linkme): add geolocation support to public order workflow
  apps/linkme/src/lib/hooks/use-submit-unified-order.ts
  supabase/migrations/20260114_001_add_geolocation_to_public_order_rpc.sql
Due: prettier --write, eslint --fix

[LM-ORD-005] feat(linkme): auto-create contacts in CRM from public orders
  supabase/migrations/20260114_002_auto_create_contacts_from_orders.sql
Due: none

chore(plan): manual sync for LM-ADDR-001 and LM-ORD-005
  .claude/work/ACTIVE.md
Due: prettier --write

[NO-TASK] chore(plan): mark LM-ORD-004-1 as completed
  .claude/work/ACTIVE.md
Due: prettier --write

[NO-TASK] feat(scripts): add dev:stop and dev:clean commands
  package.json
  scripts/dev-clean.sh
  scripts/dev-stop.sh
Due: prettier --write

[NO-TASK] fix(sentry): migrate automaticVercelMonitors to webpack config
  apps/back-office/next.config.js
  apps/linkme/next.config.js
Due: none

[LM-ORD-004] feat(linkme): auto-fill contact data in CreateOrderModal
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-ORD-004] feat(linkme): add localStorage cache for requester data in OrderFormUnified
  .claude/work/ACTIVE.md
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

chore(plan): sync
  .claude/work/ACTIVE.md
Due: prettier --write

[NO-TASK] fix: resolve multi-app stability issues
  .claude/scripts/git-hooks/check-env-changes.sh
  apps/back-office/src/app/prises-contact/[id]/page.tsx
  apps/back-office/src/components/layout/public-layout.tsx
  docs/current/troubleshooting/dev-environment.md
  package.json
  scripts/validate-env.sh
Due: prettier --write, eslint --fix

[LM-AUTH-001] fix: resolve infinite loading in dashboard due to StrictMode
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix(sentry): migrate to Next.js 15 instrumentation format
  apps/back-office/instrumentation-client.ts
  apps/back-office/instrumentation.ts
  apps/linkme/instrumentation-client.ts
  apps/linkme/instrumentation.ts
Due: prettier --write, eslint --fix

chore(plan): mark Sentry config migration as completed
  .claude/work/ACTIVE.md
Due: prettier --write

[NO-TASK] fix(sentry): add onRouterTransitionStart hook for navigation tracking
  apps/back-office/instrumentation-client.ts
  apps/linkme/instrumentation-client.ts
Due: prettier --write, eslint --fix

chore(plan): mark Sentry config as fully validated
  .claude/work/ACTIVE.md
Due: prettier --write

chore(plan): add session 2026-01-14 summary with all completed tasks
  .claude/work/ACTIVE.md
Due: prettier --write

[LM-SEL-003] feat(linkme): optimize public selection UX with category bar and dropdown
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/components/public-selection/SelectionCategoryBar.tsx
  apps/linkme/src/components/public-selection/SelectionCategoryDropdown.tsx
  apps/linkme/src/components/public-selection/index.ts
Due: prettier --write, eslint --fix

chore(plan): sync
  .claude/work/ACTIVE.md
  apps/back-office/sentry.client.config.ts
  apps/linkme/sentry.client.config.ts
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/components/organisations/EditOrganisationModal.tsx
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/components/organisations/index.ts
  apps/linkme/src/contexts/AuthContext.tsx
Due: prettier --write, eslint --fix

[LM-ORD-005] fix(linkme): correct requester in order workflow (phases 1-3)
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-ORD-005] feat(linkme): complete order workflow with conditional labels and notes preview (phases 4-5)
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/app/(main)/organisations/page.tsx
Due: prettier --write, eslint --fix

chore(plan): finalize LM-ORD-005 completion and update priorities
  .claude/work/ACTIVE.md
Due: prettier --write

[WEB-DEV-001] fix: reinstall dependencies to fix Next.js symlinks
  .claude/work/ACTIVE.md
Due: prettier --write

chore(plan): mark LM-ORG-003 as completed (already done in 8a44b70f)
  .claude/work/ACTIVE.md
Due: prettier --write

[LM-ORD-006] feat(linkme): refactor product selection UX - Phases 1-3
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
Due: prettier --write, eslint --fix

[LM-ORD-006] feat(linkme): complete product selection UX refactor - Phase 4-5
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
Due: prettier --write, eslint --fix
