Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

[INFRA-CI-001] fix: regen INDEX docs en post-merge staging (au lieu de pre-commit) (#770)
  .github/workflows/regen-docs-index.yml
  .husky/pre-commit
Due: none

[INFRA-CI-002] fix: regen workflow — bugs --auto exit-0 + push direct bloqué par branch protection
  .github/workflows/regen-docs-index.yml
Due: none

[INFRA-CI-002] fix: regen workflow — bugs --auto exit-0 + push direct bloqué par branch protection (#772)
  .github/workflows/regen-docs-index.yml
Due: none

[INFRA-CI-003] docs: workflow regen — documenter bug 4 (PAT requis)
  .github/workflows/regen-docs-index.yml
Due: none

[INFRA-CI-003] docs: workflow regen — documenter bug 4 (PAT requis) (#774)
  .github/workflows/regen-docs-index.yml
Due: none

[INFRA-CI-004] chore: gitignore fichiers générés (option A senior, fin du bruit regen)
  .github/workflows/regen-docs-index.yml
  .gitignore
  CLAUDE.md
  docs/current/DEPENDANCES-PACKAGES.md
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  docs/current/INDEX-LINKME-APP.md
  docs/current/INDEX-SITE-INTERNET-APP.md
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  scripts/db-schema-snapshot.json
Due: prettier --write

[INFRA-CI-004] chore: gitignore fichiers générés (option A senior, fin du bruit regen) (#779)
  .github/workflows/regen-docs-index.yml
  .gitignore
  CLAUDE.md
  docs/current/DEPENDANCES-PACKAGES.md
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  docs/current/INDEX-LINKME-APP.md
  docs/current/INDEX-SITE-INTERNET-APP.md
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  scripts/db-schema-snapshot.json
Due: prettier --write

[INFRA-CI-005] feat: protect main from non-staging PRs + Dependabot vers staging
  .claude/rules/workflow.md
  .github/dependabot.yml
  .github/workflows/protect-main-source.yml
Due: prettier --write

[INFRA-CI-004] chore: gitignore fichiers générés (option A senior, fin du bruit regen) (#779) (#780)
  .github/workflows/regen-docs-index.yml
  .gitignore
  CLAUDE.md
  docs/current/DEPENDANCES-PACKAGES.md
  docs/current/INDEX-BACK-OFFICE-APP.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  docs/current/INDEX-LINKME-APP.md
  docs/current/INDEX-SITE-INTERNET-APP.md
  docs/current/database/DATABASE-SCHEMA-COMPLETE.md
  docs/current/database/schema/00-SUMMARY.md
  docs/current/database/schema/01-organisations.md
  docs/current/database/schema/02-produits.md
  docs/current/database/schema/03-commandes.md
  docs/current/database/schema/04-stock.md
  docs/current/database/schema/05-finance.md
  docs/current/database/schema/06-linkme.md
  docs/current/database/schema/07-notifications.md
  docs/current/database/schema/08-utilisateurs.md
  docs/current/database/schema/09-autres.md
  scripts/db-schema-snapshot.json
Due: prettier --write

[INFRA-CI-005] feat: protect main from non-staging PRs + Dependabot vers staging (#781)
  .claude/rules/workflow.md
  .github/dependabot.yml
  .github/workflows/protect-main-source.yml
Due: prettier --write

[BO-LM-CONTACT-REQ-001] fix: unify LinkMe order info-request modal
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/ApprovalActionDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RequestMissingFieldModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
Due: prettier --write, eslint --fix

[BO-SHIP-WIZ-001] refactor: Stock back as ShipmentWizard step 1
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepAddresses.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/index.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[BO-SHIP-WIZ-002] feat: Packlink recipient step aligned on Pro fields
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPacklinkRecipient.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/index.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/index.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/types.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/use-shipment-detail.ts
Due: prettier --write, eslint --fix

[BO-LM-CONTACT-REQ-001] fix: unify LinkMe order info-request modal (#786)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/ApprovalActionDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RequestMissingFieldModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
Due: prettier --write, eslint --fix

[BO-LM-ITEMS-001] fix: drop generated columns from sales_order_items writes
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
Due: prettier --write, eslint --fix

[BO-LM-FEES-001] fix: refetch order after FeesSection save
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/LeftColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/components/orders/FeesSection.tsx
Due: prettier --write, eslint --fix

[BO-LM-ITEMS-001] fix: drop generated columns from sales_order_items writes (#788)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
Due: prettier --write, eslint --fix

[BO-LM-FEES-001] fix: refetch order after FeesSection save (#789)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/LeftColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/hooks.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/components/orders/FeesSection.tsx
Due: prettier --write, eslint --fix

[BO-LM-MISSING-002] feat: inline per-category request + filter BO creator
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/ApprovalActionDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/OrderApprovalDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingInfoBanner.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/use-fetch-order.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/utils/fetch-order.ts
Due: prettier --write, eslint --fix

[BO-LM-MISSING-004] refactor: tighten missing-info banner styling
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingFieldRow.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingInfoBanner.tsx
Due: prettier --write, eslint --fix

[BO-LM-MISSING-003] feat: inline edit + contact modal per missing field
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingFieldRow.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingInfoBanner.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
Due: prettier --write, eslint --fix

[BO-LM-MISSING-001] feat: missing-info banner on top of order detail
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingInfoBanner.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/utils/order-missing-fields.ts
Due: prettier --write, eslint --fix

[BO-SHIP-WIZ-001+002] fix: ShipmentWizard — Stock back as step 1 + Packlink recipient step aligned on Pro fields (#787)
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepAddresses.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPacklinkRecipient.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/index.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
  packages/@verone/orders/src/hooks/use-sales-shipments.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/index.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/types.ts
  packages/@verone/orders/src/hooks/use-sales-shipments/use-shipment-detail.ts
Due: prettier --write, eslint --fix

[BO-LM-MISSING-001] feat: missing-info banner on top of LinkMe order detail (#790)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/ApprovalActionDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/OrderApprovalDialogs.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingFieldRow.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/MissingInfoBanner.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/RightColumn.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/types.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/use-fetch-order.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/utils/fetch-order.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/utils/order-missing-fields.ts
Due: prettier --write, eslint --fix

[INFRA-RULES-001] docs: branch-strategy rule + checklist before new branch
  .claude/rules/branch-strategy.md
  CLAUDE.md
Due: prettier --write

[BO-SHIP-WIZ-003] feat: default Verone email/phone for empty recipient fields
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[INFRA-RULES-001] docs: branch-strategy rule + checklist before new branch (#791)
  .claude/rules/branch-strategy.md
  CLAUDE.md
Due: prettier --write

[BO-SHIP-WIZ-004] feat: company field in Packlink recipient step
  apps/back-office/src/app/api/packlink/shipment/route.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPacklinkRecipient.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-WEBHOOK-001] feat: register-callback route + label/copy buttons
  apps/back-office/src/app/api/packlink/callback/register/route.ts
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentHistoryCard.tsx
Due: prettier --write, eslint --fix

[BO-PACKLINK-WEBHOOK-001] feat: register-callback route + label/copy buttons (#793)
  apps/back-office/src/app/api/packlink/callback/register/route.ts
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentHistoryCard.tsx
Due: prettier --write, eslint --fix

[BO-EMAIL-SHIP-001] feat: multi-shipments tracking email (1 email N colis)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/ShipmentCardsSection.tsx
  apps/back-office/src/app/api/emails/_shared/shipping-tracking-template.ts
  apps/back-office/src/app/api/emails/send-shipping-tracking/route.ts
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/SendShippingTrackingModal.tsx
  packages/@verone/orders/src/components/modals/TrackingRecapCard.tsx
  packages/@verone/orders/src/components/modals/shipping-tracking-helpers.ts
Due: prettier --write, eslint --fix

[BO-SHIP-WIZ-003] feat: default Verone email/phone for empty recipient fields (#792)
  apps/back-office/src/app/api/packlink/shipment/route.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/StepPacklinkRecipient.tsx
  packages/@verone/orders/src/components/forms/ShipmentWizard/handle-create-draft.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/types.ts
  packages/@verone/orders/src/components/forms/ShipmentWizard/useShipmentWizard.ts
Due: prettier --write, eslint --fix

[BO-EMAIL-SHIP-001] feat: multi-shipments tracking email (1 email N colis) (#794)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/ShipmentCardsSection.tsx
  apps/back-office/src/app/api/emails/_shared/shipping-tracking-template.ts
  apps/back-office/src/app/api/emails/send-shipping-tracking/route.ts
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/SendShippingTrackingModal.tsx
  packages/@verone/orders/src/components/modals/TrackingRecapCard.tsx
  packages/@verone/orders/src/components/modals/shipping-tracking-helpers.ts
Due: prettier --write, eslint --fix

[BO-PUB-CASCADE-001] feat: add is_published_online guard on Google/Meta batch-add
  apps/back-office/src/app/api/google-merchant/products/batch-add/route.ts
  apps/back-office/src/app/api/meta-commerce/products/batch-add/route.ts
Due: prettier --write, eslint --fix

[INFRA-DOC-001] docs: align README with current repo state and workflow rules
  README.md
Due: prettier --write

[INFRA-DOC-001] docs: fix internal counter inconsistency in Documentation section
  README.md
Due: prettier --write

[SI-CONTACT-001] fix: replace placeholder email + remove fake phone on /contact
  apps/site-internet/src/app/contact/page.tsx
Due: prettier --write, eslint --fix

[BO-PUB-CASCADE-001] feat: publication cascade guard on Google/Meta batch-add + README sync (#795)
  README.md
  apps/back-office/src/app/api/google-merchant/products/batch-add/route.ts
  apps/back-office/src/app/api/meta-commerce/products/batch-add/route.ts
Due: prettier --write, eslint --fix

[SI-CONTACT-001] fix: replace placeholder email + remove fake phone on /contact (#796)
  apps/site-internet/src/app/contact/page.tsx
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
