Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

Revert "[BO-UI-PROD-DETAIL-001] feat: champs admin manquants dans fiche produit"
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/ProductCompletionBanner.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_dashboard-blocks/AdminMetadataCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_publication-blocks/PublicationSchedulingCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-general-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/page.tsx
Due: prettier --write, eslint --fix

[BO-UI-PROD-DETAIL-001] feat: card fournisseur enrichie (drapeau pays, site web, URL éditable, MOQ retiré)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_dashboard-blocks/SupplierPoCompactCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-general-dashboard.tsx
  packages/@verone/products/src/hooks/use-product-general-dashboard.ts
Due: prettier --write, eslint --fix

[BO-UI-PROD-DETAIL-001] style: site web fournisseur sur ligne séparée
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_dashboard-blocks/SupplierPoCompactCard.tsx
Due: prettier --write, eslint --fix

[BO-UI-PROD-DETAIL-001] fix: corrections fiche produit (fournisseur, marge, stock MOQ, sourcing) (#832)
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_dashboard-blocks/GeneralRail.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_dashboard-blocks/SupplierPoCompactCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_descriptions-blocks/SeoCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_pricing-blocks/PricingFooterNote.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_pricing-blocks/PricingKpiStrip.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_stock-blocks/StockKpiStrip.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_stock-blocks/StockSettingsCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-characteristics-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-descriptions-tab.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-general-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-images-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-pricing-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-publication-dashboard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/product-stock-dashboard.tsx
  apps/back-office/src/components/business/wizard-sections/pricing-section.tsx
  packages/@verone/common/src/components/pricing/SupplierPricingDisplay.tsx
  packages/@verone/finance/src/utils/pricing-utils.ts
  packages/@verone/products/src/components/sections/SerpPreview.tsx
  packages/@verone/products/src/components/wizards/sections/PricingSection.tsx
  packages/@verone/products/src/hooks/use-product-general-dashboard.ts
Due: prettier --write, eslint --fix

[BO-SHIP-EMAIL-DATE-001] fix: date d'expédition réelle + tracking URL auto via Packlink
  apps/back-office/src/app/api/emails/send-shipping-tracking/route.ts
Due: prettier --write, eslint --fix

[BO-SHIP-EMAIL-DATE-001] feat: tracking URL toujours cliquable + retrait dates erronées du message email
  apps/back-office/src/app/api/emails/_shared/shipping-tracking-template.ts
  packages/@verone/orders/src/components/modals/carrier-tracking-url.ts
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentHistoryCard.tsx
  packages/@verone/orders/src/components/modals/shipping-tracking-helpers.ts
Due: prettier --write, eslint --fix

[BO-SHIP-EMAIL-DATE-001] feat: aperçu serveur (vraie date Packlink) + 1 CTA par colis + URL UPS complète
  apps/back-office/src/app/api/emails/_shared/shipping-tracking-data.ts
  apps/back-office/src/app/api/emails/_shared/shipping-tracking-template.ts
  apps/back-office/src/app/api/emails/preview-shipping-tracking/route.ts
  apps/back-office/src/app/api/emails/send-shipping-tracking/route.ts
  packages/@verone/orders/src/components/modals/SendShippingTrackingModal.tsx
  packages/@verone/orders/src/components/modals/carrier-tracking-url.ts
Due: prettier --write, eslint --fix

[BO-SHIP-EMAIL-DATE-001] fix: liste 'Expéditions à inclure' affiche la date enrichie
  packages/@verone/orders/src/components/modals/SendShippingTrackingModal.tsx
Due: prettier --write, eslint --fix

[BO-SHIP-EMAIL-DATE-001] fix: email expédition - date pickup réelle + tracking URL cliquable + 1 CTA/colis (#833)
  apps/back-office/src/app/api/emails/_shared/shipping-tracking-data.ts
  apps/back-office/src/app/api/emails/_shared/shipping-tracking-template.ts
  apps/back-office/src/app/api/emails/preview-shipping-tracking/route.ts
  apps/back-office/src/app/api/emails/send-shipping-tracking/route.ts
  packages/@verone/orders/src/components/modals/SendShippingTrackingModal.tsx
  packages/@verone/orders/src/components/modals/carrier-tracking-url.ts
  packages/@verone/orders/src/components/modals/index.ts
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentHistoryCard.tsx
  packages/@verone/orders/src/components/modals/shipping-tracking-helpers.ts
Due: prettier --write, eslint --fix

[BO-FIN-009] fix: round-per-line totals on Qonto invoice persistence (Phase 2) (#830)
  apps/back-office/src/app/api/qonto/invoices/_lib/persist-financial-document.ts
Due: prettier --write, eslint --fix

[BO-PACKLINK-SYNC-002] fix: récupération auto tracking + bordereau Packlink (#831)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commandes/[id]/details/components/ShipmentCardsSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/OrderDetailModal.tsx
  apps/back-office/src/app/api/packlink/shipments/sync/route.ts
  apps/back-office/src/app/api/webhooks/packlink/route.ts
  packages/@verone/orders/src/components/modals/OrderDetailModal.tsx
  packages/@verone/orders/src/components/modals/order-detail/OrderShipmentHistoryCard.tsx
  packages/@verone/orders/src/components/modals/order-detail/use-shipment-history.ts
  packages/@verone/orders/src/components/modals/order-detail/useOrderDetailData.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-001] feat: Cloudflare Images migration — phases 2-5
  packages/@verone/collections/src/hooks/use-collection-images.ts
  packages/@verone/common/src/hooks/use-logo-upload.ts
  packages/@verone/common/src/hooks/use-simple-image-upload.ts
  packages/@verone/consultations/src/hooks/use-consultation-images.ts
  packages/@verone/products/src/hooks/use-product-images.ts
  packages/@verone/ui/src/components/ui/cloudflare-image.tsx
  packages/@verone/ui/src/components/ui/index.ts
  packages/@verone/utils/package.json
  packages/@verone/utils/src/cloudflare/__tests__/images.test.ts
  packages/@verone/utils/src/cloudflare/images.ts
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/upload/index.ts
  packages/@verone/utils/src/upload/smart-upload.ts
  scripts/migrate-images-to-cloudflare.ts
  supabase/migrations/20260421_add_cloudflare_image_id.sql
Due: prettier --write, eslint --fix

[INFRA-IMG-001] chore: regenerate Supabase types after cloudflare_image_id migration
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-001] fix: align selects with cloudflare_image_id + use CI-conformant types
  packages/@verone/categories/src/hooks/use-categories.ts
  packages/@verone/categories/src/hooks/use-families.ts
  packages/@verone/products/src/hooks/use-product-images.ts
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-001] feat: Cloudflare Images migration (phases 2-5, DRAFT — en attente activation compte) (#700)
  packages/@verone/categories/src/hooks/use-categories.ts
  packages/@verone/categories/src/hooks/use-families.ts
  packages/@verone/collections/src/hooks/use-collection-images.ts
  packages/@verone/common/src/hooks/use-logo-upload.ts
  packages/@verone/common/src/hooks/use-simple-image-upload.ts
  packages/@verone/consultations/src/hooks/use-consultation-images.ts
  packages/@verone/products/src/hooks/use-product-images.ts
  packages/@verone/types/src/supabase.ts
  packages/@verone/ui/src/components/ui/cloudflare-image.tsx
  packages/@verone/ui/src/components/ui/index.ts
  packages/@verone/utils/package.json
  packages/@verone/utils/src/cloudflare/__tests__/images.test.ts
  packages/@verone/utils/src/cloudflare/images.ts
  packages/@verone/utils/src/index.ts
  packages/@verone/utils/src/upload/index.ts
  packages/@verone/utils/src/upload/smart-upload.ts
  scripts/migrate-images-to-cloudflare.ts
  supabase/migrations/20260421_add_cloudflare_image_id.sql
Due: prettier --write, eslint --fix

[INFRA-IMG-002] feat: add Cloudflare Images custom domain to Next.js remotePatterns
  apps/back-office/next.config.js
  apps/linkme/next.config.js
  apps/site-internet/next.config.js
  docs/scratchpad/dev-plan-2026-04-29-INFRA-IMG-002-custom-domain.md
  docs/scratchpad/dns-records-veronecollections-fr-2026-04-29-hostinger-export.txt
Due: prettier --write

[INFRA-IMG-002] feat: add Cloudflare Images custom domain to Next.js remotePatterns (#835)
  apps/back-office/next.config.js
  apps/linkme/next.config.js
  apps/site-internet/next.config.js
  docs/scratchpad/dev-plan-2026-04-29-INFRA-IMG-002-custom-domain.md
  docs/scratchpad/dns-records-veronecollections-fr-2026-04-29-hostinger-export.txt
Due: prettier --write

[INFRA-IMG-003] feat: migrate products + consultations to CloudflareImage (8 files)
  packages/@verone/consultations/src/components/images/ConsultationImageGallery.tsx
  packages/@verone/consultations/src/components/images/ConsultationImageViewerModal.tsx
  packages/@verone/consultations/src/components/modals/ConsultationPhotosModal.tsx
  packages/@verone/consultations/src/hooks/use-consultation-images.ts
  packages/@verone/products/src/components/cards/ProductCard.tsx
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/products/src/components/images/PrimaryImageUpload.tsx
  packages/@verone/products/src/components/images/ProductImageGallery.tsx
  packages/@verone/products/src/components/images/ProductImageManagement.tsx
  packages/@verone/products/src/components/images/ProductImageViewerModal.tsx
  packages/@verone/products/src/components/modals/product-photos/ProductPhotosGallery.tsx
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260429_extend_cloudflare_image_id.sql
Due: prettier --write, eslint --fix

[INFRA-IMG-003] feat: migrate packages (common, orders, stock, collections) to CloudflareImage
  packages/@verone/collections/src/hooks/use-collection-images.ts
  packages/@verone/common/src/components/collections/CollectionImageUpload.tsx
  packages/@verone/orders/src/components/modals/QuickPurchaseOrderModal.tsx
  packages/@verone/orders/src/components/modals/quick-po-types.ts
  packages/@verone/orders/src/components/tables/OrderItemsTable.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/types.ts
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
Due: prettier --write, eslint --fix

[INFRA-IMG-003] feat: migrate apps (back-office, linkme) to CloudflareImage
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/EditSiteInternetProductModal/TabImages.tsx
  apps/back-office/src/app/(protected)/consultations/consultation-row.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_images-blocks/GalleryGrid.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_images-blocks/PrimaryImageCard.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/echantillons/echantillons-form.tsx
  apps/linkme/src/components/catalogue/ProductDetailModal.tsx
  apps/linkme/src/components/forms/ProductImageUpload.tsx
  apps/linkme/src/lib/hooks/use-product-images.ts
  apps/site-internet/.gitignore
Due: prettier --write, eslint --fix

[INFRA-IMG-003] feat: buildCloudflareImageUrl uses imagedelivery.net by default
  packages/@verone/utils/src/cloudflare/__tests__/images.test.ts
  packages/@verone/utils/src/cloudflare/images.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-003] docs: audit cleanup restant pour sessions futures
  docs/scratchpad/audit-2026-04-29-INFRA-IMG-cleanup-restant.md
Due: prettier --write

[INFRA-IMG-003] chore: regenerate Supabase types from CI artifact (graphql_public schema)
  packages/@verone/types/src/supabase.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-003] feat: migrate 22 image components to <CloudflareImage> (#836)
  apps/back-office/src/app/(protected)/canaux-vente/site-internet/components/EditSiteInternetProductModal/TabImages.tsx
  apps/back-office/src/app/(protected)/consultations/consultation-row.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_images-blocks/GalleryGrid.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/[productId]/_components/_images-blocks/PrimaryImageCard.tsx
  apps/back-office/src/app/(protected)/produits/sourcing/echantillons/echantillons-form.tsx
  apps/linkme/src/components/catalogue/ProductDetailModal.tsx
  apps/linkme/src/components/forms/ProductImageUpload.tsx
  apps/linkme/src/lib/hooks/use-product-images.ts
  apps/site-internet/.gitignore
  docs/scratchpad/audit-2026-04-29-INFRA-IMG-cleanup-restant.md
  packages/@verone/collections/src/hooks/use-collection-images.ts
  packages/@verone/common/src/components/collections/CollectionImageUpload.tsx
  packages/@verone/consultations/src/components/images/ConsultationImageGallery.tsx
  packages/@verone/consultations/src/components/images/ConsultationImageViewerModal.tsx
  packages/@verone/consultations/src/components/modals/ConsultationPhotosModal.tsx
  packages/@verone/consultations/src/hooks/use-consultation-images.ts
  packages/@verone/orders/src/components/modals/QuickPurchaseOrderModal.tsx
  packages/@verone/orders/src/components/modals/quick-po-types.ts
  packages/@verone/orders/src/components/tables/OrderItemsTable.tsx
  packages/@verone/products/src/components/cards/ProductCard.tsx
  packages/@verone/products/src/components/cards/ProductCardV2.tsx
  packages/@verone/products/src/components/images/PrimaryImageUpload.tsx
  packages/@verone/products/src/components/images/ProductImageGallery.tsx
  packages/@verone/products/src/components/images/ProductImageManagement.tsx
  packages/@verone/products/src/components/images/ProductImageViewerModal.tsx
  packages/@verone/products/src/components/modals/product-photos/ProductPhotosGallery.tsx
  packages/@verone/products/src/components/selectors/UniversalProductSelectorV2/types.ts
  packages/@verone/stock/src/components/cards/StockAlertCard.tsx
  packages/@verone/types/src/supabase.ts
  packages/@verone/utils/src/cloudflare/__tests__/images.test.ts
  packages/@verone/utils/src/cloudflare/images.ts
  supabase/migrations/20260429_extend_cloudflare_image_id.sql
Due: prettier --write, eslint --fix

[INFRA-IMG-004] feat: route unoptimized via <CloudflareImage> instead of global flag
  apps/back-office/next.config.js
  apps/back-office/src/components/forms/quick-variant-form-sections.tsx
  apps/site-internet/next.config.js
  packages/@verone/ui/src/components/ui/cloudflare-image.tsx
Due: prettier --write, eslint --fix

[INFRA-IMG-005] feat: route uploads via smartUploadImage + Cloudflare priority on logos
  apps/linkme/src/lib/hooks/use-product-images.ts
  packages/@verone/common/src/hooks/use-simple-image-upload.ts
  packages/@verone/organisations/src/components/OrganisationLogo.tsx
  packages/@verone/organisations/src/components/display/OrganisationLogo.tsx
  packages/@verone/products/src/hooks/sourcing/use-sourcing-create-update.ts
Due: prettier --write, eslint --fix

[INFRA-IMG-004] feat: route unoptimized via <CloudflareImage> instead of global flag (#837)
  apps/back-office/next.config.js
  apps/back-office/src/components/forms/quick-variant-form-sections.tsx
  apps/site-internet/next.config.js
  packages/@verone/ui/src/components/ui/cloudflare-image.tsx
Due: prettier --write, eslint --fix

[INFRA-IMG-013] fix: include cloudflare_image_id in product_images batch select
  docs/scratchpad/dev-report-2026-04-30-INFRA-IMG-013-batch-cloudflare-id.md
  packages/@verone/products/src/hooks/use-product-images-batch.ts
Due: prettier --write, eslint --fix

[BO-SEC-CRITICAL-001] fix: stop-the-bleed Supabase security advisors
  docs/scratchpad/audit-2026-04-30-supabase-advisors-inventory.md
  docs/scratchpad/dev-plan-2026-04-30-BO-SEC-CRITICAL-001.md
  scripts/supabase-advisors-baseline.json
  supabase/migrations/20260430_sec_critical_001_stop_the_bleed.sql
Due: prettier --write

[BO-SEC-CRITICAL-002] fix: drop auth.users JOIN in v_linkme_users + RPC for emails
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/linkme-user-queries.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/messages/components/hooks.ts
  docs/scratchpad/dev-plan-2026-04-30-BO-SEC-CRITICAL-002.md
  packages/@verone/orders/src/hooks/linkme/use-organisation-contacts-bo.ts
  packages/@verone/types/src/supabase.ts
  supabase/migrations/20260430_sec_critical_002_v_linkme_users_no_auth_leak.sql
Due: prettier --write, eslint --fix

[BO-SEC-RLS-002] feat: 11 views SDF→security_invoker + 21 fns search_path hardening
  docs/scratchpad/dev-plan-2026-04-30-BO-SEC-RLS-002.md
  supabase/migrations/20260430_sec_rls_002_views_security_invoker_and_function_search_path.sql
Due: prettier --write

[BO-SEC-RLS-003] feat: linkme_globe_items security_invoker + 2 anon RLS
  supabase/migrations/20260430_sec_rls_003_linkme_globe_items_security_invoker.sql
Due: none

[BO-SEC-RLS-004] fix: drop 5 RLS anon-INSERT policies (rls_policy_always_true)
  supabase/migrations/20260430_sec_rls_004_drop_anon_insert_policies.sql
Due: none

[BO-SEC-SDF-FUNCS-006] fix: REVOKE EXECUTE mass + whitelist 47 RPCs
  supabase/migrations/20260430_sec_sdf_funcs_006_revoke_execute_mass_with_whitelist.sql
Due: none

[BO-SEC-RLS-005] fix: scope 25+ RLS authenticated-true to is_backoffice_user()
  supabase/migrations/20260430_sec_rls_005_scope_authenticated_to_staff.sql
Due: none

[BO-SEC-RLS-006] fix: final scope ~35 RLS authenticated-true to staff (21 tables)
  supabase/migrations/20260430_sec_rls_006_final_cleanup_staff_tables.sql
Due: none

[BO-PERF-CATALOG-001] perf: lightweight useOrganisations + fix archived count
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
  packages/@verone/organisations/src/hooks/organisations.constants.ts
  packages/@verone/organisations/src/hooks/organisations.types.ts
  packages/@verone/organisations/src/hooks/use-organisations.ts
Due: prettier --write, eslint --fix

[BO-UI-RESP-CATALOG-001] feat: migrate CatalogueListView to ResponsiveDataView
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueListView.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueProductCardMobile.tsx
Due: prettier --write, eslint --fix

[BO-CATALOG-SEARCH-001] feat: extend catalogue search + new filters
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueToolbar.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-catalogue-page.ts
  packages/@verone/categories/src/hooks/catalogue-types.ts
  packages/@verone/categories/src/hooks/use-catalogue-data.ts
Due: prettier --write, eslint --fix

[BO-CATALOG-VIEWS-001] feat: 5 system saved views + dev plan personal+bulk
  apps/back-office/src/app/(protected)/produits/catalogue/CatalogueSavedViews.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/use-saved-views.ts
  docs/scratchpad/dev-plan-2026-04-30-BO-CATALOG-VIEWS-001.md
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
