Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[BO-MAXLINES-095] refactor: split UniversalOrderDetailsModal.tsx (769L) into 6 sub-files
  packages/@verone/orders/src/components/modals/UniversalOrderDetailsModal.tsx
  packages/@verone/orders/src/components/modals/UniversalOrderHeaderCard.tsx
  packages/@verone/orders/src/components/modals/UniversalOrderItemsCard.tsx
  packages/@verone/orders/src/components/modals/universal-order-modal.types.ts
  packages/@verone/orders/src/components/modals/use-universal-order-header.ts
  packages/@verone/orders/src/components/modals/use-universal-order-modal.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-096] refactor: split use-treasury-stats.ts (768L) into 4 sub-files
  packages/@verone/finance/src/hooks/use-treasury-stats.cache.ts
  packages/@verone/finance/src/hooks/use-treasury-stats.helpers.ts
  packages/@verone/finance/src/hooks/use-treasury-stats.ts
  packages/@verone/finance/src/hooks/use-treasury-stats.types.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-097] refactor: split inventaire/page.tsx (757L) into 6 sub-files
  apps/back-office/src/app/(protected)/stocks/inventaire/InventaireFilters.tsx
  apps/back-office/src/app/(protected)/stocks/inventaire/InventaireHeader.tsx
  apps/back-office/src/app/(protected)/stocks/inventaire/InventaireTable.tsx
  apps/back-office/src/app/(protected)/stocks/inventaire/inventaire.types.ts
  apps/back-office/src/app/(protected)/stocks/inventaire/page.tsx
  apps/back-office/src/app/(protected)/stocks/inventaire/use-inventaire-page.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-098] refactor: split AddressEditSection.tsx (753L) into 5 sub-files
  packages/@verone/common/src/components/address/AddressEditSection.tsx
  packages/@verone/common/src/components/address/AddressFormFields.tsx
  packages/@verone/common/src/components/address/AddressReadView.tsx
  packages/@verone/common/src/components/address/address-edit.types.ts
  packages/@verone/common/src/components/address/use-address-edit-section.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-099] refactor: split delivery-info/[token]/page.tsx (751L) into 5 sub-files
  apps/linkme/src/app/(public)/delivery-info/[token]/DeliveryInfoForm.tsx
  apps/linkme/src/app/(public)/delivery-info/[token]/delivery-info.fetcher.ts
  apps/linkme/src/app/(public)/delivery-info/[token]/delivery-info.types.ts
  apps/linkme/src/app/(public)/delivery-info/[token]/page.tsx
  apps/linkme/src/app/(public)/delivery-info/[token]/use-delivery-info-page.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-100] refactor: split variantes/page.tsx (746L) into 8 sub-files
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/VariantGroupCard.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/VariantesFilters.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/VariantesModals.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/VariantesSkeleton.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/page.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/use-variantes-page.ts
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/variantes.helpers.tsx
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/variantes.types.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-101] refactor: split CommissionsTable.tsx (744L) into 5 sub-files
  apps/linkme/src/components/commissions/CommissionsTable.tsx
  apps/linkme/src/components/commissions/CommissionsTableHead.tsx
  apps/linkme/src/components/commissions/commissions-table.sub-components.tsx
  apps/linkme/src/components/commissions/commissions-table.types.ts
  apps/linkme/src/components/commissions/use-commissions-table.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-102] refactor: split InventoryAdjustmentModal.tsx (742L) into 5 sub-files
  packages/@verone/stock/src/components/modals/AdjustmentFileUpload.tsx
  packages/@verone/stock/src/components/modals/AdjustmentTabsContent.tsx
  packages/@verone/stock/src/components/modals/InventoryAdjustmentModal.tsx
  packages/@verone/stock/src/components/modals/inventory-adjustment.types.ts
  packages/@verone/stock/src/components/modals/use-inventory-adjustment.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-103] refactor: split use-organisations.ts (741L) into 6 sub-files
  packages/@verone/organisations/src/hooks/organisations.constants.ts
  packages/@verone/organisations/src/hooks/organisations.display.ts
  packages/@verone/organisations/src/hooks/organisations.types.ts
  packages/@verone/organisations/src/hooks/use-organisation-single.ts
  packages/@verone/organisations/src/hooks/use-organisations-crud.ts
  packages/@verone/organisations/src/hooks/use-organisations.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-104] refactor: split mes-produits/[id]/page.tsx (739L) into 7 sub-files
  apps/linkme/src/app/(main)/mes-produits/[id]/ProduitInfoForm.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/ProduitPreviewSidebar.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/ProduitPricingForm.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/ProduitStockageForm.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/mes-produits-id.types.ts
  apps/linkme/src/app/(main)/mes-produits/[id]/page.tsx
  apps/linkme/src/app/(main)/mes-produits/[id]/use-edit-produit.ts
Due: prettier --write, eslint --fix

[BO-MAXLINES-105] refactor: split ProductPricingCard.tsx (739L) into 6 sub-files
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/PricingMarginSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/PricingPublicPriceSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/PricingSellingPriceSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/ProductPricingCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/product-pricing-card.helpers.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/use-product-pricing.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: correct UpdateVariantGroupData type in VariantesModals
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/VariantesModals.tsx
Due: prettier --write, eslint --fix

[NO-TASK] fix: use export type for type-only re-exports in ui-business
  packages/@verone/ui-business/src/index.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: use nullish coalescing in PurchaseOrderFormModal hooks
  packages/@verone/orders/src/components/modals/PurchaseOrderFormModal/hooks.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove unnecessary type assertion in use-variantes-page
  apps/back-office/src/app/(protected)/produits/catalogue/variantes/use-variantes-page.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: allow 11 max-lines warnings pending tranche-5 splits
  apps/back-office/package.json
Due: prettier --write

[NO-TASK] refactor: split use-linkme-selections.ts (972L) into types/queries/mutations
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-selections.mutations.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-selections.queries.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-selections.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-selections.types.ts
Due: prettier --write, eslint --fix

[NO-TASK] refactor: split SelectionProductDetailModal.tsx (731L) into hook + actions
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionProductDetailActions.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/use-selection-product-detail.ts
Due: prettier --write, eslint --fix

[NO-TASK] refactor: extract hooks and sub-components from 5 oversized files
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/EditLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/PaymentRequestModalAdmin.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/UserConfigModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/edit-order-items-list.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/payment-request-invoice-template.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/use-edit-linkme-order.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/use-payment-request.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/use-user-config.ts
  apps/back-office/src/app/(protected)/consultations/consultation-row.tsx
  apps/back-office/src/app/(protected)/consultations/create/page.tsx
  apps/back-office/src/app/(protected)/consultations/create/use-create-consultation.ts
  apps/back-office/src/app/(protected)/consultations/page.tsx
  apps/back-office/src/app/(protected)/consultations/use-consultations-page.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: exclude Qonto files from max-lines ESLint rule
  apps/back-office/package.json
  eslint.config.mjs
Due: prettier --write

[NO-TASK] fix: resolve ESLint prettier warnings and unused imports
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/EditLinkMeOrderModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionProductDetailActions.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/SelectionProductDetailModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/UserConfigModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/payment-request-invoice-template.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/use-edit-linkme-order.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/use-user-config.ts
  apps/back-office/src/app/(protected)/consultations/create/page.tsx
  apps/back-office/src/app/(protected)/consultations/page.tsx
Due: prettier --write, eslint --fix

[NO-TASK] chore: increase CI timeout to 25min for large integration PR
  .github/workflows/quality.yml
Due: none

[NO-TASK] chore: set CI timeout to 60min
  .github/workflows/quality.yml
Due: none

[NO-TASK] fix: add NODE_OPTIONS 8GB to CI build step (heap OOM)
  .github/workflows/quality.yml
Due: none

[BO-COMM-001] fix: switch commission triggers from taux de marque to taux de marge
  supabase/migrations/20260407120000_fix_commission_marge_triggers_and_retrocession_rate.sql
Due: none

[BO-STK-002] fix: restore stock forecast rollback on PO cancellation + SO devalidation
  .claude/rules/dev/stock-triggers-protected.md
  supabase/migrations/20260407150000_fix_stock_forecast_rollback_on_devalidation_and_cancellation.sql
Due: prettier --write

[BO-CRM-002] fix: unify contacts source of truth — remove Commercial role, standardize badges/actions
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/components/EditContactDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/components/EnseigneContactCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/components/EnseigneContactsSection.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/ContactsFilters.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/[contactId]/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/types.ts
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/utils.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/components/EnseigneContactsTab.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/hooks/use-enseigne-detail.ts
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/page.tsx
  apps/linkme/src/components/contacts/ContactDisplayCard.tsx
  apps/linkme/src/components/organisations/CreateEnseigneContactModal.tsx
  apps/linkme/src/components/organisations/EnseigneContactsTab.tsx
  apps/linkme/src/components/organisations/OrganisationDetailModal.tsx
  apps/linkme/src/components/organisations/organisation-detail/SharedComponents.tsx
  apps/linkme/src/lib/hooks/submit-create-contacts.ts
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
  docs/business-rules/03-organisations-contacts/contacts-source-verite.md
  packages/@verone/customers/src/components/modals/contact-form-modal.tsx
  packages/@verone/customers/src/components/sections/ContactRolesEditSection.tsx
  packages/@verone/customers/src/components/sections/ContactsManagementSection.tsx
  packages/@verone/customers/src/components/sections/OrganisationContactsManager.tsx
  packages/@verone/orders/src/components/contacts/ContactCardBO.tsx
  packages/@verone/orders/src/components/linkme-contacts/ContactCardBO.tsx
  packages/@verone/orders/src/hooks/linkme/use-organisation-contacts-bo.ts
  packages/@verone/organisations/src/components/forms/organisation-contacts-manager.tsx
  packages/@verone/organisations/src/components/modals/ContactFormModalWrapper.tsx
  packages/@verone/organisations/src/hooks/use-contacts.ts
  packages/@verone/utils/src/validation/form-security.ts
Due: prettier --write, eslint --fix

[BO-CRM-002] fix: unify contacts source of truth — remove Commercial role, standardize badges/actions (#532)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/components/EditContactDialog.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/components/EnseigneContactCard.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/enseignes/[id]/components/EnseigneContactsSection.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/ContactsFilters.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/[contactId]/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/page.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/types.ts
  apps/back-office/src/app/(protected)/contacts-organisations/contacts/utils.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/components/EnseigneContactsTab.tsx
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/hooks/use-enseigne-detail.ts
  apps/back-office/src/app/(protected)/contacts-organisations/enseignes/[id]/page.tsx
  apps/linkme/src/components/contacts/ContactDisplayCard.tsx
  apps/linkme/src/components/organisations/CreateEnseigneContactModal.tsx
  apps/linkme/src/components/organisations/EnseigneContactsTab.tsx
  apps/linkme/src/components/organisations/OrganisationDetailModal.tsx
  apps/linkme/src/components/organisations/organisation-detail/SharedComponents.tsx
  apps/linkme/src/lib/hooks/submit-create-contacts.ts
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
  docs/business-rules/03-organisations-contacts/contacts-source-verite.md
  packages/@verone/customers/src/components/modals/contact-form-modal.tsx
  packages/@verone/customers/src/components/sections/ContactRolesEditSection.tsx
  packages/@verone/customers/src/components/sections/ContactsManagementSection.tsx
  packages/@verone/customers/src/components/sections/OrganisationContactsManager.tsx
  packages/@verone/orders/src/components/contacts/ContactCardBO.tsx
  packages/@verone/orders/src/components/linkme-contacts/ContactCardBO.tsx
  packages/@verone/orders/src/hooks/linkme/use-organisation-contacts-bo.ts
  packages/@verone/organisations/src/components/forms/organisation-contacts-manager.tsx
  packages/@verone/organisations/src/components/modals/ContactFormModalWrapper.tsx
  packages/@verone/organisations/src/hooks/use-contacts.ts
  packages/@verone/utils/src/validation/form-security.ts
Due: prettier --write, eslint --fix

[BO-LOG-001] fix: route logger output to correct console methods (debug/info/warn/error)
  packages/@verone/utils/src/logger.ts
Due: prettier --write, eslint --fix

[BO-ADDR-002] fix: replace free-text country inputs with ISO select across all forms
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/components/organisations/organisation-detail/InfosTab.tsx
  apps/linkme/src/components/public-selection/StoreLocatorMap.tsx
  packages/@verone/common/src/components/address/AddressSelector.tsx
  packages/@verone/common/src/components/address/address-edit.types.ts
  packages/@verone/finance/src/components/invoice-detail/InvoiceEditForm.tsx
  packages/@verone/ui/src/components/ui/AddressManualForm.tsx
Due: prettier --write, eslint --fix

[BO-ADDR-002] fix: replace free-text country inputs with ISO select across all forms (#535)
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/components/organisations/organisation-detail/InfosTab.tsx
  apps/linkme/src/components/public-selection/StoreLocatorMap.tsx
  packages/@verone/common/src/components/address/AddressSelector.tsx
  packages/@verone/common/src/components/address/address-edit.types.ts
  packages/@verone/finance/src/components/invoice-detail/InvoiceEditForm.tsx
  packages/@verone/ui/src/components/ui/AddressManualForm.tsx
Due: prettier --write, eslint --fix

[BO-VNT-001] fix: repair Commande button on /ventes, remove duplicate buttons and Export Excel
  apps/back-office/src/app/(protected)/commandes/clients/page.tsx
  apps/back-office/src/app/(protected)/dashboard/page.tsx
  apps/back-office/src/app/(protected)/ventes/page.tsx
  packages/@verone/notifications/src/hooks/use-user-activity-tracker.ts
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderFilters.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrdersTable.tsx
Due: prettier --write, eslint --fix

[NO-TASK] docs: add transversal components/forms index and @imports in CLAUDE.md files
  .claude/INDEX.md
  CLAUDE.md
  apps/back-office/CLAUDE.md
  apps/linkme/CLAUDE.md
  apps/site-internet/CLAUDE.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
Due: prettier --write

fix: repair Commande button + add components/forms index (#536)
  .claude/INDEX.md
  CLAUDE.md
  apps/back-office/CLAUDE.md
  apps/back-office/src/app/(protected)/commandes/clients/page.tsx
  apps/back-office/src/app/(protected)/dashboard/page.tsx
  apps/back-office/src/app/(protected)/ventes/page.tsx
  apps/linkme/CLAUDE.md
  apps/site-internet/CLAUDE.md
  docs/current/INDEX-COMPOSANTS-FORMULAIRES.md
  packages/@verone/notifications/src/hooks/use-user-activity-tracker.ts
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrderFilters.tsx
  packages/@verone/orders/src/components/sales-orders-table/SalesOrdersTable.tsx
Due: prettier --write, eslint --fix

[NO-TASK] perf: add Turborepo cache to GitHub Actions CI
  .github/workflows/quality.yml
Due: none

[NO-TASK] fix: use exact version tag for caching-for-turbo action
  .github/workflows/quality.yml
Due: none

[NO-TASK] fix: use official actions/cache for Turborepo instead of third-party action
  .github/workflows/quality.yml
Due: none

perf: add Turborepo cache to CI (30min → ~10min) (#537)
  .github/workflows/quality.yml
Due: none

[NO-TASK] perf: parallelize CI pipeline and use Turborepo --affected flag
  .github/workflows/quality.yml
Due: none
