Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

fix(linkme): fix contacts and logos display in OrganisationDetailSheet
  apps/linkme/src/components/organisations/OrganisationDetailSheet.tsx
  apps/linkme/src/lib/hooks/use-organisation-contacts.ts
  apps/linkme/src/lib/hooks/use-organisation-detail.ts
Due: prettier --write, eslint --fix

fix(dashboard,linkme): dashboard improvements and rollback tabbed selection
  apps/back-office/src/app/dashboard/components/charts/revenue-chart.tsx
  apps/back-office/src/app/dashboard/components/charts/treasury-chart.tsx
  apps/back-office/src/app/dashboard/components/widgets/recent-orders-widget.tsx
  apps/linkme/src/app/(public)/s/[id]/SelectionLayoutClient.tsx
  apps/linkme/src/app/(public)/s/[id]/catalogue/page.tsx
  apps/linkme/src/app/(public)/s/[id]/contact/page.tsx
  apps/linkme/src/app/(public)/s/[id]/faq/page.tsx
  apps/linkme/src/app/(public)/s/[id]/layout.tsx
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/contexts/PublicSelectionContext.tsx
  packages/@verone/dashboard/src/hooks/index.ts
  packages/@verone/dashboard/src/hooks/use-cash-flow-forecast.ts
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
Due: prettier --write, eslint --fix

feat(dashboard): implement remaining Recharts charts
  apps/back-office/src/app/dashboard/components/charts/abc-analysis-chart.tsx
  apps/back-office/src/app/dashboard/components/charts/aging-report-chart.tsx
  apps/back-office/src/app/dashboard/components/charts/channel-pie-chart.tsx
Due: prettier --write, eslint --fix

fix(dashboard): fix 6 critical bugs from audit
  packages/@verone/dashboard/src/hooks/metrics/use-stock-metrics.ts
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
  packages/@verone/finance/src/hooks/use-treasury-stats.ts
  supabase/migrations/20260113_001_create_get_stock_alerts_count_rpc.sql
  supabase/migrations/20260113_002_fix_stock_value_column_rpc.sql
Due: prettier --write, eslint --fix

fix(dashboard): fix 4 persistent bugs from audit v2
  apps/back-office/src/app/dashboard/components/charts/treasury-chart.tsx
  packages/@verone/dashboard/src/hooks/index.ts
  packages/@verone/dashboard/src/hooks/use-cash-flow-forecast.ts
  packages/@verone/dashboard/src/hooks/use-complete-dashboard-metrics.ts
Due: prettier --write, eslint --fix

[BO-WORK-001] feat(workflow): implement Claude Code workflow with single source of truth
  .claude/scripts/plan-sync.js
  .claude/scripts/task-completed.sh
  .claude/scripts/validate-command.js
  .claude/settings.json
  .claude/work/ACTIVE.md
  docs/claude-workflow.md
  package.json
Due: prettier --write

chore(plan): sync [BO-WORK-001]
  .claude/work/ACTIVE.md
Due: prettier --write

[BO-WORK-001] fix(workflow): skip sync check for chore(plan) commits
  .claude/scripts/task-completed.sh
Due: none

chore(plan): sync
  .claude/work/ACTIVE.md
Due: prettier --write

[BO-WORK-002] fix(workflow): improve Stop hook robustness
  .claude/scripts/task-completed.sh
  .claude/work/ACTIVE.md
Due: prettier --write

[BO-WORK-003] docs(workflow): document Task ID workflow in CLAUDE.md
  .claude/work/ACTIVE.md
  CLAUDE.md
Due: prettier --write

[BO-WORK-004] chore(workflow): add READ→WRITE handoff mailbox
  .claude/scripts/handoff-export.sh
  .claude/settings.json
  .claude/work/ACTIVE.md
  CLAUDE.md
  package.json
Due: prettier --write

[LM-ORG-001] refactor(linkme): move /reseau map view to /organisations tab
  .claude/work/ACTIVE.md
  apps/linkme/src/app/(main)/organisations/page.tsx
  apps/linkme/src/app/(main)/reseau/page.tsx
  apps/linkme/src/components/layout/Header.tsx
Due: prettier --write, eslint --fix

[BO-SENTRY-001] feat(monitoring): add Sentry expert setup with Replay and Feedback
  .claude/work/ACTIVE.md
  apps/back-office/instrumentation.ts
  apps/back-office/next.config.js
  apps/back-office/sentry.client.config.ts
  apps/back-office/sentry.edge.config.ts
  apps/back-office/sentry.server.config.ts
  apps/back-office/src/app/api/cron/google-merchant-poll/route.ts
  apps/back-office/src/app/api/linkme/selections/add-item/route.ts
  apps/back-office/src/app/global-error.tsx
  apps/linkme/instrumentation.ts
  apps/linkme/next.config.js
  apps/linkme/sentry.client.config.ts
  apps/linkme/sentry.edge.config.ts
  apps/linkme/sentry.server.config.ts
  apps/linkme/src/app/global-error.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[NO-TASK] fix(sentry): update org/project to verone-4q and add test page
  apps/back-office/next.config.js
  apps/back-office/src/app/sentry-example-page/page.tsx
  apps/linkme/next.config.js
Due: prettier --write, eslint --fix

[NO-TASK] fix(dashboard): remove individual refresh buttons and fix error logging
  apps/back-office/src/app/dashboard/components/charts/chart-card.tsx
  apps/back-office/src/app/dashboard/components/widgets/widget-card.tsx
  packages/@verone/stock/src/hooks/use-stock-movements.ts
Due: prettier --write, eslint --fix

[LM-ORG-002] fix(linkme): restore map view features on organisations page
  apps/linkme/src/app/(main)/organisations/page.tsx
Due: prettier --write, eslint --fix

[BO-WORK-005] feat(workflow): implement multi-agent workflow with ACTIVE.md
  .claude/agents/action.md
  .claude/agents/audit-governor.md
  .claude/agents/data-layer-auditor.md
  .claude/agents/database-architect.md
  .claude/agents/frontend-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/agents/verone-orchestrator.md
  .claude/archive/README.md
  .claude/archive/plans/2025-12/audit-triggers-purchase-orders.md
  .claude/archive/plans/2025-12/authentication-audit-complete-2025-12-01.md
  .claude/archive/plans/2025-12/claude-md-minimalist-redesign.md
  .claude/archive/plans/2025-12/database-samples-exploration.md
  .claude/archive/plans/2025-12/docs-optimization-analysis.md
  .claude/archive/plans/2025-12/exploration-inventaire-colonnes-stock.md
  .claude/archive/plans/2025-12/exploration-stocks-page-kpis-widgets.md
  .claude/archive/plans/2025-12/exploration-traceability-columns.md
  .claude/archive/plans/2025-12/linkme-auto-margin-calculation-2025-12-03.md
  .claude/archive/plans/2025-12/memory-optimization-analysis-2025-11-26.md
  .claude/archive/plans/2025-12/purchase-order-fulfillment-analysis-2025-11-27.md
  .claude/archive/plans/2025-12/quizzical-jumping-leaf-agent-a7383a80.md
  .claude/archive/plans/2025-12/token-analysis-2025-11-26.md
  .claude/archive/plans/2025-12/trigger-stock-investigation.md
  .claude/commands/dev.md
  .claude/commands/plan.md
  .claude/commands/read1.md
  .claude/commands/read2.md
  .claude/commands/write.md
  .claude/plans/README.md
  CLAUDE.md
Due: prettier --write

[LM-SEL-001] feat: add pagination and tab-based navigation to public selection page
  apps/linkme/src/app/(public)/s/[id]/page.tsx
  apps/linkme/src/components/public-selection/Pagination.tsx
  apps/linkme/src/components/public-selection/SelectionHeader.tsx
  apps/linkme/src/components/public-selection/index.ts
Due: prettier --write, eslint --fix

[LM-SEL-003] fix: reduce pagination and button size in public selection
  apps/linkme/src/app/(public)/s/[id]/page.tsx
Due: prettier --write, eslint --fix

[LM-ORG-003] feat: improve map popup design in organisations view
  apps/linkme/src/components/shared/MapLibreMapView.tsx
  apps/linkme/src/components/shared/MapPopupCard.tsx
Due: prettier --write, eslint --fix

[LM-ORD-004] feat: auto-fill contact data from existing customers in order forms
  apps/linkme/src/app/(main)/commandes/components/CreateOrderModal.tsx
  apps/linkme/src/components/OrderFormUnified.tsx
Due: prettier --write, eslint --fix

[BO-FORM-001] feat(forms): create extensible form submission system - Phase 1
  .claude/work/ACTIVE.md
  supabase/migrations/20260115_001_create_form_submissions.sql
  supabase/migrations/20260115_002_create_form_types.sql
  supabase/migrations/20260115_003_create_form_submission_messages.sql
  supabase/migrations/20260115_004_create_app_settings.sql
  supabase/migrations/20260115_005_form_submissions_rls.sql
  supabase/migrations/20260115_006_form_submission_triggers.sql
  supabase/migrations/20260115_007_drop_linkme_contact_requests.sql
  supabase/migrations/20260115_008_fix_form_notification_trigger.sql
Due: prettier --write

[BO-FORM-001] feat(forms): implement API routes for form submission system - Phase 2
  apps/linkme/package.json
  apps/linkme/src/app/api/emails/form-confirmation/route.ts
  apps/linkme/src/app/api/emails/form-notification/route.ts
  apps/linkme/src/app/api/forms/submit/route.ts
  pnpm-lock.yaml
  test-form-api.sh
Due: prettier --write, eslint --fix

[BO-FORM-001] feat(forms): integrate ContactForm with new API - Phase 3 MVP
  apps/linkme/src/components/public-selection/ContactForm.tsx
Due: prettier --write, eslint --fix

[BO-FORM-001] feat(forms): create back-office UI for form submissions - Phase 4
  apps/back-office/src/app/prises-contact/[id]/page.tsx
  apps/back-office/src/app/prises-contact/page.tsx
Due: prettier --write, eslint --fix

[BO-FORM-001] feat(forms): implement conversion server actions - Phase 5
  apps/back-office/src/app/prises-contact/[id]/actions.ts
  apps/back-office/src/app/prises-contact/[id]/page.tsx
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc: any of: $schema
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,tsx}
  node scripts/validation/check-duplicate-hooks.ts: any of: src/hooks/use-*.ts
