Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[NO-TASK] fix: resolve 60 ESLint warnings in user-management.ts after move
  apps/back-office/src/app/actions/user-management.ts
Due: prettier --write, eslint --fix

[BO-AUTH] Fix cross-app login crash (#172)
  .claude/guides/cross-app-protection.md
  apps/back-office/src/app/unauthorized/layout.tsx
  apps/back-office/src/app/unauthorized/page.tsx
  apps/back-office/src/components/layout/auth-wrapper.tsx
  apps/back-office/src/middleware.ts
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
Due: prettier --write, eslint --fix

[BO-AUTH] Fix cross-app login crash (#172) (#183)
  .claude/guides/cross-app-protection.md
  apps/back-office/src/app/unauthorized/layout.tsx
  apps/back-office/src/app/unauthorized/page.tsx
  apps/back-office/src/components/layout/auth-wrapper.tsx
  apps/back-office/src/middleware.ts
  packages/@verone/utils/src/middleware/enforce-app-isolation.ts
Due: prettier --write, eslint --fix

[LM-AUTH-001] fix: apply cross-app protection pattern to LinkMe
  .claude/plans/kind-snuggling-cerf.md
  .github/workflows/quality.yml
  apps/back-office/test-results/.last-run.json
  apps/back-office/test-results/tests-verify-fix-local-Ver-0d5bc--show-normal-desktop-layout/error-context.md
  apps/linkme/src/app/unauthorized/page.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/middleware.ts
  docs/current/serena/e2e-tests-quickstart.md
  supabase/migrations/20260209000001_allow_negative_amounts_for_credit_notes.sql
  supabase/migrations/20260209000002_allow_negative_quantities_for_returns.sql
Due: prettier --write, eslint --fix

[LM-AUTH-001] fix: apply cross-app protection pattern to LinkMe (#184)
  .claude/plans/kind-snuggling-cerf.md
  .github/workflows/quality.yml
  apps/back-office/test-results/.last-run.json
  apps/back-office/test-results/tests-verify-fix-local-Ver-0d5bc--show-normal-desktop-layout/error-context.md
  apps/linkme/src/app/unauthorized/page.tsx
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/middleware.ts
  docs/current/serena/e2e-tests-quickstart.md
  supabase/migrations/20260209000001_allow_negative_amounts_for_credit_notes.sql
  supabase/migrations/20260209000002_allow_negative_quantities_for_returns.sql
Due: prettier --write, eslint --fix

[BO-MWR-001] fix: make middleware self-contained for Vercel Edge Runtime
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[BO-MWR-001] fix: make middleware self-contained for Vercel Edge Runtime (#185)
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove back-office middleware.ts (MIDDLEWARE_INVOCATION_FAILED)
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove back-office middleware.ts (restore stability) (#187)
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: remove back-office middleware.ts from staging
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[LM-COMM-001] fix: restore LinkMe commissions after Feb 11 regression
  supabase/migrations/20260212_001_fix_retrocession_amounts.sql
  supabase/migrations/20260212_002_recalculate_commissions.sql
  supabase/migrations/20260212_003_fix_commission_triggers.sql
  supabase/migrations/20260212_004_fix_enriched_view_formula.sql
Due: none

[LM-COMM-001] fix: restore LinkMe commissions after Feb 11 regression (#189)
  supabase/migrations/20260212_001_fix_retrocession_amounts.sql
  supabase/migrations/20260212_002_recalculate_commissions.sql
  supabase/migrations/20260212_003_fix_commission_triggers.sql
  supabase/migrations/20260212_004_fix_enriched_view_formula.sql
Due: none

[CI-OPT-001] feat: skip duplicate CI runs with fkirc/skip-duplicate-actions@v5
  .github/workflows/ci.yml
  .github/workflows/linkme-validation.yml
  .github/workflows/quality.yml
Due: none

[CI-OPT-001] feat: skip duplicate CI runs (#190)
  .github/workflows/ci.yml
  .github/workflows/linkme-validation.yml
  .github/workflows/quality.yml
Due: none

[LM-USERS-001] fix: remove double insert in user_app_roles + rename org_independante to organisation_admin
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/UserCreateModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/UserEditModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/UserViewModal.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/UsersSection.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-users.ts
  apps/back-office/src/app/(protected)/canaux-vente/linkme/selections/new/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/utilisateurs/page.tsx
  apps/back-office/src/app/api/linkme/users/create/route.ts
  apps/linkme/src/app/(main)/catalogue/page.tsx
  apps/linkme/src/app/(main)/contacts/page.tsx
  apps/linkme/src/app/(main)/ma-selection/[id]/page.tsx
  apps/linkme/src/app/(main)/ma-selection/[id]/produits/page.tsx
  apps/linkme/src/app/(main)/ma-selection/nouvelle/page.tsx
  apps/linkme/src/app/(main)/ma-selection/page.tsx
  apps/linkme/src/app/(main)/mes-produits/nouveau/page.tsx
  apps/linkme/src/app/(main)/mes-produits/page.tsx
  apps/linkme/src/components/RequireRole.tsx
  apps/linkme/src/components/auth/UserMenu.tsx
  apps/linkme/src/components/layout/Header.tsx
  apps/linkme/src/config/route-permissions.ts
  apps/linkme/src/contexts/AuthContext.tsx
  apps/linkme/src/hooks/use-permissions.ts
  apps/linkme/src/lib/hooks/use-affiliate-products.ts
  apps/linkme/src/lib/hooks/use-enseigne-organisations.ts
  apps/linkme/src/lib/hooks/use-linkme-catalog.ts
  apps/linkme/src/lib/hooks/use-user-selection.ts
  supabase/migrations/20260212134431_rename_org_independante_to_organisation_admin.sql
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: improve error message extraction in create user hook
  apps/back-office/src/app/(protected)/canaux-vente/linkme/hooks/use-linkme-users.ts
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: convert empty phone string to null before DB insert
  apps/back-office/src/app/api/linkme/users/create/route.ts
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: add Zod validation to create user API route
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/UserCreateModal.tsx
  apps/back-office/src/app/api/linkme/users/create/route.ts
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: add Zod validation + skip affiliate creation if already exists
  apps/back-office/src/app/api/linkme/users/create/route.ts
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: refonte trigger commissions + nettoyage métadonnées + suppression fallbacks TTC
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/PaymentRequestModalAdmin.tsx
  supabase/migrations/20260212_001_fix_commission_system.sql
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: commissions page reads all order data from live JOIN instead of frozen copies
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
  apps/back-office/src/app/(protected)/canaux-vente/linkme/components/PaymentRequestModalAdmin.tsx
  supabase/migrations/20260212_002_sync_commission_order_numbers.sql
Due: prettier --write, eslint --fix

[LM-USERS-001] feat: add pagination to commissions page (10/20 per page)
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
Due: prettier --write, eslint --fix

[LM-USERS-001] feat: add year and enseigne filters to commissions page
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
Due: prettier --write, eslint --fix

[LM-USERS-001] feat: add sortable Date and Order Number columns to commissions table
  apps/back-office/src/app/(protected)/canaux-vente/linkme/commissions/page.tsx
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: correct commission calculation to use (selling_price - base_price) × qty
  packages/@verone/orders/src/components/modals/SalesOrderFormModal.tsx
  packages/@verone/orders/src/hooks/linkme/use-linkme-orders.ts
  supabase/migrations/20260212_003_fix_commission_calculations.sql
Due: prettier --write, eslint --fix

[LM-USERS-001] fix: restrict enseigne validation trigger to product_id changes only
  supabase/migrations/20260213_001_fix_enseigne_validation_trigger_scope.sql
Due: none

[LM-USERS-001] fix: LINK-230002 price corrections (3 migrations - should have been 1)
  supabase/migrations/20260213_002_fix_link_230002_prices_and_links.sql
  supabase/migrations/20260213_003_fix_base_prices_link_230002.sql
  supabase/migrations/20260213_004_insert_missing_channel_prices_link_230002.sql
Due: none

[LM-USERS-001] fix: structural commission protection with price locking (4 migrations)
  supabase/migrations/20260213_005_add_price_snapshot_columns.sql
  supabase/migrations/20260213_006_fix_trigger_use_locked_prices.sql
  supabase/migrations/20260213_007_fix_order_creation_functions.sql
  supabase/migrations/20260213_008_lock_verified_invoices.sql
Due: none

[LM-USERS-001] feat: auto lock/unlock prices on order validation (2 migrations)
  supabase/migrations/20260213_009_auto_lock_prices_on_validation.sql
  supabase/migrations/20260213_010_remove_lock_from_order_creation.sql
Due: none

[LM-USERS-001] feat: retroactive price locking + fix commissions LINK-230006/007/008
  docs/linkme-invoice-verification-workflow.md
  supabase/migrations/20260213144935_retroactive_price_locking.sql
Due: prettier --write

[LM-USERS-001] docs: affiliate products commission workflow (taxe 15%)
  docs/linkme-affiliate-products-commission.md
Due: prettier --write

[LM-USERS-001] fix: LINK-230008 commission alignment (DCO-0003 margin_rate 35%)
  supabase/migrations/20260213153000_fix_link_230008_dco_0003_margin_rate.sql
Due: none

[LM-USERS-001] fix: LINK-230009 alignment (+51.47€ recovered)
  supabase/migrations/20260213160000_fix_link_230009_commissions.sql
Due: none

[LM-USERS-001] fix: LINK-230013 alignment (+20.36€ recovered)
  supabase/migrations/20260213163000_fix_link_230013_commissions.sql
Due: none

[LM-USERS-001] fix: LINK-230019 commission alignment (+54.57€)
  supabase/migrations/20260213165000_fix_link_230019_commissions.sql
Due: none

[LM-USERS-001] fix: LINK-230019 correct PRD-0124 price alignment
  supabase/migrations/20260213165000_fix_link_230019_commissions.sql
Due: none
