Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, prettier --write, eslint --fix, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "src/hooks/use-*.ts": ["node scripts/validation/check-duplicate-hooks.ts"],
  "*.{json,md}": ["prettier --write"]
}

[NO-TASK] chore: snapshot avant refonte config claude
  .claude/work/DEPLOYMENT-REPORT-2026-01-15.md
  .claude/work/PLAN-FIX-ACTIVE-MD.md
  .claude/work/SENTRY-AUDIT-2026-01-15.md
Due: prettier --write

[NO-TASK] feat: refonte complète config claude selon standards anthropic
  .claude/work/DEPLOYMENT-REPORT-2026-01-15.md
  .claude/work/PLAN-FIX-ACTIVE-MD.md
  .claude/work/SENTRY-AUDIT-2026-01-15.md
Due: prettier --write

[NO-TASK] chore: force vercel deployment for sentry config
  apps/back-office/.vercel-trigger
Due: none

[NO-TASK] chore: force linkme deployment for sentry config
  apps/linkme/.vercel-trigger
Due: none

[NO-TASK] chore: Force deployment pour Sentry configuration (#40)
  apps/back-office/.vercel-trigger
  apps/linkme/.vercel-trigger
Due: none

[NO-TASK] chore: force back-office deployment for sentry config
  apps/back-office/.vercel-trigger
Due: none

[NO-TASK] chore: force deployment by updating next.config comments
  apps/back-office/next.config.js
  apps/linkme/next.config.js
Due: none

[NO-TASK] chore: Force deployment Vercel avec changements next.config (#42)
  apps/back-office/.vercel-trigger
  apps/back-office/next.config.js
  apps/linkme/next.config.js
Due: none

[NO-TASK] revert: Remove force deploy attempts (52af9ab1, c3441303, 088f40fc)
  apps/back-office/.vercel-trigger
  apps/back-office/next.config.js
  apps/linkme/.vercel-trigger
  apps/linkme/next.config.js
Due: none

[NO-TASK] docs: Add deployment audit report for Sentry Pro 2026 issue
  .claude/work/AUDIT-SENTRY-DEPLOY-2026-01-15.md
Due: prettier --write

[NO-TASK] fix(lint): ignore Sentry config files from ESLint type checking
  apps/back-office/.eslintignore
  apps/linkme/.eslintignore
Due: none

[NO-TASK] chore: force Vercel deployment + add deployment docs
  apps/back-office/.vercel-trigger
  apps/linkme/.vercel-trigger
  docs/claude-workflow.md
Due: prettier --write

[NO-TASK] fix: force Vercel builds by correcting inverted ignoreCommand logic
  apps/linkme/vercel.json
  vercel.json
Due: prettier --write

[NO-TASK] fix: force Vercel builds by correcting inverted ignoreCommand logic (#45)
  apps/linkme/vercel.json
  vercel.json
Due: prettier --write

[NO-TASK] fix: unblock LinkMe landing page + fix back-office middleware 500 error
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: unblock LinkMe landing page + fix back-office middleware 500 error (#46)
  apps/back-office/src/middleware.ts
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] chore: force LinkMe rebuild to clear old Spanish static files
  apps/linkme/README.md
Due: prettier --write

[LM-GLOBE-002] fix: unblock globe-items API + simplify logic
  apps/linkme/src/app/api/globe-items/route.ts
  apps/linkme/src/middleware.ts
Due: prettier --write, eslint --fix

[LM-GLOBE-003] fix: add RLS policy for anonymous access to globe products
  docs/audit/AUDIT_GLOBE_LINKME_2026-01-16.md
  docs/audit/DEPLOYMENT_TRUTH.md
  docs/audit/VALIDATION_FIXES_2026-01-16.md
  docs/audit/VERCEL_DEPLOY_FIX_2026-01-16.md
  supabase/migrations/20260116_linkme_globe_anon_access.sql
Due: prettier --write

[BO-FORMS-001] fix: rename form_submissions.company to company_name + audit complet
  docs/AUDIT-BACK-OFFICE-2026-01-16.md
  docs/architecture/notifications-et-approbations.md
  supabase/migrations/20260116_002_rename_company_to_company_name.sql
Due: prettier --write

[BO-FORMS-002] feat: implement UI thread messages for form submissions (Phase 3/Étape 4)
  apps/back-office/src/app/api/emails/form-reply/route.ts
  apps/back-office/src/app/api/form-submissions/[id]/messages/route.ts
  apps/back-office/src/app/prises-contact/[id]/page.tsx
  apps/back-office/src/components/form-submission-messages.tsx
  apps/back-office/src/hooks/use-form-messages.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: resolve 500 MIDDLEWARE_INVOCATION_FAILED error (single client instantiation)
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] restore: agents, commands & scripts + fix ESLint LinkMe
  .claude/agents/action.md
  .claude/agents/audit-governor.md
  .claude/agents/data-layer-auditor.md
  .claude/agents/database-architect.md
  .claude/agents/frontend-architect.md
  .claude/agents/verone-debug-investigator.md
  .claude/agents/verone-orchestrator.md
  .claude/commands/arch.md
  .claude/commands/commit.md
  .claude/commands/db.md
  .claude/commands/explore.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/pr.md
  .claude/commands/senior-stabilization-protocol.md
  .claude/commands/write.md
  .claude/scripts/auto-resolve-conflicts.sh
  .claude/scripts/check-console-errors.ts
  .claude/scripts/check-db-type-alignment.ts
  .claude/scripts/repo-audit.sh
  .claude/scripts/repo-doctor.sh
  .claude/scripts/token-cost-calculator.sh
  .eslintignore
  apps/linkme/.eslintignore
Due: prettier --write, eslint --fix

[NO-TASK] fix: use official Supabase SSR pattern in middleware
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix: ignore Sentry & generated types in ESLint + fix type import
  .claude/memories/agents-restauration-2026-01-16.md
  apps/back-office/.eslintignore
  apps/back-office/src/components/form-submission-messages.tsx
Due: prettier --write, eslint --fix

[CRITICAL] fix: restore working middleware version from 170aecf0
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[HOTFIX] Remove middleware - Edge Runtime incompatibility
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[HOTFIX] Remove middleware - Edge Runtime incompatibility (#51)
  apps/back-office/src/lib/supabase-middleware.ts
  apps/back-office/src/middleware.ts
Due: prettier --write, eslint --fix

[NO-TASK] fix(turbo): add Sentry env vars to resolve build warnings
  turbo.json
Due: prettier --write

[BO-LAYOUT-001] fix: add viewport export for Next.js 15 responsive layout
  apps/back-office/src/app/layout.tsx
Due: prettier --write, eslint --fix
