Repository Verone2021/Verone-V1: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc, eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/hooks/use-*.ts": [
    "node scripts/validation/check-duplicate-hooks.ts"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix(supabase): Fix organisations FK query in use-products hook
  src/hooks/use-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): SESSION 1 BATCH 1 - Remove error-detection/Sentry files - 23 erreurs résolues (313→290)
  AUDIT-GLOBAL-SYNTHESE.md
  RAPPORT-BATCH-57-FINAL.md
  RAPPORT-BATCH-60-FINAL.md
  TS_ERRORS_PLAN.md
  build-log.txt
  docs/audits/2025-10/AUDIT-POST-ROLLBACK-2025-10-28.md
  docs/audits/2025-10/AUDIT-TYPESCRIPT-GLOBAL-2025-10-28.md
  docs/audits/2025-10/RECOMMENDED-BATCH-SEQUENCE.md
  docs/audits/2025-10/ts-errors-structural-clustering.json
  src/components/business/catalogue-error-integration.tsx
  src/components/business/dashboard-error-integration.tsx
  src/components/business/error-reporting-dashboard.tsx
  src/components/business/stocks-error-integration.tsx
  src/components/testing/ai-insights-panel.tsx
  src/components/testing/error-analytics-dashboard.tsx
  src/components/testing/error-detection-panel.tsx
  src/hooks/use-error-reporting-integration.ts
  src/lib/ai/business-predictions.ts
  src/lib/ai/error-pattern-learner.ts
  src/lib/ai/sequential-thinking-processor.ts
  src/types/README.md
  ts-errors-clustering-2025-10-28.json
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(sourcing): Corriger route formulaire création sourcing rapide
  src/app/produits/sourcing/page.tsx
Due: eslint --fix, prettier --write

fix(routes): Corriger 3 routes cassées - Navigation sourcing produits
  src/app/dashboard/page.tsx
  src/app/produits/sourcing/produits/page.tsx
Due: eslint --fix, prettier --write

fix(types): SESSION 2 BATCH 4 - TS18047 + TS2554 - 10 erreurs résolues (274→264)
  src/app/produits/catalogue/[productId]/page.tsx
  src/app/produits/catalogue/collections/page.tsx
  src/components/business/order-detail-modal.tsx
  src/components/business/performance-edit-section.tsx
  src/components/business/product-image-management.tsx
  src/components/business/product-info-section.tsx
  src/components/business/product-variants-section.tsx
  src/components/forms/CategoryForm.tsx
  src/components/forms/FamilyForm.tsx
  src/components/forms/ImageUploadV2.tsx
  src/components/forms/SubcategoryForm.tsx
  src/hooks/use-categories.ts
  src/hooks/use-families.ts
  src/hooks/use-section-locking.ts
  src/hooks/use-subcategories.ts
  src/lib/excel-utils.ts
  src/stories/_templates/basic-story.template.tsx
  src/stories/_templates/business-story.template.tsx
  src/stories/_templates/variants-story.template.tsx
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 5 - TS7006 + TS2724 + TS2322 simples = 13 erreurs résolues (264→251)
  src/app/produits/catalogue/categories/[categoryId]/page.tsx
  src/app/produits/catalogue/collections/[collectionId]/page.tsx
  src/app/produits/catalogue/families/[familyId]/page.tsx
  src/app/produits/catalogue/variantes/[groupId]/page.tsx
  src/components/business/collection-form-modal.tsx
  src/components/business/contacts-management-section.tsx
  src/components/business/edit-sourcing-product-modal.tsx
  src/components/business/index.ts
  src/components/business/organisation-card.tsx
  src/components/business/organisation-list-view.tsx
  src/components/business/price-list-item-form-modal.tsx
  src/hooks/use-stock-optimized.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 6 - TS2304 imports manquants = 8 erreurs résolues (251→243)
  src/app/produits/catalogue/families/[familyId]/page.tsx
  src/components/business/product-creation-wizard.tsx
  src/hooks/use-bank-reconciliation.ts
  src/hooks/use-image-upload.ts
  src/hooks/use-stock-optimized.ts
  src/lib/design-system/utils/index.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 7 - TS2367 comparaisons invalides = 8 erreurs résolues (243→235)
  src/components/business/stock-movement-modal.tsx
  src/hooks/use-dashboard-analytics.ts
  src/hooks/use-sales-orders.ts
  src/hooks/use-stock.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 8 - TS2358+TS7053 = 9 erreurs résolues (235→226)
  src/app/produits/catalogue/collections/page.tsx
  src/app/produits/catalogue/variantes/page.tsx
  src/app/produits/sourcing/produits/page.tsx
  src/components/business/kpi-card.tsx
  src/components/business/test-status-badge.tsx
  src/hooks/use-treasury-stats.ts
  src/lib/design-system/tokens/spacing.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 9 - TS2484+TS2538 = 5 erreurs résolues (226→221)
  src/hooks/use-movements-history.ts
  src/lib/logger.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 10 FINAL - 10 erreurs résolues (221→211) 🎯 SESSION 2 COMPLETE
  src/app/produits/catalogue/collections/[collectionId]/page.tsx
  src/components/business/collection-form-modal.tsx
  src/components/business/product-info-section.tsx
  src/hooks/use-consultations.ts
  src/hooks/use-sourcing-products.ts
  src/hooks/use-stock.ts
  src/hooks/use-test-persistence.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 11 - TS2552+TS2304+TS2698+TS2322 - 11 erreurs résolues (211→208)
  src/app/produits/catalogue/collections/[collectionId]/page.tsx
  src/app/produits/catalogue/variantes/[groupId]/page.tsx
  src/components/business/collection-form-modal.tsx
  src/components/business/price-list-item-form-modal.tsx
  src/components/business/sample-order-validation.tsx
  src/hooks/use-archived-products.ts
  src/hooks/use-automation-triggers.ts
  src/hooks/use-variant-groups.ts
  src/stories/1-ui-base/Badges/Badge.stories.tsx
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 12 - TS2339+TS2322+TS2353 - 10 erreurs résolues (208→200)
  src/app/produits/catalogue/collections/[collectionId]/page.tsx
  src/app/produits/catalogue/page.tsx
  src/app/produits/catalogue/stocks/page.tsx
  src/app/produits/catalogue/variantes/[groupId]/page.tsx
  src/app/stocks/inventaire/page.tsx
  src/app/stocks/page.tsx
  src/components/business/characteristics-edit-section.tsx
Due: eslint --fix, prettier --write

fix(types): BATCH 13 - TS2339 ZodError.errors→issues - 1 erreur résolue (200→199)
  src/lib/validation/form-security.ts
Due: eslint --fix, prettier --write

fix(types): BATCH 63 - Quick Wins TS2352 + TS2353 - 29 erreurs résolues (199→170)
  TS_ERRORS_PLAN.md
  docs/audits/2025-10/ANALYSE-199-ERREURS-TYPESCRIPT.md
  docs/audits/2025-10/QUICK-WINS-LISTE.md
  src/app/finance/depenses/[id]/page.tsx
  src/components/business/partner-form-modal.tsx
  src/components/business/price-list-item-form-modal.tsx
  src/components/business/primary-image-upload.tsx
  src/components/business/product-image-management.tsx
  src/components/business/variant-add-product-modal.tsx
  src/components/forms/CategoryForm.tsx
  src/components/forms/FamilyForm.tsx
  src/hooks/use-bank-reconciliation.ts
  src/hooks/use-base-hook.ts
  src/hooks/use-collection-images.ts
  src/hooks/use-consultations.ts
  src/hooks/use-contacts.ts
  src/hooks/use-error-reporting.ts
  src/hooks/use-financial-documents.ts
  src/hooks/use-google-merchant-sync.ts
  src/hooks/use-logo-upload.ts
  src/hooks/use-user-activity-tracker.ts
  src/lib/abby/sync-processor.ts
  src/lib/excel-utils.ts
  src/lib/theme-v2.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 64 - TS2740 missing properties - 3 erreurs résolues (170→167)
  src/hooks/use-organisations.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): Generic Table Names pattern in createCrudOperations - 6 TS2769 errors fixed
  src/hooks/use-base-hook.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 67+68+69 - 9 erreurs résolues (161→152)
  src/app/canaux-vente/prix-clients/page.tsx
  src/app/produits/catalogue/categories/[categoryId]/page.tsx
  src/app/produits/catalogue/families/[familyId]/page.tsx
  src/hooks/use-pricing.ts
  src/hooks/use-product-colors.ts
  src/types/database.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 70 - Null/Undefined Mismatch - 9 erreurs résolues (152→143)
  src/app/produits/catalogue/categories/[categoryId]/page.tsx
  src/app/produits/catalogue/collections/[collectionId]/page.tsx
  src/app/produits/catalogue/families/[familyId]/page.tsx
  src/components/business/product-selector.tsx
  src/components/business/variant-group-edit-modal.tsx
  src/hooks/use-consultations.ts
  src/hooks/use-financial-payments.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 71 - TS2769 Forms - 9 erreurs résolues (143→134)
  src/components/business/payment-form.tsx
  src/components/forms/QuickVariantForm.tsx
  src/components/forms/expense-form.tsx
  src/components/forms/simple-product-form.tsx
Due: eslint --fix, prettier --write

fix(types): BATCH 72 - TS2769 Hooks Test Tables - 10 erreurs résolues (134→123)
  src/hooks/use-error-reporting.ts
  src/hooks/use-section-locking.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 73 - Éliminer FAMILLE TS2769 complète - 22 erreurs (123→101)
  src/hooks/metrics/use-user-module-metrics.ts
  src/hooks/use-catalogue.ts
  src/hooks/use-dashboard-analytics.ts
  src/hooks/use-products.ts
  src/hooks/use-purchase-orders.ts
  src/hooks/use-real-dashboard-metrics.ts
  src/hooks/use-sales-orders.ts
  src/hooks/use-sourcing-products.ts
  src/hooks/use-stock-movements.ts
  src/hooks/use-stock-optimized.ts
  src/hooks/use-stock-reservations.ts
  src/hooks/use-supabase-query.ts
  src/hooks/use-suppliers.ts
  src/hooks/use-variant-groups.ts
  src/hooks/use-variant-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 74A+B - Corrections systematiques multi-patterns - 33 erreurs résolues (101→68)
  src/app/produits/catalogue/[productId]/page.tsx
  src/app/produits/catalogue/subcategories/[subcategoryId]/page.tsx
  src/app/profile/page.tsx
  src/components/business/complete-product-wizard.tsx
  src/components/business/create-individual-customer-modal.tsx
  src/components/business/sample-order-validation.tsx
  src/components/ui/calendar.tsx
  src/components/ui/command-palette.tsx
  src/hooks/use-archived-products.ts
  src/hooks/use-movements-history.ts
  src/hooks/use-organisations.ts
  src/hooks/use-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(types): BATCH 74C - Phase 1 Complete + Phase 2 Partial - 21 erreurs (68→47)
  src/components/business/payment-form.tsx
  src/components/business/price-list-item-form-modal.tsx
  src/components/business/product-image-management.tsx
  src/components/business/sales-order-form-modal.tsx
  src/components/business/sales-order-shipment-form.tsx
  src/hooks/use-bank-reconciliation.ts
  src/hooks/use-base-hook.ts
  src/hooks/use-collections.ts
  src/hooks/use-consultations.ts
  src/hooks/use-product-variants.ts
  src/hooks/use-sales-orders.ts
  src/hooks/use-subcategories.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

docs(audit): Rapport final BATCH 74 + fix pre-commit hooks ES module
  docs/audits/2025-10/RAPPORT-FINAL-BATCH-74-COMPLETE.md
  package-lock.json
  package.json
  scripts/validation/check-db-type-alignment.ts
  scripts/validation/check-naming-consistency.ts
Due: eslint --fix, prettier --write

chore(deploy): Manual trigger BATCH 74D - 0 TypeScript errors ✅
  .vercel-deploy-trigger-20251029
Due: none

feat(samples): MVP distinction échantillons internes vs clients
  docs/business-rules/04-produits/sourcing/echantillons-internes-vs-clients.md
  scripts/validation/check-duplicate-hooks.ts
  src/hooks/use-sample-order.ts
  src/types/supabase.ts
  supabase/migrations/20251029_add_sample_type_to_purchase_order_items.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

refactor(hooks): Create base hooks architecture (useSupabaseCRUD)
  src/hooks/base/use-supabase-crud.ts
  src/hooks/base/use-supabase-mutation.ts
  src/hooks/base/use-supabase-query.ts
Due: eslint --fix, prettier --write

docs(audit): Rapport analyse duplications hooks - 91% faux positifs
  docs/audits/2025-10/RAPPORT-DUPLICATIONS-HOOKS-2025-10-29.md
Due: prettier --write

refactor(hooks): Proof-of-concept migration base architecture (-80% boilerplate)
  docs/technical/hooks-migration-pattern.md
  src/hooks/use-collection-products.ts
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

fix(quality): Corrections ESLint + UX Modal Échantillons - BATCH COMPLET
  .claude/workflows/agent-orchestration-matrix.md
  .claude/workflows/universal-workflow-checklist.md
  .claude/workflows/universal-workflow-examples.md
  CLAUDE.md
  docs/audits/2025-10/RAPPORT-AUDIT-ECHANTILLONS-MVP-2025-10-29.md
  src/app/produits/sourcing/echantillons/page.tsx
  src/components/business/add-product-modal.tsx
  src/components/business/sample-product-selector-modal.tsx
  src/components/business/stock-reports-modal.tsx
  src/hooks/metrics/use-user-module-metrics.ts
  src/hooks/use-financial-documents.ts
  src/hooks/use-financial-payments.ts
  src/hooks/use-sales-shipments.ts
  src/hooks/use-sample-eligibility-rule.ts
  src/hooks/use-sample-order.ts
  src/hooks/use-treasury-stats.ts
  src/hooks/use-unified-sample-eligibility.ts
  src/hooks/use-variant-groups.ts
  src/types/supabase.ts
  supabase/migrations/20251030_add_customer_support_to_purchase_order_items.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(sourcing): Système complet échantillons (internal + customer B2B/B2C)
  docs/business-rules/04-produits/sourcing/echantillons-workflow.md
  package-lock.json
  package.json
  src/app/produits/sourcing/echantillons/page.tsx
  src/components/business/customer-badge.tsx
  src/components/ui/alert-dialog.tsx
  src/hooks/use-customer-samples.ts
  supabase/migrations/20251031_000_add_archived_at_to_purchase_order_items.sql
  supabase/migrations/20251031_001_add_sample_archive_trigger.sql
  supabase/migrations/20251031_002_add_customer_samples_view.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

docs: Améliorer CLAUDE.md + Créer README professionnel (best practices 2025)
  CLAUDE.md
  README.md
Due: prettier --write

fix(admin): Validation env + prefetch disabled routes Phase 2+
  src/components/layout/app-sidebar.tsx
  src/lib/supabase/server.ts
Due: eslint --fix, prettier --write

feat(notifications): URLs dynamiques + modal inventaire + user management
  docs/business-rules/14-admin/users/user-management.md
  docs/database/SCHEMA-REFERENCE.md
  src/app/admin/users/page.tsx
  src/app/commandes/clients/page.tsx
  src/app/commandes/fournisseurs/page.tsx
  src/app/stocks/inventaire/page.tsx
  src/components/admin/edit-user-dialog.tsx
  src/components/business/complete-product-wizard.tsx
  src/hooks/use-dashboard-notifications.ts
  src/hooks/use-financial-documents.ts
  src/hooks/use-financial-payments.ts
  src/hooks/use-notifications.ts
  src/hooks/use-products.ts
  src/hooks/use-stock-inventory.ts
  src/hooks/use-treasury-stats.ts
  src/lib/actions/user-management.ts
  src/types/supabase.ts
  supabase/migrations/20251030_001_add_job_title_to_user_profiles.sql
  supabase/migrations/20251030_002_fix_notification_urls_dynamic_ids.sql
  supabase/migrations/20251030_003_fix_notification_severity_values.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts

feat(commandes): Alignement complet commandes fournisseurs avec commandes clients
  src/app/actions/purchase-orders.ts
  src/app/commandes/fournisseurs/page.tsx
  src/components/business/purchase-order-detail-modal.tsx
  src/hooks/use-purchase-orders.ts
  supabase/migrations/20251031_001_remove_duplicate_purchase_order_forecast_trigger.sql
Due: eslint --fix, prettier --write, node scripts/validation/check-duplicate-hooks.ts
